<header class="Wrapper-header">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid"> 
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
        </button>
          <a href="javascript:void(0)" class="navbar-brand mobile-logo"><img src="assets/images/Artboard1.png"></a>
      </div>
      <div class="collapse navbar-collapse">
       
          <a href="javascript:void(0)" [routerLink]="['/dashboard']" class="navbar-brand logo-nav">
            <!-- <img src="{{company_logo}}"> -->
            <img src="assets/images/Asset-1.png">
          </a>
      
        
          <div *ngIf="billing_data">
            <ul class="nav navbar-nav" *ngIf="billing_data['status'] == 'active' || billing_data['status'] == 'trialing' ">
              <li class="nav-search">
                <a href="javascript:void(0)">
                  <div class="input-group">
                    <div class="inner-addon left-addon">
                      <i class="fa fa-search  icon" aria-hidden="true"></i>
                      <input type="text" class="form-control blur-back" placeholder="Search" name="q">
                    </div>
                  </div>
                </a>
              </li>
              <li  class="nav-item">
                <a href="javascript:void(0)" [routerLink]="['/dashboard']"><i class="fa fa-usd" aria-hidden="true"></i><span> Deals</span></a>
              </li>
              
              <li class="nav-item">
                <a href="javascript:void(0)" [routerLink]="['/dashboard/mail']"><i class="fa fa-envelope-o" aria-hidden="true"></i><span> Mail</span></a>
              </li>
               <li class="nav-item">
                <a href="javascript:void(0)" [routerLink]="['/dashboard/activity']"><i class="fa fa-calendar-o" aria-hidden="true"></i><span> Activities</span></a>
              </li>
              <li class="dropdown nav-item">
                <a href="javascript:void(0)" data-toggle="dropdown">
                  <i class="fa fa-user-o" aria-hidden="true"></i> <span>Contacts</span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="javascript:void(0)" [routerLink]="['/contacts/persons']"><i class="fa fa-user-o" aria-hidden="true"></i> <span> People</span></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" [routerLink]="['/contacts/organizations']"><i class="fa fa-building" aria-hidden="true"></i> <span> Organization </span></a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)" [routerLink]="['/products']"><i class="fa fa-archive" aria-hidden="true"></i><span> Products </span></a>
              </li>
              <li class="dropdown nav-item"><a href="javascript:void(0)" data-toggle="dropdown">
                <i class="fa fa-line-chart" aria-hidden="true"></i> <span>Statistics </span></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="javascript:void(0)" [routerLink]="['/statistics/dashboard']">Dashboard</a>
                  </li>
                  <li><a href="javascript:void(0)">Report</a></li>
                  <!-- <li class="divider"></li> -->
                </ul>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="planhead-text" *ngIf="billing_data">
              <a href="javascript:void(0)"><span class="silver-btn">{{billing_data.plan.name}}</span> <span>{{billing_data.days}} Days left</span>
              </a>
            </li>
            <li class="dropdown user">
              <a href="javascript:void(0)" data-toggle="dropdown">
                <div class="loguser" (click)="get_company_list()" data-toggle="tooltip" data-placement="bottom" tooltip="{{company}}">
                  <img class="img-circle" width="36px;" src="{{img_url}}">
                    <span>{{username}}<i class="fa fa-angle-down" aria-hidden="true"></i></span> 
                    <p>{{company | slice:0:25}}</p>
                </div>
              </a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)" [routerLink]="['/dashboard/setting' ]">Setting</a></li>
                <li><a href="javascript:void(0)" *ngIf="company_setting" (click)="changecompany.open('sm') && get_company_list()">Change company</a></li>
                <li class="divider"></li>
                <li><a href="javascript:void(0)" (click)="onLogout()">Log out</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/auth/subscribe']">Payment</a></li>
              </ul>
            </li>
          </ul>
       
      </div>
    </div>
  </div>
</header>

<bs-modal #changecompany [backdrop]="'static'">
  <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">Change Company</h4>
  </bs-modal-header>
  <bs-modal-body>
    <table class="table table-hover">
       <tbody>
        <tr *ngFor="let company of company_list">
          <td (click)="open_new_tab(company)">{{company.company_name}}</td>
        </tr>
      </tbody>
    </table>
  </bs-modal-body>
</bs-modal>