.navbar-default {
    /*background-color: #3d4145 !important;*/
    background: #404346;
    border-color: #e7e7e7 !important;
}
.logo-nav {
    display: block;
}
.navbar-brand {
    float: left;
    padding:5px !important;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.navbar-default .navbar-nav > li > a {
    color: #c2c8cd !important;
    font-size: 14px;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #fff !important;
    font-size: 14px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    /*display: none;*/
    float: left;
    min-width: 100px !important;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.dropdown-menu > li > a {
    display: block;
    padding: 4px 38px !important;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}
.user img {
    height: 34px;
    float: left;
    vertical-align: top;
    margin-left: -50px;
}
.pad-zero {
    padding: 0px !important;
}
.mobile-logo {
    display: none;
}
.navbar-brand img {
 
    width: 132px;
    
}
.inner-addon {
    position: relative;
}
.left-addon .icon {
    left: 0px;
    color: black;
    z-index: 1243;
}
.inner-addon .icon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.left-addon input {
    padding-left: 30px;
}
.nav-search {
    width: 20%;
}
.navbar-default .navbar-nav > li > a {
    color: #c2c8cd !important;
    font-size: 14px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #26292c !important;
    color: #fff !important;
    height: 49px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
{
    text-decoration: none;
    color: #262626;
    background-color: #8cc739 !important;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.blur-back
{
    opacity: 0.7;
}
.blur-back:focus
{
    opacity: 1;
}
.navbar-right { float: right!important; /*margin-right: -30px;*/}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #333333 !important;
    background-color: #fff !important;
    height: 50px;
}
.navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 0px;
    line-height: 15px;
}
.loguser{margin-left:50px;}


/*responsive*/
@media (min-width: 300px) and (max-width: 767px)
{
.mobile-logo {
    display: block;
}
.logo-nav {
    display: none;
}
.navbar-brand {
    float: left;
    padding: 10px 15px !important;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.navbar-brand img {
    height: 25px;
    width: auto;
}
.nav-search
 {
    width: 100%;
}
.navbar-right {
    float:left!important;
    margin-right: 0px;
}
}


.navbar-nav li .active
{
    background-color: #26292c !important;
    color: #fff !important;
    height: 49px;
}

@media (min-width: 768px) and (max-width: 969px)
{
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 7px !important;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 11px;
}
.loguser p{display: none}
.loguser span{display: none}
}
@media (min-width: 970px) and (max-width: 1024px)
{
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 5px;
}
}
@media (min-width: 1025px) and (max-width: 1169px)
{
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 7px;
}
}


.planhead-text{margin-top: 10px;margin-bottom: 10px;}
.silver-btn{border: solid 1px; padding: 2px 10px; text-transform: uppercase; font-size: 12px;}
@media (min-width: 768px){ 
    .navbar-right .dropdown-menu {
    right: 0;
    left: auto !important; }
}



/*Modify css*/
.nav>li>a {
    position: relative;
    display: block;
    padding: 5px 10px;
}
.nav-item a
{
    line-height: 40px !important;
}
@media (min-width: 768px) and (max-width: 1169px)
{
 .navbar-brand{height: 40px;}
 .mobile-logo{display:block !important;}
 .logo-nav img{display: none}
 .navbar-brand img{height: 40px;width:auto;}
 .navbar-right
  {
    float: left !important;
    margin-right: auto !important;
}
.navbar-nav {
    float: none !important;
    margin: 0;
}
.navbar-right .dropdown-menu
 {
    right: auto;
    left: 0;
}
}
@media (min-width: 1170px) and (max-width: 1269px)
{
    .nav > li > a {
    position: relative;
    display: block;
    padding: 5px 5px;
}
}