<!-- start deal detail selection -->
<div class="panel panel-default">
  <div class="panel-heading panel-headingcustom ">
    <h4 class="pull-left">DEATILS</h4>
    <div class="icon-box">
      <i class="fa fa-pencil m-pointer" (click)="edit_fields_deal = true" *ngIf="contacts_deal_fields_obj.length!=0" tooltip="edit"></i>
      <span class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" tooltip="setting" 
          data-toggle="dropdown">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu customedropdown-menu">
          <li (click)="show_deal_field_lable = true">Custom field</li>
        </ul>
      </span>
    </div>
  </div>
  <div class="panel-body back-panel">
    <div id="fieldadd">
      <!-- details form -->
      <form #deal_form_data="ngForm" *ngIf="!show_deal_field_lable">
        <div class="form-group" *ngFor="let deal_field of contacts_deal_fields_obj">
          <div class="row text-row">
            <label class="col-xs-4 text-label">{{deal_field.label}}</label>

            <ng-container *ngIf="deal_field.is_type == 'Text'">
              <label class="col-xs-6 text-label"
                *ngIf="deal_field.field_api_key!=deal_field_api_key && !edit_fields_deal">{{deal_field.value}}
              </label>
              <div class="col-xs-8" *ngIf="deal_field.field_api_key==deal_field_api_key ||
                edit_fields_deal">
                <input type="text" [ngModel]="deal_field.value" class="form-control" 
                  name="{{deal_field.field_api_key}}">
                <div class="btn-option" *ngIf="!edit_fields_deal">
                  <button class="btn btn-success"
                    (click)="update_single_deal_custom_field_value(deal_form_data.value, 
                      deal_field.deal_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="deal_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="deal_field.is_type == 'Large text'">
              <label class="col-xs-6 text-label"
                *ngIf="deal_field.field_api_key!=deal_field_api_key && !edit_fields_deal">{{deal_field.value}}
              </label>
              <div class="col-xs-8" *ngIf="deal_field.field_api_key==deal_field_api_key ||
                edit_fields_deal">
                <textarea rows="3" cols="30" [ngModel]="deal_field.value" 
                  name="{{deal_field.field_api_key}}" class="form-control"></textarea>
                <div class="btn-option" *ngIf="!edit_fields_deal">
                  <button class="btn btn-success"
                    (click)="update_single_deal_custom_field_value(deal_form_data.value, 
                      deal_field.deal_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="deal_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="deal_field.is_type == 'Date'">
              <label class="col-xs-6 text-label"
                *ngIf="deal_field.field_api_key!=deal_field_api_key && !edit_fields_deal">{{deal_field.value}}
              </label>
              <div class="col-xs-8" *ngIf="deal_field.field_api_key==deal_field_api_key ||
                edit_fields_deal">
                <input type="date" [ngModel]="deal_field.value" class="form-control" 
                  name="{{deal_field.field_api_key}}">
                <div class="btn-option" *ngIf="!edit_fields_deal">
                  <button class="btn btn-success"
                    (click)="update_single_deal_custom_field_value(deal_form_data.value, 
                      deal_field.deal_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="deal_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="deal_field.is_type == 'Single option'">
              <label class="col-xs-6 text-label"
                *ngIf="deal_field.field_api_key!=deal_field_api_key && !edit_fields_deal">{{deal_field.value}}
              </label>
              <div class="col-xs-8" *ngIf="deal_field.field_api_key==deal_field_api_key ||
                edit_fields_deal">
                <ng-select [items]="deal_field.multiple_value" placeholder="No selected" 
                  [ngModel]="deal_field.value" name="{{deal_field.field_api_key}}">
                </ng-select>
                <div class="btn-option" *ngIf="!edit_fields_deal">
                  <button class="btn btn-success"
                    (click)="update_single_deal_custom_field_value(deal_form_data.value, 
                      deal_field.deal_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="deal_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="deal_field.is_type == 'Multiple option'">
              <label class="col-xs-6 text-label"
                *ngIf="deal_field.field_api_key!=deal_field_api_key && !edit_fields_deal">{{deal_field.value}}
              </label>
              <div class="col-xs-8" *ngIf="deal_field.field_api_key==deal_field_api_key ||
                edit_fields_deal">
                <ng-select  [multiple]="true"
                  [items]="deal_field.multiple_value" placeholder="No selected"
                  [ngModel]="deal_field.value" name="{{deal_field.field_api_key}}">
                </ng-select>
                <div class="btn-option" *ngIf="!edit_fields_deal">
                  <button class="btn btn-success"
                    (click)="update_single_deal_custom_field_value(deal_form_data.value, 
                      deal_field.deal_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="deal_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="deal_field.is_type == 'Time'">
              <label class="col-xs-6 text-label"
                *ngIf="deal_field.field_api_key!=deal_field_api_key && !edit_fields_deal">{{deal_field.value}}
              </label>
              <div class="col-xs-8" *ngIf="deal_field.field_api_key==deal_field_api_key ||
                edit_fields_deal">
                <select class="form-control" [ngModel]="deal_field.value" 
                  name="{{deal_field.field_api_key}}">
                  <option disabled [selected]="true">select</option>
                  <option [value]="t" *ngFor="let t of arr_time">{{t}}</option>
                </select>
                <div class="btn-option" *ngIf="!edit_fields_deal">
                  <button class="btn btn-success"
                    (click)="update_single_deal_custom_field_value(deal_form_data.value, 
                      deal_field.deal_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="deal_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <!-- <ng-container *ngIf="deal_field.is_type == 'Time range'">
              <label class="col-xs-6 text-label"
                *ngIf="deal_field.field_api_key!=deal_field_api_key && !edit_fields_deal">{{deal_field.value.start_time_range}} {{deal_field.value.end_time_range}}
              </label>
              <div class="form-inline">
                <div class="form-group col-xs-8"
                  *ngIf="deal_field.field_api_key==deal_field_api_key ||
                  edit_fields_deal">
                  <select class="form-control" [ngModel]="deal_field.value.start_time_range" 
                    name="start_time_range">
                    <option disabled [selected]="true">select</option>
                    <option [value]="t" *ngFor="let t of arr_time">{{t}}</option>
                  </select>
                  <select class="form-control" [ngModel]="deal_field.value.end_time_range" 
                    name="end_time_range">
                    <option disabled [selected]="true">select</option>
                    <option [value]="t" *ngFor="let t of arr_time">{{t}}</option>
                  </select>
                  <div class="btn-option" *ngIf="!edit_fields_deal">
                    <button class="btn btn-success"
                      (click)="update_single_deal_custom_field_value(deal_form_data.value, 
                        deal_field.deal_uuid, 'time_range', deal_field.field_api_key)">Save
                    </button>
                    <button class="btn btn-default" (click)="deal_field_api_key=''">cancel</button>
                  </div>
                </div>
              </div>
            </ng-container> -->

            <ng-container *ngIf="deal_field.is_type == 'Numerical' || 
            	deal_field.is_type == 'Phone'">
              <label class="col-xs-6 text-label"
                *ngIf="deal_field.field_api_key!=deal_field_api_key && !edit_fields_deal">{{deal_field.value}}
              </label>
              <div class="col-xs-8" *ngIf="deal_field.field_api_key==deal_field_api_key ||
                edit_fields_deal">
                <input type="number" [ngModel]="deal_field.value" class="form-control"
                  name="{{deal_field.field_api_key}}">
                <div class="btn-option" *ngIf="!edit_fields_deal">
                  <button class="btn btn-success"
                    (click)="update_single_deal_custom_field_value(deal_form_data.value, 
                      deal_field.deal_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="deal_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="deal_field.is_type == 'Date range'">
              <label class="col-xs-6 text-label"
                *ngIf="deal_field.field_api_key!=deal_field_api_key && !edit_fields_deal">{{deal_field.value.formatted}}
              </label>
              <div class="col-xs-8" *ngIf="deal_field.field_api_key==deal_field_api_key ||
                edit_fields_deal">
                <my-date-range-picker name="{{deal_field.field_api_key}}"
                  [options]="myDateRangePickerOptions"
                  [(ngModel)]="deal_field.value">
                </my-date-range-picker>
                <div class="btn-option" *ngIf="!edit_fields_deal">
                  <button class="btn btn-success"
                    (click)="update_single_deal_custom_field_value(deal_form_data.value, 
                      deal_field.deal_uuid, 'date_range', deal_field.field_api_key)">Save
                  </button>
                  <button class="btn btn-default" (click)="deal_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <span class="overlay" (click)="show_deal_fields(deal_field)"
              *ngIf="deal_field.field_api_key!=deal_field_api_key && !edit_fields_deal && 
              deal_field.value==''">
              <a href="javascript:void(0)"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </span>

            <span class="overlay editCustomfield" (click)="show_deal_fields(deal_field)"
              *ngIf="deal_field.field_api_key!=deal_field_api_key && !edit_fields_deal && deal_field.value!=''">
              <a href="javascript:void(0)">
                <i class="fa fa-pencil"></i>
              </a>
            </span>
          </div>
        </div>

        <span class="btn-option btn-formoption" *ngIf="edit_fields_deal">
          <button class="btn btn-success" (click)="edit_fields_deal = false ||
             update_multiple_deal_custom_field_value(deal_form_data.value, contacts_deal_fields_obj[0].deal_uuid)">
            Save all
          </button>
          <button class="btn btn-default" (click)="edit_fields_deal = false">Cancel</button>
        </span>
      </form>

      <div *ngIf="show_deal_field_lable">
        <!-- display custom label list -->
        <div class="panel panel-default panel_bottom"
          *ngFor="let deal of contacts_deal_fields">
          <div class="panel-body" *ngIf="deal_edit_uuid != deal.uuid">
            <span>{{deal.label}}</span>
            <span class="pull-right edit-btn">
              <span class="overlay-edit">
                <button type="button" class="btn btn-default btn-xs" 
                  (click)="edit_btn_deal(deal.uuid, deal) || deal_edit_uuid = deal.uuid">edit</button>
                 <button type="button"
                  (click)="delete_custom_field('deals_fields',deal.uuid)"
                  tooltip class="btn btn-default btn-xs" tooltip="Deleting the field will erase it from everywhere in your Pipedrive as well as delete data stored within this field."><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              </span>
              <span class="toggel"><a data-toggle="tooltip" title="Drage to arrange" 
                data-placement="bottom"><i class="fa fa-bars" aria-hidden="true"></i></a>
              </span>
            </span> 
            <p class="text_listparagraph" *ngIf="deal.is_important">Always visible on sidebar</p>
            <p class="text_listparagraph" *ngIf="deal.is_show">Appears in "Add new deal" dialogue</p>
          </div>

          <!--deal edit custom field box -->
          <div *ngIf="deal_edit_uuid === deal.uuid" class="panel panel-default">
            <div class="panel-body details-form">
              <form>
                <div class="form-group">
                  <label>Field Name</label>
                  <input type="text" name="field_name" class="form-control border_validation" [ngModel]="deal.label" (change)="deal.label = $event.target.value">
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" name="is_important"
                      (change)="deal.is_important = $event.target.checked"
                      [checked]="deal.is_important" class="form-check-input">
                      Always visible on sidebar
                  </label>
                </div>
                 <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" name="is_show" 
                      (change)="deal.is_show = $event.target.checked"
                      [checked]="deal.is_show" class="form-check-input">
                      Appears in "Add new deal" dialogue
                  </label>
                </div>
              </form>
            </div>

            <div class="panel-footer btn-detail">
              <button type="button" class="btn btn-default btn-sm" (click)="cancel_edit()">cancel</button>
              <button type="button" class="btn btn-success btn-sm" 
                (click)="update_org_field('deals_fields', deal)">save</button>
              <button type="button"
                (click)="delete_custom_field('deals_fields',deal.uuid)"
                class="btn btn-default btn-xs" ><i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- add custom field box for deal detail -->
        <div class="panel panel-default" *ngIf="deal_add_field_dev">
          <div class="panel-body details-form">
            <form>
              <div class="form-group">
                <label>Field Name</label>
                <input type="text" (change)="deal_data.label = $event.target.value"
                  class="form-control">
                <p style="color: red;" *ngIf="errorMsg">{{error_message_txt}}</p>
              </div>
              <div class="form-group">
                <label>Field type</label> 
                <ng-select
                  [items]="list"
                  bindLabel="text"
                  bindValue="id"
                  placeholder="select custom field"
                  (change)="field_type_for_org($event)"
                  name="list">
                </ng-select>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" (change)="deal_data.is_important = $event.target.checked"
                    class="form-check-input">
                    Always visible on sidebar
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" 
                    (change)="deal_data.is_show = $event.target.checked">
                    Appears in "Add new deal" dialogue
                </label>
              </div>
            </form>
          </div>

          <div class="panel-footer btn-detail">
            <button type="button" class="btn btn-default btn-sm" 
              (click)="deal_add_field_dev = false">Cancel
            </button>
            <button type="button" class="btn btn-success btn-sm" 
              (click)="create_custom_field_for_org('deals_fields', deal_data)">Save</button>
          </div>
        </div>
        <!-- (+) Add new field -->
        <a href="javascript:void(0)" (click)="deal_add_field_dev = true">
          <i class="fa fa-plus" aria-hidden="true"></i> Add new field
        </a>
        <button type="button" (click)="show_deal_field_lable = false" class="btn btn-success pull-right">Done</button>
      </div>
    </div>
  </div>
</div>