.panel-default { border-color: #ddd; margin-bottom: 8px; }
.text_center_{
    background-color: rgba(240, 231, 231, 0.88);
    margin-left:225px;
    font-size: 17px;
}
.show_img{
  visibility: visible;
}
.hide_img{
    visibility: hidden;
}
.panel_bottom{
  margin-bottom: 10px;
}
.navbar-brand {
    float: left;
    padding: 10px 3px !important;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.validation_apply{
  color: red;
}
.navbar-default .navbar-nav > li > a {
    color: #c2c8cd !important;
    font-size: 14px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 8px 12px !important;
    color: #555;
    font-weight: 500;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 31px !important;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    /*display: none;*/
    float: left;
    min-width: 100px !important;
    padding: 5px 0;
    margin: 15px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.dropdown-menu > li > a {
    display: block;
    padding: 4px 38px !important;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}
.user img {
    height: 34px;
    border-radius: 42px;
    margin-top: 10px;
}
.usertext {
    margin: -20px 40px -18px;
    font-size: 12px;
}
.pad-zero {
    padding: 0px !important;
}
.mobile-logo {
    display: none;
}
.navbar-brand img {
    height: 28px;
    width: 100%;
}
.inner-addon {
    position: relative;
}
.left-addon .icon {
    left: 0px;
    color: black;
    z-index: 1243;
}
.inner-addon .icon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.left-addon input {
    padding-left: 30px;
}
.nav-search {
    width: 20%;
}
.navbar-default .navbar-nav > li > a {
    color: #c2c8cd !important;
    font-size: 14px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #26292c !important;
    color: #fff !important;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #333333 !important;
    background-color: #fff !important;
    height: 50px;
}
.dropdown-menu>li:focus, .dropdown-menu>li:hover
{
    text-decoration: none;
    color: #262626;
    background-color: #8cc739 !important;
}
.Wrapper-header {
   /*  padding: 30px; */
    height: 60px;
}
navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #fff;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.blur-back
{
    opacity: 0.7;
}
.blur-back:focus
{
    opacity: 1;
}
.navbar-right {
    float: right!important;
    margin-right: -30px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #333333 !important;
    background-color: #fff !important;
    height: 50px;
}
.user-name
{
    margin-top: -10px;
}



/*responsive*/
@media (min-width: 300px) and (max-width: 767px)
{
.mobile-logo {
    display: block;
}
.logo-nav {
    display: none;
}
.navbar-brand {
    float: left;
    padding: 10px 15px !important;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.navbar-brand img {
    height: 25px;
    width: auto;
}
.nav-search
 {
    width: 100%;
}
.navbar-right {
    float:left!important;
    margin-right: 0px;
}
}

@media (min-width: 768px) and (max-width: 1200px)
{
/* .Wrapper-header {
    padding: 60px;
} */
}
.section-wrapper 
{
    background: #fff;
}
.wrapp {
    background: #f3f5f6;
    border-bottom: solid 1px rgba(0, 0, 0, 0.27);
}
.set-ul {
    margin: 0px  5px 10px;
}
.btn-default {
    color: #333333 !important;
    /*background-color: #ffffff !important;*/
    border-color: #cccccc !important;
}
.custom-btn {
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer !important;
    background-image: none !important;
    border: 1px solid #ccc!important;
    white-space: nowrap !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    border-radius: 0px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.btn-success {
    color: #ffffff;
    background-color: #8cc739 !important;
    border-color: #8cc739 !important;
}
.butn-left {
    float: right;
}
.table-view {
    overflow-x: auto;
}
.section-info {
    border-right: solid 2px rgba(0, 0, 0, 0.34);
    min-height: 540px!important;
    height: auto;
    overflow: hidden;
    padding: 0px;
    width: 20%;
    float: left;
  
}
.item-block {
    background: #fff;
    width: 100%;
    height: auto;
    border-bottom: solid 1px rgba(0, 0, 0, 0.34);
}
.item-block img {
    height: 28px;
    border-radius: 47px;
    float: left;
    margin: 5px 12px;
}
.item-block p {
    color: rgba(51, 51, 51, 0.72);
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    display: table-cell;
}
.item-block small {
    color: rgba(51, 51, 51, 0.72);
    margin-left: 15px;
}
.error-block {
    float: right;
}
.error-block i{
    color: #eccb11;
    margin: 20px 10px;
       
}
li
{
    list-style-type: none;
}
.footer-dragble {
    background: #fff;
    /* position: fixed; */
    box-shadow: 4px 1px 15px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.drag-footer li img {
    height: 30px;
}
.drag-footer li {
    width: 25%;
    background: transparent;
    margin: 10px 30px;
    text-align: center;
    padding: 15px;
    border: solid 2px rgba(204, 204, 204, 0.35);
}
.lost-li {
    background: #e84646 !important;
    color: #fff;
    font-size: 20px;
}
.won-li {
    background: #8cc739 !important;
    color: #fff;
    font-size: 20px;
}

.model-cls {
    width: 300px!important;
    margin: auto;
    background: #f3f5f6;
    border: 1px solid #c2c8cd;
}
.header-model {
    padding: 8px 20px !important;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
    background: #f3f5f6;
}
.inner-addon {
    position: relative;
}
.left-addon .icon {
    left: 0px;
    color: black;
    z-index: 1243;
}
.inner-addon .icon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.plainStages label.active {
    height: 28px;
    cursor: pointer;
    display: table-cell;
    text-align: center;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: #8cc739 !important;
    position: relative;
    width: 55px;
}
.plainStages label {
    height: 28px;
    cursor: pointer;
    display: table-cell;
    text-align: center;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: rgba(204, 204, 204, 0.62);
    position: relative;
    width:55px;
}
.plainStages input[type="radio"] {
    opacity: 0;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    background: #f3f5f6;
}
.icon-th {
    color: #1476cc;
}
.company li {
    background: transparent;
    padding: 1px 0px 0px;
}
.company li a {
    text-decoration: none;
    color: rgba(85, 85, 85, 0.81) !important;
}
.imgdrop {
    float: left;
    margin: 6px 9px;
}
.imgdrop img {
    width: 15px;
}
/*.dropup-p {
    padding: 0px 40px;
}*/
.bttn-clss {
    width: 100%;
}
.custom-dropdown
{
    min-width: 300px !important;
    left: initial!important;
    right: 0px !important;
    cursor: pointer;
}
.user-clss {
    background: rgba(153, 153, 153, 0.38);
    padding: 6px 15px;
}
.inner-ul {
    font-size: 15px;
}
.inner-ul li {
    padding: 5px 40px;
}
.inner-ul li a:hover {
    background: #337ab7;
    color: white;
}
.menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: #fff;
    position: absolute;
    top: -7px;
    left: 242px;
}
.inner-ul li:hover {
    background: #8cc739 !important;
    color: white;
}
.plainStages label.active:before {
    width: 20px;
    height: 25px;
    position: absolute;
    right: -11px;
    top: 2px;
    border-top: 6px solid #fff;
    border-right: 6px solid #fff;
    -webkit-transform: scaleX(0.3) rotate(45deg);
    transform: scaleX(0.3) rotate(45deg);
    content: " ";
    background: #8cc739;
    cursor: pointer;
    z-index: 1;
}
.plainStages label:before {
    width: 20px;
    height: 25px;
    position: absolute;
    right: -11px;
    top: 2px;
    border-top: 6px solid #fff;
    border-right: 6px solid #fff;
    -webkit-transform: scaleX(0.3) rotate(45deg);
    transform: scaleX(0.3) rotate(45deg);
    content: " ";
    cursor: pointer;
    z-index: 1;
}
.dropupmenu {
    min-width: 251px !important;
    left: -123px !important;
}
.left-addon input {
    padding-left: 30px;
}
.company li:hover {
    background: rgba(51, 122, 183, 0.91);
    color: #fff !important;
    padding: 1px 0px 0px;
}
ul
{
    padding: 0px;
}
.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-left: 0px;
}
.icon-arrow
{
    float: right;
    background: #f5f5f5;
    padding: 3px 8px;
    margin-top: -10px;
    border: solid 1px #eee
}
.icon-arrow i
{
    font-size: 20px;
}
#showfileld2
{
    display: none;
}
.input-group-addon, .input-group-btn {
    width: 39%;
    white-space: nowrap;
    vertical-align: middle;
}
.paricipant-dialog {
    width: 90%;
    margin: 0px auto;
}



/*responsive*/
@media (min-width: 300px) and (max-width: 430px) 
{
.butn-left {
    float: left !important;
    margin-top: 5px;
}
}
@media (min-width: 300px) and (max-width: 1000px)
{
.tab-responsive {
    width: 1000px;
}
.section-info {
    border-right: solid 2px rgba(0, 0, 0, 0.34);
    min-height: 500px!important;
    height: auto;
    overflow: hidden;
    padding: 0px;
    width: 20%;
    float: left;
}
}
@media (min-width: 300px) and (max-width: 700px)
{
.custom-dropdown 
{
    min-width: 300px !important;
     left: 0px !important;
}
.dropupmenu
 {
    min-width: 251px !important;
    left: 0px !important; 
}
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: transparent;
}
@media (min-width: 767px) and (max-width: 1100px)
{
.navbar-nav span
{
    display: none
}
}
@media (min-width: 1101px) and (max-width: 1200px)
{
.nav > li > a {
    position: relative;
    display: block;
    padding: 8px 5px !important;
}
.navbar-right {
    float: right!important;
    margin-right: -25px;
}
}
@media (min-width: 768px) and (max-width: 869px)
{
    .navbar-right {
    float: right!important;
    margin-top: -50px;
     
}
}
.user-name span
{
    display: inline-block !important;
}
.icon-box 
{
    display: block;
    float: none;
    margin-top: 0;
    position: relative;
    padding: 0;
    text-align: right;
}
.section-header
{
    background: #fff;
    border-bottom: solid 2px #eee;
    padding-bottom: 20px;
}
.section-contant
{
    background: #f3f5f6 ; 
    padding: 20px 0px;
}
.icon-box i
{
    border: solid 2px #ddd;
    padding: 5px;
    border-radius: 5px;
}
.btn-option
{
    margin-top: 10px;
}
.text-label
{
    /*text-align: right;*/
    font-size: 14px;
    color: #999;
    font-weight: 500;
    word-wrap: break-word;
}
.overlay {
    opacity: 0;
    transition: .5s ease;
    font-size: 15px;
}
.text-row:hover .overlay { opacity: 1; }
.panel-org:hover .overlay { opacity: 1; }
.text-row{ margin: 0px; }
.overlay-btn
{
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    font-size: 15px;
    right: 10px;
    padding: 15px;
}

.panel-contact:hover .overlay-btn{ opacity: 1 }

.text-row:hover{background:#ddd; margin: 0px;}
.text-row
{
    padding-top: 10px;
}
.panel-bodycustom
{
    padding: 0px;
}
.panel-org
{
   padding: 30px 0px 5px; 
}
.panel-org img
{
    border: solid 2px #DDD;
    border-radius: 24px;
    padding: 6px 7px 0px;
}
.text-org
{
    margin-top: 10px;
    font-size: 20px;
}
.text-org a
{
    color: #333;
    font-weight: 600;
}
.panel-heading h4
{
    font-size: 14px;
    color: #8cc739;
    font-weight: bold;
}
.panel-contact
{
      padding: 30px 0px 5px; 
}
.panel-contact img
{
border: solid 2px #DDD;
    border-radius: 24px;
    padding: 3px 2px 0px;
}
.person-panel
{
    padding:5px 10px;
}
.person-panel img
{
    width: 5%;
}
.person-panel button
{
    margin-top: 30px;
}
/* .panel-headingcustom {
    padding: 10px 16px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 0px 10px;
} */
.panel-default>.panel-heading {
    color: #333;
    background-color: rgba(255,255,255,.15);
    border-color: #ddd;
}
.custom-heading
{
    border: none;
}
.panel-overview
{
    padding: 0px 25px;
}
.personinfo-text
{
    margin-bottom: 5px;
}
.mail-tab
{
    padding: 20px;
    text-align: center;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: transparent; 
    border: 1px solid transparent; 
    border-bottom-color: transparent;
}
.nav-tabs>li>a:hover {
    border-color: transparent;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
.nav-tabs {
    border-bottom: 1px solid transparent;
}
.cross-icon
{
    margin-right: 20px;
}
.footer-icon
{
    border-top: solid 1px #ddd;
    padding: 10px 20px;
    background: #fcf8e3;
    height: 55px;
}
.footer-icon i
{color: #333}
.text-area
{
    height: 200px
}
.richTextArea
 {
    background: #ffd;
    border-color: rgba(0,0,0,0.16);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 16px;
    border: 1px solid #c2c8cd;
    margin: 0 0 8px;
    padding: 0;
    clear: both;
}
.bodyEditor
 {
    min-height: 66px;
    box-sizing: border-box;
    padding: 10px;
    background: rgba(253, 245, 154, 0.27);
}
.richTextArea .editorToolbar {
    height: 29px;
    border: 0;
    margin: 0 6px;
    padding: 0;
    overflow: hidden;
    border-top: solid 1px #DDC
}
.richTextArea .editorToolbar .buttons {
    float: left;
    margin-right: 10px;
    margin-top: 4px;
    opacity: 0.4;
    transition: opacity 0.2s;
}
.richTextArea .editorToolbar .buttons a {
    display: inline-block;
    height: 20px;
    width: 20px;
    position: relative;
    min-width: 14px;
    text-decoration: none;
    text-align: center;
    color: #3d4145;
    float: left;
    margin-right: 4px;
}
.richTextArea .editorToolbar .buttons a {
    display: inline-block;
    height: 20px;
    width: 20px;
    position: relative;
    min-width: 14px;
    text-decoration: none;
    text-align: center;
    color: #3d4145;
    float: left;
    margin-right: 4px;
}
.inner-addon {
  position: relative;
}
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.show-date { padding: 15px; }
/* activity modal css */
.Date-section{ border-right: solid 1px #ddd; height: 500px; }
.scroll-ondetailform{ height: 500px; overflow: auto; }

.show-call li
{
    background: #8cc739;
    color: #fff;
    padding: 5px 15px;
    margin: 15px;
    border-radius: 5px;
}
.btn-groupcustom
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-tab {
    border-top: solid 1px #ddd;
    padding: 13px 20px;
    background: #fcf8e3;
    height: 55px;
}
.title-dealuser
{
    padding: 0px;
}
.title-dealuser a
{
    font-size: 25px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
}
.text-price
{
    font-size: 25px;
    font-weight: 700;
    vertical-align: middle;
}
.customedropdown-menu > li{
    display: block;
    padding: 4px 10px !important;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}
.customedropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: #fff;
    position: absolute;
    top: -7px;
    left: 10px;
}
.dropdown i
{
    color: #333;
}
.fill-field
{
    background: rgba(204, 204, 204, 0.27);
    margin: 0px;
    padding: 10px 30px;  
}
.lost-dialog
{
    width: 350px;
    margin: 30px auto;
}
.dropup-p
{
    margin: 0px 30px 11px;
}
/* activity modal css end */
.main-contaniner
{
     padding: 15px 35px;
}
.pipelineSummary .pipelineStages {
    position: relative;
    display: table;
    height: 24px;
    overflow: visible;
}
.pipelineSummary .pipelineStages ul {
    width: 100%;
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
    height: 24px;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.pipelineSummary .pipelineStages.open ul li.active, .pipelineSummary .pipelineStages.won ul li.active {
    background: #8cc739;
}
.pipelineSummary .pipelineStages ul li .stageContent {
    position: relative;
}
.pipelineSummary .pipelineStages ul li .stageContent .stagename {
    font-size: 12px;
    display: inline-block;
    position: relative;
    left: 4px;
}
.pipelineSummary .pipelineStages ul li:first-child .stageContent .stageArrow {
    display: none;
}
.pipelineSummary .pipelineStages ul li .stageContent .stageArrow {
    width: 6px;
    height: 30px;
    position: absolute;
    top: -6px;
    left: 0px;
    overflow: hidden;
}
.pipelineSummary .pipelineStages ul li:first-child {
    -moz-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pipelineSummary .pipelineStages ul li {
    position: relative;
    background: #e0e4e7;
    display: table-cell;
    text-align: left;
    line-height: 1.3em;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pipelineSummary .pipelineStages.open ul li.active, .pipelineSummary .pipelineStages.won ul li.active {
    background:#8cc739;
}
.pipelineSummary .pipelineStages ul li:first-child {
    -moz-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#showfileld
{
    display: none;
}
.foo
{
    position: absolute;
    top: 5px;
    left: 5px;
}
.place-input .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.popover
{
    top: 106px;
   /*  left: 25px !important; */
    width: 300px !important;
}
.footer-deal
{
 background: #f3f5f6;
    padding: 8px 12px;
    margin-left: -15px;
    margin-right: -15px;
    text-align: right;
    border-top: 1px solid #e0e4e7;
}
.popover.bottom>.arrow {
    top: -11px;
    margin-left: -30px ;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0,0,0,.25);
}
.company li a:hover{color:#fff !important;}
.th-dropdown
{
    left: initial;
    right: 0px;
    
    text-align: left;
    width: 152px;
}
.th-dropdown li
{
    padding: 5px 20px;
}
.tabel-row:hover
{
 background : rgba(229, 229, 229, 0.29);
}
.td-data:hover .overlay-table{
  opacity: 1;
}
.overlay-table {
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    font-size: 15px;
    /* left: 35%;
    top: 37%; */
}
.overlay-table a
{
    color: black;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #ddd;
}
.followers img
{
    width:5%;
    float: left;
}
.follwers-name
{
    margin-left: 10px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    /*color: #999;*/
}
.popover.bottom {
    margin-top: 20px !important;
}
.user-menu img
{
    height: 34px;
    border-radius: 42px;
}
.popover-content {
    padding: 15px 15px 0px !important;
}
.pipelineStages li:before
{

    width: 20px;
    height: 25px;
    position: absolute;
    right: -8px;
    top: 2px;
    border-top: 6px solid #fff;
    border-right: 6px solid #fff;
    -webkit-transform: scaleX(0.3) rotate(45deg);
    transform: scaleX(0.3) rotate(45deg);
    content: " ";
    /*background: #8cc739;*/
    cursor: pointer;
    z-index: 1;
}
.text-price a
{
    color: #555;
    text-decoration: none;
}
.popover-markup a
{
   color: #555;
    text-decoration: none;
}
.text-owner
{
    margin: -7px 39px;
}
.edit-contact
{
    margin: 0px;
  padding: 15px 0px;
  background-color: #f3f5f6;
  border-top: 1px solid #e0e4e7;
  border-bottom: 1px solid #e0e4e7
}

.editCustomfield{  
  float: right;
  margin-right: 50px;
}

/* Show Detials planned */
.flowWrapper {
    position: relative;
    min-height: 150px;
}
.flowWrapper .pinnedNotes:empty {
    display: none;
}
.flowWrapper .pinnedNotes {
    margin-bottom: 20px;
    border: 1px solid #e0e4e7;
    border-radius: 4px;
}
.flowWrapper .flowHeader {
    position: relative;
    margin-bottom: 10px;
}
.flowWrapper .flowHeader .flowCompose {
    position: relative;
    z-index: 3;
}
.flowWrapper .flowItems {
    min-height: 50px;
    position: relative;
    padding-bottom: 20px;
}
.flowWrapper .sectionTag {
    text-align: center;
    margin: 24px 0px;
}
.flowWrapper .flowContainer.focus {
    position: relative;
    min-height: 60px;
}
.flowWrapper .flowContainer {
    text-align: center;
}

.flowWrapper .flowContainer .flowItemContainer {
    margin: 12px 0px;
    position: relative;
}
.pill.fixed {
    min-width: 81px;
}
.pill {
    display: inline-block;
    height: 20px;
    width: auto;
    margin: 0;
    padding: 0px 12px;
    background: none;
    cursor: default;
    color: #fff;
    font-size: 11px;
    line-height: 20px;
    font-weight: 600;
    font-family: "OpenSans";
    text-align: center;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 10px;
    color: #fff;
    background-color: #888e94;
}
.flowWrapper .flowContainer .flowItemContainer>[class^='icon-'], .flowWrapper .flowContainer .flowItemContainer>[class*=' icon-'] {
    top: 10px;
    left: 11px;
}

.flowWrapper .flowContainer .flowItem {
    border: 1px solid #e0e4e7;
    border-radius: 4px;
    background-image: none;
    background-color: #fff;
    margin-left: 54px;
    text-align: left;
}
.flowItemContent::before {
    content: ' ';
    display: inline-block;
    position: absolute;
    width: 36px;
    height: 36px;
    top: 0px;
    left: 0px;
    border: 1px solid #e0e4e7;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
}
.flowComponent {
    position: relative;
}
.flowComponent .selectSettingsButton {
    z-index: 1;
    right: 0px;
    margin-top: 0px;
    border: 1px solid transparent;
}
.selectSettingsButton {
    position: absolute;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-top: -10px;
    cursor: pointer;
    border-radius: 4px;
}
.applicationIcon.size20.dropdown {
    background-position: 0px -48px;
}
.selectSettingsButton>span.applicationIcon {
    position: absolute;
    top: -1px;
    left: -1px;
}
.applicationIcon.size20 {
    width: 20px;
    height: 20px;
}
.flowComponent.activity h3 {
    position: relative;
    padding-left: 25px;
    padding-right: 15px;
    min-height: 20px;
}
.flowComponent h3 {
    font-size: 14px;
    line-height: 20px;
    color: #26292c;
    margin-bottom: 8px;
}
.flowComponent.activity h3 .markAsDone {
    position: absolute;
    left: 0;
    vertical-align: top;
}
span.input:not(.hidden) {
    display: inline-block;
}
.flowComponent h3 .activityWrapper {
    font-size: 16px;
}
.flowComponent h3>a {
    color: #26292c;
    text-decoration: none;
    cursor: pointer;
    word-wrap: break-word;
}
.flowComponent.activity .flowItemDetails {
    float: left;
}
.flowComponent .flowItemDetails {
    margin-right: 10px;
}
.flowComponent .flowItemDetails>li.relative, .flowComponent .flowItemDetails>span.relative {
    float: left;
}
.flowWrapper .flowContainer .flowItem .separator {
    margin: 0;
    padding: 0 5px;
    width: 8px;
    display: inline-block;
    cursor: default;
    text-align: center;
}
.flowComponent .relatedItems {
    overflow: hidden;
    height: 20px;
}
.flowComponent .relatedItems ul.flowItemDetails {
    white-space: nowrap;
    float: none;
}
.flowComponent .flowItemDetails {
    margin-right: 10px;
}
.flowComponent .relatedItems ul.flowItemDetails li {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.flowComponent .relatedItems .flowItemDetails>li {
    margin-right: 5px;
}
.flowComponent .flowItemDetails>li, .flowComponent .flowItemDetails>span {
    display: inline-block;
    font-size: 14px;
    color: #888e94;
}
.flowComponent .flowItemDetails>li .applicationIcon, .flowComponent .flowItemDetails>span .applicationIcon {
    margin-right: 3px;
    margin-bottom: -5px;
}
.flowWrapper .flowContainer .flowItemContainer::after {
    content: '';
    position: absolute;
    left: 48px;
    top: 13px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-left: 1px solid #e0e4e7;
    border-bottom: 1px solid #e0e4e7;
    z-index: 6;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.flowWrapper .flowContainer .flowItemContainer>[class^='icon-'], .flowWrapper .flowContainer .flowItemContainer>[class*=' icon-'] {
    top: 10px;
    left: 11px;
}
.flowWrapper .flowContainer .flowItemContainer>[class^='icon-'], .flowWrapper .flowContainer .flowItemContainer>[class*=' icon-'], .flowWrapper .flowContainer .flowItemContainer>.applicationIcon {
    position: absolute;
    z-index: 2;
}
.icon-call:before, .icon-phone:before {
    content: "\f095";
}
.icon-color-secondary:before {
    color: #26292c;
    opacity: 0.64;
}
[class^='icon-']:before, [class*=' icon-']:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    color: #26292c;
}
.flowWrapper .flowContainer .flowItem {
    border: 1px solid #e0e4e7;
    border-radius: 4px;
    background-image: none;
    background-color: #fff;
    margin-left: 54px;
    text-align: left;
}

.flowWrapper .flowContainer .flowItem {
    border: 1px solid #e0e4e7;
    border-radius: 4px;
    background-image: none;
    background-color: #fff;
    margin-left: 54px;
    text-align: left;
}
.flowWrapper .flowContainer .flowItem .flowItemContent {
    padding: 0px 0px 15px
}
.flowItemContent::before {
    content: ' ';
    display: inline-block;
    position: absolute;
    width: 36px;
    height: 36px;
    top: 0px;
    left: 0px;
    border: 1px solid #e0e4e7;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    z-index: 1;
}
.flowComponent .selectSettingsButton {
    z-index: 1;
    right: 0px;
    margin-top: 0px;
    border: 1px solid transparent;
}
.selectSettingsButton {
    position: absolute;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-top: -10px;
    cursor: pointer;
    border-radius: 4px;
}
.applicationIcon.size20.dropdown {
    background-position: 0px -48px;
}
.selectSettingsButton>span.applicationIcon {
    position: absolute;
    top: -1px;
    left: -1px;
}

.markAsDone input {
    visibility: hidden;
    margin-right: 6px;
}

input, textarea {
    border: 1px solid #c2c8cd;
    /*padding: 0px 8px;*/
    font-size: 14px;
    line-height: 18px;
    color: #26292c;
    margin: 0;
    width: 100%;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
}

.flowWrapper .timelineBar {
    position: absolute;
    left: 18px;
    top: 80px;
    bottom: 30px;
    width: 2px;
    background-color: #e0e4e7;
}
.flowWrapper .flowFiltersWrapper {
    text-align: center;
    min-height: 32px;
    margin-bottom: 16px;
}
.nav-tabs>li {
    float: none;
    margin-bottom: -1px;
    display: inline-block;
}
.flowWrapper .flowContainer .flowItemContainer>[class^='icon-'], .flowWrapper .flowContainer .flowItemContainer>[class*=' icon-'] {
    top: 10px;
    left: 11px;
}
.flowWrapper .flowContainer .flowItemContainer>[class^='icon-'], .flowWrapper .flowContainer .flowItemContainer>[class*=' icon-'], .flowWrapper .flowContainer .flowItemContainer>.applicationIcon {
    position: absolute;
    z-index: 2;
}
.flowWrapper .flowContainer .flowItemContainer.dealChange, .flowWrapper .flowContainer .flowItemContainer.change, .flowWrapper .flowContainer .flowItemContainer.participant, .flowWrapper .flowContainer .flowItemContainer.follower, .flowWrapper .flowContainer .flowItemContainer.dealFollower, .flowWrapper .flowContainer .flowItemContainer.personFollower, .flowWrapper .flowContainer .flowItemContainer.organizationFollower {
    margin: 0;
}
.flowWrapper .flowContainer .flowItem.change, .flowWrapper .flowContainer .flowItem.follower, .flowWrapper .flowContainer .flowItem.participant, .flowWrapper .flowContainer .flowItem.dealChange {
    background-color: transparent;
    border: none;
    margin-left: 38px;
}
.flowWrapper .flowContainer .flowItem.change .flowItemContent, .flowWrapper .flowContainer .flowItem.follower .flowItemContent, .flowWrapper .flowContainer .flowItem.participant .flowItemContent, .flowWrapper .flowContainer .flowItem.dealChange .flowItemContent {
    padding: 12px 16px;
}
.flowWrapper .flowContainer .flowItem.change .flowItemContent::before, .flowWrapper .flowContainer .flowItem.follower .flowItemContent::before, .flowWrapper .flowContainer .flowItem.participant .flowItemContent::before, .flowWrapper .flowContainer .flowItem.dealChange .flowItemContent::before {
    width: 18px;
    height: 18px;
    left: 9px;
    top: 17px; 
    background-color: #fff;
}
.flowComponent .changeLogWrapper {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    vertical-align: top;
}
.flowWrapper .flowContainer .flowItem.change .actionType, .flowWrapper .flowContainer .flowItem.follower .actionType, .flowWrapper .flowContainer .flowItem.participant .actionType, .flowWrapper .flowContainer .flowItem.dealChange .actionType {
    color: #888e94;
}
.flowWrapper .flowContainer .flowItem.change .added .count, .flowWrapper .flowContainer .flowItem.follower .added .count, .flowWrapper .flowContainer .flowItem.participant .added .count, .flowWrapper .flowContainer .flowItem.dealChange .added .count {
    color: #43c35e;
    padding: 0 5px;
}
.flowComponent .flowItemDetails {
    margin-right: 10px;
}
.flowComponent .flowItemDetails>li.overdue, .flowComponent .flowItemDetails>span.overdue {
    /*color: #e84646;*/
    font-weight: 400;
}
.flowWrapper .flowContainer.focus {
    position: relative;
    min-height: 60px;
}
.flowWrapper .flowContainer {
    text-align: center;
}
.flowWrapper .flowContainer .participant::after {
    content: '';
    position: absolute;
    left: 48px;
    top: 13px;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-left: none;
    border-bottom: none;
    z-index: 6;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.flowWrapper .flowContainer .follower::after {
    content: '';
    position: absolute;
    left: 48px;
    top: 13px;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-left: none;
    border-bottom: none;
    z-index: 6;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.flowWrapper .flowContainer .change::after {
    content: '';
    position: absolute;
    left: 48px;
    top: 13px;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-left: none;
    border-bottom: none;
    z-index: 6;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.activityWrapper {
    font-size: 16px;
    color: #8c8484;
}

.btn-default:hover 
{
    color: #333 !important;
    background-color: #e6e6e6 !important;
    border-color: #adadad !important;
}

.applicationIcon {
    display: inline-block;
    background-size: cover;
    margin: -4px;
   }
   .applicationIcon.size24 {
    width: 24px;
    height: 24px;
}
.fakeInput {
    height: 50px;
    padding: 16px;
    font-size: 14px;
    line-height: 15px;
    color: #c2c8cd;
    background-color: #fff;
    border: 1px solid #e0e4e7;
    border-top: none;
    cursor: pointer;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*------------------ Show Detials planned -----------------------*/

/*checkbox css start*/
.checkbox {
  padding-left: 20px; 
  margin:0px;
}
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px; 
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out; 
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555; 
}
.checkbox input[type="checkbox"] {
    opacity: 0;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -2px; 
}
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c"; 
}
.checkbox input[type="checkbox"]:disabled + label { opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed; 
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%; 
}
.checkbox.checkbox-inline { margin-top: 0; }
.checkbox-info input[type="checkbox"]:checked + label:hover 
{
    border-color: #8cc739;
}
.checkbox-info input[type="checkbox"]:checked + label::before 
{
    background-color: #8cc739;
    border-color: #f3f5f6;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #f3f5f6;
}
/*checkbox css end*/
.tab-row
{
    margin: 0px;
}
/*------------------------------*/
.cross-icon a{color: black}
.navttabdeatils li.active a::after {
    content: '';
    position: absolute;
    bottom: -18px;
    left: 17px;
    width: 11px;
    height: 11px;
    background-color: #f3f5f6;
    border-right: 1px solid #e0e4e7;
    border-bottom: 1px solid #e0e4e7;
    z-index: 6;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.navttabdeatils
{
    float: left ;
}
.navttabdeatils li a
{ 
 padding: 0px 12px !important;
}
.panel-notehead
{
    color: #333;
    background-color: #f3f5f6 !important;
    border-color: #ddd;
}
.arrowndropdown:after
{
    content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: #fff;
    border-right: 1px solid rgba(158, 158, 158, 0.55);
    border-bottom: 1px solid rgba(158, 158, 158, 0.34);
    z-index: 6;
    -webkit-transform: rotate(45deg);
    transform: rotate(-134deg);
    top: -6px;
    right: 19px;
}
.arrown-btn
{
    background: transparent !important;
    font-size: 10px;
    border: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.arrowndropdown
{
    margin-top: 5px;
}
.arrowndropdown li a
{
    font-size: 12px;
    padding: 4px 20px !important;
        margin-top: 3px;
}
.showblantext{display: none}
.navttabdeatils li.active a
{
    color: black
}
.navttabdeatils li.active i
{
    color: #8cc739;
}
.navttabdeatils li a {
    padding: 0px 12px !important;
    color: rgba(0, 0, 0, 0.43);
    font-size: 15px;
}
.navttabdeatils li a:hover {
    padding: 0px 12px !important;
    color: rgba(0, 0, 0, 0.81);
}
.btn:active {
    background-image: none;
    outline: 0;
  -webkit-box-shadow: none !important; 
 box-shadow: none !important; 
}
.flowFilters li.active 
{
border-bottom: solid 2px #9E9E9E;
}
.flowWrapper .flowContainer .flowItem.activity .activityNote
{
    position: relative;
    left: 0px;
    bottom: 0px;
    margin: 0px;
    top: 15px;
    padding: 5px 27px;
    font-size: 14px;
    color: #26292c;
    background-color: #f3f5f6;
    border-top: 1px solid #e0e4e7;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: auto;
    transition: background 0.2s ease;
    max-height: 100px;

}
.flowWrapper .flowContainer .flowItem.note {
    min-height: 72px;
    background-color: #ffd;
}
.flowComponent.note .dateWrapper {
    font-size: 12px;
    color: #888e94;
    display: inline-block;
    width: 100%;
    padding: 15px 15px 0px;
}
.flowWrapper .flowContainer .flowItemContainer.note::after {
    background-color: #ffd;
}
.cross-icon
{
    margin-right: 20px;
    display: none;
}
.foldableText{margin: 0px 15px;}
.pull-right>.dropdown-menu {
    right: -9px;
    left: auto;
}

.checkbox-footer
{
    margin-top: 8px;
    float: left;
}
.footer-tab a
{
    color: #333;
    text-decoration: none;
}
.flowFilters li a:hover{color: #8cc739}
.checkbox-primary{position: initial;}
.model-arrow :after {
    content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: #fff;
    border-right: 1px solid rgba(158, 158, 158, 0.55);
    border-bottom: 1px solid rgba(158, 158, 158, 0.34);
    z-index: -1;
    -webkit-transform: rotate(45deg);
    transform: rotate(-134deg);
    top: -6px;
    left: 10px;
}
.wrapp{margin-top: 60px}
.form-check-input {width: auto;}
.back-panel{    background: #f5f5f5;}
.details-form .form-group{margin-bottom: 20px}
.btn-detail{text-align: right;padding-right: 20px;}
.form-check-label{font-size: 14px;font-weight: normal;}
.details-form{padding: 25px;}
.overlay-edit{
  position: absolute;
  right: 67px;
  opacity: 0;
  transition: .5s ease;
 
}
.edit-btn:hover .overlay-edit {
  opacity: 1;
}
.button_l{
    margin-left: 311px;
}
.label_loder img{width: 18px;}
.text_listparagraph{color: #777;margin-top: 7px;margin-bottom: 5px}
.toggel a{color: rgba(0, 0, 0, 0.62);}
.deal-complete{padding: 15px}
.btn-formoption{float: right;padding-bottom: 15px;padding-right: 15px;}
.ui-select-search{height:55px;}
.select_height{height:55px;}