<!-- start person selection -->
<div class="panel panel-default">
  <div class="panel-heading panel-headingcustom ">
    <h4 class="pull-left">PERSON</h4>
    <div class="icon-box">
      <i class="fa fa-pencil m-pointer" (click)="edit_fields_person = true" *ngIf="contacts_persons_fields_obj.length!=0" tooltip="edit"></i>
      <span class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" tooltip="setting" 
          data-toggle="dropdown">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu customedropdown-menu">
          <li (click)="show_person_field_lable = true">Custom field</li>
        </ul>
      </span>
    </div>
  </div>
  <div class="panel-body back-panel">
    <div id="fieldadd2">
      <div class="row panel-contact" [ngStyle]="{display: person_rename_css}">
        <div class="col-xs-4 text-right"><img src="assets/images/icon-paneluser.png" alt=""></div>
        <div class="col-xs-8 text-org" *ngIf="deal">{{ deal.contact_person_uuid.person_name }}</div>
        <span class="overlay-btn">
          <a (click)="person_rename_btn('none','block')" href="javascript:void(0)">
            <button class="btn btn-default btn-xs">Rename</button>
          </a>
        </span>
      </div>
      
      <div class="row edit-contact" *ngIf="deal"
        [ngStyle]="{display: person_input_filed_css}">
        <label class="col-xs-4 text-label">Name</label>
        <div class="col-xs-8">    
          <input type="text"  class="form-control" 
            [value]="deal.contact_person_uuid.person_name" #section_person_name>
          <div class="btn-option pull-right">
            <button class="btn btn-success" (click)="save_contact_person(section_person_name, deal.contact_person_uuid.uuid)">Save</button>
            <button class="btn btn-default" (click)="person_rename_btn('block', 'none')">cancel</button>
          </div>
        </div>
      </div>

      <!-- person form -->
      <form #person_form_data="ngForm" *ngIf="!show_person_field_lable">
        <div class="form-group" *ngFor="let person_field of contacts_persons_fields_obj">
          <div class="row text-row">
            <label class="col-xs-4 text-label">{{person_field.label}}</label>

            <ng-container *ngIf="person_field.is_type == 'Text'">
              <label class="col-xs-4 text-label"
                *ngIf="person_field.field_api_key!=person_field_api_key && !edit_fields_person">
                  {{person_field.value}}
              </label>
              <div class="col-xs-8" *ngIf="person_field.field_api_key==person_field_api_key ||
                edit_fields_person">
                <input type="text" [ngModel]="person_field.value" class="form-control" 
                  name="{{person_field.field_api_key}}">
                <div class="btn-option" *ngIf="!edit_fields_person">
                  <button class="btn btn-success"
                    (click)="update_single_org_custom_field_value('contacts_persons',person_form_data.value, person_field.person_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="person_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="person_field.is_type == 'Large text'">
              <label class="col-xs-4 text-label"
                *ngIf="person_field.field_api_key!=person_field_api_key && !edit_fields_person">
                  {{person_field.value}}
              </label>

              <div class="col-xs-8" *ngIf="person_field.field_api_key==person_field_api_key ||
                edit_fields_person">
                <textarea rows="3" cols="30" [ngModel]="person_field.value" 
                  name="{{person_field.field_api_key}}" class="form-control"></textarea>
                <div class="btn-option" *ngIf="!edit_fields_person">
                  <button class="btn btn-success"
                    (click)="update_single_org_custom_field_value('contacts_persons',person_form_data.value, person_field.person_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="person_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="person_field.is_type == 'Date'">
              <label class="col-xs-4 text-label"
                *ngIf="person_field.field_api_key!=person_field_api_key && !edit_fields_person">
                  {{person_field.value}}
              </label>
              <div class="col-xs-8" *ngIf="person_field.field_api_key==person_field_api_key ||
                edit_fields_person">
                <input type="date" [ngModel]="person_field.value" class="form-control" 
                  name="{{person_field.field_api_key}}">
                <div class="btn-option" *ngIf="!edit_fields_person">
                  <button class="btn btn-success"
                    (click)="update_single_org_custom_field_value('contacts_persons',person_form_data.value, person_field.person_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="person_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="person_field.is_type == 'Single option'">
              <label class="col-xs-6 text-label"
                *ngIf="person_field.field_api_key!=person_field_api_key && !edit_fields_person">
                {{person_field.value}}
              </label>
              <div class="col-xs-8" *ngIf="person_field.field_api_key==person_field_api_key ||
                edit_fields_person">
                <ng-select [items]="person_field.multiple_value" placeholder="No selected" 
                  [ngModel]="person_field.value" name="{{person_field.field_api_key}}">
                </ng-select>
                <div class="btn-option" *ngIf="!edit_fields_person">
                  <button class="btn btn-success"
                    (click)="update_single_org_custom_field_value('contacts_persons',person_form_data.value, person_field.person_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="person_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="person_field.is_type == 'Multiple option'">
              <label class="col-xs-6 text-label"
                *ngIf="person_field.field_api_key!=person_field_api_key && !edit_fields_person">{{person_field.value}}
              </label>
              <div class="col-xs-8" *ngIf="person_field.field_api_key==person_field_api_key ||
                edit_fields_person">
                <ng-select  [multiple]="true"
                  [items]="person_field.multiple_value" placeholder="No selected"
                  [ngModel]="person_field.value" name="{{person_field.field_api_key}}">
                </ng-select>
                <div class="btn-option" *ngIf="!edit_fields_person">
                  <button class="btn btn-success"
                    (click)="update_single_org_custom_field_value('contacts_persons',person_form_data.value, person_field.person_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="person_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="person_field.is_type == 'Time'">
              <label class="col-xs-6 text-label"
                *ngIf="person_field.field_api_key!=person_field_api_key && !edit_fields_person">{{person_field.value}}
              </label>
              <div class="col-xs-8" *ngIf="person_field.field_api_key==person_field_api_key ||
                edit_fields_person">
                <select class="form-control" [ngModel]="person_field.value" 
                  name="{{person_field.field_api_key}}">
                  <option disabled [selected]="true">select</option>
                  <option [value]="t" *ngFor="let t of arr_time">{{t}}</option>
                </select>
                <div class="btn-option" *ngIf="!edit_fields_person">
                  <button class="btn btn-success"
                    (click)="update_single_org_custom_field_value('contacts_persons',person_form_data.value, person_field.person_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="person_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="person_field.is_type == 'Numerical' || 
              person_field.is_type == 'Phone'">
              <label class="col-xs-6 text-label"
                *ngIf="person_field.field_api_key!=person_field_api_key && !edit_fields_person">{{person_field.value}}
              </label>
              <div class="col-xs-8" *ngIf="person_field.field_api_key==person_field_api_key ||
                edit_fields_person">
                <input type="number" [ngModel]="person_field.value" class="form-control"
                  name="{{person_field.field_api_key}}">
                <div class="btn-option" *ngIf="!edit_fields_person">
                  <button class="btn btn-success"
                    (click)="update_single_org_custom_field_value('contacts_persons',person_form_data.value, person_field.person_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="person_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="person_field.is_type == 'Date range'">
              <label class="col-xs-6 text-label"
                *ngIf="person_field.field_api_key!=person_field_api_key && !edit_fields_person">{{person_field.value.formatted}}
              </label>
              <div class="col-xs-8" *ngIf="person_field.field_api_key==person_field_api_key ||
                edit_fields_person">
                <my-date-range-picker name="{{person_field.field_api_key}}"
                  [options]="myDateRangePickerOptions"
                  [(ngModel)]="person_field.value">
                </my-date-range-picker>
                <div class="btn-option" *ngIf="!edit_fields_person">
                  <button class="btn btn-success"
                    (click)="update_single_org_custom_field_value('contacts_persons',person_form_data.value, person_field.person_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="person_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>
            <span class="overlay" (click)="show_person_fields(person_field)"
              *ngIf="person_field.field_api_key!=person_field_api_key && !edit_fields_person && 
              person_field.value==''">
              <a href="javascript:void(0)"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </span>

            <span class="overlay editCustomfield" (click)="show_person_fields(person_field)"
              *ngIf="person_field.field_api_key!=person_field_api_key && !edit_fields_person && person_field.value!=''">
              <a href="javascript:void(0)"><i class="fa fa-pencil"></i></a>
            </span>
          </div>
        </div>

        <span class="btn-option btn-formoption" *ngIf="edit_fields_person">
          <button class="btn btn-success" 
            (click)="edit_fields_person = false || 
            update_all_custom_field_value('contacts_persons', person_form_data.value, contacts_persons_fields_obj[0].person_uuid)">
            Save all
          </button>
          <button class="btn btn-default" (click)="edit_fields_person = false">Cancel</button>
        </span>
      </form>

      <div *ngIf="show_person_field_lable">
        <!-- display custom label list -->
        <div class="panel panel-default panel_bottom"   
          *ngFor="let person of contacts_persons_fields">
          <div class="panel-body" *ngIf="person_edit_uuid != person.uuid"> 
            <span>{{person.label}}</span>
            <span class="pull-right edit-btn">
              <span class="overlay-edit">
                <button type="button" class="btn btn-default btn-xs" 
                  (click)="edit_btn_person(person.uuid, person) || person_edit_uuid = person.uuid">edit</button>
                 <button type="button" 
                  (click)="delete_custom_field('contacts_persons_fields',person.uuid)" tooltip class="btn btn-default btn-xs" tooltip="Deleting the field will erase it from everywhere in your Pipedrive as well as delete data stored within this field."><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              </span>
              <span class="toggel"><a data-toggle="tooltip" title="Drage to arrange" 
                data-placement="bottom"><i class="fa fa-bars" aria-hidden="true"></i></a>
              </span>
            </span> 
            <p class="text_listparagraph" *ngIf="person.is_important">
              Always visible on sidebar
            </p>
            <p class="text_listparagraph" *ngIf="person.is_show">
              Appears in "Add new deal" dialogue
            </p>
          </div>

          <!--person edit custom field box -->
          <div *ngIf="person_edit_uuid === person.uuid" class="panel panel-default">
            <div class="panel-body details-form">
              <form>
                <div class="form-group">
                  <label>Field Name</label>
                  <input type="text" name="field_name" class="form-control border_validation" [ngModel]="person.label" (change)="person.label = $event.target.value">
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" name="is_important"
                      (change)="person.is_important = $event.target.checked"
                      [checked]="person.is_important" class="form-check-input">
                      Always visible on sidebar
                  </label>
                </div>
                 <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" name="is_show" 
                      (change)="person.is_show = $event.target.checked"
                      [checked]="person.is_show" class="form-check-input">
                      Appears in "Add new deal" dialogue
                  </label>
                </div>
              </form>
            </div>

            <div class="panel-footer btn-detail">
              <button type="button" class="btn btn-default btn-sm" (click)="cancel_edit()">cancel</button>
              <button type="button" class="btn btn-success btn-sm" 
                (click)="update_person_field('contacts_persons_fields',person)">save</button>
              <button type="button"
                (click)="delete_custom_field('contacts_persons_fields', person.uuid)" 
                class="btn btn-default btn-xs">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- add custom field box for person -->
        <div class="panel panel-default" *ngIf="person_add_field_dev">
          <div class="panel-body details-form">
            <form>
              <div class="form-group">
                <label>Field Name</label>
                <input type="text" (change)="person_data.label = $event.target.value"
                  class="form-control">
                <p style="color: red;" *ngIf="errorMsg">{{error_message_txt}}</p>
              </div>
              <div class="form-group">
                <label>Field type</label> 
                <ng-select
                  [items]="list"
                  bindLabel="text"
                  bindValue="id"
                  placeholder="select custom field"
                  (change)="field_type_for_org($event)"
                  name="list">
                </ng-select>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" (change)="person_data.is_important = $event.target.checked"
                    class="form-check-input">
                    Always visible on sidebar
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" 
                    (change)="person_data.is_show = $event.target.checked">
                    Appears in "Add new deal" dialogue
                </label>
              </div>
            </form>
          </div>

          <div class="panel-footer btn-detail">
            <button type="button" class="btn btn-default btn-sm" 
              (click)="person_add_field_dev = false">Cancel
            </button>
            <button type="button" class="btn btn-success btn-sm" 
              (click)="create_custom_field('contacts_persons_fields', person_data)">
              Save
            </button>
          </div>
        </div>
        <!-- (+) Add new field -->
        <a href="javascript:void(0)" (click)="person_add_field_dev = true">
          <i class="fa fa-plus" aria-hidden="true"></i> Add new field
        </a>
        <button type="button" (click)="show_person_field_lable = false" class="btn btn-success pull-right">Done</button>
      </div>

    </div>
    <div class="fill-field" id="showfileld2">
      <form>
        <div class="form-group row">
          <label class="col-xs-4 text-label">Name</label>
          <div class="col-xs-8">  
            <input type="text"  class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xs-4 text-label">Phone</label>
          <div class="col-xs-8">  
            <div class="input-group">
              <input type="email" class="form-control" aria-label="...">
              <div class="input-group-btn">
                <select class="form-control">
                  <option>Work</option>
                  <option>Home</option>
                  <option>Mobile</option>
                  <option>Other</option>
                </select>
              </div><!-- /btn-group -->
            </div><!-- /input-group --> 
            <a href="javascript:void(0)"><i class="fa fa-plus" aria-hidden="true"></i> add one more </a>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xs-4 text-label">Email</label>
          <div class="col-xs-8">  
            <div class="input-group">
              <input type="email" class="form-control" aria-label="...">
              <div class="input-group-btn">
                <select class="form-control">
                  <option>Work</option>
                  <option>Home</option>
                  <option>Mobile</option>
                  <option>Other</option>
                </select>
              </div><!-- /btn-group -->
            </div><!-- /input-group --> 
            <a href="javascript:void(0)"><i class="fa fa-plus" aria-hidden="true"></i> add one more </a>
          </div>
        </div>
        <div class="row">
          <span class="pull-right">
            <button type="" class="btn btn-default">cancel</button>
            <button type="" class="btn btn-success">Save all</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>