<app-header></app-header>
<section class="wrapp">
  <div class="container-fluid">
    <div class="row btn-list" style="margin-left: 0px;">
      <div class="col-sm-4">
      <ul class="list-inline">
        <li>
          <button type="button" class="btn btn-success custom-btn" (click)="addPerson.open()">Add person</button>
        </li>
      </ul>
      </div>
      <div class="col-sm-4 header-btn text-center">
      <ul class="list-inline">
        <li *ngIf="loadTable">{{peopleData[2]['dataCount']}} people</li>
      </ul>
      </div>
      <div class="col-sm-4 header-btn text-right">
      <ul class="list-inline">
      <li><img class="loader_img" src="assets/images/Loading_icon.gif" [hidden]="!loader_image"></li>
        <li>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle custom-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-outdent" aria-hidden="true"></i>&nbsp;<strong>Everyone</strong>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu custom-dropdown menu" aria-labelledby="dropdownMenu1">
              <li>
                <form class="navbar-form" role="search">
                  <div class="input-group bttn-clss">
                    <input type="text" class="form-control Search"  placeholder="Search">
                  </div>
                </form>
              </li>
              <li>
                <div class="user-clss">User</div>
                <ul class="inner-ul">
                  <li><a href="">Everyone<span class="pull-right icon-check"><i class="fa fa-check" aria-hidden="true"></i></span></a></li>
                  <li>
                    <a href=""><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; User (you)
                    </a>
                  </li>
                   <li>
                      <a href=""><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; User2</a>
                  </li>
                </ul>
              </li>
              <li>
                <div class="user-clss">Filter</div>
                <ul class="inner-ul">
                  <li><a href=""><i class="fa fa-lock" aria-hidden="true"></i> All Deleted Deals</a></li>
                  <li><a href=""><i class="fa fa-lock" aria-hidden="true"></i> All lost Deals</a></li>
                  <li><a href=""><i class="fa fa-lock" aria-hidden="true"></i> All Open Deals</a></li>
                  <li><a href=""><i class="fa fa-lock" aria-hidden="true"></i> All Won Deals</a></li>
                  <li><a href=""><i class="fa fa-lock" aria-hidden="true"></i> More Than 3 month Old Deals</a></li>
                  <li><a href=""><i class="fa fa-lock" aria-hidden="true"></i> Rotten Deals</a></li>
                  <li class="divider"></li>
              <li>
                <a href=""><i class="fa fa-plus" aria-hidden="true"></i><span style="color:javascript:void(0)337ab7">&nbsp; &nbsp;Add new Filter</span></a>
              </li>
               </ul>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle custom-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><strong><i class="fa fa-ellipsis-h" aria-hidden="true"></i></strong>
            </button>
            <ul class="dropdown-menu pipe-drop inner-ul" aria-labelledby="dropdownMenu1">
              <li>Export filter result</li>
              <li>Data import on </li>
              <li>show on</li>
            </ul>
          </div>
        </li>
      </ul>
      </div>
    </div>
    <div class="row" style="margin-left: 0px;">
      <div class="btn-group" *ngIf="loadFilterTable">
        <button type="button" class="btn btn-default" (click)="get_contact_person_list('All')">All</button>
        <button type="button" class="btn btn-default" 
        *ngFor="let singleWord of peopleFilter" (click)="get_contact_person_list(singleWord)">{{singleWord}}</button>
      </div>
    </div>  
  </div>
  <br>
  
  <!--Dynamic table-->
  <div class="table-responsive" *ngIf="loadTable">
    <table class="table table-hover table-bordered" width="100%">
      <thead>
        <tr>
          <th class="th-size"><input type="checkbox" value=""></th>
          <th *ngFor="let head of peopleData[0]['header']" [hidden]="head[1]=='UUID'" >{{ head[1] }}</th>
          <th class="th-size">
            <span [popover]="setting"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></span>
          </th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let deal of peopleData[1]['data']">
          <td><input type="checkbox" value=""></td>
          <td *ngFor="let dta of deal" [hidden]="dta[0]=='uuid'">{{ dynamic_arr(dta[1]) }}
          </td>
          <td></td>
        </tr>
      </tbody>

      <popover-content #setting title="Choose colunms" placement="left-top" [closeOnClickOutside]="true">
        <form>
          <div class="form-group form-popover">
            <input type="text" class="form-control" placeholder="search" (input)="filter_fields($event)">
          </div> 
          <div class="body-list">
            <div class="title-list">Visible</div>
            <ul class="popoverlist">
              <div *ngFor="let data of search_data">
                <li *ngIf="data.is_checked">
                  <input type="checkbox" (change)="checkbox(checked, data.uuid)" #checked [checked]="data.is_checked"> {{data.label}}
                  <span class="pull-right">People</span>
                </li>
              </div>
            </ul>
            <div class="title-list">NOT VISIBLE</div>
            <ul class="popoverlist">
              <div *ngFor="let data of search_data">
                <li *ngIf="!data.is_checked">
                  <input type="checkbox" #checked [checked]="data.is_checked" (change)="checkbox(checked, data.uuid)"> {{data.label}}
                </li>
              </div>
            </ul>
          </div>
          
          <div class="popover-footer">
            <ul class="list-inline">
              <li><button class="btn btn-default"><i class="fa fa-trash" aria-hidden="true"></i></button></li>
              <li><button class="btn btn-default" (click)="setting.hide()">cancel</button></li>
              <li><button class="btn btn-success" (click)="update_checkbox()" [disabled]="disable_save_btn">save</button></li>
            </ul>
          </div>
        </form>
      </popover-content>
    </table>
  </div>
</section>

<!-- add new pipeline -->
<bs-modal #addPerson [backdrop]="'static'" class="add-person-popup">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Add new person</h4>
  </bs-modal-header>
  <bs-modal-body>
    <form [formGroup]="myForm" novalidate (ngSubmit)="add_person(myForm,userForm)">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="person_name">
        <small *ngIf="!myForm.controls.person_name.valid" class="text-danger">
        Name is required (minimum 2 characters).
       </small>
      </div>

      <div class="form-group">
        <label>Organization</label>
        <input ngui-auto-complete  formControlName="contact_organization_data" 
          [(ngModel)]="selected_contcat_org"
          [source]="observableSource_org.bind(this)" value-property-name="uuid"
          display-property-name="contact_organization_name" class="form-control"
          list-formatter="contact_organization_name">
      </div>

      <div class="form-group">
        <label>Owner</label>
        <select class="form-control" formControlName="owner_id">
            <option *ngFor="let user of user_list_data" [value]="user.email">
              {{ user.email == selected_owner_id ? user.nickname + '(you)' : user.nickname }}
            </option>
        </select>
      </div>
      
      <!--phones-->
      <div class="form-group" formArrayName="person_phone">
        <label>Phone</label>
        <div *ngFor="let address of myForm.controls.person_phone.controls; let i=index;" 
          class="add-groupbtn" [formGroupName]="i">
            <div class="input-group">
              <input type="text" class="form-control" formControlName="phone">
                <div class="input-group-btn "  >
                <select formControlName="selF" class="form-control">
                <option value='Work' [selected]="true">Work</option>
                <option value='Home'>Home</option>
                <option value='Mobile'>Mobile</option>
                <option value='Other'>Other</option>
              </select>
              </div>
              <span class="glyphicon glyphicon-remove pull-right croos-icon" *ngIf="myForm.controls.person_phone.controls.length > 1" (click)="removePhone(i)"></span>
            </div>
        </div>
      </div>

      <!-- <a (click)="addPhone()" style="cursor: default">
        Add one more +
      </a> -->
      <!--phones-->
      <div class="form-group" formArrayName="person_email">
        <label>Email</label>
        <div *ngFor="let address of myForm.controls.person_email.controls; let i=index;" 
          class="add-groupbtn" [formGroupName]="i">
          <div class="input-group">
            <input type="text" class="form-control" formControlName="email">
              <div class="input-group-btn "  >
              <select formControlName="selF" class="form-control">
              <option value='Work' [selected]="true">Work</option>
              <option value='Home'>Home</option>
              <option value='Other'>Other</option>
            </select>
            </div>
            <span class="glyphicon glyphicon-remove pull-right croos-icon" *ngIf="myForm.controls.person_email.controls.length > 1" (click)="removeEmail(i)"></span>
          </div>
        </div>
      </div>

      <!--  <a (click)="addEmail()" style="cursor: default">
        Add one more +
      </a> -->
      <form #userForm="ngForm">
        <div *ngFor="let field of custom_field_list; let i=index">
          <div class="form-group" *ngIf="field.is_type === 'Single option'">
            <!-- single option dropdown -->
            <label>{{field.label}}</label>
            <ng-select  [items]="field.multiple_value"
                        [disabled]="disabled"
                        placeholder="No selected"
                        ngModel
                        name="{{field.field_api_key}}">
            </ng-select>
          </div>

          <!-- text field -->
          <div class="form-group" *ngIf="field.is_type === 'Text'">
            <label>{{field.label}}</label>
            <input type="text" ngModel name="{{field.field_api_key}}" class="form-control">
          </div>

          <div class="form-group" *ngIf="field.is_type == 'Large text'">
            <label>{{field.label}}</label>
            <textarea rows="3" cols="30" ngModel class="form-control"
              name="{{field.field_api_key}}" ></textarea>
          </div>

          <div class="form-group" *ngIf="field.is_type == 'Date'">
            <label>{{field.label}}</label>
            <input type="date" ngModel class="form-control" name="{{field.field_api_key}}">
          </div>

          <div class="form-group" *ngIf="field.is_type == 'Multiple option'">
            <label>{{field.label}}</label>
            <ng-select  [multiple]="true"
                        [items]="field.multiple_value"
                        [disabled]="disabled"
                        placeholder="No selected"
                        ngModel
                        name="{{field.field_api_key}}">
              </ng-select>
          </div>

          <div class="form-group" *ngIf="field.is_type == 'Time'">
            <label>{{field.label}}</label>
            <select class="form-control" ngModel name="{{field.field_api_key}}">
              <option disabled [selected]="true">select</option>
              <option [value]="t" *ngFor="let t of arr_time">{{t}}</option>
            </select>
          </div>

          <div class="form-group" *ngIf="field.is_type == 'Numerical' || field.is_type == 'Phone'">
            <label>{{field.label}}</label>
            <input type="number" ngModel class="form-control" name="{{field.field_api_key}}">
          </div>

          <div class="form-group" *ngIf="field.is_type == 'Date range' ">
            <label>{{field.label}}</label>
            <my-date-range-picker name="{{field.field_api_key}}"
                [options]="myDateRangePickerOptions" ngModel>
            </my-date-range-picker>
          </div>

        </div>
      </form>
      <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
    </form>
  </bs-modal-body>
</bs-modal>