<app-header></app-header>
<section class="wrapp">
  <div class="container-fluid">
    <div class="row no-pad">
      <div class="col-lg-1 col-xs-2 colum1">
        <div class="sidebar">
          <ul>
            <li><a href="" [routerLink]="['/dashboard/mail/compose-mail']" data-toggle="tooltip" title="Compose" data-placement="right"><i class="fa fa-pencil fa-2x pencile-icon" aria-hidden="true"></i></a></li>
            <li class="active"><a href=""  [routerLink]="['/dashboard/mail' ]" data-toggle="tooltip" title="Inbox" data-placement="right"><i class="fa fa-inbox fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="" [routerLink]="['/dashboard/mail/mail-drafts' ]" data-toggle="tooltip" title="Draft" data-placement="right"><i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="" [routerLink]="['/dashboard/mail/mail-send' ]" data-toggle="tooltip" title="Sent" data-placement="right"><i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="" [routerLink]="['/dashboard/mail/archive' ]" data-toggle="tooltip" title="Archive" data-placement="right"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a></li>
        </ul>
        </div>
      </div>
      <div class="col-lg-11 col-xs-10 colum2">
        <nav class="navbar navbar-inverse second-nav">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li>
                  <a href="">
                  <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default"><input type="checkbox" name=""></button>
                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                  </div>
                </a>
                </li>
                <li><a href=""><button type="button" class="btn btn-default"><i class="fa fa-refresh" aria-hidden="true"></i></button></a>
                </li>
                <li class="dropdown">
                  <a href="" class="dropdown-toggle"  data-toggle="dropdown">
                    <button type="button" class="btn btn-default "><i class="fa fa-align-center" aria-hidden="true"></i> Filter <span class="caret"></span></button></a>
                    <ul class="dropdown-menu arrowndropdownleft" aria-labelledby="dropdownMenu1">
                      <li><a href="#">Unread</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Linked  with a Deal </a></li>
                      <li><a href="#">Link with Open a Deal</a></li>
                      <li><a href="#">Not Link with a Deal</a></li>
                      <li role="separator" class="divider"></li>
                      <li ><a href="">Shared</a></li>
                      <li ><a href="">Unshared </a></li>
                      <li ><a href="">To : Me</a></li>
                      <li ><a href="">From an existing Contact</a></li>
                      <li ><a href="">Only with attachement</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                  <a href="" class="dropdown-toggle"  data-toggle="dropdown">
                    <button type="button" class="btn btn-default">Mark <span class="caret"></span></button>
                  </a>
                  <ul class="dropdown-menu arrowndropdownright" aria-labelledby="dropdownMenu1">
                      <li><a href="#">Mark all as read</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href=""><input type="text" name="" placeholder="search" class="form-control"></a></li>
                <li><a href=""><button type="button" class="btn btn-default"><i class="fa fa-cog" aria-hidden="true"></i></button></a></li>
              </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div class="col-md-12 scroll-temp">
          <table class="table table-hover table-responsive">
            <tbody>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>Doe hello bfdg tgdrg</td>
                <td><span class="dollor-icon"><i class="fa fa-usd" aria-hidden="true"></i></span>john@example.com</td>
                <td><button type="button" class="btn btn-primary btn-sm"><span class="icon-lock"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>Shared</button>
                  <i class="fa fa-paperclip" aria-hidden="true"></i>
                </td>
                <td class="show-date">25 July</td>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>Doe</td>
                <td><span class="dollor-icon"><i class="fa fa-usd" aria-hidden="true"></i></span>john@example.com</td>
                <td><button type="button" class="btn btn-primary btn-sm"><span class="icon-lock"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>Shared</button></td>
                <td class="show-date">25 July</td>
              </tr><tr>
                <td><input type="checkbox" name=""></td>
                <td>Doe</td>
                <td><span class="dollor-icon"><i class="fa fa-usd" aria-hidden="true"></i></span>john@example.com</td>
                <td><button type="button" class="btn btn-primary btn-sm"><span class="icon-lock"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>Shared</button></td>
                <td class="show-date">25 July</td>
              </tr><tr>
                <td><input type="checkbox" name=""></td>
                <td>Doe</td>
                <td><span class="dollor-icon"><i class="fa fa-usd" aria-hidden="true"></i></span>john@example.com</td>
                <td><button type="button" class="btn btn-primary btn-sm"><span class="icon-lock"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>Shared</button></td>
                <td class="show-date">25 July</td>
              </tr><tr>
                <td><input type="checkbox" name=""></td>
                <td>Doe</td>
                <td><span class="dollor-icon"><i class="fa fa-usd" aria-hidden="true"></i></span>john@example.com</td>
                <td><button type="button" class="btn btn-primary btn-sm"><span class="icon-lock"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>Shared</button></td>
                <td class="show-date">25 July</td>
              </tr><tr>
                <td><input type="checkbox" name=""></td>
                <td>Doe</td>
                <td><span class="dollor-icon"><i class="fa fa-usd" aria-hidden="true"></i></span>john@example.com</td>
                <td><button type="button" class="btn btn-primary btn-sm"><span class="icon-lock"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>Shared</button></td>
                <td class="show-date">25 July</td>
              </tr><tr>
                <td><input type="checkbox" name=""></td>
                <td>Doe</td>
                <td><span class="dollor-icon"><i class="fa fa-usd" aria-hidden="true"></i></span>john@example.com</td>
                <td><button type="button" class="btn btn-primary btn-sm"><span class="icon-lock"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>Shared</button></td>
                <td class="show-date">25 July</td>
              </tr><tr>
                <td><input type="checkbox" name=""></td>
                <td>Doe</td>
                <td><span class="dollor-icon"><i class="fa fa-usd" aria-hidden="true"></i></span>john@example.com</td>
                <td><button type="button" class="btn btn-primary btn-sm"><span class="icon-lock"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>Shared</button></td>
                <td class="show-date">25 July</td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
