.navbar-default {
    background-color: #3d4145 !important;
    border-color: #e7e7e7 !important;
}
.logo-nav {
    display: block;
}
.navbar-brand {
    float: left;
    padding: 10px 3px !important;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.navbar-default .navbar-nav > li > a {
    color: #c2c8cd !important;
    font-size: 14px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 8px 12px !important;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 31px !important;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    /*display: none;*/
    float: left;
    min-width: 100px !important;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.dropdown-menu > li > a {
    display: block;
    padding: 4px 25px !important;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}
.user img {
    height: 34px;
    border-radius: 42px;
    margin-top: 10px;
}
.usertext {
    margin: -20px 40px -18px;
    font-size: 12px;
}
.pad-zero {
    padding: 0px !important;
}
.mobile-logo {
    display: none;
}
.navbar-brand img {
    height: 28px;
    width: 100%;
}
.inner-addon {
    position: relative;
}
.left-addon .icon {
    left: 0px;
    color: black;
    z-index: 1243;
}
.inner-addon .icon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.left-addon input {
    padding-left: 30px;
}
.nav-search {
    width: 20%;
}
.navbar-default .navbar-nav > li > a {
    color: #c2c8cd !important;
    font-size: 14px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #26292c !important;
    color: #fff !important;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #333333 !important;
    background-color: #fff !important;
    height: 50px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
{
    text-decoration: none;
    color: #262626;
    background-color: #8cc739 !important;
}
.Wrapper-header {
    padding: 30px;
}
navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #fff;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.blur-back
{
    opacity: 0.7;
}
.blur-back:focus
{
    opacity: 1;
}
.navbar-right {
    float: right!important;
    margin-right: -30px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #333333 !important;
    background-color: #fff !important;
    height: 50px;
}
.user-name
{
    margin-top: -10px;
}

/*Email Template css*/

.wrapp{margin-top: 50px}
.sidebar ul{    list-style-type: none;padding: 0px;}
.sidebar ul li{padding: 20px;text-align: center;}
.sidebar { background-color: #e5e5e5;border-right: 1px solid #b9babb;position: fixed;height: 100%;width: 8.2%;}
.sidebar li a{color: #404346}
.second-nav{background: #eee;border-bottom: solid 1px #b9babb;box-shadow: 0 1px 2px 2px rgba(0,0,0,0.12);border: none;}
.navbar {border-radius: 0px; margin-bottom: 0px;}
.media-heading{font-size: 20px;font-weight: 600;}
.main-headtext{margin-bottom: 30px;font-size: 27px;font-weight: 600;}
.para-text{ font-size: 20px;line-height: 1.5em;    color: rgba(0, 0, 0, 0.55);}
.media-left i{ font-size: 25px;color: rgba(85, 85, 85, 0.58);}
.media-body p{margin-top: 15px;font-size: 17px;}
.media {margin-top: 30px !important; margin-bottom: 20px;}
.btn-success { color: #ffffff;background-color: #8cc739 !important;border-color: #8cc739 !important;font-size: 16px;font-weight: 600;}
.scroll-temp{height:calc(100vh - 100px);;overflow: auto;padding-top: 30px;}
.link-tag{margin-left: 40px;font-size: 20px;}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
}
.sidebar li.active{background: rgba(157, 157, 157, 0.38);}
.sidebar li:hover{background: rgba(157, 157, 157, 0.38);}
.arrowndropdownleft:after {
    content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: #fff;
    border-right: 1px solid rgba(158, 158, 158, 0.55);
    border-bottom: 1px solid rgba(158, 158, 158, 0.34);
    z-index: -1;
    -webkit-transform: rotate(45deg);
    transform: rotate(-134deg);
    top: -6px;
    left: 20px;
}
.arrowndropdownright:after {
    content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: #fff;
    border-right: 1px solid rgba(158, 158, 158, 0.55);
    border-bottom: 1px solid rgba(158, 158, 158, 0.34);
    z-index: -1;
    -webkit-transform: rotate(45deg);
    transform: rotate(-134deg);
    top: -6px;
    right: 20px;
}
.arrowndropdownright{right: 0;padding: 4px 0px;left: initial;}
.arrowndropdownright li a:hover{background: transparent !important;}
.pencile-icon{background: #8cc739;padding: 6px 10px;color: #fff;}
input[type=checkbox], input[type=radio] {margin: 0px 0 0;}
.textbox {
     width: 150px;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition:width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.textbox:focus {
    width:250px;
   
}

/*Responsive css*/
@media (max-width: 767px) and (min-width: 300px)
{
.navbar {
    position: absolute !important;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    width: 100%;
    z-index: 20;
}
.navbar-right {
    float: left !important;
    margin-right: -30px;
}
.wrapp {
    margin-top: 51px;
}
.sidebar {width: 16.2%;}
.sidebar ul li{padding: 15px !important;}
.scroll-temp {
    height: calc(100vh - 51px);
    overflow: auto;
    padding-top: 60px;
}
}