<app-header></app-header>
<section class="wrapp">
  <app-add-deals (deal_list)="deal_list_change($event)"></app-add-deals>
  <div class="container-fluid">
    <div class="row">
    <div class="col-sm-4">
      <ul class="list-inline set-ul pull-left">
        <li>
          <app-tooltip-buttons></app-tooltip-buttons>
        </li>
        <li>
          <button type="button" class="btn btn-success custom-btn" data-toggle="modal"data-target="#myModal">Add Deal</button>
        </li>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul>
        <li *ngIf="deal_count">{{ currency +' '+currency_total }}
          {{ (deal_count==1) ? '1 deal':((deal_count>1)? deal_count +'deals' : '') }}
        </li>
      </ul>
    </div>
      <div class="col-sm-4">
        <ul class="list-inline pull-right">
          <li><img  class="loader_img" [hidden]="!loader_image" src="assets/images/Loading_icon.gif"></li>
          <li>
            <!-- <button type="button" class="btn btn-success custom-btn" (click)="showHide()">Show Panel</button> -->
            <div class="panel panel-default panle-show" id="toggle" [hidden]="!edited">
              <div class="panel-heading">Bulk edit 1 deal</div>
              <div class="panel-body bodyhidepanle">
                <form>
                  <div class="form-group">
                    <label>Title</label>
                    <select class="form-control">
                      <option>Keep existing value</option>
                      <option>Replace existing value with...</option>
                    </select>
                  </div>
                   <div class="form-group">
                    <label>Owner</label>
                    <select class="form-control">
                      <option>Keep existing value</option>
                      <option>Replace existing value with...</option>
                    </select>
                  </div>
                   <div class="form-group">
                    <label>Value</label>
                    <select class="form-control">
                      <option>Keep existing value</option>
                      <option>Replace existing value with...</option>
                    </select>
                  </div>
                   <div class="form-group">
                    <label>Organization</label>
                    <select class="form-control">
                      <option>Keep existing value</option>
                      <option>Replace existing value with...</option>
                    </select>
                  </div>
                   <div class="form-group">
                    <label>Contact person</label>
                    <select class="form-control">
                      <option>Keep existing value</option>
                      <option>Replace existing value with...</option>
                    </select>
                  </div>
                   <div class="form-group">
                    <label>Pipeline/Stage</label>
                    <select class="form-control">
                      <option>Keep existing value</option>
                      <option>Replace existing value with...</option>
                    </select>
                  </div>
                   <div class="form-group">
                    <label>Status</label>
                    <select class="form-control">
                      <option>Keep existing value</option>
                      <option>Replace existing value with...</option>
                    </select>
                  </div>
                   <div class="form-group">
                    <label>Deal created</label>
                    <select class="form-control">
                      <option>Keep existing value</option>
                      <option>Replace existing value with...</option>
                    </select>
                  </div>
                   <div class="form-group">
                    <label>Won time</label>
                    <select class="form-control">
                      <option>Keep existing value</option>
                      <option>Replace existing value with...</option>
                    </select>
                  </div>
                   <div class="form-group">
                    <label>lost time</label>
                    <select class="form-control">
                      <option>Keep existing value</option>
                      <option>Replace existing value with...</option>
                    </select>
                  </div>
                   <div class="form-group">
                    <label>Lost reason</label>
                    <select class="form-control">
                      <option>Keep existing value</option>
                      <option>Replace existing value with...</option>
                    </select>
                  </div>
                   <div class="form-group">
                    <label>Visible to</label>
                    <select class="form-control">
                      <option>Keep existing value</option>
                      <option>Replace existing value with...</option>
                    </select>
                  </div>
                   <div class="form-group">
                    <label>Expected closed date</label>
                    <select class="form-control">
                      <option>Keep existing value</option>
                      <option>Replace existing value with...</option>
                    </select>
                  </div>
                </form>
              </div>
              <div class="panel-footer">
                <ul class="list-inline">
                  <li><button class="btn btn-default"><i class="fa fa-trash" aria-hidden="true"></i></button></li>
                  <li><button class="btn btn-default" (click)="myPopover.hide()">cancel</button></li>
                  <li><button class="btn btn-success">Update</button></li>
                </ul> 
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle custom-btn" type="button" id="dropdownMenu1" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-outdent" aria-hidden="true"></i>&nbsp;<strong *ngIf="user_name">{{user_name}}</strong>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu custom-dropdown menu" aria-labelledby="dropdownMenu1">
                <li>
                  <form class="navbar-form" role="search">
                    <div class="input-group bttn-clss">
                      <input type="text" class="form-control Search"  placeholder="Search">
                    </div>
                  </form>
                </li>
                <li>
                  <div class="user-clss">User</div>
                  <ul class="inner-ul" *ngIf="user_list_data">
                    <li (click)="get_deals_list('all')"><a href="javascript:void(0)">Everyone</a></li>
                    <li *ngFor="let user of user_list_data" (click)="get_deals_list(user)">
                      <a href="javascript:void(0)">
                      <i class="fa fa-user-circle-o"></i>&nbsp; 
                      <span>{{user.nickname}}</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="user-clss">Filter</div>
                  <ul class="inner-ul">
                    <li (click)="filter_get_deals_list({'fiterTextShow':'All Deleted Deals','dealStatusValue':4})"><a href="javascript:void(0)"><i class="fa fa-lock" aria-hidden="true"></i> All Deleted Deals</a></li>
                    <li (click)="filter_get_deals_list({'fiterTextShow':'All lost Deals','dealStatusValue':3})"><a href="javascript:void(0)"><i class="fa fa-lock" aria-hidden="true"></i> All lost Deals</a></li>
                    <li (click)="filter_get_deals_list({'fiterTextShow':'All Open Deals','dealStatusValue':1})"><a href="javascript:void(0)"><i class="fa fa-lock" aria-hidden="true"></i> All Open Deals</a></li>
                    <li (click)="filter_get_deals_list({'fiterTextShow':'All Won Deals','dealStatusValue':2})"><a href="javascript:void(0)"><i class="fa fa-lock" aria-hidden="true"></i> All Won Deals</a></li>
                    <li (click)="filter_get_deals_list({'fiterTextShow':'More Than 3 month Old Deals','dealStatusValue':5})"><a href="javascript:void(0)"><i class="fa fa-lock" aria-hidden="true"></i> More Than 3 month Old Deals</a></li>
                    <li (click)="filter_get_deals_list({'fiterTextShow':'Rotten Deals','dealStatusValue':6})"><a href="javascript:void(0)"><i class="fa fa-lock" aria-hidden="true"></i> Rotten Deals</a></li>
                    <li class="divider"></li>
                    <li>
                      <a href=""><i class="fa fa-plus" aria-hidden="true"></i><span style="color:javascript:void(0)337ab7">&nbsp; &nbsp;Add new Filter</span></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle custom-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><strong><i class="fa fa-ellipsis-h" aria-hidden="true"></i></strong>
              </button>
              <ul class="dropdown-menu pipe-drop inner-ul" aria-labelledby="dropdownMenu1">
                <li>Export filter result</li>
                <li>Data import on </li>
                <li>show on</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <!--Dynamic table-->
  <div class="table-responsive" *ngIf="loadTable">
    <table class="table table-hover table-bordered" width="100%">
      <thead>
        <tr>
          <th class="th-size"><input type="checkbox" value=""></th>
          <th *ngFor="let head of deal_data[0].header" [hidden]="head[1]=='UUID'" >{{ head[1] }}</th>
          <th class="th-size">
            <span [popover]="setting"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let deal of deal_data[1].data">
          <td><input type="checkbox" value=""></td>
          <td *ngFor="let data of deal" [hidden]="data[0]=='uuid'">
            <span *ngIf="data[0]==='deal_title';else elseBlock"><a>{{dynamic_arr(data[1])}}</a></span>
            <ng-template #elseBlock>
              <span>{{dynamic_arr(data[1])}}</span>
            </ng-template>
          </td>
          <td></td>
        </tr>
      </tbody>

      <popover-content #setting title="Choose colunms" placement="left-top" [closeOnClickOutside]="true">
        <form>
          <div class="form-group form-popover">
            <input type="text" class="form-control" placeholder="search" (input)="filter_fields($event)">
          </div> 
          <div class="body-list">
            <div class="title-list">Visible</div>
            <ul class="popoverlist">
              <div *ngFor="let data of search_data">
                <li *ngIf="data.is_checked">
                  <input type="checkbox" (change)="checkbox(checked, data.uuid)" #checked [checked]="data.is_checked"> {{data.label}}
                  <span class="pull-right">Deal</span>
                </li>
              </div>
            </ul>
            <div class="title-list">NOT VISIBLE</div>
            <!--
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Deal</button>
                <button type="button" class="btn btn-default">Person</button>
                <button type="button" class="btn btn-default">Organization</button>
              </div>
            -->
            <ul class="popoverlist">
              <div *ngFor="let data of search_data">
                <li *ngIf="!data.is_checked">
                  <input type="checkbox" #checked [checked]="data.is_checked" (change)="checkbox(checked, data.uuid)"> {{data.label}}
                </li>
              </div>
            </ul>
          </div>
          
          <div class="popover-footer">
            <ul class="list-inline">
              <li><button class="btn btn-default"><i class="fa fa-trash" aria-hidden="true"></i></button></li>
              <li><button class="btn btn-default" (click)="setting.hide()">cancel</button></li>
              <li><button class="btn btn-success" (click)="update_checkbox()" [disabled]="disable_save_btn">save</button></li>
            </ul>
          </div>
        </form>
      </popover-content>
    </table>
  </div>
  <a class="myDIV" (click)="demo.bind()"></a>
</section>