.icon-btn{ padding: 0px 5px; float: right; }
.th-size{ width: 1px }
.table-responsive { min-height: auto; overflow-x: visible; }
/*--------------------------------------------------------------*/
.set-ul {
    margin: 0px 5px 10px;
}
.loader_img{
 height: 32px;
}
.set-position{ float: right; }
.button-overlay
{
	position: relative
}

.overlay {
  position: absolute;
  top: 1px;
  bottom: 0;
  right: 10px;
  opacity: 0;
  transition: .5s ease;
  
}
.button-overlay:hover .overlay {
  opacity: 1;
}

.button-overlay:active .overlay {
  opacity: 1;
}

.popover-footer
{
	border-top: solid 1px #999;
    padding: 10px;
    background: rgba(238, 238, 238, 0.48);
}
.form-popover
{
	padding: 13px 15px 14px;
  border-bottom: solid 2px #eee;
    margin: 0px;
    width: 100%;
}

.btn-success {
    color: #fff;
    background-color: #8cc739 !important;
    border-color: #8cc739 !important;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 2px;
}
/*poverlist*/
.popoverlist
{
   padding: 0px;
    list-style-type: none;
}
.body-list
{
  height: 250px;
  overflow:auto;
 
 
}

:host /deep/ .popover.left>.arrow {
    top: 12% !important; 
}
/*:host /deep/ .popover.left {
    margin-left: -25px !important;
} */
:host /deep/ .popover-content {
    padding: 0px;
}
.title-list
{
  background: rgba(153, 153, 153, 0.47);
    padding: 5px 20px;
}
.popoverlist li
{
   padding: 5px 20px;
}
.btn-grouppopover
{
  padding: 10px;
}
.popoverlist li span
{
  color: #ddd;
}
.popoverlist li:hover
{
  background-color:#8cc739 !important;
}
.section-wrapper {
    background: #f3f5f6 !important;
    min-height: 650px;
    height: auto;
  
}
.custom-dropdown
{
    min-width: 300px !important;
    left: initial!important;
    right: 0px !important;
    padding-bottom: 5px;
}
.bttn-clss
{
    width: 100%;
}
.user-clss
 {
    background: rgba(153, 153, 153, 0.38);
    padding: 6px 15px;
}
.inner-ul {
    font-size: 15px;
}

li
{
    list-style-type: none;
    cursor: pointer;
}
.inner-ul li a{
   background: #fff;
    color: #333;
    position: relative;
    display: block;
    padding: 5px 22px;
    text-decoration: none;
}
.inner-ul li a:hover {
   background: #8cc739;
    color: #fff;
    position: relative;
    display: block;
    padding: 5px 22px;
    text-decoration: none;
}
ul {
    padding: 0px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: transparent;
}
.inner-ul li i
{
  margin-right: 15px
}
/*.icon-check i:before
{
  color:  #8cc739 ;
}*/
.pipe-drop
{
  left: initial;
  right: 0px;
}
.pipe-drop li
{
  font-size: 13px;
}
.bodyhidepanle
{
  height: 400px;
  overflow: auto;
  background: rgba(238, 238, 238, 0.51);
}
.panle-show
{
    position: absolute;
    z-index: 1200;
    margin-top: 17px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.32);
    /*transition: all 0.5s ease;*/
    transition: right .3s ease;
    right: 0;
}
table
{
  width:100%;
  background: #fff;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}
.wrapp{margin-top: 60px}

@media (min-width: 768px) and (max-width:1169px)
{
.wrapp{
    margin-top: 130px;
}
}
@media (max-width: 520px)
{
.custom-dropdown{ min-width: 240px !important;}
}