<div class="panel">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><a [routerLink]="['/dashboard/setting']">Personal</a></li>
      <div *ngIf='current_user_group == "admin" '>
        <li class="list-group-item" routerLinkActive="active"><a [routerLink]="['/setting/pipelines']">Pipelines</a></li>
        <li class="list-group-item" routerLinkActive="active">
          <a [routerLink]="['/setting/billing']">Billing</a>
        </li>
        <li class="list-group-item" routerLinkActive="active"><a [routerLink]="['/setting/users']">User & Permission</a></li>
        <li class="list-group-item" routerLinkActive="active"><a [routerLink]="['/setting/customize-fields']">Custmoize fields</a></li>
        <li class="list-group-item" routerLinkActive="active"><a href="javascript:void(0)" [routerLink]="['/setting/company/edit']">Company setting</a></li>
      </div>
    </ul>
  </div>
</div>