.panel {
    margin-bottom: 20px;
    background-color: transparent !important;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-heading {
    padding: 0px !important;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-body {
    padding: 0px !important;
}
.list-group-item a
{
  color: #337ab7 !important;
  text-decoration: none !important;
}
.list-group-item:hover
{
    background: #f3f5f6 !important;
    color: black !important;
}
.list-group-item.active
{
    background: #f3f5f6 !important;
     color: black !important;
     border-color: #ccc !important;
}
.list-group-item.active a
{
    color: black !important;
}
.main-panle
{
    border: solid 1px #ccc;
    padding: 15px;
    margin-top: 3px;
    background: #fff;
}
.default-btn
{
    font-family: inherit !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}
.btn-success {
    color: #ffffff;
    background-color: #8cc739 !important;
    border-color: #8cc739 !important;
}
.btn-default {
    color: #333;
    background-color: #fff;
     border-color: #cccccc !important; 
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: transparent !important;
}
.pipeline-panle {
    border: solid 1px #ccc;
    padding: 15px;
    margin-top: 3px;
    background: #fff;
}
.btn-pipe
{
    background: #fff;
    border: solid 1px #ccc;
    padding:2px 12px !important;
    border-radius: 0px !important;
}
.user_button button {
    margin-right: -5px;
}
.button-pipe button {
    margin-bottom: -2px;
    border-bottom: none;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 6px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
