.panel-default>.panel-heading { color: #333; background-color: rgba(255,255,255,.15); border-color: #ddd;}
.panel-default { border-color: #ddd; margin-bottom: 8px; }
.dropdown i { color: #333; }
.panel_bottom{ margin-bottom: 10px; }
.dropdown-menu > li > a {
    display: block; 
    padding: 4px 38px !important; 
    clear: both;
    font-weight: normal; 
    line-height: 1.42857143; 
    color: #333333; 
    white-space: nowrap;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    /*display: none;*/
    float: left;
    min-width: 100px !important;
    padding: 5px 0;
    margin: 15px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.dropdown-menu>li:focus, .dropdown-menu>li:hover{ text-decoration: none; color: #262626; background-color: #8cc739 !important; }
.btn-default { color: #333333 !important; border-color: #cccccc !important; }
.btn-success { color: #ffffff; background-color: #8cc739 !important; border-color: #8cc739 !important; }
.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-left: 0px;
}
li{ list-style-type: none; }
/*ul{ padding: 0px; }*/
.icon-box i{ border: solid 2px #ddd; padding: 5px; border-radius: 5px; }
.icon-box { display: block; float: none; margin-top: 0; position: relative; padding: 0; text-align: right;}
.btn-option{ margin-top: 10px; }
.text-label{ font-size: 14px; color: #999; font-weight: 500; word-wrap: break-word; }
.overlay { opacity: 0; transition: .5s ease; font-size: 15px;}
.text-row:hover .overlay { opacity: 1; }
.panel-org:hover .overlay { opacity: 1; }
.text-row{ margin: 0px; }
.overlay-btn{ position: absolute; opacity: 0; transition: .5s ease; font-size: 15px; right: 10px; padding: 15px;}
.panel-contact:hover .overlay-btn{ opacity: 1 }
.text-row:hover{background:#ddd; margin: 0px;}
.text-row{ padding-top: 10px; }
.panel-org{ padding: 30px 0px 5px; }
.panel-org img{ border: solid 2px #DDD; border-radius: 24px; padding: 6px 7px 0px; }
.text-org{ margin-top: 10px; font-size: 20px; }
.text-org a{ color: #333; font-weight: 600; }
.panel-heading h4{ font-size: 14px; color: #8cc739; font-weight: bold;}
.panel-contact{ padding: 30px 0px 5px;  }
.panel-contact img{ border: solid 2px #DDD; border-radius: 24px; padding: 3px 2px 0px; }

.customedropdown-menu > li{
    display: block; padding: 4px 10px !important; clear: both; font-weight: normal;
    line-height: 1.42857143; color: #333333; white-space: nowrap;
}
.customedropdown-menu:before {
    content: ''; display: inline-block;
    border-left: 7px solid transparent; border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc; border-bottom-color: #fff;
    position: absolute; top: -7px; left: 10px;
}
.edit-contact{ margin: 0px; padding: 15px 0px; background-color: #f3f5f6; border-top: 1px solid #e0e4e7;
  border-bottom: 1px solid #e0e4e7
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn-default:hover { color: #333 !important; background-color: #e6e6e6 !important; border-color: #adadad !important; }
.editCustomfield{ float: right; margin-right: 50px;}
.btn:active { background-image: none; outline: 0; -webkit-box-shadow: none !important;  box-shadow: none !important; }
.pull-right>.dropdown-menu { right: -9px; left: auto; }
.form-check-input {width: auto;}
.back-panel{    background: #f5f5f5;}
.btn-detail{text-align: right;padding-right: 20px;}
.form-check-label{font-size: 14px;font-weight: normal;}
.details-form .form-group{margin-bottom: 20px}
.details-form{padding: 25px;}
.overlay-edit{ position: absolute; right: 67px; opacity: 0; transition: .5s ease; }
.edit-btn:hover .overlay-edit { opacity: 1; }
.btn-formoption{float: right;padding-bottom: 15px;padding-right: 15px;}
.toggel a{color: rgba(0, 0, 0, 0.62);}
.text_listparagraph{color: #777;margin-top: 7px;margin-bottom: 5px}