<!-- start organization selection -->
<div class="panel panel-default">
  <div class="panel-heading panel-headingcustom ">
    <h4 class="pull-left">ORGANZATION</h4>
    <div class="icon-box">
      <i class="fa fa-pencil m-pointer" (click)="edit_fields_org = true" *ngIf="contacts_organizations_fields_obj.length!=0" tooltip="edit"></i>
      <span class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" tooltip="setting" 
          data-toggle="dropdown">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu customedropdown-menu">
          <li (click)="show_ord_field_lable = true">Custom field</li>
        </ul>
      </span>
    </div>
  </div>
  <div class="panel-body back-panel">
    <div id="fieldadd">
      <div class="row panel-org panel-contact" [ngStyle]="{display: org_rename_css}">
        <div class="col-xs-4 text-right"><img src="assets/images/icon-org.png"></div>
        <div class="col-xs-8 text-org" *ngIf="deal">
          {{ deal.contact_organization_uuid.contact_organization_name }}
        </div>
        <span class="overlay-btn">
          <a (click)="org_rename_btn('none','block')" href="javascript:void(0)">
            <button class="btn btn-default btn-xs">Rename</button>
          </a>
        </span>
      </div>
      <!-- org nayityiyityiyuikuyuyuuuyuyume -->
      <div class="row edit-contact" *ngIf="deal" 
        [ngStyle]="{display: org_input_filed_css}">
        <label class="col-xs-4 text-label">Name</label>
        <div class="col-xs-8">    
          <input type="text"  class="form-control" [value]="deal.contact_organization_uuid.contact_organization_name" 
            #section_organization_name>
          <div class="btn-option pull-right">
            <button class="btn btn-success" (click)="save_contact_org(section_organization_name, deal.contact_organization_uuid.uuid)">Save</button>
            <button class="btn btn-default" (click)="org_rename_btn('block', 'none')">cancel</button>
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="deal">
        <div class="row text-row">
          <label class="col-xs-4 text-label">Address</label>
          <ng-container>
            <a href="javascript:void(0)" class="col-xs-6" tooltip="{{org_address}}"
              *ngIf="!org_map_autocomplete">
              {{org_address | slice:0:26 }}
            </a>
            <div class="col-xs-8" *ngIf="org_map_autocomplete">
              <ng4geo-autocomplete [userSettings]="userSettings2"
                (componentCallback)="autoCompleteCallback($event)">
              </ng4geo-autocomplete>
              <div class="btn-option">
                <button class="btn btn-success"
                  (click)="update_contact_org_address(deal.contact_organization_uuid.uuid) || org_map_autocomplete = false">Save
                </button>
                <button class="btn btn-default" (click)="org_map_autocomplete = false">cancel</button>
              </div>
            </div>
          </ng-container>
          
          <span class="overlay editCustomfield" *ngIf="!org_map_autocomplete"
            (click)="org_map_autocomplete = true">
            <a href="javascript:void(0)"><i class="fa fa-pencil"></i></a>
          </span>
        </div>
      </div>

      <!-- organization form -->
      <form #org_form_data="ngForm" *ngIf="!show_ord_field_lable">
        <div class="form-group" *ngFor="let org_field of contacts_organizations_fields_obj">
          <div class="row text-row">
            <label class="col-xs-4 text-label">{{org_field.label}}</label>
            <ng-container *ngIf="org_field.is_type == 'Text'">
              <label class="col-xs-4 text-label"
                *ngIf="org_field.field_api_key!=org_field_api_key && !edit_fields_org">
                  {{org_field.value}}
              </label>
              <div class="col-xs-8" *ngIf="org_field.field_api_key==org_field_api_key ||
                edit_fields_org">
                <input type="text" [ngModel]="org_field.value" class="form-control" 
                  name="{{org_field.field_api_key}}" #org_value>
                <div class="btn-option" *ngIf="!edit_fields_org">
                  <button class="btn btn-success"
                    (click)="update_single_org_custom_field_value('contacts_organizations',org_form_data.value, org_field.org_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="org_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="org_field.is_type == 'Large text'">
              <label class="col-xs-4 text-label"
                *ngIf="org_field.field_api_key!=org_field_api_key && !edit_fields_org">
                  {{org_field.value}}
              </label>
              <div class="col-xs-8" *ngIf="org_field.field_api_key==org_field_api_key ||
                edit_fields_org">
                <textarea rows="3" cols="30" [ngModel]="org_field.value" 
                  name="{{org_field.field_api_key}}" class="form-control"></textarea>
                <div class="btn-option" *ngIf="!edit_fields_org">
                  <button class="btn btn-success"
                    (click)="update_single_org_custom_field_value('contacts_organizations',org_form_data.value, org_field.org_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="org_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="org_field.is_type == 'Date'">
              <label class="col-xs-4 text-label"
                *ngIf="org_field.field_api_key!=org_field_api_key && !edit_fields_org">
                  {{org_field.value}}
              </label>
              <div class="col-xs-8" *ngIf="org_field.field_api_key==org_field_api_key ||
                edit_fields_org">
                <input type="date" [ngModel]="org_field.value" class="form-control" 
                  name="{{org_field.field_api_key}}">
                <div class="btn-option" *ngIf="!edit_fields_org">
                  <button class="btn btn-success"
                    (click)="update_single_org_custom_field_value('contacts_organizations',org_form_data.value, org_field.org_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="org_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="org_field.is_type == 'Single option'">
              <label class="col-xs-6 text-label"
                *ngIf="org_field.field_api_key!=org_field_api_key && !edit_fields_org">
                {{org_field.value}}
              </label>
              <div class="col-xs-8" *ngIf="org_field.field_api_key==org_field_api_key ||
                edit_fields_org">
                <ng-select [items]="org_field.multiple_value" placeholder="No selected" 
                  [ngModel]="org_field.value" name="{{org_field.field_api_key}}">
                </ng-select>
                <div class="btn-option" *ngIf="!edit_fields_org">
                  <button class="btn btn-success"
                    (click)="update_single_org_custom_field_value('contacts_organizations',org_form_data.value, org_field.org_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="org_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="org_field.is_type == 'Multiple option'">
              <label class="col-xs-6 text-label"
                *ngIf="org_field.field_api_key!=org_field_api_key && !edit_fields_org">{{org_field.value}}
              </label>
              <div class="col-xs-8" *ngIf="org_field.field_api_key==org_field_api_key ||
                edit_fields_org">
                <ng-select  [multiple]="true"
                  [items]="org_field.multiple_value" placeholder="No selected"
                  [ngModel]="org_field.value" name="{{org_field.field_api_key}}">
                </ng-select>
                <div class="btn-option" *ngIf="!edit_fields_org">
                  <button class="btn btn-success"
                    (click)="update_single_org_custom_field_value('contacts_organizations',org_form_data.value, org_field.org_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="org_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="org_field.is_type == 'Time'">
              <label class="col-xs-6 text-label"
                *ngIf="org_field.field_api_key!=org_field_api_key && !edit_fields_org">{{org_field.value}}
              </label>
              <div class="col-xs-8" *ngIf="org_field.field_api_key==org_field_api_key ||
                edit_fields_org">
                <select class="form-control" [ngModel]="org_field.value" 
                  name="{{org_field.field_api_key}}">
                  <option disabled [selected]="true">select</option>
                  <option [value]="t" *ngFor="let t of arr_time">{{t}}</option>
                </select>
                <div class="btn-option" *ngIf="!edit_fields_org">
                  <button class="btn btn-success"
                    (click)="update_single_org_custom_field_value('contacts_organizations',org_form_data.value, org_field.org_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="org_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="org_field.is_type == 'Numerical' || 
              org_field.is_type == 'Phone'">
              <label class="col-xs-6 text-label"
                *ngIf="org_field.field_api_key!=org_field_api_key && !edit_fields_org">{{org_field.value}}
              </label>
              <div class="col-xs-8" *ngIf="org_field.field_api_key==org_field_api_key ||
                edit_fields_org">
                <input type="number" [ngModel]="org_field.value" class="form-control"
                  name="{{org_field.field_api_key}}">
                <div class="btn-option" *ngIf="!edit_fields_org">
                  <button class="btn btn-success"
                    (click)="update_single_org_custom_field_value('contacts_organizations',org_form_data.value, org_field.org_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="org_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="org_field.is_type == 'Date range'">
              <label class="col-xs-6 text-label"
                *ngIf="org_field.field_api_key!=org_field_api_key && !edit_fields_org">{{org_field.value.formatted}}
              </label>
              <div class="col-xs-8" *ngIf="org_field.field_api_key==org_field_api_key ||
                edit_fields_org">
                <my-date-range-picker name="{{org_field.field_api_key}}"
                  [options]="myDateRangePickerOptions"
                  [(ngModel)]="org_field.value">
                </my-date-range-picker>
                <div class="btn-option" *ngIf="!edit_fields_org">
                  <button class="btn btn-success"
                    (click)="update_single_org_custom_field_value('contacts_organizations',org_form_data.value, org_field.org_uuid)">Save
                  </button>
                  <button class="btn btn-default" (click)="org_field_api_key=''">cancel</button>
                </div>
              </div>
            </ng-container>

            <span class="overlay" (click)="show_org_fields(org_field)"
              *ngIf="org_field.field_api_key!=org_field_api_key && !edit_fields_org && 
              org_field.value==''">
              <a href="javascript:void(0)"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </span>

            <span class="overlay editCustomfield" (click)="show_org_fields(org_field)"
              *ngIf="org_field.field_api_key!=org_field_api_key && !edit_fields_org && org_field.value!=''">
              <a href="javascript:void(0)"><i class="fa fa-pencil"></i></a>
            </span>
          </div>
        </div>

        <span class="btn-option btn-formoption" *ngIf="edit_fields_org">
          <button class="btn btn-success" 
            (click)="edit_fields_org = false || 
              update_all_custom_field_value('contacts_organizations',org_form_data.value, 
              contacts_organizations_fields_obj[0].org_uuid)">
            Save all
          </button>
          <button class="btn btn-default" (click)="edit_fields_org = false">cancel</button>
        </span>
      </form>

      <div *ngIf="show_ord_field_lable">
        <!-- display custom label list -->
        <div class="panel panel-default panel_bottom"   
          *ngFor="let org of contacts_organizations_fields">
          <div class="panel-body" *ngIf="org_edit_uuid != org.uuid">
            <span>{{org.label}}</span>
            <span class="pull-right edit-btn">
              <span class="overlay-edit">
                <button type="button" class="btn btn-default btn-xs" 
                  (click)="edit_btn_org(org.uuid, org) || org_edit_uuid = org.uuid">edit</button>
                 <button type="button" 
                  (click)="delete_custom_field('contacts_organizations_fields',org.uuid)" tooltip class="btn btn-default btn-xs" tooltip="Deleting the field will erase it from everywhere in your Pipedrive as well as delete data stored within this field."><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              </span>
              <span class="toggel"><a data-toggle="tooltip" title="Drage to arrange" 
                data-placement="bottom"><i class="fa fa-bars" aria-hidden="true"></i></a>
              </span>
            </span> 
            <p class="text_listparagraph" *ngIf="org.is_important">Always visible on sidebar</p>
            <p class="text_listparagraph" *ngIf="org.is_show">Appears in "Add new deal" dialogue</p>
          </div>

          <!--org edit custom field box -->
          <div *ngIf="org_edit_uuid === org.uuid" class="panel panel-default">
            <div class="panel-body details-form">
              <form>
                <div class="form-group">
                  <label>Field Name</label>
                  <input type="text" name="field_name" class="form-control border_validation" [ngModel]="org.label" (change)="org.label = $event.target.value">
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" name="is_important"
                      (change)="org.is_important = $event.target.checked"
                      [checked]="org.is_important" class="form-check-input">
                      Always visible on sidebar
                  </label>
                </div>
                 <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" name="is_show" 
                      (change)="org.is_show = $event.target.checked"
                      [checked]="org.is_show" class="form-check-input">
                      Appears in "Add new deal" dialogue
                  </label>
                </div>
              </form>
            </div>

            <div class="panel-footer btn-detail">
              <button type="button" class="btn btn-default btn-sm" (click)="cancel_edit()">cancel</button>
              <button type="button" class="btn btn-success btn-sm" 
                (click)="update_org_field('contacts_organizations_fields',org)">save</button>
              <button type="button"
                (click)="delete_custom_field('contacts_organizations_fields',org.uuid)" class="btn btn-default btn-xs" ><i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- add custom field box for organization -->
        <div class="panel panel-default" *ngIf="org_add_field_dev">
          <div class="panel-body details-form">
            <form>
              <div class="form-group">
                <label>Field Name</label>
                <input type="text" (change)="org_data.label = $event.target.value"
                  class="form-control">
                <p style="color: red;" *ngIf="errorMsg">{{error_message_txt}}</p>
              </div>
              <div class="form-group">
                <label>Field type</label> 
                <ng-select
                  [items]="list"
                  bindValue="id"
                  bindLabel="text"
                  placeholder="select custom field"  
                  (change)="field_type_for_org($event)"
                  name="list">
                </ng-select>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" (change)="org_data.is_important = $event.target.checked"
                    class="form-check-input">
                    Always visible on sidebar
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" 
                    (change)="org_data.is_show = $event.target.checked">
                    Appears in "Add new deal" dialogue
                </label>
              </div>
            </form>
          </div>

          <div class="panel-footer btn-detail">
            <button type="button" class="btn btn-default btn-sm" 
              (click)="org_add_field_dev = false">cancel
            </button>
            <button type="button" class="btn btn-success btn-sm" 
              (click)="create_custom_field_for_org('contacts_organizations_fields',org_data)">save</button>
          </div>
        </div>
        <!-- (+) Add new field -->
        <a href="javascript:void(0)" (click)="org_add_field_dev = true">
          <i class="fa fa-plus" aria-hidden="true"></i> Add new field
        </a>
        <button type="button" (click)="show_ord_field_lable = false" class="btn btn-success pull-right">Done</button>
      </div>
    </div>
  </div>
</div>