<div class="block-container">
  <div class="block-container--white-theme" *ngIf="company_loader_img; else loading">
    <div class="_typography text-center">
      <h4 class="signup-box__title signup-box__title--no-margin">Registration Of Company</h4>
    </div>
    <div class="col-md-offset-3 col-lg-6">
      <div class="signup-box__inner">
        <form [formGroup]="organization_form">
          <div class="form-group">
            <label for="sel1">Company Name</label>
            <input class="form-control" type="text" autofocus="true" 
              (focusout)="focusOutFunction($event)" placeholder="Enter company name"
              formControlName="company_name" name="company_name">
            <p class="validation-msg" *ngIf="organization_form.controls.company_name.invalid && submitted">
              Please enter company name
            </p>
            <p class="validation-msg" *ngIf="validation_error">
              Company name must be between 3 and 255 characters long, and allowed characters are a-z, A-Z, 0-9, ., _, and -.
            </p>
          </div>

          <div class="form-group">
            <label for="sel1">Select Number of employees:</label>
            <select class="form-control" formControlName="employee_size" name="employee_size">
              <option disabled [selected]="true">Please choose...</option>
              <option [value]="emp.value" *ngFor="let emp of employees">{{emp.employee}}</option>
            </select>
            <p class="validation-msg" *ngIf="organization_form.controls.employee_size.invalid && submitted">
              Please select any option
            </p>
          </div>

          <div class="form-group" [ngClass]="{'has-error': organization_form.controls.organization_type_uuid.invalid && submitted}">
            <label for="sel1">Organization type:</label>
            <select class="form-control" formControlName="organization_type_uuid">
              <option *ngFor="let org of existing_org_list" value="{{org.uuid}}">{{org.organization_type_name}}</option>
            </select>
            <p class="validation-msg" *ngIf="organization_form.controls.organization_type_uuid.invalid && submitted">
              Please select any option
            </p>
          </div>

          <ul class="list-inline">
            <li><button class="btn btn-custom" (click)="onBack()">Back</button></li>
            <li><button class="btn btn-custom" [disabled]="submite_disabled" (click)="create_company()">Submit</button></li>
          </ul>
        </form>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="text-center loder-image">
      <img src="assets/images/Loading_icon.gif" width="12%">
      <p style="font-weight: bold;">Setting up your account</p>
    </div>
  </ng-template>
</div>
