.btn-custom
 {
    float: left !important;
    background: #fff !important;
    color: #14538e !important;
    border: solid 1px #777777 !important;
    border-radius: 60px !important;
    font-weight: 700 !important;
}
.btn-custom:hover {
    background: #8cc739 !important;
}
.validation-msg{ color: red; }
.loder-image{margin :15% auto;}