<div class="container-fluid">
  <form class="block-container">
    <div class="form__items-wrapper">
      <h4>Find Verification Code On Email</h4>
      <div class="group">
        <input class="inputMaterial" type="text" required [(ngModel)]="confirmationCode" name="confirmationCode">
        <span class="bar"></span>
        <label>Verification code</label>
      </div>
      <div class="loginbtn">
        <button type="submit" class="btn btn-custom" (click)="onConfirmRegistration()">Confirm</button>
      </div>
      <!-- <div class="loginbtn">
        <button class="btn btn-custom" (click)="ResendCode()">ResendCode</button>
      </div> -->
    </div>
  </form>
</div>