.block-container { margin-top: 55px; }
.form__items-wrapper { display: -webkit-box; display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: -10px;
}
.btn-custom {
    float: left !important;
    background: #fff !important;
    color: #14538e !important;
    border: solid 1px #777777 !important;
    border-radius: 60px !important;
    font-weight: 700 !important;
}

.btn.btn--small { font-size: 14px; line-height: 1.5em; }
.btn.btn {
    font-family: MuseoSans,sans-serif;
    display: inline-block;
    padding: 8px 20px;
    background: 0 0;
    text-align: center;
    outline: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    border: 0;
    cursor: pointer;
    margin: 0;
    color: rgba(38,41,44,.6);
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.5em;
}
.btn.btn:hover { transition: all .15s ease-in-out; text-decoration: none; color: rgba(38,41,44,.8); }
.btn-custom:hover { background: #8cc739; }
/*-------------------*/

/*responsiv*/
@media (max-width: 767px)
{
.block-container {
    font-size: 16px;

}

}
@media (max-width: 767px) and (min-width: 300px)
{
.button-div {
    padding: 18px 20px!important;
}
}
@media (max-width: 767px) and (min-width: 300px)
{
.border-cls {
    border-right: none !important;
    height: auto;
}
}
@media (max-width: 1024px) and (min-width: 768px)
{
.button-div {
    padding: 130px 10px 9px !important;
}
}
@media (max-width: 767px)
{
.form__input--large {
    padding-top: 12px;
    padding-bottom: 12px;
}
}
@media (max-width: 767px)
{
.form__input {
    font-size: 16px;
    height: 22px;
    line-height: 22px;
}
}


/*floating lables*/

.group { position:relative; margin-bottom: 25px; margin-left: 40px; }

.inputMaterial            {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom: 1px solid #999 !important;
}

.inputMaterial:focus { outline:none;  border-bottom: 1px solid #8cc739 !important;}

/* LABEL ======================================= */

label {
  color:#999; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label {
  top:-20px;
  font-size:14px;
  color: #8cc739;
}

/* BOTTOM BARS ================================= */
.bar { position:relative; display:block; width:315px; }
.bar:before, .bar:after     {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background: #8cc739; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before { left:45%; }
.bar:after { right:50%; }

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after { width:50%; }
.loginbtn
{
    padding: 10px 40px;
}