<div class="block-container block-container--with-sides" *ngIf="!showResetPassword">
  <div class="block-container--white-theme row">
    <div class="_typography text-center">
      <h3 class="signup-box__title signup-box__title--no-margin signup-box__title--small-margin">Forgot Password?</h3>
      <p class="signup-box__text">Enter your email address & we'll send you a link to reset your password.</p>
    </div>
    <div class="col-md-offset-3 col-lg-6">
      <div class="signup-box">
        <div class="signup-box__inner ">
          <form class="form form--vertical">
            <div class="group">
              <input class="inputMaterial" type="text" required [(ngModel)]="email" name="email">
              <span class="bar"></span>
              <label>Enter your email address</label>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-offset-7 col-lg-2">  
          <div class="form__item form__item--submit">
            <div class="form__error form__error--no-min-height"></div>
            <button type="submit" (click)="onBack()" class="btn btn-custom">Back</button>
          </div>
        </div>
        <div class="col-lg-2">  
          <div class="form__item form__item--submit">
            <button type="submit" class="btn btn-custom" (click)="onNext()">Next</button>
            <div class="form__error form__error--no-min-height"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- resetpassword -->
<div class="block-container block-container--with-sides" *ngIf="showResetPassword">
  <div class="block-container--white-theme row">
    <div class="_typography text-center">
      <h3 class="signup-box__title signup-box__title--no-margin signup-box__title--small-margin">Reset password?</h3>
      <p class="signup-box__text">Find verification code on your email address & Enter new password</p>
    </div>
    <div class="col-md-offset-3 col-lg-6">
      <div class="signup-box">
        <div class="signup-box__inner ">
          <form>
            <div class="group">
              <input class="inputMaterial" type="text" required [(ngModel)]="verificationCode" name="email">
              <span class="bar"></span>
              <label>Varification Code</label>
            </div>
            <div class="group">
              <input class="inputMaterial" type="password" required [(ngModel)]="password" name="password">
              <span class="bar"></span>
              <label>New password</label>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-offset-7 col-lg-2">  
          <div class="form__item form__item--submit">
            <div class="form__error form__error--no-min-height"></div>
          </div>
        </div>
        <div class="col-lg-2">  
          <div class="form__item form__item--submit">
            <button type="submit" class="btn btn-custom" (click)="onConfirmNewPassword()">
                Save
            </button>
            <div class="form__error form__error--no-min-height"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>