.block-container {
    font-family: MuseoSans,sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1.5em;
}
.block-container--with-sides, .row--with-sides {
    padding-left: 32px;
    padding-right: 32px;
}
.btnclose {
    float: right;
    font-size: 50px;
    color: rgba(38,41,44,.6) !important;

  }
  .block-container--white-theme {
    background-color: #fff;
    color: #26292c;
    margin-top: 60px;
}
.text-center {
    text-align: center;
}
.signup-box__title--no-margin {
    margin-top: 0;
}
.signup-box__title--small-margin {
    margin-bottom: 8px;
}

.h3, h3 {
    font-size: 48px;
    line-height: 1.2em;
}
.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
    font-weight: 400;
    margin-bottom: 32px;
}
.signup-box__text {
    margin-bottom: 32px;
}
._typography small:not([class]) {
    font-size: 14px;
    line-height: 1.5em;
}
.small, small {
    font-size: 14px;
    line-height: 1.5em;
    display: inline-block;
}
._typography a:not([class]), ._typography a:not([class]):hover {
    text-decoration: none;
}
.signup-box__text a {
    color: rgba(38,41,44,.6) !important;
}
.block-container--white-theme a {
    color: rgba(38,41,44,.6);
}
.border-cls {
    border-right: solid 1px #777777;
    height: 350px;
}
.signup-box {
    text-align: center;
}
.signup-box__inner {
    margin: 13px 81px 30px;
}
.form--vertical .form__items-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.form__items-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: -10px;
}
.form--vertical .form__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
.form__item {
    margin-bottom: 16px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 250px;
    -ms-flex: 0 1 250px;
    flex: 0 1 250px;
    position: relative;
    overflow: visible;
    margin-right: 10px;
}
.form--vertical .form__field-wrapper {
    border-bottom: 1px solid #aeb5b7;
}
.form__field-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.form--vertical .form__input {
    border: 0;
}
.form__input--with-icon {
    padding-left: 0px !important;
    background-position: 14px center;
    background-repeat: no-repeat;
}

.form__input--large {
    padding: 9px 22px 10px;
}
.form__input {
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid #aeb5b7;
    background: #fff;
    padding: 6px 10px;
    margin: 0;
    color: #26292c;
    font-family: MuseoSans,sans-serif;
    outline: 0;
    border-radius: 0;
    min-width: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 400px;
    -ms-flex: 0 1 400px;
    flex: 0 1 400px;
    -webkit-transition: padding .2s,background-position .2s ease;
    transition: padding .2s,background-position .2s ease;
    width: 100%;
    box-sizing: content-box;
    height: 27px;
    line-height: 27px;
}
.form__field-wrapper>* {
    -webkit-box-flex: 0;
    /*-webkit-flex: 0 0 auto;*/
    -ms-flex: 0 0 auto;
    /*flex: 0 0 auto;*/
}
.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.radio label, .checkbox label {
    min-height: 22px;
    padding-left: 0px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
.checkbox label input[type="checkbox"], .radio label input[type="radio"] {
    display: none;
}
.checkbox .cr, .radio .cr {
    position: relative;
    display: inline-block;
    border: solid 1px #14538e !important;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon, .radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}
.checkbox .cr .cr-icon, .radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}
.btn.btn--small {
    font-size: 14px;
    line-height: 1.5em;
}
.btn.btn {
    font-family: MuseoSans,sans-serif;
    display: inline-block;
    padding: 8px 20px;
    background: 0 0;
    text-align: center;
    outline: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    border: 0;
    cursor: pointer;
    margin: 0;
    color: rgba(38,41,44,.6);
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.5em;
}
.btn-custom {
    float: left !important;
    background: #fff !important;
    color: #14538e !important;
    border: solid 1px #777777 !important;
    border-radius: 60px !important;
    font-weight: 700 !important;
}
.button-div {
    padding: 130px 0px 7px;
}
.button-div .input-group {
    margin-bottom: 10px !important;
}
.fb-input {
    height: 44px !important;
    border: 1px solid #3b5998 !important;
    width: 70% !important;
}
.button-div .input-group {
    margin-bottom: 10px !important;
}
.gleoog-input {
    height: 44px !important;
    border: 1px solid #d34836 !important;
    width: 70% !important;
}
.checkbox label:after, .radio label:after {
    content: '';
    display: table;
    clear: both;
}
.form__field-wrapper--no-spacing>:not(.form__input) {
    padding: 0;
}

.form__input--large {
    padding: 9px 22px 10px;
}
.btn.btn:hover {
    transition: all .15s ease-in-out;
    text-decoration: none;
    color: rgba(38,41,44,.8);
}
.btn-custom:hover {
    background: #8cc739 !important;
}
.fb-input:hover {
    border-color: #66afe9 !important;
    -webkit-box-shadow: none;
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); */
    background: rgba(56, 129, 191, 0.24) !important;
}
.gleoog-input:hover {
    border-color: #b32725;
    outline: 0;
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(154, 18, 15, 0.64); */
    background: rgba(169, 68, 66, 0.07);
}
.fb {
    padding: 6px 22px;
    font-size: 28px !important;
    font-weight: normal;
    line-height: 1;
    color: white !important;
    text-align: center;
    background-color: #3b5998 !important;
    border: none !important;
    /* border-radius: 4px; */
}
.gleoog {
    padding: 6px 12px;
    font-size: 28px !important;
    font-weight: normal;
    line-height: 1;
    color: white !important;
    text-align: center;
    background-color: #d34836 !important;
    border: none !important;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}

/*responsiv*/
@media (max-width: 767px)
{
.block-container {
    font-size: 16px;

}
.block-container--with-sides, .row--with-sides {
    padding-left: 24px;
    padding-right: 24px;
}
}
@media (max-width: 767px) and (min-width: 300px)
{
.button-div {
    padding: 18px 20px!important;
}
}
@media (max-width: 767px) and (min-width: 300px)
{
.border-cls {
    border-right: none !important;
    height: auto;
}
}
@media (max-width: 1024px) and (min-width: 768px)
{
.button-div {
    padding: 130px 10px 9px !important;
}
}
@media (max-width: 767px)
{
.form__input--large {
    padding-top: 12px;
    padding-bottom: 12px;
}
}
@media (max-width: 767px)
{
.form__input {
    font-size: 16px;
    height: 22px;
    line-height: 22px;
}
}


/*floating lables*/

.group { position:relative; margin-bottom: 25px; margin-left: 40px; }

.inputMaterial            {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom: 1px solid #999 !important;
}

.inputMaterial:focus { outline:none;  border-bottom: 1px solid #8cc739 !important;}

/* LABEL ======================================= */

label {
  color:#999; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label {
  top:-20px;
  font-size:14px;
  color: #8cc739;
}

/* BOTTOM BARS ================================= */
.bar { position:relative; display:block; width:315px; }
.bar:before, .bar:after     {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background: #8cc739; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before { left:45%; }
.bar:after { right:50%; }

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after { width:50%; }