<div class="block-container block-container--with-sides">
  <a href="javascript:void(0)" [routerLink]="['/']" class="btnclose">&times;</a>
  <div class="block-container--white-theme row">
    <div class="_typography text-center">
      <h3 class="signup-box__title signup-box__title--no-margin signup-box__title--small-margin">Log In</h3>
      <p class="signup-box__text"><small>New account?</small>
      <a href="javascript:void(0)" [routerLink]="['/signup']">Sign Up</a></p>
    </div>

    <div class="col-md-offset-2 col-md-4 col-sm-6 col-xs-12 border-cls">
      <form class="form-set">
        <div class="group">
          <input class="inputMaterial" type="text" required [(ngModel)]="email" name="email">
          <span class="bar"></span>
          <label>Email</label>
        </div>
        <div class="group">
          <input class="inputMaterial" type="password" required [(ngModel)]="password" #input name="password">
          <span class="bar"></span>
          <label>Password</label>
          <button type="button" class="btn btn--small show-btn" (click)="showPassword(input)">{{show}}
          </button>
        </div>
      
        <div class="checkbox">
          <span class="checkbox">
            <input id="checkbox1" type="checkbox">
            <label for="checkbox1"></label>Remeber Me
          </span>
          <span class="btn-forget"><button type="button" class="btn btn--small" [routerLink]="['/forgetPassword']">Forget Password?</button></span>
        </div>

        <div class="loginbtn">
         <button type="button" class="btn btn--small" [routerLink]="['/resend-verification-code']">Resend Verification Code?</button>
          <button type="submit" class="btn btn-custom" (click)="onLogin()">Log In</button>
        </div>
      </form>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 button-div">
      <div class="input-group">
        <span class="input-group-addon fb" id="basic-addon1"><i class="fa fa-facebook" aria-hidden="true"></i></span>
        <button class="form-control fb-input" aria-describedby="basic-addon1">Continue with Facebook</button>
      </div>
      <div class="input-group">
        <span class="input-group-addon gleoog" id="basic-addon1"><i class="fa fa-google-plus" aria-hidden="true"></i></span>
        <button class="form-control gleoog-input" aria-describedby="basic-addon1">Continue with Google</button>
      </div>
    </div>
  </div>
</div>

<bs-modal #newPasswordpopup [backdrop]="'static'" >
  <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">Edit</h4>
  </bs-modal-header>
  <bs-modal-body>
    <form>
      <div class="form-group">
        <label class="lbl-label">Enter new password</label>
        <input autofocus type="password" class="form-control" #new_password>
      </div>
    </form>
  </bs-modal-body>
  <bs-modal-footer>
    <button class="btn btn-default new-pass-btn" data-dismiss="modal" (click)="newPasswordpopup.dismiss()">Cancel</button>
    <button class="btn btn-success new-pass-btn" (click)="onNext(new_password.value)">Ok</button>
  </bs-modal-footer>
</bs-modal>

<!-- delete pipeline stages popup -->
<bs-modal #forgotPassworsMsgPopup [backdrop]="'static'">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Delete Pipeline</h4>
  </bs-modal-header>
  <bs-modal-body>
    <p>Please check verification code on Email or Phone number</p><br>
    <div class="form-group">
      <label class="lbl-label">Enter verification code</label> 
      <input type="text" autofocus class="form-control" #verificationCode>
    </div>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-danger" (click)="UserAttributeVerificationCode(verificationCode.value)">OK</button>
  </bs-modal-footer>
</bs-modal>