.new-pass-btn{ border: solid 1px !important; }
.lbl-label{position: static;}

/*--------------------*/
.block-container {
    font-family: MuseoSans,sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1.5em;
}
.block-container--with-sides, .row--with-sides {
    padding-left: 32px;
    padding-right: 32px;
}
.btnclose {
  float: right;
  font-size: 50px;
  color: rgba(38,41,44,.6) !important;
}
.block-container--white-theme {
    background-color: #fff;
    color: #26292c;
    margin-top: 60px;
}
.text-center {
    text-align: center;
}
.signup-box__title--no-margin {
    margin-top: 0;
}
.signup-box__title--small-margin {
    margin-bottom: 8px;
}

.h3, h3 {
    font-size: 48px;
    line-height: 1.2em;
}
.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
    font-weight: 400;
    margin-bottom: 32px;
}
.signup-box__text {
    margin-bottom: 32px;
}
._typography small:not([class]) {
    font-size: 14px;
    line-height: 1.5em;
}
.small, small {
    font-size: 14px;
    line-height: 1.5em;
    display: inline-block;
}
._typography a:not([class]), ._typography a:not([class]):hover {
    text-decoration: none;
}
.signup-box__text a {
    color: rgba(38,41,44,.6) !important;
}
.block-container--white-theme a {
    color: rgba(38,41,44,.6);
}
.border-cls {
    border-right: solid 1px #777777;
    height: 350px;
}
.signup-box {
    text-align: center;
}
.signup-box__inner {
    margin: 13px 81px 30px;
}

.checkbox {
  margin-left: 20px;
  float: left;
  padding-left: 15px;
  margin-top: 5px !important;
}
.checkbox label {
  position: absolute;
  top: 4px;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  position: absolute;
  margin-top: 4px;
  margin-left: -29px !important;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out; 
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: -5px;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"] { opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; 
}
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c"; 
}
.checkbox.checkbox-inline { margin-top: 0; }
.btn-forget{ margin-top: 0px;float: right; }
.btn .btn--small { font-size: 14px; line-height: 1.5em; }
.btn.btn {
    font-family: MuseoSans,sans-serif;
    display: inline-block;
    padding: 8px 20px;
    background: 0 0;
    text-align: center;
    outline: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    border: 0;
    cursor: pointer;
    margin: 0;
    color: rgba(38,41,44,.6);
    font-weight: 500;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.5em;
}
.btn-custom {
    float: left !important;
    background: #fff !important;
    color: #14538e !important;
    border: solid 1px #777777 !important;
    border-radius: 60px !important;
    font-weight: 700 !important;
}
.button-div {
   margin: 45px;
}
.button-div .input-group { margin-bottom: 10px !important; }
.fb-input {
    height: 44px !important;
    border: 1px solid #3b5998 !important;
    width: 70% !important;
}
.button-div .input-group { margin-bottom: 10px !important; }
.gleoog-input {
    height: 44px !important;
    border: 1px solid #d34836 !important;
    width: 70% !important;
}

.btn.btn:hover {
    transition: all .15s ease-in-out;
    text-decoration: none;
    color: rgba(38,41,44,.8);
}
.btn-custom:hover { background: #8cc739 !important; }
.fb-input:hover {
    border-color: #66afe9 !important;
    -webkit-box-shadow: none;
    background: rgba(56, 129, 191, 0.24) !important;
}
.gleoog-input:hover {
    border-color: #b32725;
    outline: 0;
    background: rgba(169, 68, 66, 0.07);
}
.fb {
  padding: 6px 22px;
  font-size: 28px !important;
  font-weight: normal;
  line-height: 1;
  color: white !important;
  text-align: center;
  background-color: #3b5998 !important;
  border: none !important;
}
.gleoog {
  padding: 6px 12px;
  font-size: 28px !important;
  font-weight: normal;
  line-height: 1;
  color: white !important;
  text-align: center;
  background-color: #d34836 !important;
  border: none !important;
}
a:focus, a:hover { color: #23527c; text-decoration: none; }
.group { position:relative; margin-bottom: 25px; margin-left: 40px; }
.inputMaterial{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom: 1px solid #999 !important;
}

.inputMaterial:focus { outline:none;  border-bottom: 1px solid #8cc739 !important;}
label {
  color:#999; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label {
  top:-20px; font-size:14px; color: #8cc739;
}

/* BOTTOM BARS ================================= */
.bar { position:relative; display:block; width:315px; }
.bar:before, .bar:after     {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background: #8cc739; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before { left:45%; }
.bar:after { right:50%; }

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after { width:50%; }
.loginbtn{ padding: 10px 40px; }
.show-btn { position: absolute; top: 10px; right: -3px; left: 230px; }
.form-set{ display: inline-block; }

/*responsiv*/
@media (max-width: 1100px){
  .group {
    position: relative;
    margin-bottom: 25px;
    margin-left: 0px !important;
  }
}

@media (max-width: 767px){
  .block-container { font-size: 16px; }
  .block-container--with-sides, .row--with-sides { padding-left: 24px; padding-right: 24px; }
}

@media (max-width: 767px) and (min-width: 200px) { .button-div { margin: 35px !important; } }

@media (max-width: 767px) and (min-width: 200px){
  .border-cls { border-right: none !important; height: auto; }
  .show-btn { position: absolute; top: 5px; right: 20px; }
}

@media (max-width: 1024px) and (min-width: 768px){
  .button-div { padding:48px 24px !important; margin: 0px; }
  .group { position: relative; margin-bottom: 25px; margin-left: 0px; }
}

@media (max-width: 767px){
  .form__input--large {
      padding-top: 12px;
      padding-bottom: 12px;
  }
  .group {
      position: relative;
      margin-bottom: 25px;
      margin-left: 0px !important;
  }
}

@media (max-width: 767px){
  .form__input {
      font-size: 16px;
      height: 22px;
      line-height: 22px;
  }
}

@media (max-width: 475px){
  .signup-box__inner {
      margin: 0px;
  }
}