<div class="block-container block-container--with-sides">
  <div class="block-container--white-theme row">
    <h1></h1>
    <div class="col-md-offset-2 col-md-4 col-sm-6 col-xs-12">
      <form class="form-set">
        <div class="group">
          <input class="inputMaterial" type="text" required name="email" [(ngModel)]="email">
          <span class="bar"></span>
          <label>Enter Email Address</label>
        </div>
        <div class="loginbtn">
          <button type="submit" class="btn btn-custom" (click)="onBack()">Back</button>&nbsp;&nbsp;
          <button type="submit" class="btn btn-custom" (click)="onNext()">Next</button>
        </div>
      </form>
    </div>
  </div>
</div>