<div class="block-container block-container--with-sides">
  <a href="javascript:void(0)" class="btnclose" [routerLink]="['/']">&times;</a>
  <div class="block-container--white-theme row">
    <div class="_typography text-center">
      <h3 class="signup-box__title signup-box__title--no-margin signup-box__title--small-margin">Sign Up</h3>
      <p class="signup-box__text"><small>Already have a account?</small>
      <a href="javascript:void(0)" [routerLink]="['/login']">Login</a></p>
    </div>
    <div class="col-md-offset-2 col-md-4 col-sm-6 col-xs-12 border-cls">
      <form class="form-set" [formGroup]="signupForm">
        <div class="group">
          <input class="inputMaterial" type="text" required formControlName="name">
          <span class="bar"></span>
          <label>Name</label>
        </div>

        <div class="group">
          <input class="inputMaterial" type="email" required formControlName="email">
          <span class="bar"></span>
          <label>Email</label>
          <span style="color: #8cc739;" *ngIf="signupForm.controls.email.invalid && (signupForm.controls.email.dirty)">
            Enter valid email
          </span>
        </div>

        <div class="group">
          <input class="inputMaterial" type="password" required #input formControlName="password">
          <span class="bar"></span>
          <label>Password</label>
          <button type="button" class="btn btn--small show-btn" (click)="showPassword(input)">{{show}}
          </button>
        </div>

        <div class="loginbtn">
          <button type="submit" class="btn btn-custom" (click)="onRegister()">Sign Up</button>
        </div>
      </form>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 button-div">
      <div class="input-group">
        <span class="input-group-addon fb" id="basic-addon1"><i class="fa fa-facebook" aria-hidden="true"></i></span>
        <button class="form-control fb-input" aria-describedby="basic-addon1">
          Continue with Facebook
        </button>
      </div>
      <div class="input-group">
        <span class="input-group-addon gleoog" id="basic-addon1"><i class="fa fa-google-plus" aria-hidden="true"></i></span>
        <button class="form-control gleoog-input" aria-describedby="basic-addon1">
          Continue with Google
        </button>
      </div>
    </div>
  </div>
</div>