<!-- add new activity -->
<bs-modal #addActivity [backdrop]="'static'" class="ng-modal model-width">
  <bs-modal-header (click)="reset_fields(activityForm)" [showDismiss]="true">
    <h4 class="modal-title">{{ activity_modal_value ? 'Schedule an activity' : 'Edit activity'}}</h4>
  </bs-modal-header>
  <bs-modal-body>
    <div class="row">
      <div class="col-md-4">
        <div class="show-date">
          <span>{{ viewDate | calendarDate:(view_ + 'ViewTitle'):'en' }}</span><br>
          <div class="row text-center">
            <div class="btn-group">
              <div
                class="btn btn-success btn-sm"
                mwlCalendarPreviousView
                [view]="view_"
                [(viewDate)]="viewDate"
                (click)="next_pre()">
                Previous
              </div>
              <div
                class="btn btn-outline-secondary btn-sm"
                mwlCalendarToday
                [(viewDate)]="viewDate"
                (click)="next_pre()">
                Today
              </div>
              <div
                class="btn btn-success btn-sm"
                mwlCalendarNextView
                [view]="view_"
                [(viewDate)]="viewDate"
                (click)="next_pre()">
                Next
              </div>
            </div>
          </div>
        </div>        
        <div class="agendaGrid">
          <div [ngSwitch]="view_">
            <mwl-calendar-day-view
              *ngSwitchCase="'day'"
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh_"
              (eventTimesChanged)="eventTimesChanged_($event)">
            </mwl-calendar-day-view>
          </div>
        </div>
      </div>
      <div class="col-md-8 scroll-ondetailform">
        <form [formGroup]="activity_form" #activityForm="ngForm">
          <div class="btn-group btn-groupcustom" role="group">
            <button type="button" class="btn btn-default {{icon.tooltip_name === active_class ? 'active' : ''}}" tooltip="{{icon.tooltip_name}}" placement="bottom"  
              *ngFor="let icon of fa_icon_list"
              (click)="activityM(icon.tooltip_name, icon.fa_fa_icon, icon.uuid)">
                <i class="{{icon.fa_fa_icon}}" aria-hidden="true"></i>
            </button>
            <input type="hidden" name="activity_fa_fa_icon" [ngModel]="activity_fa_fa_icon" 
              formControlName="activity_fa_fa_icon">
            <input type="hidden" name="activity_field_uuid" [ngModel]="activity_field_uuid" 
              formControlName="activity_field_uuid">
          </div>
          <div class="form-group">
            <input type='text' class="form-control" autofocus name="activityTitle" placeholder="{{activity_placeholder_name}}"  (keyup)="keyPress_onActivity_inputField($event,activity_placeholder_name)" formControlName="activityTitle">
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label>DATE</label>
              <input size="16" type="date" class="custom-form form-control date-activity" 
                name="activity_date" [(ngModel)]="activity_date" formControlName="activity_date" 
                  (change)="change_activity_date($event)">
              <span class="add-on"><i class="icon-remove"></i></span>
              <span class="add-on"><i class="icon-th"></i></span>
            </div>
            <div class="form-group col-md-4">
              <label>Starts at</label>
              <mwl-demo-utils-date-time-picker
                [(ngModel)]="events[0].start"
                formControlName="activity_start_time"
                (ngModelChange)="change_start_time($event)"
                placeholder="Not set">
              </mwl-demo-utils-date-time-picker>
            </div>
            <div class="form-group col-md-4">
              <label>Ends at</label>
              <mwl-demo-utils-date-time-picker
                [(ngModel)]="events[0].end"
                formControlName="activity_end_time"
                (ngModelChange)="change_end_time($event)"
                placeholder="Not set">
              </mwl-demo-utils-date-time-picker>
            </div>
          </div>
          
          <quill-editor name="activity_editor" formControlName="activity_editor" 
            [ngModel]="activity_editor"></quill-editor>

          <div class="form-group">
            <label>ASSIGNED TO</label>
            <select class="form-control" name="owner_id" [ngModel]="owner_id" (change)="get_owner_name($event);" formControlName="owner_id">
              <option *ngFor="let user of user_list_data" [value]="user.email">
                {{ user.email == selected_owner_id ? user.nickname + '(you)' : user.nickname }}
              </option>
            </select>
          </div>

          <div class="form-group place-input">
            <label>LINKED TO</label>
            <div class="inner-addon right-addon">
              <i class="fa fa-times" aria-hidden="true"></i>
              <input ngui-auto-complete [ngModelOptions]="{standalone: true}"
                [(ngModel)]="selected_deal_data" (focusout)="focusOut_()" (focus)="focusIn_()"
                (valueChanged)="valueChanged_deal_obj($event)"
                [source]="observableSourceDealName.bind(this)" z-index="4" min-chars="1"
                class="form-control contact-person" list-formatter="deal_title" />
                <p class="validation_apply" [hidden]="!validation_field" >Deal name is required</p>
                <span class="foo"><img src="assets/images/icon-input1.png"></span>
            </div>
          </div>

          <div class="form-group place-input">
            <div class="inner-addon right-addon">
              <i class="fa fa-times" aria-hidden="true"></i>
              <input type="text" class="form-control" name="person_name" [ngModel]="person_name"
                formControlName="person_name">
              <span class="foo"><img src="assets/images/icon-user.png"></span>
            </div>
          </div>
          
          <div class="form-group place-input ">
            <div class="inner-addon right-addon">
              <i class="fa fa-times" aria-hidden="true"></i>
              <input type="text" class="form-control" name="contact_organization_name" 
                [ngModel]="contact_organization_name" formControlName="contact_organization_name">
              <span class="foo"><img src="assets/images/icon-keys.png"></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </bs-modal-body>
  <bs-modal-footer>
    <span class="dropdown pull-left " *ngIf="!activity_modal_value">
      <button class="btn dropdown-toggle btn-default" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
        <ul class="dropdown-menu  model-arrow ">
          <li><a href="javascript:void(0)">Delete</a></li>
        </ul>
    </span>
    <ul class="list-inline pull-right"> 
      <li>
        <div class="checkbox checkbox-primary">
          <input id="checkbox2" type="checkbox" [(ngModel)]="activity_status" (change)="markAllDone()" checked>
          <label for="checkbox2"><span class="signup-condition">Mark All Done</span></label>
        </div>
      </li>
      <li><button class="btn btn-default" (click)="reset_fields(activityForm)">Cancel</button></li>
      <li><button class="btn btn-success" (click)="create_new_activity(activityForm, activity_modal_value)">Save</button></li>
    </ul>
  </bs-modal-footer>
</bs-modal>