.date-activity { margin-top: 27px; }
/*modal css*/
.btn-success {
    color: #fff;
    background-color: #8cc739 !important;
    border-color: #8cc739 !important;
}
li{ list-style-type: none; cursor: pointer; }

ul { padding: 0px;}
.inner-addon { position: relative; }

.left-addon .icon {
    left: 0px;
    color: black;
    z-index: 1243;
}
.inner-addon .icon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.validation_apply{
  color: red;
}

.show-call li
{
    background: #8cc739;
    color: #fff;
    padding: 5px 15px;
    margin: 15px;
    border-radius: 5px;
}
.agendaGrid { overflow: auto; margin-right: -15px; }
.btn-groupcustom
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.foo
{
    position: absolute;
    top: 5px;
    left: 5px;
}
.place-input .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.right-addon .fa {right: 0px;}
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.show-date { padding: 15px; }
.scroll-ondetailform{ height: 500px; overflow: auto; }
/* end modal css*/

/*Checkbox css*/
.checkbox {
  padding-left: 20px; 
  margin:0px;
}
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px; 
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out; 
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555; 
}
.checkbox input[type="checkbox"] {
    opacity: 0;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -2px; 
}
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c"; 
}
.checkbox input[type="checkbox"]:disabled + label { opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed; 
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%; 
}
.checkbox.checkbox-inline { margin-top: 0; }
.checkbox-info input[type="checkbox"]:checked + label:hover 
{
    border-color: #8cc739;
}
.checkbox-info input[type="checkbox"]:checked + label::before 
{
    background-color: #8cc739;
    border-color: #f3f5f6;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #f3f5f6;
}
/* checkbox end css*/
.checkbox-primary{position: initial;}
.model-arrow :after {
    content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: #fff;
    border-right: 1px solid rgba(158, 158, 158, 0.55);
    border-bottom: 1px solid rgba(158, 158, 158, 0.34);
    z-index:-1;
    -webkit-transform: rotate(45deg);
    transform: rotate(-134deg);
    top: -6px;
    left: 10px;
}
 .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #8cc739 !important;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    /*display: none;*/
    float: left;
    min-width: 100px !important;
    padding: 5px 0;
    margin: 15px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}