/* everyone */
.btn-success {
    color: #fff;
    background-color: #8cc739 !important;
    border-color: #8cc739 !important;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 2px;
}

.custom-dropdown
{
    min-width: 300px !important;
    left: initial!important;
    right: 0px !important;
    cursor: pointer;
    padding-bottom: 5px;
}
.bttn-clss
{
    width: 100%;
}
.user-clss
 {
    background: rgba(153, 153, 153, 0.38);
    padding: 6px 15px;
}
.inner-ul {
    font-size: 15px;
}
.inner-ul li:hover {
    background: #8cc739 !important;
    color: white !important;
}
li
{
    list-style-type: none;
    cursor: pointer;
}
.inner-ul li{
    padding: 5px 25px;
}
.inner-ul li i {
    margin-right: 15px;
}
ul {
    padding: 0px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: transparent;
}
.inner-ul li{ margin-right: 15px; }

.pipe-drop
{
  left: initial;
  right: 0px;
}
.pipe-drop li
{
  font-size: 13px;
}
/* everyone end*/

/*modal css*/
.btn-success {
    color: #fff;
    background-color: #8cc739 !important;
    border-color: #8cc739 !important;
}
li{ list-style-type: none; cursor: pointer; }

ul { padding: 0px;}
.inner-addon { position: relative; }

.left-addon .icon {
    left: 0px;
    color: black;
    z-index: 1243;
}
.inner-addon .icon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.Date-section
{
  border-right: solid 1px #ddd;
  height: 500px;
}
.show-call li
{
    background: #8cc739;
    color: #fff;
    padding: 5px 15px;
    margin: 15px;
    border-radius: 5px;
}
.agendaGrid { overflow: auto; margin-right: -15px; }
.btn-groupcustom
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.foo
{
    position: absolute;
    top: 5px;
    left: 5px;
}
.place-input .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.right-addon .fa {right: 0px;}
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.show-date { padding: 15px; }
.scroll-ondetailform{ height: 500px; overflow: auto; }
/* end modal css*/

/*Checkbox css*/
.checkbox {
  padding-left: 20px; 
  margin:0px;
}
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px; 
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out; 
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555; 
}
.checkbox input[type="checkbox"] {
    opacity: 0;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -2px; 
}
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c"; 
}
.checkbox input[type="checkbox"]:disabled + label { opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed; 
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%; 
}
.checkbox.checkbox-inline { margin-top: 0; }
.checkbox-info input[type="checkbox"]:checked + label:hover 
{
    border-color: #8cc739;
}
.checkbox-info input[type="checkbox"]:checked + label::before 
{
    background-color: #8cc739;
    border-color: #f3f5f6;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #f3f5f6;
}
.wrapp{margin-top: 60px}

@media (min-width: 768px) and (max-width:1169px)
{
.wrapp{
    margin-top: 130px;
}
}
@media (max-width: 520px)
{
.custom-dropdown{ min-width: 240px !important;}
}