<app-header></app-header>
<section class="wrapp">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <ul class="list-inline">
          <li>
            <div class="btn-group">
              <!-- <button type="button" class="btn btn-default" tooltip="List" placement="bottom" [routerLink]="['list']" routerLinkActive="active">
                <i class="fa fa-list" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-default" tooltip="Calendar" placement="bottom" [routerLinkActiveOptions]="{exact: true}" 
                [routerLink]="['calendar']" routerLinkActive="active">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </button> -->
              <button type="button" class="btn btn-default" tooltip="List" placement="bottom">
                <i class="fa fa-list" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-default" tooltip="Calendar" placement="bottom" 
                [routerLink]="['/dashboard/activity']" routerLinkActive="active">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </button>
            </div>
            <button type="button" class="btn btn-success custom-btn" 
              (click)="open_activity_modal()">
              Add activity
            </button>
          </li>
        </ul>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4 header-btn text-right">
        <ul class="list-inline">
          <li><img class="loader_img" src="assets/images/Loading_icon.gif" [hidden]="!loader_image"></li>
          <li>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle custom-btn" type="button"
                data-toggle="dropdown">
                <i class="fa fa-outdent" aria-hidden="true"></i>&nbsp;<strong>Everyone</strong>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu custom-dropdown menu" aria-labelledby="dropdownMenu1">
                <li>
                  <form class="navbar-form" role="search">
                    <div class="input-group bttn-clss">
                      <input type="text" class="form-control Search"  placeholder="Search">
                    </div>
                  </form>
                </li>
                <li>
                  <div class="user-clss">User</div>
                  <ul class="inner-ul">
                    <li>Everyone<span class="pull-right icon-check">
                      <i class="fa fa-check" aria-hidden="true"></i></span>
                    </li>
                    <li><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; User (you)</li>
                    <li><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; User2</li>
                  </ul>
                </li>
                <li>
                  <div class="user-clss">Filter</div>
                  <ul class="inner-ul">
                    <li><i class="fa fa-lock" aria-hidden="true"></i> All Deleted Deals</li>
                    <li><i class="fa fa-lock" aria-hidden="true"></i> All lost Deals</li>
                    <li><i class="fa fa-lock" aria-hidden="true"></i> All Open Deals</li>
                    <li><i class="fa fa-lock" aria-hidden="true"></i> All Won Deals</li>
                    <li><i class="fa fa-lock" aria-hidden="true"></i> More Than 3 month Old Deals</li>
                    <li><i class="fa fa-lock" aria-hidden="true"></i> Rotten Deals</li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li>
                  <a href=""><i class="fa fa-plus" aria-hidden="true"></i><span>&nbsp; &nbsp;Add new Filter</span></a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle custom-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><strong><i class="fa fa-ellipsis-h" aria-hidden="true"></i></strong>
              </button>
              <ul class="dropdown-menu pipe-drop inner-ul" aria-labelledby="dropdownMenu1">
                <li>Export filter result</li>
                <li>Data import on </li>
                <li>show on</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="btn-group ">
          <button type="button" class="btn btn-default {{for_active}}" (click)='for_all()'>
            All
          </button>
          <button type="button" class="btn btn-default btn-active
            {{icon.tooltip_name === for_icon ? active_class: ''}}"
            tooltip="{{icon.tooltip_name}}"
            (click)="filter_activities(icon.tooltip_name)" placement="bottom"
            *ngFor="let icon of fa_fa_icon_list">
            <i class="{{icon.fa_fa_icon}}" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="btn-group pull-right btn-active">
          <button type="button" class="btn btn-default active">Today</button>
          <button type="button" class="btn btn-default">Tomorrow</button>
          <button type="button" class="btn btn-default">yesterday</button>
          <button type="button" class="btn btn-default">Today</button>
          <button type="button" class="btn btn-default">Tomorrow</button>
          <button type="button" class="btn btn-default">yesterday</button>          
        </div>
      </div>
    </div>
  </div>
  <br>
</section>
<!-- activity calendar(month, week, day) -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view_activity"
          [(viewDate)]="viewDate_activity">
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate_activity">
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view_activity"
          [(viewDate)]="viewDate_activity">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h4>{{ viewDate_activity | calendarDate:(view_activity + 'ViewTitle'):'en' }}</h4>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="view_activity = 'month'"
          [class.active]="view_activity === 'month'">
          Month
        </div>
        <div
          class="btn btn-primary"
          (click)="view_activity = 'week'"
          [class.active]="view_activity === 'week'">
          Week
        </div>
        <div
          class="btn btn-primary"
          (click)="view_activity = 'day'"
          [class.active]="view_activity === 'day'">
          Day
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div [ngSwitch]="view_activity">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate_activity"
    [events]="events_activity"
    [refresh]="refresh_activity"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate_activity"
    [events]="events_activity"
    [refresh]="refresh_activity"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate_activity"
    [events]="events_activity"
    [refresh]="refresh_activity"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>

<!-- add new activity modal popup -->
<app-modal-popup #my_modal_popup (sendActivityEvent)="showEvents()"></app-modal-popup>