.row { margin-right: 0px; }
.loader_img{ float: right; margin-top: -20px;}
.remove_pic{ text-decoration: none; }
.file-upload { border: 1px solid #c2c8cd; }
.main-panle
{
    border: solid 1px #ccc;
    padding: 15px;
    margin-top: 3px;
    background: #fff;
}
/* .main-panle li
{
    padding: 5px 8px 10px;
} */
.loader_img{
 height: 32px;
}
.main-panle li a
{
    font-size: 15px ;
    color: black !important;
}
.tabs-left, .tabs-right {
  border-bottom: none !important;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd !important;
}
.tabs-right {
  border-left: 1px solid #ddd !important;
}
.tabs-left>li, .tabs-right>li {
  float: none !important;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px !important;
}
.tabs-right>li {
  margin-left: -1px !important;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd !important;
  border-right-color: transparent !important;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
  border-bottom: 1px solid #ddd !important;
  border-left-color: transparent !important;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0 !important;
  display:block;
}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}
.vertical-text {
  margin-top:50px;
  border: none !important;
  position: relative !important;
}
.vertical-text>li {
  height: 20px;
  width: 120px;
  margin-bottom: 100px;
}
.vertical-text>li>a {
  border-bottom: 1px solid #ddd !important;
  border-right-color: transparent !important;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}
.vertical-text>li.active>a,
.vertical-text>li.active>a:hover,
.vertical-text>li.active>a:focus {
  border-bottom-color: transparent !important;
  border-right-color: #ddd !important;
  border-left-color: #ddd !important;
}
.vertical-text.tabs-left {
  left: -50px;
}
.vertical-text.tabs-right {
  right: -50px;
}
.vertical-text.tabs-right>li {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.vertical-text.tabs-left>li {
  -webkit-transform: rotate(-90deg) !important;
  -moz-transform: rotate(-90deg) !important;
  -ms-transform: rotate(-90deg) !important;
  -o-transform: rotate(-90deg) !important;
  transform: rotate(-90deg) !important;
}
.tab-content h4
{
    font-size: 21px;
    font-weight: 700;
}
hr {
    margin-top: 10px !important; 
    margin-bottom: 10px !important;
    border: 0;
    border-top: 1px solid #cccccc !important;
}
.tab-content label
{
    text-align: right;
    margin-top: 5px;
}
.editname a
{
    color: #337ab7 !important
}
.nav-tabs > li > a {
   /*  margin-right: 50px !important; */
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.drag-panle h4
{
     float: left;
    margin: 6px 15px 0px 1px; 
}
.drag-panle 
{
    margin: 0px 0px 35px;
}
.stages-sortable li .stage-block {
    background: transparent url(../../assets/images/stage-cone-large.png) right center no-repeat;
    padding: 10px 37px 12px 10px;
    text-align: left;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.stages-sortable-container, .customize-columns, .add-item-inpage, .solve-puzzle {
    background: #e0e4e7;
    border-bottom: 1px solid #e0e4e7;
    padding: 20px 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.stages-sortable li .stage-block:hover {
    background: transparent url(../../assets/images/stage-cone-large-hover.png) right center no-repeat;
}
.stage-block a
{
    color: #337ab7 !important;
    font-size: 16px;
}
.pipeline-panle {
    border: solid 1px #ccc;
    padding: 15px;
    margin-top: 3px;
    background: #fff;
}
.btn-pipe
{
    background: #fff;
    border: solid 1px #ccc;
    padding:2px 12px !important
}
.stage-decrption h4
{
    margin-left: 17px;
    font-weight: 700;
}
.button-row button
{
    margin-top: 20px !important;
}
.button-pipe button
{
    margin-bottom: -2px;
    border-bottom: none;
}
.stages-sortable-container li
{
    width: 200px !important;
    visibility: visible;
    padding: 0px !important;

}
.stage-row label
{
    text-align: center;
}
.custom-footer
{
    padding: 0px !important; 
    text-align: left !important;
    border-top: none !important;
}
.custom-dialog
{
    width: 460px !important;
}
.modelheader
{
    padding: 8px 15px !important;
}
.icon-cross
{
    color: #bd3737;
}
.delete-stage
{
    background: #fbe1e1;
    padding: 10px;
    font-size: 19px;
}
.default-btn
{
    font-family: inherit !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}
.btn-success {
    color: #ffffff;
    background-color: #8cc739 !important;
    border-color: #8cc739 !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: default;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 6px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 6px 15px !important;
}
.main {
  padding: 20px;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -46%;
  }
  .row-offcanvas-left.active {
    left: 45%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 46%;
    margin-left: 10px;
  }
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.section-wrapper {
   
    overflow-x: hidden;
    margin-top: 60px;
}
.company_modelparagraph
{
  font-size: 13px;
    color: rgba(51, 51, 51, 0.67);
    border-bottom: solid 1px rgba(0, 0, 0, 0.32);
    margin-bottom: 20px;
    padding-bottom: 12px;
}


@media (min-width: 768px) and (max-width:1169px)
{
.section-wrapper[_ngcontent-c1] {
    overflow-x: hidden;
    margin-top: 130px;
}
}