<!-- partial add header -->
<app-header [img_url]="img_url" [username]="cognito_user_name"></app-header>

<section class="section-wrapper">
  <div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="col-md-2 col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <!-- import side menu -->
        <app-side-bar></app-side-bar>
      </div>

      <div class="col-md-10 col-xs-12 col-sm-9 main-panle main">
        <p class="visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
        </p>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <ul class="nav nav-tabs tabs-left tab-panle">
            <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
            <li><a href="#changepassword" data-toggle="tab">Change Password</a></li>
            <li><a href="#defaultcurrency" data-toggle="tab">Default Currency</a></li>
            <li><a href="#company" data-toggle="tab">Companies</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-md-9 col-sm-8">
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
              <img  class="loader_img" src="assets/images/Loading_icon.gif" [hidden]="!loader_image">
              <h4>Your personal settings</h4>
              <hr>
              <form>
                <div class="row">
                  <div class="form-group">
                    <label class="col-md-4">Your Name</label>
                    <div class="col-md-4">
                      <input autofocus="true" type="text" #username value="{{user_object.nickname}}" class="form-control" placeholder="Enter username" autofocus>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="form-group">
                    <label class="col-md-4">Email</label>
                    <div class="col-md-4">
                      <input type="email" value="{{user_object.email}}" #email [readonly]="true" class="form-control" placeholder="Enter email">
                    </div>
                  </div>
                </div>
                <hr>

                <form #formData="ngForm">              
                  <div class="row">
                    <div class="form-group">
                      <label class="col-md-4">Picture (2MB)</label>
                      <div class="col-md-6">
                        <img width="81px" height="71px" src="{{img_url}}">
                         <span class="pull-right">
                          <input type="file" id="imageUpload" class="file-upload" (change)="onChange($event)" accept="image/*">
                        </span>
                        <!-- <p>Curently you don't have a <br> profile picture</p> -->
                      </div>
                      <small class="floatr separate">
                        <a href="javascript:void(0)" class="remove_pic" [hidden]="remove_pic_btn" (click)="removePic()">Remove picture</a>
                      </small>
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="form-group">
                      <label class="col-md-4">Time Zone</label>
                      <div class="col-md-4">
                        <select class="form-control">
                            <option value="1">(-00:00) Africa/Abidjan</option>
                            <option value="2">(-00:00) Africa/Accra</option>
                            <option value="6">(-00:00) Africa/Bamako</option>
                            <option value="8">(-00:00) Africa/Banjul</option>
                            <option value="9">(-00:00) Africa/Bissau</option>
                            <option value="14">(-00:00) Africa/Casablanca</option>
                            <option value="16">(-00:00) Africa/Conakry</option>
                            <option value="17">(-00:00) Africa/Dakar</option>
                            <option value="21">(-00:00) Africa/El Aaiun</option>
                            <option value="22">(-00:00) Africa/Freetown</option>
                            <option value="540">(+00:00) Etc/GMT</option>
                            <option value="32">(-00:00) Africa/Lome</option>
                            <option value="288">(-00:00) Atlantic/Canary</option>
                            <option value="290">(-00:00) Atlantic/Faroe</option>
                            <option value="291">(-00:00) Atlantic/Madeira</option>
                            <option value="292">(-00:00) Atlantic/Reykjavik</option>
                            <option value="294">(-00:00) Atlantic/St Helena</option>
                            <option value="41">(-00:00) Africa/Monrovia</option>
                            <option value="45">(-00:00) Africa/Nouakchott</option>
                            <option value="46">(-00:00) Africa/Ouagadougou</option>
                            <option value="48">(-00:00) Africa/Sao Tome</option>
                            <option value="307">(-00:00) Europe/Dublin</option>
                            <option value="309">(-00:00) Europe/Guernsey</option>
                            <option value="311">(-00:00) Europe/Isle of Man</option>
                            <option value="313">(-00:00) Europe/Jersey</option>
                            <option value="316">(-00:00) Europe/Lisbon</option>
                            <option value="318">(-00:00) Europe/London</option>
                            <option value="92">(-00:00) America/Danmarkshavn</option>
                            <option value="413">(00:00) UTC</option>
                            <option value="675">() Etc/Unknown</option>
                            <option value="560">(-12:00) Etc/GMT+12</option>
                            <option value="555">(-11:00) Etc/GMT+11</option>
                            <option value="374">(-11:00) Pacific/Apia</option>
                            <option value="395">(-11:00) Pacific/Midway</option>
                            <option value="397">(-11:00) Pacific/Niue</option>
                            <option value="400">(-11:00) Pacific/Pago Pago</option>
                            <option value="550">(-10:00) Etc/GMT+10</option>
                            <option value="52">(-10:00) America/Adak</option>
                            <option value="381">(-10:00) Pacific/Fakaofo</option>
                            <option value="388">(-10:00) Pacific/Honolulu</option>
                            <option value="389">(-10:00) Pacific/Johnston</option>
                            <option value="405">(-10:00) Pacific/Rarotonga</option>
                            <option value="407">(-10:00) Pacific/Tahiti</option>
                            <option value="394">(-09:30) Pacific/Marquesas</option>
                            <option value="53">(-09:00) America/Anchorage</option>
                            <option value="600">(-09:00) Etc/GMT+9</option>
                            <option value="125">(-09:00) America/Juneau</option>
                            <option value="385">(-09:00) Pacific/Gambier</option>
                            <option value="153">(-09:00) America/Nome</option>
                            <option value="180">(-09:00) America/Sitka</option>
                            <option value="197">(-09:00) America/Yakutat</option>
                            <option value="595">(-08:00) Etc/GMT+8</option>
                            <option value="93">(-08:00) America/Dawson</option>
                            <option value="131">(-08:00) America/Los Angeles</option>
                            <option value="142">(-08:00) America/Metlakatla</option>
                            <option value="402">(-08:00) Pacific/Pitcairn</option>
                            <option value="173">(-08:00) America/Santa Isabel</option>
                            <option value="191">(-08:00) America/Tijuana</option>
                            <option value="194">(-08:00) America/Vancouver</option>
                            <option value="195">(-08:00) America/Whitehorse</option>
                            <option value="590">(-07:00) Etc/GMT+7</option>
                            <option value="80">(-07:00) America/Boise</option>
                            <option value="81">(-07:00) America/Cambridge Bay</option>
                            <option value="88">(-07:00) America/Chihuahua</option>
                            <option value="94">(-07:00) America/Dawson Creek</option>
                            <option value="95">(-07:00) America/Denver</option>
                            <option value="98">(-07:00) America/Edmonton</option>
                            <option value="113">(-07:00) America/Hermosillo</option>
                            <option value="122">(-07:00) America/Inuvik</option>
                            <option value="139">(-07:00) America/Mazatlan</option>
                            <option value="158">(-07:00) America/Ojinaga</option>
                            <option value="162">(-07:00) America/Phoenix</option>
                            <option value="179">(-07:00) America/Shiprock</option>
                            <option value="700">(-07:00) PST8PDT</option>
                            <option value="445">(-07:00) America/Creston</option>
                            <option value="450">(-07:00) America/Fort Nelson</option>
                            <option value="198">(-07:00) America/Yellowknife</option>
                            <option value="73">(-06:00) America/Bahia Banderas</option>
                            <option value="585">(-06:00) Etc/GMT+6</option>
                            <option value="76">(-06:00) America/Belize</option>
                            <option value="83">(-06:00) America/Cancun</option>
                            <option value="87">(-06:00) America/Chicago</option>
                            <option value="89">(-06:00) America/Costa Rica</option>
                            <option value="100">(-06:00) America/El Salvador</option>
                            <option value="108">(-06:00) America/Guatemala</option>
                            <option value="115">(-06:00) America/Indiana/Knox</option>
                            <option value="118">(-06:00) America/Indiana/Tell City</option>
                            <option value="378">(-06:00) Pacific/Easter</option>
                            <option value="384">(-06:00) Pacific/Galapagos</option>
                            <option value="134">(-06:00) America/Managua</option>
                            <option value="138">(-06:00) America/Matamoros</option>
                            <option value="140">(-06:00) America/Menominee</option>
                            <option value="141">(-06:00) America/Merida</option>
                            <option value="143">(-06:00) America/Mexico City</option>
                            <option value="146">(-06:00) America/Monterrey</option>
                            <option value="155">(-06:00) America/North Dakota/Beulah</option>
                            <option value="156">(-06:00) America/North Dakota/Center</option>
                            <option value="157">(-06:00) America/North Dakota/New Salem</option>
                            <option value="167">(-06:00) America/Rainy River</option>
                            <option value="168">(-06:00) America/Rankin Inlet</option>
                            <option value="170">(-06:00) America/Regina</option>
                            <option value="695">(-06:00) MST7MDT</option>
                            <option value="187">(-06:00) America/Swift Current</option>
                            <option value="188">(-06:00) America/Tegucigalpa</option>
                            <option value="196">(-06:00) America/Winnipeg</option>
                            <option value="530">(-05:00) CST6CDT</option>
                            <option value="580">(-05:00) Etc/GMT+5</option>
                            <option value="71">(-05:00) America/Atikokan</option>
                            <option value="79">(-05:00) America/Bogota</option>
                            <option value="86">(-05:00) America/Cayman</option>
                            <option value="96">(-05:00) America/Detroit</option>
                            <option value="105">(-05:00) America/Grand Turk</option>
                            <option value="109">(-05:00) America/Guayaquil</option>
                            <option value="112">(-05:00) America/Havana</option>
                            <option value="114">(-05:00) America/Indiana/Indianapolis</option>
                            <option value="116">(-05:00) America/Indiana/Marengo</option>
                            <option value="117">(-05:00) America/Indiana/Petersburg</option>
                            <option value="119">(-05:00) America/Indiana/Vevay</option>
                            <option value="120">(-05:00) America/Indiana/Vincennes</option>
                            <option value="121">(-05:00) America/Indiana/Winamac</option>
                            <option value="123">(-05:00) America/Iqaluit</option>
                            <option value="124">(-05:00) America/Jamaica</option>
                            <option value="126">(-05:00) America/Kentucky/Louisville</option>
                            <option value="127">(-05:00) America/Kentucky/Monticello</option>
                            <option value="130">(-05:00) America/Lima</option>
                            <option value="148">(-05:00) America/Montreal</option>
                            <option value="150">(-05:00) America/Nassau</option>
                            <option value="151">(-05:00) America/New York</option>
                            <option value="152">(-05:00) America/Nipigon</option>
                            <option value="159">(-05:00) America/Panama</option>
                            <option value="160">(-05:00) America/Pangnirtung</option>
                            <option value="163">(-05:00) America/Port-au-Prince</option>
                            <option value="171">(-05:00) America/Resolute</option>
                            <option value="435">(-05:00) America/Coral Harbour</option>
                            <option value="190">(-05:00) America/Thunder Bay</option>
                            <option value="192">(-05:00) America/Toronto</option>
                            <option value="84">(-04:30) America/Caracas</option>
                            <option value="535">(-04:00) EST5EDT</option>
                            <option value="287">(-04:00) Atlantic/Bermuda</option>
                            <option value="295">(-04:00) Atlantic/Stanley</option>
                            <option value="54">(-04:00) America/Anguilla</option>
                            <option value="55">(-04:00) America/Antigua</option>
                            <option value="575">(-04:00) Etc/GMT+4</option>
                            <option value="66">(-04:00) America/Argentina/San Luis</option>
                            <option value="69">(-04:00) America/Aruba</option>
                            <option value="70">(-04:00) America/Asuncion</option>
                            <option value="74">(-04:00) America/Barbados</option>
                            <option value="77">(-04:00) America/Blanc-Sablon</option>
                            <option value="78">(-04:00) America/Boa Vista</option>
                            <option value="82">(-04:00) America/Campo Grande</option>
                            <option value="90">(-04:00) America/Cuiaba</option>
                            <option value="91">(-04:00) America/Curacao</option>
                            <option value="97">(-04:00) America/Dominica</option>
                            <option value="99">(-04:00) America/Eirunepe</option>
                            <option value="102">(-04:00) America/Glace Bay</option>
                            <option value="104">(-04:00) America/Goose Bay</option>
                            <option value="106">(-04:00) America/Grenada</option>
                            <option value="107">(-04:00) America/Guadeloupe</option>
                            <option value="110">(-04:00) America/Guyana</option>
                            <option value="111">(-04:00) America/Halifax</option>
                            <option value="128">(-04:00) America/Kralendijk</option>
                            <option value="129">(-04:00) America/La Paz</option>
                            <option value="132">(-04:00) America/Lower Princes</option>
                            <option value="135">(-04:00) America/Manaus</option>
                            <option value="136">(-04:00) America/Marigot</option>
                            <option value="137">(-04:00) America/Martinique</option>
                            <option value="145">(-04:00) America/Moncton</option>
                            <option value="149">(-04:00) America/Montserrat</option>
                            <option value="164">(-04:00) America/Port of Spain</option>
                            <option value="165">(-04:00) America/Porto Velho</option>
                            <option value="166">(-04:00) America/Puerto Rico</option>
                            <option value="172">(-04:00) America/Rio Branco</option>
                            <option value="175">(-04:00) America/Santiago</option>
                            <option value="176">(-04:00) America/Santo Domingo</option>
                            <option value="181">(-04:00) America/St Barthelemy</option>
                            <option value="183">(-04:00) America/St Kitts</option>
                            <option value="184">(-04:00) America/St Lucia</option>
                            <option value="185">(-04:00) America/St Thomas</option>
                            <option value="186">(-04:00) America/St Vincent</option>
                            <option value="189">(-04:00) America/Thule</option>
                            <option value="193">(-04:00) America/Tortola</option>
                            <option value="455">(-04:00) America/Indianapolis</option>
                            <option value="205">(-04:00) Antarctica/Palmer</option>
                            <option value="465">(-04:00) America/Louisville</option>
                            <option value="182">(-03:30) America/St Johns</option>
                            <option value="56">(-03:00) America/Araguaina</option>
                            <option value="57">(-03:00) America/Argentina/Buenos Aires</option>
                            <option value="58">(-03:00) America/Argentina/Catamarca</option>
                            <option value="570">(-03:00) Etc/GMT+3</option>
                            <option value="59">(-03:00) America/Argentina/Cordoba</option>
                            <option value="60">(-03:00) America/Argentina/Jujuy</option>
                            <option value="61">(-03:00) America/Argentina/La Rioja</option>
                            <option value="62">(-03:00) America/Argentina/Mendoza</option>
                            <option value="63">(-03:00) America/Argentina/Rio Gallegos</option>
                            <option value="64">(-03:00) America/Argentina/Salta</option>
                            <option value="65">(-03:00) America/Argentina/San Juan</option>
                            <option value="67">(-03:00) America/Argentina/Tucuman</option>
                            <option value="68">(-03:00) America/Argentina/Ushuaia</option>
                            <option value="72">(-03:00) America/Bahia</option>
                            <option value="75">(-03:00) America/Belem</option>
                            <option value="85">(-03:00) America/Cayenne</option>
                            <option value="101">(-03:00) America/Fortaleza</option>
                            <option value="103">(-03:00) America/Godthab</option>
                            <option value="133">(-03:00) America/Maceio</option>
                            <option value="144">(-03:00) America/Miquelon</option>
                            <option value="147">(-03:00) America/Montevideo</option>
                            <option value="161">(-03:00) America/Paramaribo</option>
                            <option value="169">(-03:00) America/Recife</option>
                            <option value="425">(-03:00) America/Buenos Aires</option>
                            <option value="174">(-03:00) America/Santarem</option>
                            <option value="430">(-03:00) America/Catamarca</option>
                            <option value="177">(-03:00) America/Sao Paulo</option>
                            <option value="440">(-03:00) America/Cordoba</option>
                            <option value="460">(-03:00) America/Jujuy</option>
                            <option value="206">(-03:00) Antarctica/Rothera</option>
                            <option value="470">(-03:00) America/Mendoza</option>
                            <option value="293">(-02:00) Atlantic/South Georgia</option>
                            <option value="565">(-02:00) Etc/GMT+2</option>
                            <option value="154">(-02:00) America/Noronha</option>
                            <option value="286">(-01:00) Atlantic/Azores</option>
                            <option value="289">(-01:00) Atlantic/Cape Verde</option>
                            <option value="545">(-01:00) Etc/GMT+1</option>
                            <option value="178">(-01:00) America/Scoresbysund</option>
                            <option value="4">(+01:00) Africa/Algiers</option>
                            <option value="7">(+01:00) Africa/Bangui</option>
                            <option value="11">(+01:00) Africa/Brazzaville</option>
                            <option value="525">(+01:00) Atlantic/Faeroe</option>
                            <option value="15">(+01:00) Africa/Ceuta</option>
                            <option value="20">(+01:00) Africa/Douala</option>
                            <option value="29">(+01:00) Africa/Kinshasa</option>
                            <option value="30">(+01:00) Africa/Lagos</option>
                            <option value="31">(+01:00) Africa/Libreville</option>
                            <option value="33">(+01:00) Africa/Luanda</option>
                            <option value="36">(+01:00) Africa/Malabo</option>
                            <option value="296">(+01:00) Europe/Amsterdam</option>
                            <option value="297">(+01:00) Europe/Andorra</option>
                            <option value="43">(+01:00) Africa/Ndjamena</option>
                            <option value="299">(+01:00) Europe/Belgrade</option>
                            <option value="44">(+01:00) Africa/Niamey</option>
                            <option value="300">(+01:00) Europe/Berlin</option>
                            <option value="301">(+01:00) Europe/Bratislava</option>
                            <option value="302">(+01:00) Europe/Brussels</option>
                            <option value="47">(+01:00) Africa/Porto-Novo</option>
                            <option value="304">(+01:00) Europe/Budapest</option>
                            <option value="50">(+01:00) Africa/Tunis</option>
                            <option value="306">(+01:00) Europe/Copenhagen</option>
                            <option value="51">(+01:00) Africa/Windhoek</option>
                            <option value="308">(+01:00) Europe/Gibraltar</option>
                            <option value="317">(+01:00) Europe/Ljubljana</option>
                            <option value="319">(+01:00) Europe/Luxembourg</option>
                            <option value="320">(+01:00) Europe/Madrid</option>
                            <option value="321">(+01:00) Europe/Malta</option>
                            <option value="324">(+01:00) Europe/Monaco</option>
                            <option value="326">(+01:00) Europe/Oslo</option>
                            <option value="327">(+01:00) Europe/Paris</option>
                            <option value="328">(+01:00) Europe/Podgorica</option>
                            <option value="329">(+01:00) Europe/Prague</option>
                            <option value="331">(+01:00) Europe/Rome</option>
                            <option value="333">(+01:00) Europe/San Marino</option>
                            <option value="334">(+01:00) Europe/Sarajevo</option>
                            <option value="336">(+01:00) Europe/Skopje</option>
                            <option value="338">(+01:00) Europe/Stockholm</option>
                            <option value="340">(+01:00) Europe/Tirane</option>
                            <option value="342">(+01:00) Europe/Vaduz</option>
                            <option value="343">(+01:00) Europe/Vatican</option>
                            <option value="344">(+01:00) Europe/Vienna</option>
                            <option value="347">(+01:00) Europe/Warsaw</option>
                            <option value="348">(+01:00) Europe/Zagreb</option>
                            <option value="605">(+01:00) Etc/GMT-1</option>
                            <option value="350">(+01:00) Europe/Zurich</option>
                            <option value="412">(+01:00) Arctic/Longyearbyen</option>
                            <option value="256">(+02:00) Asia/Nicosia</option>
                            <option value="10">(+02:00) Africa/Blantyre</option>
                            <option value="12">(+02:00) Africa/Bujumbura</option>
                            <option value="13">(+02:00) Africa/Cairo</option>
                            <option value="23">(+02:00) Africa/Gaborone</option>
                            <option value="24">(+02:00) Africa/Harare</option>
                            <option value="25">(+02:00) Africa/Johannesburg</option>
                            <option value="28">(+02:00) Africa/Kigali</option>
                            <option value="34">(+02:00) Africa/Lubumbashi</option>
                            <option value="35">(+02:00) Africa/Lusaka</option>
                            <option value="37">(+02:00) Africa/Maputo</option>
                            <option value="38">(+02:00) Africa/Maseru</option>
                            <option value="39">(+02:00) Africa/Mbabane</option>
                            <option value="298">(+02:00) Europe/Athens</option>
                            <option value="303">(+02:00) Europe/Bucharest</option>
                            <option value="49">(+02:00) Africa/Tripoli</option>
                            <option value="305">(+02:00) Europe/Chisinau</option>
                            <option value="310">(+02:00) Europe/Helsinki</option>
                            <option value="312">(+02:00) Europe/Istanbul</option>
                            <option value="315">(+02:00) Europe/Kiev</option>
                            <option value="322">(+02:00) Europe/Mariehamn</option>
                            <option value="323">(+02:00) Europe/Minsk</option>
                            <option value="330">(+02:00) Europe/Riga</option>
                            <option value="335">(+02:00) Europe/Simferopol</option>
                            <option value="337">(+02:00) Europe/Sofia</option>
                            <option value="339">(+02:00) Europe/Tallinn</option>
                            <option value="341">(+02:00) Europe/Uzhgorod</option>
                            <option value="345">(+02:00) Europe/Vilnius</option>
                            <option value="349">(+02:00) Europe/Zaporozhye</option>
                            <option value="635">(+02:00) Etc/GMT-2</option>
                            <option value="685">(+02:00) Europe/Busingen</option>
                            <option value="212">(+02:00) Asia/Amman</option>
                            <option value="475">(+02:00) Antarctica/Troll</option>
                            <option value="221">(+02:00) Asia/Beirut</option>
                            <option value="227">(+02:00) Asia/Damascus</option>
                            <option value="232">(+02:00) Asia/Gaza</option>
                            <option value="240">(+02:00) Asia/Jerusalem</option>
                            <option value="3">(+03:00) Africa/Addis Ababa</option>
                            <option value="5">(+03:00) Africa/Asmara</option>
                            <option value="264">(+03:00) Asia/Qatar</option>
                            <option value="267">(+03:00) Asia/Riyadh</option>
                            <option value="18">(+03:00) Africa/Dar es Salaam</option>
                            <option value="19">(+03:00) Africa/Djibouti</option>
                            <option value="26">(+03:00) Africa/Kampala</option>
                            <option value="27">(+03:00) Africa/Khartoum</option>
                            <option value="40">(+03:00) Africa/Mogadishu</option>
                            <option value="42">(+03:00) Africa/Nairobi</option>
                            <option value="314">(+03:00) Europe/Kaliningrad</option>
                            <option value="325">(+03:00) Europe/Moscow</option>
                            <option value="351">(+03:00) Indian/Antananarivo</option>
                            <option value="355">(+03:00) Indian/Comoro</option>
                            <option value="360">(+03:00) Indian/Mayotte</option>
                            <option value="640">(+03:00) Etc/GMT-3</option>
                            <option value="415">(+03:00) Africa/Asmera</option>
                            <option value="420">(+03:00) Africa/Juba</option>
                            <option value="690">(+03:00) Europe/Ulyanovsk</option>
                            <option value="208">(+03:00) Antarctica/Syowa</option>
                            <option value="210">(+03:00) Asia/Aden</option>
                            <option value="217">(+03:00) Asia/Baghdad</option>
                            <option value="218">(+03:00) Asia/Bahrain</option>
                            <option value="495">(+03:00) Asia/Hebron</option>
                            <option value="250">(+03:00) Asia/Kuwait</option>
                            <option value="276">(+03:30) Asia/Tehran</option>
                            <option value="275">(+04:00) Asia/Tbilisi</option>
                            <option value="285">(+04:00) Asia/Yerevan</option>
                            <option value="332">(+04:00) Europe/Samara</option>
                            <option value="346">(+04:00) Europe/Volgograd</option>
                            <option value="357">(+04:00) Indian/Mahe</option>
                            <option value="359">(+04:00) Indian/Mauritius</option>
                            <option value="361">(+04:00) Indian/Reunion</option>
                            <option value="645">(+04:00) Etc/GMT-4</option>
                            <option value="680">(+04:00) Europe/Astrakhan</option>
                            <option value="219">(+04:00) Asia/Baku</option>
                            <option value="230">(+04:00) Asia/Dubai</option>
                            <option value="255">(+04:00) Asia/Muscat</option>
                            <option value="241">(+04:30) Asia/Kabul</option>
                            <option value="260">(+05:00) Asia/Oral</option>
                            <option value="269">(+05:00) Asia/Samarkand</option>
                            <option value="274">(+05:00) Asia/Tashkent</option>
                            <option value="356">(+05:00) Indian/Kerguelen</option>
                            <option value="358">(+05:00) Indian/Maldives</option>
                            <option value="650">(+05:00) Etc/GMT-5</option>
                            <option value="203">(+05:00) Antarctica/Mawson</option>
                            <option value="214">(+05:00) Asia/Aqtau</option>
                            <option value="215">(+05:00) Asia/Aqtobe</option>
                            <option value="216">(+05:00) Asia/Ashgabat</option>
                            <option value="231">(+05:00) Asia/Dushanbe</option>
                            <option value="243">(+05:00) Asia/Karachi</option>
                            <option value="226">(+05:30) Asia/Colombo</option>
                            <option value="485">(+05:30) Asia/Calcutta</option>
                            <option value="246">(+05:30) Asia/Kolkata</option>
                            <option value="500">(+05:45) Asia/Katmandu</option>
                            <option value="245">(+05:45) Asia/Kathmandu</option>
                            <option value="265">(+06:00) Asia/Qyzylorda</option>
                            <option value="277">(+06:00) Asia/Thimphu</option>
                            <option value="284">(+06:00) Asia/Yekaterinburg</option>
                            <option value="352">(+06:00) Indian/Chagos</option>
                            <option value="655">(+06:00) Etc/GMT-6</option>
                            <option value="209">(+06:00) Antarctica/Vostok</option>
                            <option value="211">(+06:00) Asia/Almaty</option>
                            <option value="222">(+06:00) Asia/Bishkek</option>
                            <option value="480">(+06:00) Asia/Barnaul</option>
                            <option value="228">(+06:00) Asia/Dhaka</option>
                            <option value="266">(+06:30) Asia/Rangoon</option>
                            <option value="354">(+06:30) Indian/Cocos</option>
                            <option value="257">(+07:00) Asia/Novokuznetsk</option>
                            <option value="258">(+07:00) Asia/Novosibirsk</option>
                            <option value="259">(+07:00) Asia/Omsk</option>
                            <option value="261">(+07:00) Asia/Phnom Penh</option>
                            <option value="262">(+07:00) Asia/Pontianak</option>
                            <option value="281">(+07:00) Asia/Vientiane</option>
                            <option value="353">(+07:00) Indian/Christmas</option>
                            <option value="660">(+07:00) Etc/GMT-7</option>
                            <option value="200">(+07:00) Antarctica/Davis</option>
                            <option value="220">(+07:00) Asia/Bangkok</option>
                            <option value="234">(+07:00) Asia/Ho Chi Minh</option>
                            <option value="236">(+07:00) Asia/Hovd</option>
                            <option value="238">(+07:00) Asia/Jakarta</option>
                            <option value="510">(+07:00) Asia/Saigon</option>
                            <option value="271">(+08:00) Asia/Shanghai</option>
                            <option value="272">(+08:00) Asia/Singapore</option>
                            <option value="273">(+08:00) Asia/Taipei</option>
                            <option value="279">(+08:00) Asia/Ulaanbaatar</option>
                            <option value="280">(+08:00) Asia/Urumqi</option>
                            <option value="372">(+08:00) Australia/Perth</option>
                            <option value="665">(+08:00) Etc/GMT-8</option>
                            <option value="199">(+08:00) Antarctica/Casey</option>
                            <option value="223">(+08:00) Asia/Brunei</option>
                            <option value="224">(+08:00) Asia/Choibalsan</option>
                            <option value="225">(+08:00) Asia/Chongqing</option>
                            <option value="233">(+08:00) Asia/Harbin</option>
                            <option value="490">(+08:00) Asia/Chita</option>
                            <option value="235">(+08:00) Asia/Hong Kong</option>
                            <option value="244">(+08:00) Asia/Kashgar</option>
                            <option value="247">(+08:00) Asia/Krasnoyarsk</option>
                            <option value="248">(+08:00) Asia/Kuala Lumpur</option>
                            <option value="249">(+08:00) Asia/Kuching</option>
                            <option value="251">(+08:00) Asia/Macau</option>
                            <option value="253">(+08:00) Asia/Makassar</option>
                            <option value="254">(+08:00) Asia/Manila</option>
                            <option value="367">(+08:45) Australia/Eucla</option>
                            <option value="263">(+09:00) Asia/Pyongyang</option>
                            <option value="270">(+09:00) Asia/Seoul</option>
                            <option value="278">(+09:00) Asia/Tokyo</option>
                            <option value="401">(+09:00) Pacific/Palau</option>
                            <option value="670">(+09:00) Etc/GMT-9</option>
                            <option value="229">(+09:00) Asia/Dili</option>
                            <option value="237">(+09:00) Asia/Irkutsk</option>
                            <option value="239">(+09:00) Asia/Jayapura</option>
                            <option value="505">(+09:00) Asia/Khandyga</option>
                            <option value="362">(+09:30) Australia/Adelaide</option>
                            <option value="364">(+09:30) Australia/Broken Hill</option>
                            <option value="366">(+09:30) Australia/Darwin</option>
                            <option value="520">(+10:00) Asia/Ust-Nera</option>
                            <option value="283">(+10:00) Asia/Yakutsk</option>
                            <option value="610">(+10:00) Etc/GMT-10</option>
                            <option value="363">(+10:00) Australia/Brisbane</option>
                            <option value="365">(+10:00) Australia/Currie</option>
                            <option value="368">(+10:00) Australia/Hobart</option>
                            <option value="369">(+10:00) Australia/Lindeman</option>
                            <option value="370">(+10:00) Australia/Lord Howe</option>
                            <option value="371">(+10:00) Australia/Melbourne</option>
                            <option value="373">(+10:00) Australia/Sydney</option>
                            <option value="377">(+10:00) Pacific/Chuuk</option>
                            <option value="387">(+10:00) Pacific/Guam</option>
                            <option value="404">(+10:00) Pacific/Port Moresby</option>
                            <option value="406">(+10:00) Pacific/Saipan</option>
                            <option value="705">(+10:00) Pacific/Bougainville</option>
                            <option value="201">(+10:00) Antarctica/DumontDUrville</option>
                            <option value="715">(+10:00) Pacific/Truk</option>
                            <option value="515">(+11:00) Asia/Srednekolymsk</option>
                            <option value="268">(+11:00) Asia/Sakhalin</option>
                            <option value="282">(+11:00) Asia/Vladivostok</option>
                            <option value="615">(+11:00) Etc/GMT-11</option>
                            <option value="379">(+11:00) Pacific/Efate</option>
                            <option value="386">(+11:00) Pacific/Guadalcanal</option>
                            <option value="391">(+11:00) Pacific/Kosrae</option>
                            <option value="399">(+11:00) Pacific/Noumea</option>
                            <option value="403">(+11:00) Pacific/Pohnpei</option>
                            <option value="710">(+11:00) Pacific/Ponape</option>
                            <option value="202">(+11:00) Antarctica/Macquarie</option>
                            <option value="398">(+11:30) Pacific/Norfolk</option>
                            <option value="620">(+12:00) Etc/GMT-12</option>
                            <option value="375">(+12:00) Pacific/Auckland</option>
                            <option value="382">(+12:00) Pacific/Fiji</option>
                            <option value="383">(+12:00) Pacific/Funafuti</option>
                            <option value="392">(+12:00) Pacific/Kwajalein</option>
                            <option value="393">(+12:00) Pacific/Majuro</option>
                            <option value="396">(+12:00) Pacific/Nauru</option>
                            <option value="408">(+12:00) Pacific/Tarawa</option>
                            <option value="410">(+12:00) Pacific/Wake</option>
                            <option value="411">(+12:00) Pacific/Wallis</option>
                            <option value="204">(+12:00) Antarctica/McMurdo</option>
                            <option value="207">(+12:00) Antarctica/South Pole</option>
                            <option value="213">(+12:00) Asia/Anadyr</option>
                            <option value="242">(+12:00) Asia/Kamchatka</option>
                            <option value="252">(+12:00) Asia/Magadan</option>
                            <option value="376">(+12:45) Pacific/Chatham</option>
                            <option value="625">(+13:00) Etc/GMT-13</option>
                            <option value="380">(+13:00) Pacific/Enderbury</option>
                            <option value="409">(+13:00) Pacific/Tongatapu</option>
                            <option value="630">(+14:00) Etc/GMT-14</option>
                            <option value="390">(+14:00) Pacific/Kiritimati</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="form-group">
                      <label class="col-md-4">Locale</label>
                      <div class="col-md-6">
                        <select class="form-control" name="locale" [(ngModel)]="selectedLocale">
                          <option value="{{l.value}}" *ngFor="let l of locale">{{l.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <hr>

                    <!-- <div class="row">
                      <div class="form-group">
                        <label class="col-md-4">Language</label>
                        <div class="col-md-5">
                          <select class="form-control" name="languages" ngModel [(ngModel)]="selectedLanguage">
                              <option value="Deutsch">Deutsch</option>
                              <option value="Eesti">Eesti</option>
                              <option value="English (US)" >English (US)</option>
                              <option value="Español">Español</option>
                              <option value="8">Français</option>
                              <option value="16">Italiano</option>
                              <option value="12">Nederlands</option>
                              <option value="13">Norsk</option>
                              <option value="11">Polski</option>
                              <option value="7">Português (Brasil)</option>
                              <option value="5">Suomi</option>
                              <option value="10">Türkçe</option>
                              <option value="9">Русский</option>
                              <option value="20">한국어</option>
                          </select>
                        </div>
                      </div>
                    </div> -->
                    <hr>

                  <div class="row">
                    <div class="form-group">
                      <label class="col-md-4">Default currency</label>
                      <div class="col-md-6">
                        <select class="form-control" name="default_currency" ngModel [(ngModel)]="selectedCurrency">
                          <option value="{{currency.Code}}" *ngFor="let currency of allCurrency">{{currency.fullname +"( "+currency.Code+" )"}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <hr>
                </form>

                <div class="col-md-offset-4 col-md-4">
                  <button type="submit" (click)="update_user(username, email, formData)" class="btn btn-success custom-btn">Save</button>
                </div>
              </form>
            </div>

            <div class="tab-pane" id="defaultcurrency">
              <img  class="loader_img" src="assets/images/Loading_icon.gif" [hidden]="!loader_image">
              <h4>Default Currency</h4>
              <hr>

              <form #currencyformData="ngForm">
                <div class="row">
                  <div class="form-group">
                    <label class="col-md-4">Default currency</label>
                    <div class="col-md-6">
                      <select class="form-control" name="default_currency" ngModel [(ngModel)]="selectedCurrency">
                        <option value="{{currency.Code}}" *ngFor="let currency of allCurrency">{{currency.fullname +"( "+currency.Code+" )"}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <hr>
              </form>

              <div class="col-md-offset-4 col-md-4">
                <button type="submit" (click)="update_currency(currencyformData)" class="btn btn-success custom-btn">Save</button>
              </div>
            </div>

            <div class="tab-pane" id="company">
              <span class="pull-left"><h4>Companies</h4>
              <p>Here you can manage companies you are a part of</p>
              </span>
              <!-- <a ><i class="fa fa-plus" aria-hidden="true"></i></a> -->
              <span class="pull-right"><button type="submit" data-toggle="modal" data-target="#company_model" class="btn btn-success custom-btn">Add companies</button></span>
              <table class="table table-hover">
                <tbody>
                  <tr *ngFor="let company of company_list">
                    <td>{{company.company_name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- include change password component html -->
            <div class="tab-pane" id="changepassword">
              <app-change-password></app-change-password>
            </div>

            <div class="modal fade" id="company_model" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add company</h4>
                  </div>
                
                  <div class="modal-body">
                    <p class="company_modelparagraph">Here you can create another, separate Pipedrive account. Once added, you will be able to switch between multiple accounts using a quick dropdown. Please note there is no automatic way to sync or share data across multiple accounts.  Billing is also handled separately for each account.</p>
                    <form [formGroup]="company_form">
                      <div class="form-group row" [ngClass]="{'has-error': company_form.controls.company_name.invalid &&
                        (company_form.controls.company_name.touched || submit)}">
                        <label class="col-md-4 text-right">New account name</label>
                        <div class="col-md-8">
                          <input type="text" name="company_name" formControlName="company_name" class="form-control">
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer" style="text-align: center !important">
                    <button type="button" class="btn btn-success"(click)="save_company_data()">save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>