<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view_activity"
          [(viewDate)]="viewDate_activity">
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate_activity">
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate_activity">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h4>{{ viewDate_activity | calendarDate:(view_activity + 'ViewTitle'):'en' }}</h4>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="view_activity = 'month'"
          [class.active]="view_activity === 'month'">
          Month
        </div>
        <div
          class="btn btn-primary"
          (click)="view_activity = 'week'"
          [class.active]="view_activity === 'week'">
          Week
        </div>
        <div
          class="btn btn-primary"
          (click)="view_activity = 'day'"
          [class.active]="view_activity === 'day'">
          Day
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div [ngSwitch]="view_activity">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate_activity"
    [events]="events_activity"
    [refresh]="refresh_activity"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate_activity"
    [events]="events_activity"
    [refresh]="refresh_activity"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate_activity"
    [events]="events_activity"
    [refresh]="refresh_activity"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>