<app-header (set_org_uuid)="get_org_uuid($event)" [company_logo]="logoOrganizationUrl" [company]="company_name"></app-header>

<section class="section-wrapper wrapp">
  <div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="col-md-2 col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar">
        <app-side-bar></app-side-bar>
      </div>

      <div class="col-md-10 col-xs-12 col-sm-9 main">
        <div class="row">
          <h2>Comapny Setting <span><img class="loader_img" src="assets/images/Loading_icon.gif" [hidden]="!loader_image"></span></h2>
          <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
              <ul class ="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">General</a></li>
                <li><a href="#activity" data-toggle="tab">Activity Type</a></li>
                <li><a href="#currency" data-toggle="tab">Currencies</a></li>
                <li><a href="#lostreson" data-toggle="tab">Lost resons</a></li>
                <li><a href="#companylogo" data-toggle="tab">Company Logo</a></li>
                <li><a href="#follower" data-toggle="tab">Followers</a></li>
                <li><a href="#location" data-toggle="tab">Location</a></li>
                <li><a href="#activity_trigger" data-toggle="tab">Activity Trigger</a></li>
              </ul>
            </div>
            <div id="myTabContent" class="tab-content">
              <div class="pipeline-panle tab-pane fade in active" id="home">
                <p>Here you can change general company related settings.</p>
                <hr>
                <div class="row">
                  <div class="col-md-6 col-xs-6">Company name: <strong>{{company_name}}</strong></div>
                  <div class="col-md-6 col-xs-6"><button type="button" class="btn-xs btn-pipe btn btn-success custom-btn" (click)="editCompanyPopup.open('sm')">Edit company name</button></div>
                </div>
                <hr>
                
              </div>
              <div class="pipeline-panle tab-pane" id="activity">
                <div class="row Activity-row">
                  <p>Here you can customize which types of activities can be used in your company. You can rearrange them by dragging and dropping</p>
                  <div class="user-permission user-activity">
                    <button class="btn btn-default btn-xs  {{active_activities}} " (click)="activate_activity(true)">Activated</button>
                    <button class="btn btn-default btn-xs {{deactive_activity}}" (click)="activate_activity(false)">Deactivated</button>
                    <span class="pull-right"><button (click)="add_activity_popup(true)" class="btn-xs btn-pipe btn btn-success custom-btn">Add Activity type</button></span>
                  </div>
                  <div class="list-view">
                    <ul>
                      <li *ngFor="let list of list_of_activity_fields">
                        <div class="listtable"><a href="javascript:void(0)" (click)="edit_activity_popup(list.label,list.tooltip_name, false, list.uuid)">{{list.label}}</a></div>
                         <div class="listtable Sec-li">
                          <a href="javascript:void(0)" ><i class="{{list.fa_fa_icon}}" aria-hidden="true"></i> {{list.tooltip_name}}</a>
                        </div>
                        <div class="listtable">
                          <span class="pull-right">
                            <a href="javascript:void(0)"  (click)="edit_activity_popup(list.label,list.tooltip_name, false ,list.uuid)">
                              Edit
                            </a>
                            <a href="javascript:void(0)" (click)="activate_deactivate_activity(list.uuid, list.is_activate)">
                              {{ list.is_activate === true ? '· Deactivate' : '· Activate' }}
                            </a>
                          </span>
                        </div>
                      </li>
                    </ul> 
                  </div>
                </div>
              </div>

              <div class="pipeline-panle tab-pane" id="currency">
                <div class="user-permission">
                  <button type="button" class="btn btn-default btn-xs {{currecy_active}}" (click)="activate_currency(true)">Activated</button>
                  <button type="button" class="btn btn-default btn-xs {{currecy_deactive}}" (click)="activate_currency(false)">Deactivated</button>
                  <span class="pull-right">
                   </span>
                </div>
                <div class="table-responsive">
                  <table class="table table-striped" style="width: 100%">
                    <thead>
                      <tr>
                        <th><strong>Full Name</strong></th>
                        <th><strong>Symbol</strong></th>
                        <th><strong>Decimal Point</strong></th>
                        <th><strong>Code</strong></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let org_currency_field of organization_currency_field">
                        <td>{{org_currency_field['fullname']}}</td>
                        <td>{{org_currency_field['Code']}}</td>
                        <td>{{ org_currency_field['decimal_points'] }}</td>
                        <td>{{org_currency_field['Code']}}</td>
                        <td>
                          <span class="showonhover">
                            <a (click)="update_currencyActivation({'is_show': org_currency_field['is_show'] === true ? false : true}, org_currency_field['uuid'])" href="javascript:void(0)">{{ org_currency_field['is_show'] ? 'Deactivate' : 'Activate' }} </a>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="pipeline-panle tab-pane" id="lostreson">
                <div class="row user-permission Activity-row">
                  <p>Here you can manage Lost reasons. When a deal is marked as lost, users can choose between these options</p>
                  <button type="button" class="btn-pipe btn btn-success custom-btn" (click)="initialize_lost_reason_form() || edit_lost_reason_value = true && addPredefinedPopup.open()">Add predefined lost reason</button>
                  <div class="Msg-text" [hidden]='!show_only' >
                    <p class="text-center">
                      There are no predefined lost reasons. Users can enter free-form lost reasons.
                    </p>
                  </div>
                  <div class="table-responsive">
                  <table class="table table-striped" style="width: 100%" *ngIf="lost_reason_field_boolean">
                    <tbody>
                      <tr *ngFor="let lost of lost_reason_field">
                        <td class="lost-td">{{lost.lost_reason}}</td>
                        <td>
                          <span class="showonhover">
                            <a (click)="editLostRes(lost.uuid, lost.lost_reason)" href="javascript:void(0)">Edit</a>
                         </span>
                        </td>
                        <td>
                          <a (click)="lost_reason_deleted(lost.uuid)" href="javascript:void(0)" style="color:red;">Delete</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                </div>
              </div>

              <div class="pipeline-panle tab-pane" id="companylogo">
                <div class="row user-permission Activity-row">
                  <div class="uploadlogo" *ngIf="logoOrganizationUrl!=''">
                    <img src="{{logoOrganizationUrl}}">
                  </div>
                  
                  <div class="col-md-4 img-input">
                    <form #formData="ngForm">
                      <div class="form-group">
                        <input type="file" id="imageUpload" class="file-upload" (change)="onChange($event)" accept="image/*">
                      </div>
                      <button class="btn-xs btn-pipe btn btn-success custom-btn" 
                      type="submit" (click)="logo_update()">Submit</button>
                    </form>
                  </div>
                </div>
              </div>

              <div class="pipeline-panle tab-pane" id="follower">
                <div class="row user-permission Activity-row">
                  <p>Here you can manage Follower.</p>
                  <button type="button" class="btn-pipe btn btn-success custom-btn" (click)="initialize_add_follower_form() || follower_value = true && addFollowerPopup.open()">Add follower</button>
                  <div class="Msg-text" *ngIf="list_of_followers.length==0">
                    <p class="text-center">
                      There are no predefined follower. Users can add.
                    </p>
                  </div>
                  <div class="table-responsive">
                  <table class="table table-striped" style="width: 100%">
                    <tbody>
                      <tr *ngFor="let follow of list_of_followers">
                        <td>{{follow['follower_title']}}</td>
                        <td>
                          <span class="showonhover">
                            <a  href="javascript:void(0)" (click)="editfollowers(follow['follower_title'], follow['uuid'])">Edit</a>
                         </span>
                        </td>
                        <td>
                          <a  href="javascript:void(0)" (click)="delete_followers(follow['uuid'])" style="color:red;">Delete</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                </div>
              </div>

              <div class="pipeline-panle tab-pane" id="location">
                <div class="row user-permission Activity-row">
                  <button type="button" class="btn-pipe btn btn-success custom-btn" (click)="addLocationPopup.open()">Add Location</button>
                  <div class="Msg-text" *ngIf="physical_location_list.length == 0">
                    <p class="text-center">There are no physical location.</p>
                  </div>
                  <div class="table-responsive" *ngIf="physical_location_list.length != 0 ">
                    <table class="table table-striped" style="width: 100%">
                      <thead> 
                        <tr>
                          <th>Name</th>
                          <th>Address</th>
                          <th>Phone number</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let location of physical_location_list">
                          <td>{{location.name}}</td>
                          <td>{{location.address.formatted_address}}</td>
                          <td>{{location.phone_number}}</td>
                          <!-- <td>
                            <span class="showonhover">
                              <a href="javascript:void(0)" (click)="edit_physical_location(location)">Edit</a>
                           </span>
                          </td> -->
                          <td>
                            <a href="javascript:void(0)" style="color:red;" (click)="delete_physical_location(location.uuid)">Delete</a>
                          </td>
                          <td>
                            <a href="javascript:void(0)" style="color:green;" (click)="MapPopup.open('lg') && addMarker(location.address.location, location.address.formatted_address)">Location</a>
                          </td>
                          
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- activity_trigger tab -->
              <div class="pipeline-panle tab-pane" id="activity_trigger">
                <div class="row user-permission Activity-row">
                  <label class="switch">
                    <input type="checkbox" checked [(ngModel)]="is_active" (change)="update_activity_trigger_status(is_active)">
                    <span class="slider round"></span>
                  </label>
                  <form #activityTriggerForm="ngForm">
                    <div class="row" *ngIf="is_active">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Select pipeline</label>
                          <select class="form-control" name="pipeline_uuid" [(ngModel)]="selected_pipeline_uuid" 
                            (change)="get_pipeline_stage($event.target.value)">
                            <option [value]="pipeline.uuid" *ngFor="let pipeline of pipeline_list_arr">{{pipeline.pname}}</option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label>Select stages</label>
                          <select class="form-control" name="stage_uuid" [(ngModel)]="selected_stage_uuid">
                            <option [value]="s.uuid" *ngFor="let s of stages_list">{{s.stage}}</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Select Activity type</label>
                          <select class="form-control" name="activity_type_uuid" [(ngModel)]="selected_activity_type_uuid">
                            <option [value]="icon.uuid" *ngFor="let icon of activity_icon_name">{{icon.label}}</option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label>Select Activity</label>
                          <select class="form-control" name="activity_time" [(ngModel)]="selected_activity_time">
                            <option value="1_hour">After 1 Hour</option>
                            <option value="3_hours">After 3 Hours</option>
                            <option value="1_day">After 1 Day</option>
                            <option value="3_days">After 3 Days</option>
                            <option value="7_days">After 7 Days</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-success" (click)="create_activity_trigger(activityTriggerForm)" *ngIf="is_active">Save</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- add new Lost Reason -->
<bs-modal #addPredefinedPopup [backdrop]="'static'">
  <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">{{edit_lost_reason_value ? 'Add predefined lost reason' : 'Edit lost reason' }}</h4>
  </bs-modal-header>
  <bs-modal-body>
    <form [formGroup]="addLostReasonForm">
      <div class="form-group" [ngClass]="{'has-error': addLostReasonForm.controls.lost_reason.invalid && submit_lost}">
        <label>Lost reason</label>
        <input autofocus type="text" class="form-control" formControlName="lost_reason">
      </div>
    </form>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" (click)="addPredefinedPopup.dismiss()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="addPredefine()">Save</button>
  </bs-modal-footer>
</bs-modal>

<!-- add new pipeline -->
<bs-modal #editCompanyPopup [backdrop]="'static'">
  <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">Edit company name</h4>
  </bs-modal-header>
  <bs-modal-body>
    <div class="form-group">
      <label>Enter a new company name</label>
      <input autofocus type="text" class="form-control" [ngModel]="company_name" #company>
    </div>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" (click)="editCompanyPopup.dismiss()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="update_company(company.value)">Ok</button>
  </bs-modal-footer>
</bs-modal>


<!-- add activity type -->
<bs-modal #activityPopup [backdrop]="'static'">
  <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">{{show_heading}}</h4>
  </bs-modal-header>
  <bs-modal-body>
    <form #activityForm="ngForm">
      <div class="btn-group btn-arrangegroup">
        <button type="button" class="btn btn-default {{icon.tooltip_name === active_class ? active_onclick: ''}} {{icon.tooltip_name === tooltip_name ? active_already : ''}}" data-toggle="tooltip" tooltip="{{icon.tooltip_name}}" 
          data-placement="bottom" *ngFor="let icon of active_fields" (click)="activity_data(icon.tooltip_name, icon.icon)">
          <i class="{{icon.icon}}" aria-hidden="true"></i>
        </button>
      </div>
      <div class="form-group">
        <label>Name</label>
        <input autofocus name="label_name" #label type="text"  class="form-control" [(ngModel)]="label_name">
      </div>
    </form>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" (click)="activityPopup.dismiss()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="create_activity_icon(label.value)">Ok</button>
  </bs-modal-footer>
</bs-modal>

<!-- add follower -->
<bs-modal #addFollowerPopup [backdrop]="'static'">
  <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">{{follower_value ? 'Add follower' : 'Edit follower'}}</h4>
  </bs-modal-header>
  <bs-modal-body>
    <form [formGroup]="addFollowerForm">
      <div class="form-group" [ngClass]="{'has-error': addFollowerForm.controls.follower_title.invalid && submit_follower}">
        <label>Follower title</label>
        <input autofocus type="text" class="form-control" formControlName="follower_title">
      </div>
    </form>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" (click)="addFollowerPopup.dismiss()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="add_followers()">Save</button>
  </bs-modal-footer>
</bs-modal>

<!-- Add physical location -->
<bs-modal #addLocationPopup [backdrop]="'static'">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Add Physical Location</h4>
  </bs-modal-header>
  <bs-modal-body>
    <form [formGroup]="addLocationForm">
      <div class="form-group">
        <label>Name</label>
        <input autofocus type="text" name="name" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label>Phone number</label>
        <input type="text" name="phone_number" class="form-control" formControlName="phone_number">
      </div>
      <div class="form-group">
        <label>Address</label>
        <ng4geo-autocomplete [userSettings]="userSettings2" 
          (componentCallback)="autoCompleteCallback($event)"></ng4geo-autocomplete>
      </div>
      <br><br>
    </form>
  </bs-modal-body>
  <bs-modal-footer>
    <button class="btn btn-default" (click)="addLocationPopup.dismiss()">Cancel</button>
    <button class="btn btn-success" (click)="create_location()">Save</button>
  </bs-modal-footer>
</bs-modal>
<!-- modal popup for google map -->
<bs-modal #MapPopup [backdrop]="'static'">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Add Physical Location</h4>
  </bs-modal-header>
  <bs-modal-body>
    <div id="map"></div>
  </bs-modal-body>
  <bs-modal-footer>
    <button class="btn btn-default" (click)="MapPopup.dismiss()">Cancel</button>
  </bs-modal-footer>
</bs-modal>