#map{ height: 300px; width: 868px; }
.lost-td{word-break: break-all;}
.navbar-default {
    background-color: #3d4145 !important;
    border-color: #e7e7e7 !important;
}
.logo-nav {
    display: block;
}
.active_class1{background-color: red;}
.navbar-brand {
    float: left;
    padding: 10px 3px !important;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.navbar-default .navbar-nav > li > a {
    color: #c2c8cd !important;
    font-size: 14px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 8px 12px !important;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 31px !important;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    /*display: none;*/
    float: left;
    min-width: 100px !important;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.dropdown-menu > li > a {
    display: block;
    padding: 4px 38px !important;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}
.user img {
    height: 34px;
    border-radius: 42px;
    margin-top: 10px;
}
.usertext {
    margin: -20px 40px -18px;
    font-size: 12px;
}
.pad-zero {
    padding: 0px !important;
}
.mobile-logo {
    display: none;
}
.navbar-brand img {
    height: 28px;
    width: 100%;
}
.inner-addon {
    position: relative;
}
.left-addon .icon {
    left: 0px;
    color: black;
    z-index: 1243;
}
.inner-addon .icon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.left-addon input {
    padding-left: 30px;
}
.nav-search {
    width: 20%;
}
.navbar-default .navbar-nav > li > a {
    color: #c2c8cd !important;
    font-size: 14px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #26292c !important;
    color: #fff !important;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #333333 !important;
    background-color: #fff !important;
    height: 50px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
{
    text-decoration: none;
    color: #262626;
    background-color: #8cc739 !important;
}
.Wrapper-header {
    padding: 30px;
}
navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #fff;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.blur-back
{
    opacity: 0.7;
}
.blur-back:focus
{
    opacity: 1;
}
.navbar-right {
    float: right!important;
    margin-right: -30px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #333333 !important;
    background-color: #fff !important;
    height: 50px;
}
.user-name
{
    margin-top: -10px;
}



/*responsive*/
@media (min-width: 300px) and (max-width: 767px)
{
.mobile-logo {
    display: block;
}
.logo-nav {
    display: none;
}
.navbar-brand {
    float: left;
    padding: 10px 15px !important;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.navbar-brand img {
    height: 25px;
    width: auto;
}
.nav-search
 {
    width: 100%;
}
.navbar-right {
    float:left!important;
    margin-right: 0px;
}
}
@media (min-width: 768px) and (max-width: 969px)
{
  .navbar-right {
    float: right!important;
    margin-top: -60px;
     
}
}
@media (min-width: 768px) and (max-width: 1200px)
{
.Wrapper-header {
    padding: 60px;
}
}


.list-group-item a
{
  color: #337ab7 !important;
}
.list-group-item:hover
{
    background: #f3f5f6 !important;
    color: black !important;
}
.list-group-item.active
{
    background: #f3f5f6 !important;
     color: black !important;
     border-color: #ccc !important;
}
.list-group-item.active a
{
    color: black !important;
}
.main-panle
{
    border: solid 1px #ccc;
    padding: 15px;
    margin-top: 3px;
    background: #fff;
}
.default-btn
{
    font-family: inherit !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}
.btn-success {
    color: #ffffff;
    background-color: #8cc739 !important;
    border-color: #8cc739 !important;
}
.btn-default {
    color: #333;
     border-color: #cccccc !important; 
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #d4d4d4;
}
.pipeline-panle {
    border: solid 1px #ccc;
    padding: 20px 25px;
    margin-top: 3px;
    background: #fff;
}
.btn-pipe
{
    background: #fff;
    border: solid 1px #ccc;
    padding:2px 12px !important;
    border-radius: 0px !important;
}
.user_button button {
    margin-right: -5px;
}
.button-pipe button {
    margin-bottom: -2px;
    border-bottom: none;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 6px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.main-panle
{
    border: solid 1px #ccc;
    padding: 15px;
    margin-top: 3px;
    background: #fff;
}
/* .main-panle li
{
    padding: 5px 8px 10px;
} */
.main-panle li a
{
    font-size: 15px ;
    color: black !important;
}
.tabs-left, .tabs-right {
  border-bottom: none !important;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd !important;
}
.tabs-right {
  border-left: 1px solid #ddd !important;
}
.tabs-left>li, .tabs-right>li {
  float: none !important;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px !important;
}
.tabs-right>li {
  margin-left: -1px !important;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd !important;
  border-right-color: transparent !important;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
  border-bottom: 1px solid #ddd !important;
  border-left-color: transparent !important;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0 !important;
  display:block;
}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}
.vertical-text {
  margin-top:50px;
  border: none !important;
  position: relative !important;
}
.vertical-text>li {
  height: 20px;
  width: 120px;
  margin-bottom: 100px;
}
.vertical-text>li>a {
  border-bottom: 1px solid #ddd !important;
  border-right-color: transparent !important;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}
.vertical-text>li.active>a,
.vertical-text>li.active>a:hover,
.vertical-text>li.active>a:focus {
  border-bottom-color: transparent !important;
  border-right-color: #ddd !important;
  border-left-color: #ddd !important;
}
.vertical-text.tabs-left {
  left: -50px;
}
.vertical-text.tabs-right {
  right: -50px;
}
.vertical-text.tabs-right>li {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.vertical-text.tabs-left>li {
  -webkit-transform: rotate(-90deg) !important;
  -moz-transform: rotate(-90deg) !important;
  -ms-transform: rotate(-90deg) !important;
  -o-transform: rotate(-90deg) !important;
  transform: rotate(-90deg) !important;
}
.tab-content h4
{
    font-size: 21px;
    font-weight: 700;
}
hr {
    margin-top: 10px !important; 
    margin-bottom: 10px !important;
    border: 0;
    border-top: 1px solid #cccccc !important;
}
.tab-content label
{
    text-align: right;
    margin-top: 5px;
}
.editname a
{
    color: #337ab7 !important
}
.nav-tabs > li > a {
 line-height: 1.42857143;
    border: 1px solid rgba(153, 153, 153, 0.49);
    border-radius: 4px 4px 0 0;
    border-bottom: none;
}
.drag-panle h4
{
     float: left;
    margin: 1px 10px; 
}
.drag-panle 
{
    margin: 0px 0px 35px;
}
.stages-sortable li .stage-block {
    background: transparent url(../../assets/images/stage-cone-large.png) right center no-repeat;
    padding: 10px 37px 12px 10px;
    text-align: left;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.stages-sortable-container, .customize-columns, .add-item-inpage, .solve-puzzle {
    background: #e0e4e7;
    border-bottom: 1px solid #e0e4e7;
    padding: 20px 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.stages-sortable li .stage-block:hover {
    background: transparent url(../../assets/images/stage-cone-large-hover.png) right center no-repeat;
}
.stage-block a
{
    color: #337ab7 !important;
    font-size: 16px;
}
.btn-pipe
{
    background: #fff;
    border: solid 1px #ccc;
    padding:2px 12px !important
}
.stage-decrption h4
{
    margin-left: 17px;
    font-weight: 700;
}
.button-row button
{
  margin: 30px 20px !important;
}
.button-row h3
{
  margin-left: 15px;
}
.button-pipe button
{
    margin-bottom: -2px;
    border-bottom: none;
}
.stages-sortable-container li
{
    width: 200px !important;
    visibility: visible;
    padding: 0px !important;

}
.stage-row label
{
    text-align: center;
}
.custom-footer
{
    padding: 10px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    background: rgba(204, 204, 204, 0.5);

}
.custom-dialog
{
    width: 400px !important;
}
.modelheader
{
    padding: 8px 15px !important;
}
.icon-cross
{
    color: #bd3737;
}
.delete-stage
{
    background: #fbe1e1;
    padding: 10px;
    font-size: 19px;
}
.default-btn
{
    font-family: inherit !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}
.btn-success {
    color: #ffffff;
    background-color: #8cc739 !important;
    border-color: #8cc739 !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: default;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 6px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 5px 10px !important;
}

/*panel*/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
    background-color: #f5f5f5;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
  background-color: #ddd;
  border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #fff;
  border-color: #ddd;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: transparent;
}
.panel-default {
    border-color: transparent;
}
.nav-tabs {
    border-bottom: 1px solid transparent;
    margin-bottom: -14px;
}
/* Company css */
.panel-heading li a{
    position: relative;
    display: block;
    padding: 2px 10px !important;
}
.user-permission button {
    padding: 1px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 25px;
}
.btn-right {
    float: right;
}
.btn-pipe {
    background: #fff;
    border: solid 1px #ccc;
    padding: 2px 12px !important;
}
.btn-default {
    color: #333333 !important;
    /*background-color: #ffffff !important;*/
    border-color: #cccccc !important;
}
.list-view ul
{
    list-style-type: none;
    padding: 5px;
}
.listtable
{
    width: 33%;
    float: left;
    margin-bottom: 10px;
}
.listtable a
{
    text-decoration: none;
}
.Sec-li a
{
     color: black;
    font-size: 13px;
}
table.list tr:hover td {
    background: #f3f5f6;
}
table.list tr td.functions .showonhover {
    visibility: hidden;
}
table.list tr:hover td.functions .showonhover {
    visibility: visible;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}
.table-striped>tbody>tr:hover{
    background-color: #f3f5f6;
}
.Msg-text
{
    background: #ffd;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid rgba(0,0,0,0.15);
}
.links {
    margin: 20px 0 0 50px;
}
.gray {
    color: #888e94;
}
.green{
    color: #8cc739 !important;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: rgba(221, 221, 221, 0.4);
    color: black;
}
.Edit-ullist
{
    list-style: none;
    padding: 10px 25px;
}
.Editlabel
{
  margin-left: 40px;  
}
.company-para
{
    margin-top: 20px;
}
.table th
{
    font-size: 14px;
    color: #888e94;
    background: #fff;
}
.Activity-row
{
    margin: 0px;
}
.table-responsive {
    min-height: .01%;
    overflow-x: visible;
}

@media (min-width: 300px) and (max-width: 450px)
{
.user-permission button {
    padding: 1px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 25px;
    margin-bottom: 10px !important;
}
.user-activity
{
    float: left;
    margin-bottom: 10px;
}
}
.loader_img{ width: 35px;}
/* activityPopup css */
.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group { }

.uploadlogo img
{
    width: 200px;
  height: 40px;
}
.img-input
{
    margin-top: 15px;
  padding: 0px;
}
.nav-tabs>li>a {
    margin-right: -1px;
}
.wrapp{margin-top: 60px}


@media (min-width: 768px) and (max-width:1169px){
    .wrapp{
        margin-top: 130px;
    }
}

/* togger switch css*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(140, 199, 58);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* togger switch css end*/