.loading-img{vertical-align: middle; max-height: 95px;}
/*--------------------------*/
.main-panle
{
    border: solid 1px #ccc;
    padding: 15px;
    margin-top: 3px;
    background: #fff;
}
/* .main-panle li
{
    padding: 5px 8px 10px;
} */
.main-panle li a
{
    font-size: 15px ;
    color: black !important;
}
.tabs-left, .tabs-right {
  border-bottom: none !important;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd !important;
}
.tabs-right {
  border-left: 1px solid #ddd !important;
}
.tabs-left>li, .tabs-right>li {
  float: none !important;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px !important;
}
.tabs-right>li {
  margin-left: -1px !important;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd !important;
  border-right-color: transparent !important;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
  border-bottom: 1px solid #ddd !important;
  border-left-color: transparent !important;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0 !important;
  display:block;
}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}
.vertical-text {
  margin-top:50px;
  border: none !important;
  position: relative !important;
}
.vertical-text>li {
  height: 20px;
  width: 120px;
  margin-bottom: 100px;
}
.vertical-text>li>a {
  border-bottom: 1px solid #ddd !important;
  border-right-color: transparent !important;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}
.vertical-text>li.active>a,
.vertical-text>li.active>a:hover,
.vertical-text>li.active>a:focus {
  border-bottom-color: transparent !important;
  border-right-color: #ddd !important;
  border-left-color: #ddd !important;
}
.vertical-text.tabs-left {
  left: -50px;
}
.vertical-text.tabs-right {
  right: -50px;
}
.vertical-text.tabs-right>li {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.vertical-text.tabs-left>li {
  -webkit-transform: rotate(-90deg) !important;
  -moz-transform: rotate(-90deg) !important;
  -ms-transform: rotate(-90deg) !important;
  -o-transform: rotate(-90deg) !important;
  transform: rotate(-90deg) !important;
}
.tab-content h4
{
    font-size: 21px;
    font-weight: 700;
}
hr {
    margin-top: 10px !important; 
    margin-bottom: 10px !important;
    border: 0;
    border-top: 1px solid #cccccc !important;
}
.tab-content label
{
    text-align: right;
    margin-top: 5px;
}
.editname a
{
    color: #337ab7 !important
}
.nav-tabs > li > a {
 line-height: 1.42857143;
    border: 1px solid rgba(153, 153, 153, 0.49);
    border-radius: 4px 4px 0 0;
    border-bottom: none;
}
.drag-panle h4
{
     float: left;
    margin: 1px 10px; 
}
.drag-panle 
{
    margin: 0px 0px 35px;
}
.stages-sortable li .stage-block {
    background: transparent url(../../assets/images/stage-cone-large.png) right center no-repeat;
    padding: 10px 37px 12px 10px;
    text-align: left;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.stages-sortable-container, .customize-columns, .add-item-inpage, .solve-puzzle {
    background: #e0e4e7;
    border-bottom: 1px solid #e0e4e7;
    padding: 20px 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.stages-sortable li .stage-block:hover {
    background: transparent url(../../assets/images/stage-cone-large-hover.png) right center no-repeat;
}
.stage-block a
{
    color: #337ab7 !important;
    font-size: 16px;
}
.pipeline-panle {
    border: solid 1px #ccc;
    padding: 15px;
    margin-top: 3px;
    background: #fff;
}
.btn-pipe
{
    background: #fff;
    border: solid 1px #ccc;
    padding:2px 12px !important
}
.stage-decrption h4
{
    margin-left: 17px;
    font-weight: 700;
}
.button-row button
{
  margin: 30px 20px !important;
}
.button-row h3
{
  margin-left: 15px;
}
.button-pipe button
{
    margin-bottom: -2px;
    border-bottom: none;
}
.stages-sortable-container li
{
    width: 200px !important;
    visibility: visible;
    padding: 0px !important;

}
.stage-row label
{
    text-align: center;
}
.custom-footer
{
    padding: 0px !important; 
    text-align: left !important;
    border-top: none !important;
}
.custom-dialog
{
    width: 460px !important;
}
.modelheader
{
    padding: 8px 15px !important;
}
.icon-cross
{
    color: #bd3737;
}
.delete-stage
{
    background: #fbe1e1;
    padding: 10px;
    font-size: 19px;
}
.default-btn
{
    font-family: inherit !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}
.btn-success {
    color: #ffffff;
    background-color: #8cc739 !important;
    border-color: #8cc739 !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: default;
}
/*.btn-default {
    color: #333;
    background-color: #fff;
     border-color: transparent !important; 
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: transparent !important;
}*/
.list-group-item {
    position: relative;
    display: block;
    padding: 6px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 2px 8px !important;
}

/*panel*/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
  background-color: #ddd;
  border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #eee;
  border-color: #ddd;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: transparent;
}
.panel-default {
    border-color: transparent;
}
.nav-tabs {
    border-bottom: 1px solid transparent;
    margin-bottom: -14px;
}
.nav-tabs>li>a {
    margin-right: -1px;
    line-height: 1.42857143;
    border-radius: 4px 4px 0 0;
}
.nav-tabs a:focus {
    outline: transparent;
    outline-offset: -2px;
}
.loader_img {width: 35px;}
.wrapp{margin-top: 60px}
.field-input input{width: 70px;}

@media (min-width: 768px) and (max-width:1169px)
{
.wrapp{
    margin-top: 130px;
}
}