<!-- partial add header -->
<app-header></app-header>

<section class="wrapp">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-xs-12 col-sm-3">
        <!-- import side menu -->
        <app-side-bar></app-side-bar>
      </div>
      <!-- add stage form -->
      <div class="col-md-10 col-xs-12 col-sm-9">
        <div class="row button-row">
          <h3 class="pull-left">Customize sales stages</h3>
          <span class="pull-right">
            <img  class="loader_img" src="assets/images/Loading_icon.gif" [hidden]='!loader_image'>
            <button type="button" class="btn-xs btn-pipe btn btn-success custom-btn" (click)="initialize_form() || pipeline_form_value = true && add_pipeline_popup.open('sm')">Add New pipeline</button>
          </span>
        </div>

        <div class="row" *ngIf='stage_hide'>
          <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
              <ul class ="nav nav-tabs">
                <li [class.active]="i == 0" *ngFor="let pipeline of pipeline_list; let i = index">
                  <a href="#{{pipeline.uuid}}" data-toggle="tab" (click)="show_pipeline_stage(pipeline.uuid)">{{pipeline.pname}} <span class="badge">{{pipeline.count}}</span></a>
                </li>
              </ul>
            </div>

            <div class="tab-content" *ngIf='stage_hide'>
              <div class="pipeline-panle tab-pane fade in active" id="{{pipeline.uuid}}">
                <div class="drag-panle">
                  <h4>{{pipeline.pname}}</h4>
                  <button type="button" class="btn-xs btn-pipe" (click)="pipeline_form_value = false || pipeline_edit(pipeline.uuid, pipeline.pname)">Edit</button>
                  <button type="button" class="btn-xs btn-pipe" *ngIf="pipeline_length > 1" (click)="pipeline_delete_btn(pipeline.uuid)">Delete pipeline</button>
                  <span class="pull-right">
                    <button class="btn-xs btn-pipe btn btn-success custom-btn" (click)="add_stage_popup(pipeline.uuid, null, null, true, null)">Add Stage</button>
                  </span>
                </div>
                <div class="stages-sortable-container">
                  
                  <ul class="list-inline stages-sortable" dnd-sortable-container [sortableData]="pipeline.stages">
                    <li *ngFor="let stage of pipeline.stages; let i = index;" dnd-sortable [sortableIndex]="i" (onDropSuccess)="drag_drop_stages(pipeline.uuid)">
                      <div class="stage-block" (click)="add_stage_popup(pipeline.uuid, stage.sname, stage.uuid , false, pipeline.stages, stage.count, stage)">
                        {{stage.sname}}<br>
                        <small *ngIf="stage.rotting_days!=0">Rot in {{stage.rotting_days}} day</small>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="stage-decrption">
          <h4>About sales stages</h4>
          <div class="col-md-4">
            <h5>Here you can customize the sales stages for your company.</h5>
            <p><small>Please bear in mind that sales stages are shared with all users throughout your company.</small></p>
          </div>
          <div class="col-md-4">
            <h5>Sales stages should be simple, work-flow based, and resemble the activities that need to be accomplished with deals in each stage.</h5>
            <p><small>Here's an example of well defined sales stages: Prospect Contacted › Pain Discovered › Need Specified › Solution Accepted › Price Negotiated</small></p>
          </div>
          <div class="col-md-4">
            <h5>You can re-order the stages on this page by dragging them around and add more stages by clicking the <strong>Add stage</strong> button.</h5>
            <h5>To rename or delete an existing stage, click on the stage name.</h5>
            <p><small>Do not use „Won“ or „Lost“ as sales stages since you can close deals to these stages by default (you can do this inside a specific deal page).</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- model popup Add stage -->
<bs-modal #addstage [backdrop]="'static'">
  <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">{{add_stage_condition ? 'Add Stage' : 'Edit Stage'}}</h4>
  </bs-modal-header>
  <bs-modal-body>
    <div class="form-group">
      <span style="color: red;" *ngIf="err_msg">Cannot save stage information. Some fields contents are invalid or missing.</span>
      <div class="row stage-row">
        <label class="col-md-3">Stage Name</label>
        <div class="col-md-9">
          <input autofocus type="text" class="form-control" [(ngModel)]="edit_stage_name" #addPipeStage>
       </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <ul class="list-inline">
            <li>Deal "rotting"</li>
            <li><input type="radio" (click)="on_rotting_event()" [checked]="on_rotting"> on</li>
            <li><input type="radio" (click)="off_rotting_event()" [checked]="off_rotting"> off</li>
          </ul>
          <ul class="list-inline field-input" *ngIf="on_rotting">
            <li>Display "rotting" after</li>
            <li><input type="number" [(ngModel)]="edit_rotting_days"
                class="form-control"></li>
            <li>days of inactivity</li>
          </ul>
           <ul class="list-inline pull-right">
            <li *ngIf="add_stage_condition">
              <button type="" class="btn btn-success" (click)="create_new_pipeline_stage(addPipeStage.value)">Save</button>
            </li>
            <li *ngIf="!add_stage_condition">
              <button class="btn btn-success" (click)="update_pipeline_stage(addPipeStage.value)">
                Update
              </button>
            </li>
            <li><button class="btn btn-default" (click)="addstage.dismiss()">cancel</button></li>
            <li *ngIf="!add_stage_condition">
              <button class="btn btn-danger" (click)="DeleteStagesPopUp.open() && addstage.dismiss()">
                Delete this stage
              </button>
            </li>
          </ul> 
        </div>
      </div>
    </div>
  </bs-modal-body>
  <bs-modal-footer>
    <p><small>Please bear in mind that sales stages will be shared with all users throughout your company.</small></p>
  </bs-modal-footer>
</bs-modal>
<!-- End add stage -->

<!-- add new pipeline -->
<bs-modal #add_pipeline_popup [backdrop]="'static'">
  <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">{{ pipeline_form_value ? 'Add New Pipeline' : 'Edit Pipeline' }}</h4>
  </bs-modal-header>
  <bs-modal-body>
    <form [formGroup]="addPipelineForm">
      <div class="form-group" [ngClass]="{'has-error': addPipelineForm.controls.pname.invalid && submit}">
        <label>Title of pipeline Name</label> 
        <input type="text" autofocus name="pname" formControlName="pname" class="form-control">
      </div>
    </form>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" (click)="add_pipeline_popup.dismiss()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="create_pipeline()">Ok</button>
  </bs-modal-footer>
</bs-modal>
<!-- end pipeline -->

<!-- Delete popup stages -->
<bs-modal #DeletePopUpPipeline [backdrop]="'static'">
  <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">Delete Pipeline</h4>
  </bs-modal-header>
  <bs-modal-body>
    <div class="form-group">
      <span>Are you sure you want to continue?</span>
    </div>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" (click)="DeletePopUpPipeline.dismiss()">NO</button>
    <button type="button" class="btn btn-danger" (click)="delete_pipeline()">YES</button>
  </bs-modal-footer>
</bs-modal>

<!-- delete pipeline stages popup -->
<bs-modal #DeleteStagesPopUp [backdrop]="'static'" (onDismiss)="dismissed_delete_popup()">
  <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">Delete Pipeline</h4>
  </bs-modal-header>
  <bs-modal-body>
    <div class="form-group">
      <span>Are you sure you want to continue?</span>
    </div>
    <form>
      <div *ngIf="stage_count>0">There are {{stage_count}} deals in this stage right now.
        Please choose into which stage these deals should be moved after deletion.
      </div>
      <div *ngIf="stage_count>0">
        <span *ngFor="let stage of stages_move; let idx = index;" 
          [hidden]="edit_stage_name == stage.sname">
          <input type="radio" name="radiogroup" [value]="stage.uuid"
            (change)="onChangeRadioButton(stage.uuid)"> {{stage.sname}}<br>
        </span>
      </div>
    </form>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" (click)="DeleteStagesPopUp.dismiss()">NO</button>
    <button type="button" class="btn btn-danger" (click)="pipeline_stage_delete()">YES</button>
  </bs-modal-footer>
</bs-modal>