<app-header></app-header>
<section class="wrapp">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-xs-12 col-sm-3">
        <app-side-bar></app-side-bar>
      </div>
      <div class="col-md-10 col-xs-12 col-sm-9">
      	<h2>Billing</h2>
      	<div class="table-responsive" *ngIf="billing_data">
        	<table>
        		<tbody>
        			<tr>
        				<td class="billing-block">
        					<h3>User</h3>
        					<p>{{user_length}}</p>
        					<button type="button" class="btn btn-default" [routerLink]="['/setting/users']">
                    Mangers User
                  </button>
        				</td>
        				<td class="billing-block">
        					<h3>Monthly payment</h3>
        					<p>{{billing_data.status}}</p>
        					<div>$12/Month per user after trial</div>
        				</td>
        				<td class="billing-block">
        					<h3>{{billing_data.status == 'active' ?  '' : 'Free' }} days left</h3>
        					<p>{{billing_data.days}}</p>
        					<div>Ends on {{billing_data.current_period_end * 1000 | date}}</div>
        				</td>
        				<td class="billing-block">
        					<h3>{{billing_data.status == 'active'? 'Current Plan' : 'Plan after trial end'}}</h3>
        					<p class="text-cptl">{{billing_data.plan.name}}</p>
        					<!-- <div><button type="button" class="btn btn-success">Change Plan</button></div> -->
        				</td>
        			</tr>
        		</tbody>
        	</table>
      	</div>

      	<!-- <div class="bill-detail">
      		<h4>Fill in your billing details </h4>
						<p>You haven’t entered billing information yet, but you’ll still be able to use your free days of trial even after you provide them. Once your trial ends you will be charged the amount matching the plan and number of seats you add by then.</p>
						<button type="button" class="btn btn-success">Add Billing Details</button>
      	</div> -->

      	<!-- <div class="text-billing">Our prices exclude VAT, GST, or any other taxes that may be applicable in your region.</div>
      	<div class="row">
      		<div class="col-md-6">
      			<div class="detail-colum">
      			<h3>Invoices</h3>
      			<p>No invoices yet!</p>
      			</div>
      		</div>
      		<div class="col-md-6">
      			<div class="detail-colum">
      			<h3>Billing details</h3>
      			<table class="table table-striped">
      				<tbody>
      					<tr>
      						<td class="text-billdetail">Company name</td>
      						<td>it tech</td>
      						<td><a href="">change</a></td>
      					</tr>
      					<tr>
      						<td class="text-billdetail">Payment method</td>
      						<td>Not entered yet.</td>
      						<td><a href="">Update</a></td>
      					</tr>
      					<tr>
      						<td class="text-billdetail">Billing country</td>
      						<td>
      							<select class="form-control">
      								<option>1</option>
      							</select>
      							<small>Billing country will determine your billing currency and billing entity.</small>
      						</td>
      					</tr>
      				</tbody>
      			</table>
      			</div>
      		</div>
      	</div> -->
      	<!-- <div class="payment-detail">
      		<table>
      			<tr>
      				<td class="promocode-field">
      					<h3>Promo code</h3>
      					<p>Got a promo code and looking for a place to enter it? Here:</p>
      					<form>
      						<div class="form-group">
      							<input type="" name="" class="form-control" placeholder="Enter your promocode here">
      						</div>
      					</form>
      				</td>
      				<td class="payment-field">
      					<h3>Want to reduce your payments?</h3>
								<p>You can cut down on your Pipedrive subscription payments by recommending Pipedrive to your friends. You earn their first month's payment as credit on your account.</p>
      				</td>
      			</tr>
      		</table>
      	</div> -->
      	
      </div>
    </div>
  </div>
  
</section>