.wrapp{margin-top: 40px;background: #f7f7f7;padding-top: 20px;}
table, th, td { border: 1px solid black;padding: 15px;text-align: center;border: 1px solid rgba(0, 0, 0, 0.32);background: #fff;}
table{width: 100%}
.billing-block h3{font-size: 18px;font-weight: 300;padding-bottom: 10px;color: #404346;}
.billing-block p{font-size: 32px;font-weight: 400;color: #404346;}
.bill-detail{border: 1px solid #b9babb;padding: 20px;margin-top: 20px;background: #fffcdc;}
.billing-row{margin: 25px 0px;}
.detail-colum{border: solid 1px rgba(0, 0, 0, 0.44);border-radius: 4px;background: #fff;padding: 0px 20px 20px;margin-top: 20px;margin-bottom: 20px;}
.detail-colum h3{font-size:20px;}
.text-billing{text-align: center;font-size: 12px;color: #808080;margin-top: 20px;}
.promocode-field{text-align: left;width: 400px;}
.promocode-field h3{font-size: 20px; margin-top: 0px;}
.payment-field{text-align: left;}
.payment-field h3{font-size: 20px;margin-top: 0px;}
.payment-detail{margin-bottom: 20px}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-bottom: 1px solid #ddd !important;
    border-top: 1px solid transparent;
    border: solid 1px transparent;
    text-align: left;
}
.text-billdetail{width: 130px;}
.table-striped th td { border: solid 1px transparent;text-align: left}
.text-cptl{text-transform: capitalize;}



@media (min-width: 768px) and (max-width:1169px)
{
.wrapp {
    margin-top: 90px;
    background: #f7f7f7;
    padding-top: 30px;
}
}