.wrapp{margin-top: 60px}
span { color: red; }

.add-userpanle
{
   background: #f3f5f6;
   padding: 20px;
   border-top: solid 1px #cccccc;
   border-bottom: solid 1px #cccccc;
   margin: 20px 0px;

    
}
.add-userpanle img
{
    height: 60px;
}
.price-monthly
{
    text-align: center;
    border: solid 2px #ddd;
    background: #fff;
    padding: 15px;
    font-size: 15px;
}
.user-panle {
    border: solid 1px #ccc;
    padding: 10px 25px;
    margin-top: 3px;
    background: #fff;

}
.bottom-row
{
    margin-top: 20px;
}
.price-text
{
    font-size: 40px;
}
.second-price 
{
    text-align: right
}
.second-price span
{
    font-size: 28px;
    vertical-align: middle;
    color: #8cc739;
}
.rowthird
{
    padding: 0px !important;
}

.main-panle
{
    border: solid 1px #ccc;
    padding: 15px;
    margin-top: 3px;
    background: #fff;
}
.default-btn
{
    font-family: inherit !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}
.btn-success {
    color: #ffffff;
    background-color: #8cc739 !important;
    border-color: #8cc739 !important;
}
.btn-default {
    color: #333;
    background-color: #fff;
     border-color: #cccccc !important; 
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: transparent !important;
}
.pipeline-panle {
    border: solid 1px #ccc;
    padding: 15px;
    margin-top: 3px;
    background: #fff;
}
.btn-pipe
{
    background: #fff;
    border: solid 1px #ccc;
    padding:2px 12px !important;
    border-radius: 3px !important;
}
.custom-btn {
    /*display: inline-block !important;*/
    margin-bottom: 0 !important;
    font-weight: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    white-space: nowrap !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    border-radius: 4px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
@media (min-width:200px) and (max-width:768px)
{
.second-price {
    text-align: left;
}
}