<app-header></app-header>
<section class="wrapp">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-xs-12 col-sm-3">
        <!-- import side menu -->
        <app-side-bar></app-side-bar>
      </div>
      <div class="tab-content">
        <div class="col-md-10 col-xs-12 col-sm-9">
          <h2>Add User</h2>
          <div class="user-panle">
            <p>Use this form to add more users to your company.</p>
            <form [formGroup]="myForm">
              <div formArrayName="itemRows">
                <div *ngFor="let itemrow of myForm.controls.itemRows.controls; let i=index" 
                  [formGroupName]="i">
                  <div class="add-userpanle">
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group row">
                          <label class="col-xs-4">Email</label>
                          <div class="col-xs-8">
                            <input type="email" autofocus class="form-control data_val_{{i}} index_" formControlName="email" 

                            (focusout)='focus_out(i, $event, myForm.controls.itemRows.controls[i].controls.email.valid)'>
                            <span *ngIf="myForm.controls.itemRows.controls[i].controls.email.invalid && (myForm.controls.itemRows.controls[i].controls.email.dirty)">Required field</span>
                            <span class="index_idx_{{i}}" style="display: none;">Email is already registered</span>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="example-text-input" class="col-xs-4">Name</label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" formControlName="nickname">
                            <span *ngIf="myForm.controls.itemRows.controls[i].controls.nickname.invalid && (myForm.controls.itemRows.controls[i].controls.nickname.dirty)">Required field</span>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-xs-4">Phone Number</label>
                          <div class="col-xs-8">
                            <input class="form-control phone" type="tel" formControlName="phone_number" (focusout)='check_phone_number(i)'>
                            <span class="invalid_{{i}}" style="display: none;">Invalid number</span>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    <div  *ngIf="myForm.controls.itemRows.controls.length > 1" (click)="deleteRow(i)"><i class="fa fa-times pull-right" aria-hidden="true"></i></div>
                  </div>
                </div>
              </div>
              <div class="row bottom-row">
                <div class="col-md-3 col-sm-4 rowthird">
                  <button type="button" (click)="save_user()" class="btn-xs btn-pipe btn btn-success custom-btn display_btn">Confirm and invite user</button>   
                </div>
                <div class="col-md-3 col-sm-4">
                  <button type="button" class="btn-xs btn-pipe custom-btn" (click)="addNewRow()"><i class="fa fa-plus" aria-hidden="true"></i> Add One More User</button> 
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>