<app-header></app-header>
<section class="wrapp">
  <div class="container-fluid">
    <div class="row no-pad">
      <div class="col-lg-1 col-xs-2 colum1">
        <div class="sidebar">
          <ul>
            <li><a href="" [routerLink]="['/dashboard/mail/compose-mail' ]"  data-toggle="tooltip" title="Compose" data-placement="right"><i class="fa fa-pencil fa-2x pencile-icon" aria-hidden="true"></i></a></li>
            <li class="active"><a href="" [routerLink]="['/dashboard/mail' ]" data-toggle="tooltip" title="Inbox" data-placement="right"><i class="fa fa-inbox fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="drafts.html" [routerLink]="['/dashboard/mail/mail-drafts' ]" data-toggle="tooltip" title="Draft" data-placement="right"><i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="drafts.html" [routerLink]="['/dashboard/mail/mail-send' ]" data-toggle="tooltip" title="Sent" data-placement="right"><i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i></a></li>
            <li><a href=""  [routerLink]="['/dashboard/mail/archive' ]" data-toggle="tooltip" title="Archive" data-placement="right"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a></li>
        </ul>
        </div>
      </div>
      <div class="col-lg-11 col-xs-10 colum2">
        <nav class="navbar navbar-inverse second-nav">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li>
                  <a href="">
                    <button type="button" class="btn btn-default"><span class="arrowicon"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back </span></button>
                  </a>
                </li>
                <li>
                  <a href="">
                    <button type="button" class="btn btn-default">Share <span class="arrowicon"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></button>
                  </a>
                </li> 
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="">7 conversation</a></li>
                <li><a href=""><button type="button" class="btn btn-default"><i class="fa fa-cog" aria-hidden="true"></i></button></a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div class="col-md-12 scroll-temp">
          <div class="inbox">
            <div class="col-sm-9 border-column">
               <div class="message">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="email" class="form-control select2-offscreen" id="to" name ="email_to"  placeholder="To" tabindex="-1">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="email" class="form-control select2-offscreen" id="cc" name="email_sub"  placeholder="Subject" tabindex="-1">
                      </div>
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" id="message" name="body" rows="12" name="email_body"+ placeholder="Click here to reply"></textarea>
                    </div>
                  </form>
                    <div class="btn-toolbar btn-tool" role="toolbar">
                      <div class="btn-group">
                        <button class="btn btn-default"><span class="fa fa-bold"></span></button>
                        <button class="btn btn-default"><span class="fa fa-italic"></span></button>
                        <button class="btn btn-default"><span class="fa fa-underline"></span></button>     
                        <button class="btn btn-default"><span class="fa fa-list-ul"></span></button>
                        <button class="btn btn-default"><span class="fa fa-list-ol"></span></button>
                        <button class="btn btn-default"><span class="fa fa-trash-o"></span></button>  
                        <button class="btn btn-default"><span class="fa fa-paperclip"></span></button>  
                      </div>
                      <span class="pull-right">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="fa fa-tags"></span>Template<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">add label <span class="label label-danger"> Home</span></a></li>
                          <li><a href="#">add label <span class="label label-info">Job</span></a></li>
                          <li><a href="#">add label <span class="label label-success">Clients</span></a></li>
                          <li><a href="#">add label <span class="label label-warning">News</span></a></li>
                        </ul>
                         <button class="btn btn-default"><span class="fa fa-tags"></span>Signature</button>
                      </span>
                    </div>
                    <div class="form-group button-attached">
                     <button type="submit" class="btn btn-default"><i class="fa fa-paperclip" aria-hidden="true"></i> Attach</button>
                      <span class="pull-right">
                        <span>Saved</span>
                      <button type="submit" class="btn btn-default">Discard</button> 
                      <button type="submit" class="btn btn-success">Send</button>
                    </span>
                    </div>
                  </div>  
                </div>  
               <div class="col-sm-3 ">
              <div class="inbox-menu side-panel">           
                  <button type="button" class="btn-connect btn btn-default btn-block">Conect with deal</button>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. </p>
                  <button type="button" class="btn btn-default btn-block">Find existing deal</button>
                  <button type="button" class="btn btn-default btn-success btn-block">Add new deal</button>
              </div>          
               </div> 
             </div>
          </div>             
        </div>
      </div>
    </div>
</section>
