div .active-deactive a{ text-decoration: none; }
.img-user img
{
   height: 34px;
    border-radius: 42px; 
}
.user_button
{
    margin: 6px 25px 0px;
}
.user_button button
{
    margin-right: -5px;
}
.user-permission
{
       padding: 7px 20px;
 
}
.user-permission button
{
    padding: 1px 10px;
    /*font-size: 14px;*/
    line-height: 1.5;
    border-radius: 25px;
    margin-top: -6px;
}
hr {
    margin-top: 10px !important;
    margin-bottom: -1px !important;
    border: 0;
    border-top: 1px solid #cccccc !important;
    margin: 20px;
}
.icon-hesding
{
    text-align: center;
    width: 5%;
}
.table {
    width: 96% !important;
    max-width: 100%;
    margin-bottom: 20px;
    margin: auto 24px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
     vertical-align: middle !important;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
td span
{
    color: #086bbf;
}
.btn-right
{
    float: right;
}

.main-panle
{
    border: solid 1px #ccc;
    padding: 15px;
    margin-top: 3px;
    background: #fff;
}
.default-btn
{
    font-family: inherit !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}
.btn-success {
    color: #ffffff;
    background-color: #8cc739 !important;
    border-color: #8cc739 !important;
}
.btn-default {
    color: #333;
    /*background-color: #fff;*/
     border-color: #cccccc !important; 
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: transparent !important;
}
.pipeline-panle {
    border: solid 1px #ccc;
    padding: 15px;
    margin-top: 3px;
    background: #fff;
}
.btn-pipe
{
    background: #fff;
    border: solid 1px #ccc;
    padding:2px 12px !important;
    border-radius: 3px !important;
}
.user_button button {
    margin-right: -5px;
}
.button-pipe button {
    margin-bottom: -2px;
    border-bottom: none;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 6px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

@media (min-width:200px) and (max-width:400px)
{
    .btn-right
    {
    margin-top: 10px;
    float: none !important;
    }
}

@media (min-width:200px) and (max-width:768px)
{
.table {
    width: 100% !important;
    max-width: 100%;
    margin-bottom: 20px;
    margin: auto;
}
}
@media (min-width:769px) and (max-width:1024px)
{
.table {
    width: 96% !important;
    max-width: 100%;
    margin-bottom: 20px;
    margin: auto 12px;
}
}

/*tab-panle css*/
/*panel*/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
  background-color: #ddd;
  border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #eee;
  border-color: #ddd;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: transparent;
}
.panel-default {
    border-color: transparent;
}
.nav-tabs {
    border-bottom: 1px solid transparent;
    margin-bottom: -14px;
}
.nav-tabs>li>a {
    margin-right: -1px;
    line-height: 1.42857143;
    border-radius: 4px 4px 0 0;
}
.nav-tabs a:focus {
    outline: transparent;
    outline-offset: -2px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 4px 10px;
}
.nav-tabs>li>a {
    margin-right: -1px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
}
.user-permission .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus
{
    outline: transparent !important;
    outline-offset: -2px;
}
.loader_img {
  position: absolute;
  left: 165px;
  text-align: center;
  width: 3%;
  top: 68px;
}

.btn-gray
{
 background-color: #ccc;
}
.wrapp{margin-top: 60px}


@media (min-width: 768px) and (max-width:1169px)
{
.wrapp {
    margin-top: 130px;
}
}