<app-header></app-header>
<section class="wrapp">
	<div class="container-fluid">
  	<div class="row">
			<div class="col-md-2 col-xs-12 col-sm-3">
  			<!-- import side menu -->
	      <app-side-bar></app-side-bar>
	    </div>
   		<div class="col-md-10 col-xs-12 col-sm-9">
        <img  class="loader_img" src="assets/images/Loading_icon.gif" [hidden]="!loader_image">
        <h2>User</h2>
      	 <div class="row">
          <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
              <ul id = "myTab" class ="nav nav-tabs">
                <li class="active">
                  <a href ="#tab1" data-toggle = "tab">User</a>
                </li>
                <li>
                  <a href = "#permission" data-toggle = "tab">Permission</a>
                </li>
              </ul>
            </div>
            <div id="myTabContent" class="tab-content">
              <div class="pipeline-panle tab-pane fade in active" id="tab1">
      	        <div class="row">
              		<div class="user-permission">
            				<button type="button" class="btn btn-default btn-xs {{active_user_activities}}" 
                       (click)="activate_user(true)">
                      Activated
                    </button>
            				<button type="button" class="btn btn-default btn-xs  {{deactive_activity}}" (click)="activate_user(false)">Deactivated</button>
                    <a href="javascript:void(0)" [routerLink]="['/setting/add']" ><button type="button" class="btn-xs btn-pipe btn btn-success custom-btn btn-right"><i class="fa fa-plus" aria-hidden="true"></i> Add User</button></a>
              		</div>

              		<div class="table-responsive">
              			<table class="table table-hover">
      				        <thead>
    				            <tr>
    			                <th>Name</th>
    			                <th>Email</th>
    			                <!-- <th>Phone Number</th> -->
                          <th>Admin</th>
                          <th></th>
    				            </tr>
      				        </thead>
      				        <tbody>
    				            <tr *ngFor="let user of user_list_data">
                          <td>{{user.nickname}}</td>
                          <td>{{user.email}}</td>
                          <!-- <td>{{user.phone_number}}</td> -->
                          <td><span>{{user.group === 'admin' ? 'Yes' : 'No'}}</span></td>
                          <td>
                            <div class="active-deactive">
                              <a href="javascript:void(0)" [routerLink]="['/followers']">Statistics ·</a> 
                              <a href="javascript:void(0)">Edit </a>
                              <a href="javascript:void(0)" *ngIf="user.group != 'admin'" (click)="deactivate_user(user.email, user.enabled)">{{ user.enabled === true ? '· Deactivate' : '· Activate' }}</a>
                            </div>
                          </td>
    				            </tr>
      				        </tbody>
      							</table>
            			</div>
      	        </div>
              </div>
              <div class="tab-pane" id="permission">
                <div class="pipeline-panle">
                  <div class="row">
                    <div class="user-permission">
                      <h6>Here you can define the permissions for regular users in your company. These settings affect how users within your company interact with each-other's data. These settings are auto-saved as you change them.</h6>
                    </div>

                    <div class="table-responsive">
                      <table class="table table-hover">
                        <tbody>
                          <tr *ngFor="let userPermissionF of userPermissionField">
                            <td>{{userPermissionF.label}}</td>
                            <td>
                            <a class="btn  {{ userPermissionF.is_activate==true ? ' btn-success' : ' btn-default' }}" href="javascript:void(0)" (click)="edit_users_permissions_fields(userPermissionF.uuid,false)">
                              {{ (userPermissionF.field_api_key === 'visibility_for_all_deal' || 
                              userPermissionF.field_api_key === 'visibility_for_all_organization' || 
                              userPermissionF.field_api_key ==='visibility_for_all_people') ? 'Entire Company' : 'Yes'}}
                            </a>
                            <a class="btn {{ userPermissionF.is_activate==false ? ' btn-default btn-gray' : ' btn-default' }}" href="javascript:void(0)" (click)="edit_users_permissions_fields(userPermissionF.uuid,true)">
                              {{ (userPermissionF.field_api_key === 'visibility_for_all_deal' || 
                              userPermissionF.field_api_key === 'visibility_for_all_organization' || 
                              userPermissionF.field_api_key ==='visibility_for_all_people') ? 'Owner & followers' : 'No'}}
                            </a>
                            </td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div><!--end row -->
                </div>
              </div>
            </div>
          </div>
        </div>
  	  </div>
	  </div>
  </div>
</section>