<section class="section-wrapper wrapp">
  <app-header [company]="company_name"></app-header>
    
  <section class="section-header">
    <div class="container-fluid main-contaniner">
      <div class="row">
        <div class="col-sm-4 col-xs-12 title-dealuser">
          <a data-placement="bottom" type="button" [popover]="dealTitle" *ngIf="deal">{{(deal.deal_title)? deal.deal_title :'Title'}}</a>
          <ng-container *ngIf="deal">
	          <div class="dealStatus rotting" *ngIf="deal.rotting_response.state"><span class="pill danger">Rotting for &lt; 
	          	{{deal.rotting_response.rotting_totaldays}} day</span>
	          </div>
          </ng-container>
          <popover-content class="popover-class_1" #dealTitle id="dealTitle" placement="auto" [closeOnClickOutside]="true">
            <form  #updateDealForm="ngForm">
              <div class="form-group">
                <label>Rename this deal:</label>
                <input type="hidden" *ngIf="deal" [ngModel]="deal.uuid" name="uuid" class="form-control">
                <input type="text" *ngIf="deal" [ngModel]="deal.deal_title" name="deal_title" class="form-control">
              </div>
            </form>
            <div class="footer-deal">
              <button class="btn btn-default" (click)="dealTitle.hide()">cancel</button>
              <button class="btn btn-success" (click)="update_deal(updateDealForm)">Save</button>
            </div>
          </popover-content>
        </div>   
        <div class="col-sm-8 col-xs-12">
          <ul class="list-inline pull-right" *ngIf="deal">
            <li>
              <a href="javascript:void(0)">
                <span class="user-menu">
                  <img src="assets/images/blank_profile_male.jpg" alt="">
                  <span *ngIf="deal"> {{ (deal.user_username)? deal.user_username :'Username' }}
                    <p class="text-owner"> Owner</p>
                  </span>
                </span>
              </a>
              <span class="icon-arrow popover-markup">
                <a data-placement="bottom" type="button" [popover]="ownerPopover" 
                  data-placement="bottom"><i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
                <popover-content  #ownerPopover id="ownerPopover" placement="auto" 
                  [closeOnClickOutside]="true">
                  <form #updateOwnerForm="ngForm">
                    <div class="form-group">
                      <label>Transfer ownership:</label>
                      <div class="form-group">
                        <select class="form-control" [ngModel]="owner_id" name="owner_id">
                          <option *ngFor="let user of user_list_data" [value]="user.email">
                            {{ user.email == selected_owner_id ? user.nickname + '(you)' : user.nickname }}
                          </option>
                        </select>
                      </div>  
                    </div>
                    <div class="footer-deal">
                      <button class="btn btn-default" (click)="ownerPopover.hide()">cancel</button>
                      <button type="" class="btn btn-success" (click)="update_owner(updateOwnerForm)">Save</button>
                    </div>
                  </form>
                </popover-content>
              </span>
            </li>

            <li *ngIf="deal.dealstatus!=3 && deal.dealstatus!=2 && deal.dealstatus!=4">
              <a (click)="update_won(2)" href="javascript:void(0)" disabled="disabled" class="btn btn-success custom-btn">Won</a>
            </li>
            <li *ngIf="deal.dealstatus!=3 && deal.dealstatus!=2 && deal.dealstatus!=4">
              <button type="button" class="btn btn-danger custom-btn" data-toggle="modal" data-target="#lostModal">Lost</button>
            </li>
            <li *ngIf="deal.dealstatus==2"><button disabled="disabled" type="button" class="btn btn-success custom-btn">Won</button></li>
            <li *ngIf="deal.dealstatus==3"><button disabled="disabled" type="button" class="btn btn-danger custom-btn">Lost</button></li>
            <li *ngIf="deal.dealstatus==4"><button disabled="disabled" type="button" class="btn btn-Primary custom-btn">Deleted</button></li>
            <li *ngIf="deal.dealstatus==3 || deal.dealstatus==2 || deal.dealstatus==4"><a (click)="update_reopen(1)" href="javascript:void(0)" disabled="disabled" class="btn btn-default custom-btn">Reopen</a></li>
            <li class="dropdown">
              <button class="btn btn-default dropdown-toggle custom-btn" type="button" 
                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <img src="assets/images/visibility1.png" alt=""><span class="caret"></span>
              </button>
              <div class="dropdown-menu dropupmenu" aria-labelledby="dropdownMenuButton">
                <ul class="company">
                  <li>
                      <a href="javascript:void(0)"><span class="imgdrop"><img src="assets/images/visibility-icons-2x.png" alt=""></span><h5><strong>Owner & followers </strong></h5>
                      <p class="dropup-p">Only the owner & followers can see and edit the details</p>
                      </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">
                      <span class="imgdrop"><img src="assets/images/visibility1.png" alt=""></span><h5><strong>Entire company</strong></h5>
                      <p class="dropup-p">All users in the company can see and edit the details</p>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                <button type="button" class="btn custom-btn"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
              </a>
              <ul class="dropdown-menu th-dropdown">
                <li>Duplicate</li>
                <li>Merge</li>
                <li *ngIf="deal && userPermission==true" (click)="deleteDeal(deal.uuid)">Delete</li>
                <li>Export as XLS</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <ul class="list-inline pull-left" *ngIf="deal">
          <li>
            <span class="text-price popover-markup">
              <a class="trigger" [popover]="currencyPopover" data-placement="bottom">
                <small>{{deal.deal_value | currency:deal.deal_currency:'symbol-narrow' }}</small>
              </a>
              <popover-content [hidden]="deal.is_product" class="popover-class" #currencyPopover id="dealTitle" placement="auto" 
                [closeOnClickOutside]="true">
                <form>
                  <div class="form-group popover-content">
                    <label>Change the value:</label>
                    <div class="row">
                      <div class="col-md-5">
                        <input name="deal_value" [(ngModel)]="deal.deal_value" class="form-control">
                      </div>
                      <div class="col-md-7">
                        <select class="form-control" name="deal_currency" [(ngModel)]="deal.deal_currency">
                          <option [ngValue]="currency.Code" *ngFor="let currency of allCurrency">
                            {{currency.fullname +"( "+currency.Code+" )"}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="footer-deal">
                    <button class="btn btn-default">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-default" (click)="currencyPopover.hide()">cancel</button>
                    <button type="" class="btn btn-success" 
                      (click)="update_currency(deal.deal_value, deal.deal_currency, deal.uuid)">Save
                    </button>
                  </div>
                </form>
              </popover-content>
            </span>
          </li>
          <li (click)="ProductModalPopup.open('lg')"> <span style="color: #317ae2;">
            {{ deal.is_product ? (product_qty + ' products') : 'Add Product' }} </span>
          </li>
          <li *ngIf="deal.contact_person_uuid">
            <img src="assets/images/icon-user.png" class="img-user">
            <span>{{ deal.contact_person_uuid.person_name }}</span>
          </li>
          <li *ngIf="deal.contact_organization_uuid">
            <img src="assets/images/icon-keys.png" class="img-user">
            <span>{{ deal.contact_organization_uuid.contact_organization_name }}</span>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="pipelineSummary">
          <div class="pipelineStages won">
            <ul>
              <li class="{{ stage_index >= i ? 'active' : '' }}" (click)="active_stage(stages.stage_response)" 
                *ngFor="let stages of active_green_pipeline_stage; let i = index;" [attr.data-index]="i">
                <div class="stageContent" tooltip="{{stages.stage_response.sname}} {{get_stage_time(stages.datetime_diff)}}">
                  <span class="label_loder {{active_stages === stages.stage_response.sname ? 'show_img' : 'hide_img'}}"></span>
                  <span class="stagename">{{stages.datetime_diff.day}} days</span>
                </div>
              </li>
            </ul>
            <div class="line" style="left: 99.80000000000001%"></div>
          </div>
        </div>
        <div>
          <span class="popover-markup">
            <span [popover]="PipelineStagePopover">
              <a data-placement="bottom">{{pipeline_name}}</a>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              <a data-placement="bottom">{{stage_name}}</a>
              <popover-content #PipelineStagePopover class="popover-class_1" placement="auto" 
                  [closeOnClickOutside]="true">
                <div class="pipelineSummary">
                  <div class="pipelineStages won">
                    <ul>
                      <li class="{{ stage_index >= i ? 'active' : '' }}" (click)="active_stage(stages.stage_response)" 
                        *ngFor="let stages of active_green_pipeline_stage; let i = index;" [attr.data-index]="i">
                        <div class="stageContent" tooltip="{{stages.stage_response.sname}}">{{stages.stage_response.sname | slice:0:1}}</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </popover-content>
            </span>

            <div class="content hide">
              <form>
                <div class="form-group">
                  <label>Pipeline</label>
                  <select class="form-control" id="exampleSelect1">
                    <option>Pipline</option>
                    <option>pipeline 2</option>
                  </select>    
                </div>
                <div class="form-group">
                  <label>Pipeline stage</label>
                  <span class="input stageOptionWrapper">
                    <div class="plainStages" id="stage-Ih5HpSEo">
                      <span class="options">
                        <label class="active"><input type="radio" name="stage_id" value="4" checked="&quot;checked&quot;" tabindex="0" data-title="Proposal Made"></label>
                        <label class="widget-radio"><input type="radio" name="stage_id" value="2" tabindex="0" data-title="Contact Made"></label>
                        <label class="widget-radio"><input type="radio" name="stage_id" value="3" tabindex="0" data-title="Demo Scheduled"></label>
                        <label class="widget-radio"><input type="radio" name="stage_id" value="1" tabindex="0" data-title="Lead In"></label><label class="widget-radio"><input type="radio" name="stage_id" value="5" tabindex="0" data-title="Negotiations Started"></label>
                      </span>
                    </div>
                  </span>
                </div>
                <div class="footer-deal">
                  <button type="" class="btn btn-default">cancel</button>
                  <button type="" class="btn btn-success">Save</button>
                </div>
              </form>
            </div>
          </span>
          <span class="pull-right">
            <span class="popover-markup" *ngIf="deal">
              <a data-placement="bottom" class="trigger" [popover]="DatePopover">{{deal.expected_close_date | date: 'fullDate'}}</a>
              <popover-content #DatePopover placement="auto" [closeOnClickOutside]="true">
                <form #CloseDateForm="ngForm">
                  <input type="date" class="form-control" name="expected_close_date" [(ngModel)]="deal.expected_close_date">
                  <div class="form-group popover-content"></div>
                  <div class="footer-deal">
                    <button class="btn btn-default" (click)="DatePopover.hide()">cancel</button>
                    <button class="btn btn-success" (click)="update_close_date(CloseDateForm)">Save</button>
                  </div>
                </form>
              </popover-content>
            </span>
          </span>
        </div>
      </div>
    </div>
  </section>

  <section class="section-contant">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <app-deal-detail-section (sendDealEvent)="publishDealEvents()" #deal_detail_section></app-deal-detail-section>

          <app-organization-section (sendOrgEvent)="publishOrgEvents()" #org_section></app-organization-section>

          <app-person-section (sendPersonEvent)="publishPersonEvents()" #person_section></app-person-section>
          <!-- participants -->
          <div class="panel panel-default">
            <div class="panel-heading custom-heading">
              <h4 class="pull-left">PARTICIPANTS</h4>
              <div class="icon-box">
                <a href="javascript:void(0)" (click)="ParticipantModalPopup.open('lg')"><i class="fa fa-plus" aria-hidden="true"></i></a>
              </div>
            </div>
            <div class="panel-body panel-bodycustom">
              <div class="person-panel">
                <p *ngIf="participant_value">There are no participants linked to this deal</p>
                <div *ngFor="let participant of participant_list">
                  <img src="assets/images/icon-user.png"><a href="javascript:void(0)">  {{participant.people_participent.person_name}}</a><br>
                </div>
                <div *ngIf="!participant_value"><button class="btn btn-default btn-xs" (click)="ParticipantModalPopup.open('lg')">View All</button></div>   
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading custom-heading">
              <h4>Overview</h4>
            </div>
            <div class="panel-body panel-bodycustom" *ngIf="deal">
              <div class="panel-overview">
                <div class="row personinfo-text">
                  <span class="pull-left">Deal age</span>
                  <span class="pull-right">{{deal_age}} days</span>
                </div>
                <div class="row personinfo-text">
                  <span class="pull-left">Inactive (days)</span>
                  <span class="pull-right">0</span>
                </div>
                <div class="row personinfo-text">
                  <span class="pull-left">Created</span>
                  <span class="pull-right">{{deal.created_date|date:'longDate'}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading custom-heading">
              <h4 class="pull-left">{{ followers_data.length | i18nPlural: messageMapping }} ({{followers_data.length!=0 ? followers_data.length : ''}})</h4>
              <div class="icon-box">
                <a data-toggle="modal" data-target="#follwersmodel"><i class="fa fa-plus" aria-hidden="true"></i></a>
              </div>
            </div>
            <div *ngIf="followers_data.length==0">
              <p class="text-center">There are no follower to this deal</p>
            </div>
            <div class="panel-body panel-bodycustom">
              <div class="person-panel">
                 <li *ngFor="let follow of followers_data">
                    <img src="assets/images/icon-user.png" alt="">
                    <a href="javascript:void(0)" (click)="follower_data(follow.uuid, follow.follower_name, follow.follower_id)">{{follow.follower_name}}</a>
                  </li>
                  <div *ngIf="selected_follower_owner.length!=0">
                    <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#follwersmodel">View All</button>
                    <button class="btn btn-default btn-xs" (click)="delete_follower(selected_follower_owner[0].uuid)">Stop following</button>
                  </div>
                  <div *ngIf="selected_follower_owner.length == 0">
                    <button class="btn btn-default btn-xs"  (click)="selected_follower({'id': user_object.email, 'text': user_object.nickname})">Start following</button>
                  </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading custom-heading">
              <h4>EMAIL BCC</h4>
            </div>
            <div class="panel-body panel-bodycustom">
              <div class="person-panel">
                <form>
                  <div class="form-group">
                    <label>Deal specific address 
                      <span class="pull-right"><a href="javascript:void(0)" data-toggle="tooltip" title="When you BCC outgoing emails or forward emails to a deal-specific address, they will be linked to the corresponding deal, person and organization."><i class="fa fa-question-circle" aria-hidden="true"></i></a></span>
                    </label>
                    <input type="text" name="" value="" class="form-control" placeholder="aplitinfo@pipedrivemail.com">
                  </div>
                  <div class="form-group">
                    <label>Universal address
                        <span class="pull-right"><a href="javascript:void(0)" data-toggle="tooltip" title="When you BCC outgoing emails or forward emails to a deal-specific address, they will be linked to the corresponding deal, person and organization."><i class="fa fa-question-circle" aria-hidden="true"></i></a></span>
                    </label>
                    <input type="text" name="" value="" class="form-control" placeholder="aplitinfo@pipedrivemail.com">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>  
        <div class="col-md-8">
          <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
              <div class="row">
                <ul class=" nav nav-tabs navttabdeatils">
                  <li><a href="#tab1default" data-toggle="tab">
                    <i class="fa fa-file-text" aria-hidden="true"></i> Take notes</a>
                  </li>
                  <li><a href="#tab2default" data-toggle="tab"><i class="fa fa-calendar-o" aria-hidden="true"></i> Add activity </a></li>
                  <li><a href="#tab3default" data-toggle="tab"><i class="fa fa-envelope" aria-hidden="true"></i> Send mail </a></li>
                  <!-- <li><a href="#tab4default" data-toggle="tab"><i class="fa fa-paperclip" aria-hidden="true"></i> Upload files </a></li> -->
                </ul>
                <span class="pull-right cross-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
              </div>
            </div>
            <div class="panel-body panel-bodycustom">
              <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1default">
                  <form #takeNoteForm="ngForm">
                    <textarea class="bodyEditor defaultText" name="notes" ngModel></textarea>
                    <ul class="list-inline pull-right">
                      <li><button class="btn btn-default">Cancel</button></li>
                      <li><button class="btn btn-success" #btn_take_note (click)="add_takeNote(takeNoteForm, btn_take_note)">Save</button></li>
                    </ul>
                  </form>    
                </div>
                <div class="tab-pane" id="tab2default">
                  <div class="row">
                    <div class="col-md-4 Date-section">
                      <div class="show-date">
                        <span>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span><br>
                        <div class="row text-center">
                          <div class="btn-group">
                            <div
                              class="btn btn-success btn-sm"
                              mwlCalendarPreviousView
                              [view]="view"
                              [(viewDate)]="viewDate"
                              (click)="next_pre()">
                              Previous
                            </div>
                            <div
                              class="btn btn-secondary btn-sm"
                              mwlCalendarToday
                              [(viewDate)]="viewDate"
                              (click)="next_pre()">
                              Today
                            </div>
                            <div
                              class="btn btn-success btn-sm"
                              mwlCalendarNextView
                              [view]="view"
                              [(viewDate)]="viewDate"
                              (click)="next_pre()">
                              Next
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="agendaGrid">
                        <mwl-calendar-day-view
                            [viewDate]="viewDate"
                            [events]="events"
                            [refresh]="refresh"
                            (eventTimesChanged)="eventTimesChanged($event)">
                        </mwl-calendar-day-view>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <form [formGroup]="edit_activityForm" #activity_Form="ngForm">
                        <div class="btn-group btn-groupcustom" role="group">
                          <button type="button" class="btn btn-default {{icon.tooltip_name === active_class ? 'active' : ''}}" tooltip="{{icon.tooltip_name}}" placement="bottom"  
                          *ngFor="let icon of fa_icon_list"
                          (click)="activityM(icon.tooltip_name, icon.fa_fa_icon, icon.uuid)">
                           <i class="{{icon.fa_fa_icon}}" aria-hidden="true"></i>
                          </button>
                          <input type="hidden" name="activity_fa_fa_icon" [ngModel]="activity_fa_fa_icon" formControlName="activity_fa_fa_icon" >
                          <input type="hidden" name="activity_field_uuid" [ngModel]="activity_field_uuid" formControlName="activity_field_uuid">
                        </div>
                        <div class="form-group">
                          <input type='text' class="form-control" autofocus name="activityTitle" placeholder="{{activity_placeholder_name}}" (keyup)="keyPress_onActivity_inputField($event,activity_placeholder_name)" formControlName="activityTitle">
                        </div>
                        <div class="row">
                          <div class="form-group col-md-4">
                              <label>DATE</label>
                              <input size="16" type="date" class="custom-form form-control"
                                name="activity_date" [(ngModel)]="activity_date" formControlName="activity_date" 
                                  (change)="change_activity_date($event)">
                              <span class="add-on"><i class="icon-remove"></i></span>
                              <span class="add-on"><i class="icon-th"></i></span>
                          </div>
                          <div class="form-group col-md-4">
                            <label>Starts at</label>
                             <mwl-demo-utils-date-time-picker
                            [(ngModel)]="events[0].start"
                            formControlName="activity_start_time"
                            (ngModelChange)="change_start_time($event)"
                            placeholder="Not set">
                          </mwl-demo-utils-date-time-picker>
                          </div>
                          <div class="form-group col-md-4">
                            <label>Ends at</label>
                             <mwl-demo-utils-date-time-picker
                            [(ngModel)]="events[0].end"
                            formControlName="activity_end_time"
                            (ngModelChange)="change_end_time($event)"
                            placeholder="Not set">
                          </mwl-demo-utils-date-time-picker>
                          </div>
                        </div>
                        <!-- editor -->
                        <quill-editor name="activity_editor" [ngModel]="activity_editor" formControlName="activity_editor">
                        </quill-editor>
                        <div class="form-group">
                          <label>ASSIGNED TO</label>
                          <select class="form-control" name="owner_id" [ngModel]="owner_id" formControlName="owner_id" (change)="get_owner_name($event)">
                          <option *ngFor="let user of user_list_data" [value]="user.email">
                            {{ user.email == selected_owner_id ? user.nickname + '(you)' : user.nickname }}
                          </option>
                        </select>
                        </div>
                        <div class="form-group place-input ">
                          <label>LINKED TO</label>
                          <div class="inner-addon right-addon">
                            <i class="fa fa-times" aria-hidden="true"></i>
                              <input ngui-auto-complete [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="selected_deal_data" (focusout)="focusOut_()" (focus)="focusIn_()"
                                (valueChanged)="valueChanged_deal_obj($event)"
                                [source]="observableSourceDealName.bind(this)" z-index="4" min-chars="1"
                                class="form-control contact-person" list-formatter="deal_title" />
                                <p class="validation_apply" [hidden]="!validation_field" >Deal name is required</p>
                            <span class="foo"><img src="assets/images/icon-input1.png" alt=""></span>
                          </div>
                        </div>
                        <div class="form-group place-input ">
                          <div class="inner-addon right-addon">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            <input type="text" class="form-control" name="person_name" [ngModel]="person_name" 
                              formControlName="person_name">
                            <span class="foo"><img src="assets/images/icon-user.png" alt=""></span>
                          </div>
                        </div>
                        <div class="form-group place-input">
                          <div class="inner-addon right-addon">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            <input type="text" class="form-control" name="contact_organization_name" 
                              [ngModel]="contact_organization_name" formControlName="contact_organization_name">
                            <span class="foo"><img src="assets/images/icon-keys.png" alt=""></span>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="footer-tab">
                      <div class="pull-right">
                        <span class="checkbox checkbox-info checkbox-circle checkbox-footer">
                          <input id="checkboxMark" type="checkbox">
                          <label for="checkboxMark"></label>
                        </span>
                        <a href="javascript:void(0)">Mark as done</a>
                        <span>
                          <button class="btn btn-default" (click)="reset_fields(activity_Form)" >cancel</button>
                        </span>
                        <span>
                          <button class="btn btn-success" (click)="create_new_activity(activity_Form, activity_modal_value)">Save</button>
                        </span>
                      </div>
                  </div>
                 </div>
                <div class="tab-pane" id="tab3default">
                  <div class="mail-tab">
                      <h3>Upgrade and start using Full Email Sync</h3>
                      <p>Send emails to your contacts directly from Pipedrive by connecting your work email. This feature is part of our Gold and Platinum plans, and it supports email providers such as Gmail, Microsoft Exchange, and others.</p>
                      <button type="" class="btn btn-success">Upgrade to gold plan</button>
                  </div>
                </div>
                <div class="tab-pane" id="tab4default">
                    <div class="mail-tab">
                        <input type="file" name="">
                    </div>
                </div>
              </div>  
            </div>
          </div>
          <!-- activity status -->
          <div class="row tab-row">
            <div class="flowWrapper" style="min-height: auto;"><div class="pinnedNotes"></div>
              <div class="flowHeader">
                <div class="flowCompose">
                  <div class="tabsWrapper closed">
                  </div>
                </div>
              </div>  

              <div class="flowItems">
                <div class="sectionTag">
                  <span class="pill fixed">Planned</span>
                </div>
                <div class="flowContainer focus" data-flow-title="Focus">
                  <div class="addActivity" *ngIf="addActivity_length==0">
                    <div>
                      <p>You have no upcoming activities.</p>
                      <a href="javascript:void(0)" (click)="schedule_activity()">
                        + Schedule an activity
                      </a>
                    </div>
                  </div>

                  <!-- <div class="focusTimelineBar"></div> -->
                  <div class="flowItemContainer activity" *ngFor="let data of activities_status_false; let i = index;" [attr.data-index]="i">
                    <div class="icon-color-secondary">
                      <i class="{{data.activity_fa_fa_icon}}"></i>
                    </div>
                    <div class="flowItem activity overdue">
                      <div class="flowItemContent">
                        <div class="flowComponent activity ">
                          <span class="selectSettingsButton" data-type="activity" data-tooltip="Settings">
                            <span class="applicationIcon size20 dropdown"></span>
                          </span>
                          <h3>
                            <span class="checkbox checkbox-info checkbox-circle pull-left">
                              <input id="checkbox_1{{i}}" type="checkbox" 
                              (click)="change_activity_status(data.uuid, false)">
                              <label for="checkbox_1{{i}}"></label>
                            </span>
                            <a class="activityWrapper" (click)="addActivity.open('lg') && 
                              get_one_activity(data.uuid, data.activity_tooltip_name)">{{data.activityTitle}}
                            </a>
                            <span class="dropdown pull-right">
                              <button class="btn dropdown-toggle btn-default arrown-btn" type="button" data-toggle="dropdown"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                              <ul class="dropdown-menu arrowndropdown">
                                <li><a href="javascript:void(0)" (click)="addActivity.open('lg')">Edit</a></li>
                                <li><a href="javascript:void(0)">Mark as done</a></li>
                                <li><a href="javascript:void(0)">Export as Ics</a></li>
                                <li><a href="javascript:void(0)" (click)="delete_activity(data.uuid)">Delete</a></li>
                              </ul>
                            </span>
                          </h3>
                          <div class="flowItemDetails">
                            <span class="relative overdue">
                              <span class="interactiveTimestamp">{{data.updated_date | date:'fullDate'}} {{data.updated_date | date:'shortTime'}}</span>
                            </span>
                            <span class="separator"> · </span>
                            <span class="author"> {{data.owner_name}}</span>
                          </div>
                          <div class="relatedItems">
                            <ul class="flowItemDetails">
                              <li>
                                <span>
                                  <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                                <a href="javascript:void(0)">{{data.person_name}}</a>
                              </li>
                              <li>
                                <span>
                                  <i class="fa fa-building-o" aria-hidden="true"></i>
                                </span>
                                <a href="javascript:void(0)">{{data.contact_organization_name}}</a>  
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="activityNote" *ngIf="data['activity_editor']">
                          <span class="contentHtml isInline"
                            [innerHtml]="data.activity_editor">
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="sectionTag">
                  <span class="pill fixed">Past</span>
                </div>
                <div class="flowFiltersWrapper">
                  <ul class="nav nav-tabs flowFilters text-center">
                    <li class="active"><a href="#all" data-toggle="tab">All </a></li>
                    <li>
                      <a href="#activity" data-toggle="tab">Activity {{activity_length}}</a>
                    </li>
                    <li><a href="#notes" data-toggle="tab"> Notes {{take_notes.length}}</a></li>
                    <li><a href="#email_tab" data-toggle="tab">Emails </a></li>
                    <li><a href="#file_tab" data-toggle="tab">Files </a></li>
                    <li><a href="#changelog" data-toggle="tab">Change Log </a></li>
                  </ul>
                </div>

                <div class="tab-content">
                  <!-- #all -->
                  <div class="tab-pane fade in active" id="all">
                    <div class="flowContainer past">
                      <div class="timelineBar"></div>
                      <!-- activity list -->
                      <div class="flowItemContainer" 
                        *ngFor="let data of activities_status_true; let i = index;" [attr.data-index]="i">
                        <div class="icon-color-secondary">
                          <i class="{{data.activity_fa_fa_icon}}"></i>
                        </div>
                        <div class="flowItem activity overdue">
                          <div class="flowItemContent">
                            <div class="flowComponent activity ">
                              <span class="selectSettingsButton" data-type="activity"   data-tooltip="Settings">
                                <span class="applicationIcon size20 dropdown"></span>
                              </span>
                              <h3>
                                <span class="checkbox checkbox-info checkbox-circle pull-left">
                                  <input id="checkbox_2{{i}}" type="checkbox" checked="true" 
                                  (click)="change_activity_status(data.uuid, true)">
                                  <label for="checkbox_2{{i}}"></label>
                                </span>
                                <a class="activityWrapper" (click)="addActivity.open('lg') && 
                                  get_one_activity(data.uuid,data.activity_tooltip_name)">{{data.activityTitle}}</a>
                                <span class="dropdown pull-right">
                                  <button class="btn dropdown-toggle btn-default arrown-btn" type="button" data-toggle="dropdown"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                                  <ul class="dropdown-menu arrowndropdown">
                                    <li><a href="javascript:void(0)" (click)="addActivity.open('lg')">Edit</a></li>
                                    <li><a href="javascript:void(0)">Mark as done</a></li>
                                    <li><a href="javascript:void(0)">Export as Ics</a></li>
                                    <li><a href="javascript:void(0)">Delete</a></li>
                                   </ul>
                                </span>
                              </h3>
                              <div class="flowItemDetails">
                                <span class="relative overdue">
                                  <span class="interactiveTimestamp">{{data.updated_date | date:'fullDate'}} {{data.updated_date | date:'shortTime'}}</span>
                                </span>
                                <span class="separator"> · </span>
                                <span class="author">{{data.owner_name}}</span>
                              </div>
                              <div class="relatedItems">
                                <ul class="flowItemDetails">
                                  <li>
                                    <span>
                                      <i class="fa fa-user" aria-hidden="true"></i>
                                    </span>
                                    <a href="javascript:void(0)">{{data.person_name}}</a>
                                  </li>
                                  <li>
                                    <span>
                                      <i class="fa fa-building-o" aria-hidden="true"></i>
                                    </span>
                                    <a href="javascript:void(0)">{{data.contact_organization_name}}</a>  
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="activityNote" *ngIf="data['activity_editor']">
                              <span class="contentHtml isInline" 
                                [innerHtml]="data.activity_editor">
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- activity list end in #all tab -->
                      <!-- notes list start in #all tab -->
                      <div class="flowItemContainer note" *ngFor="let note of take_notes; let indx = index;">
                        <div class="applicationIcon size24 note icon-color-secondary">
                          <i class="fa fa-file-text" aria-hidden="true"></i>
                        </div>
                        <div class="flowItem note">
                          <div class="flowItemContent">
                            <div class="flowComponent note">
                              <div class="dateWrapper">
                                <span class="pull-left">
                                  <span class="interactiveTimestamp">
                                    {{note.updated_date | date:'fullDate'}} {{note.updated_date | date:'shortTime'}}
                                  </span>
                                  <span class="separator">· </span>{{note.user_username}}
                                </span>
                                <span class="dropdown pull-right">
                                  <button class="btn dropdown-toggle btn-default arrown-btn" type="button" data-toggle="dropdown"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                                  <ul class="dropdown-menu arrowndropdown">
                                    <li><a href="javascript:void(0)" (click)="edit_take_note(note)">Edit</a></li>
                                    <li><a href="javascript:void(0)" (click)="delete_take_note(note.uuid, indx)">Delete</a></li>
                                  </ul>
                                </span>
                              </div>
                              <div class="noteWrapper">
                                <div class="foldableComponents">
                                  <div class="foldableWrapper">
                                    <div class="foldableText">
                                      {{note.notes}}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- notes list end in #all tab -->

                      <div class="flowItemContainer change" *ngFor="let logs of log_data">
                        <div class="flowItem change">
                          <div class="flowItemContent">
                            <div class="flowComponent change important">
                              <div class="changeLogWrapper">Stage: {{logs.stage_name}}</div>
                              <div class="flowItemDetails">
                                <span class="relative">
                                  <span class="interactiveTimestamp">
                                    {{logs.updated_date | date:'fullDate'}}
                                    {{logs.updated_date | date:'shortTime'}}
                                  </span>
                                </span>
                                <span class="separator"> · </span>
                                <span class="author">{{logs.user_username}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="flowItemContainer change">
                        <div class="flowItem change">
                          <div class="flowItemContent">
                            <div class="flowComponent change important">
                              <div class="changeLogWrapper">Deal created</div>
                              <div class="flowItemDetails" *ngIf="deal">
                                <span class="relative">
                                  <span class="interactiveTimestamp">
                                    {{deal.updated_date | date:'fullDate'}}
                                    {{deal.updated_date | date:'shortTime'}}
                                  </span>
                                </span>
                                <span class="separator"> · </span>
                                <span class="author">{{deal.user_username}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- #activity tab -->
                  <div class="tab-pane" id="activity">
                    <div class="flowContainer past">
                      <div class="timelineBar"></div>
                      <div class="flowItemContainer activity" 
                        *ngFor="let data of activities_status_true; let i = index;" [attr.data-index]="i">
                        <div class="icon-color-secondary">
                          <i class="{{data.activity_fa_fa_icon}}"></i>
                        </div>
                        <div class="flowItem activity overdue">
                          <div class="flowItemContent">
                            <div class="flowComponent activity ">
                              <span class="selectSettingsButton" data-type="activity" data-tooltip="Settings">
                                <span class="applicationIcon size20 dropdown"></span>
                              </span>
                              <h3>
                                <span class="checkbox checkbox-info checkbox-circle pull-left">
                                  <input id="checkbox_3{{i}}" type="checkbox" checked 
                                  (click)="change_activity_status(data.uuid, true)">
                                  <label for="checkbox_3{{i}}"></label>
                                </span>
                                <a class="activityWrapper" (click)="addActivity.open('lg') && 
                                  get_one_activity(data.uuid,data.activity_tooltip_name)">{{data.activityTitle}}</a>
                                <span class="dropdown pull-right">
                                  <button class="btn dropdown-toggle btn-default arrown-btn" type="button" data-toggle="dropdown"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                                  <ul class="dropdown-menu arrowndropdown">
                                    <li><a href="javascript:void(0)" (click)="addActivity.open('lg') && 
                                  get_one_activity(data.uuid,data.activity_tooltip_name)">Edit</a></li>
                                    <li><a href="javascript:void(0)">Mark as done</a></li>
                                    <li><a href="javascript:void(0)">Export as Ics</a></li>
                                    <li><a href="javascript:void(0)">Delete</a></li>
                                   </ul>
                                </span>
                              </h3>
                              <div class="flowItemDetails">
                                <span class="relative overdue">
                                  <span class="interactiveTimestamp">{{data.updated_date | date:'fullDate'}} {{data.updated_date | date:'shortTime'}}</span>
                                </span>
                                <span class="separator"> · </span>
                                <span class="author"> {{data.owner_name}}</span>
                              </div>
                              <div class="relatedItems">
                                <ul class="flowItemDetails">
                                  <li>
                                    <span>
                                      <i class="fa fa-user" aria-hidden="true"></i>
                                    </span>
                                    <a href="javascript:void(0)">{{data.person_name}}</a>
                                  </li>
                                  <li>
                                    <span>
                                      <i class="fa fa-building-o" aria-hidden="true"></i>
                                    </span>
                                    <a href="javascript:void(0)">{{data.contact_organization_name}}</a>  
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="activityNote" *ngIf="data['activity_editor']">
                              <span class="contentHtml isInline"
                                [innerHtml]="data.activity_editor">
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- #notes -->
                  <div class="tab-pane" id="notes">
                    <div class="flowContainer past">
                      <div class="timelineBar"></div>
                      <div class="flowItemContainer note" *ngFor="let note of take_notes; let indx = index;">
                        <div class="applicationIcon size24 note icon-color-secondary">
                          <i class="fa fa-file-text" aria-hidden="true"></i>
                        </div>
                        <div class="flowItem note">
                          <div class="flowItemContent">
                            <div class="flowComponent note">
                              <div class="dateWrapper">
                                <span class="pull-left">
                                  <span class="interactiveTimestamp">
                                    {{note.updated_date | date:'fullDate'}} {{note.updated_date | date:'shortTime'}}
                                  </span>
                                  <span class="separator">·</span>{{note.user_username}}
                                </span>
                                <span class="dropdown pull-right">
                                  <button class="btn dropdown-toggle btn-default arrown-btn" type="button" data-toggle="dropdown"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                                  <ul class="dropdown-menu arrowndropdown">
                                    <li><a href="javascript:void(0)" (click)="edit_take_note(note)">Edit</a></li>
                                    <li><a href="javascript:void(0)" (click)="delete_take_note(note.uuid, indx)">Delete</a></li>
                                  </ul>
                                </span>
                              </div>
                              <div class="noteWrapper">
                                <div class="foldableComponents">
                                  <div class="foldableWrapper">
                                    <div class="foldableText">
                                      {{note.notes}}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane" id="changelog">
                    <div class="flowContainer past" data-flow-title="Past" data-filter="change">
                      <div class="timelineBar"></div> 
                      <div class="flowItemContainer participant">
                        <div class="flowItem participant">
                          <div class="flowItemContent">
                            <div class="flowComponent participant added">
                              <div class="changeLogWrapper">
                                <!-- <span class="actionType">Participants:</span>
                                <span class="count">+1</span><span class="name">shikha</span> -->
                              </div>
                              <div class="flowItemDetails">
                                <!-- <span class="relative"><span class="interactiveTimestamp">August 12 12:10 PM</span></span>
                                <span class="separator"> · </span><span class="author">niki</span> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane" id="email_tab">
                    <div class="flowContainer past" data-flow-title="Past" data-filter="change">
                      <div class="timelineBar"></div> 
                      <div class="flowItemContainer participant">
                        <div class="flowItem participant">
                          <div class="flowItemContent">
                            <div class="flowComponent participant added">
                              <div class="changeLogWrapper">
                                <!-- <span class="actionType">Participants:</span>
                                <span class="count">+1</span><span class="name">shikha</span> -->
                              </div>
                              <div class="flowItemDetails">
                                <!-- <span class="relative"><span class="interactiveTimestamp">August 12 12:10 PM</span></span>
                                <span class="separator"> · </span><span class="author">niki</span> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane" id="file_tab">
                    <div class="flowContainer past" data-flow-title="Past" data-filter="change">
                      <div class="timelineBar"></div> 
                      <div class="flowItemContainer participant">
                        <div class="flowItem participant">
                          <div class="flowItemContent">
                            <div class="flowComponent participant added">
                              <div class="changeLogWrapper">
                                <!-- <span class="actionType">Participants:</span>
                                <span class="count">+1</span><span class="name">shikha</span> -->
                              </div>
                              <div class="flowItemDetails">
                                <!-- <span class="relative"><span class="interactiveTimestamp">August 12 12:10 PM</span></span>
                                <span class="separator"> · </span><span class="author">niki</span> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- popup-lost -->
<div class="modal fade" id="lostModal" role="dialog">
  <div class="modal-dialog lost-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mark as lost</h4>
      </div>
      <div class="modal-body">
        <form #lostDeal="ngForm">
          <div class="form-group" *ngIf="reason_select_option; else elseBlock">
          <label>Lost reason</label>
            <select class="form-control" (change)="reason_on_change($event)">
              <option disabled [selected]="true">Select a reason</option>
              <option *ngFor="let reasons of lost_reason_listing" [ngValue]="reasons.uuid">{{reasons.lost_reason}}</option>
              <option>Other...</option>
            </select>
            <input type="hidden" [ngModel]="lost_reason" name="lost_reason">
          </div>
          <ng-template #elseBlock>
             <label >{{other_reason_text}} Lost reason</label>
             <input type="text" ngModel name="lost_reason" class="form-control">
          </ng-template>
          
          <div class="form-group" *ngIf="other_reason_visibility_textbox">
            <label >{{other_reason_text}} Lost reason</label>
            <input type="text" ngModel name="lost_reason_other" class="form-control">
          </div>
           
          <div class="form-group">
            <label>Comments (optional)</label>
            <textarea class="form-control" ngModel name="lost_reason_comment" rows="3"></textarea>
          </div>
        </form>
        <p>Manage lost reasons on <a href="/setting/company/edit">Company settings</a></p>
     </div>
      <div class="modal-footer">
        <!-- data-dismiss="modal" -->
        <button type="button" class="btn btn-danger" (click)="lost_deal(lostDeal)" >Mark As lost</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- endpopup -->
<!-- participant popup -->
<bs-modal #ParticipantModalPopup [backdrop]="'static'" class="ng-modal participant-modal">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Deal Participant</h4>
  </bs-modal-header>
  <bs-modal-body >
    <div *ngIf="deal"><img src="assets/images/icon-input1.png">{{deal.deal_title}}</div>
    <div class="form-group">
      <input
            ngui-auto-complete placeholder="Type a name of the person" [(ngModel)]="selected_participant" (focusout)="focusOut_()"
            (focus)="focusFunction_person()" [source]="observableSource.bind(this)"
            value-property-name="uuid" z-index="4" min-chars="1"
            display-property-name="person_name" class="form-control contact-person"
            list-formatter="contact_person_and_organization_name"
            (valueChanged)="valueChanged_contact_participant($event)" #participant_name />
    </div>
    <div class="addPersonButtonRow open" style="display: none;">
      <span class="input">
        <button class="btn btn-success btn-xs" (click)="add_participants(participant_name)">
          <span class="primary">Add as new person</span>
        </button>
      </span> New person will be created and added as a participant for this deal.
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Organization</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Closed deals</th>
          <th>Open deals</th>
          <th>Next activity dates</th>
          <th>Owner</th>
          <th><i class="fa fa-cog" aria-hidden="true"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr class="tabel-row" *ngFor="let participant of participant_list">
          <td class="td-data"><span>{{participant.people_participent.person_name}}</span>
            <!-- <span class="overlay-table pull-right">
              <a href="javascript:void(0)" class="icon-box">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
            </span> -->
          </td>
          <td class="td-data"><span>{{participant.people_participent.contact_organization_uuid}}</span></td>
          <td class="td-data"><span>{{dynamic_arr_participant(participant.people_participent.person_email)}}</span></td>
          <td class="td-data"><span>{{dynamic_arr_participant(participant.people_participent.person_phone)}}</span></td>
          <td><span></span></td>
          <td><span></span></td>
          <td></td>
          <td class="td-data"><span>{{participant.people_participent.owner_id}}</span></td>
          <td><i class="fa fa-trash" aria-hidden="true" (click)="delete_participant_in_deal(participant.participant.uuid)"></i></td>
        </tr>
      </tbody>
    </table>
  </bs-modal-body>
  <bs-modal-footer>
    
  </bs-modal-footer>
</bs-modal>
<!-- endparicipant -->
<!-- follwers po-pup -->
<div class="modal fade" id="follwersmodel" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Followers</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="select_width" *ngIf="followers.length!=0">
            <ng-select
              [items]="followers" bindValue="id" bindLabel="text" (change)="selected_follower($event)" placeholder="Select Follower">
            </ng-select>
          </div>
          <div class="form-group">
            <p class="text-center" *ngIf="all_follower">All users in this company are following this deal</p>
          </div>
            <hr>
          <table>
            <tbody>
              <tr *ngFor="let follower of followers_data">
                <td>
                  <span class="followers"><img src="assets/images/blank_profile_male.jpg"></span>
                  <span class="follwers-name">{{follower.follower_name}}</span>
                  <button class="btn btn-success pull-right" (click)="delete_follower(follower.uuid)" tooltip="Disable sharing for this user">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <span *ngIf="followers_data.length==0" class="text_center_">Loading...</span>
          <hr>
        </form>     
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- add new activity -->
<bs-modal #addActivity [backdrop]="'static'" class="ng-modal model-width">
  <bs-modal-header (click)="reset_fields(activityForm)" [showDismiss]="true">
    <h4 class="modal-title">{{ activity_modal_value ? 'Schedule an activity' : 'Edit activity'}}</h4>
  </bs-modal-header>
  <bs-modal-body>
    <div class="row">
      <div class="col-md-4 Date-section">
        <div class="show-date">
          <span>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span><br>
          <div class="row text-center">
            <div class="btn-group">
              <div
                class="btn btn-success btn-sm"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (click)="next_pre()">
                Previous
              </div>
              <div
                class="btn btn-secondary btn-sm"
                mwlCalendarToday
                [(viewDate)]="viewDate"
                (click)="next_pre()">
                Today
              </div>
              <div
                class="btn btn-success btn-sm"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (click)="next_pre()">
                Next
              </div>
            </div>
          </div>
        </div>
        <div class="agendaGrid">
          <mwl-calendar-day-view
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-day-view>
        </div>
      </div>

      <div class="col-md-8 scroll-ondetailform">
        <form [formGroup]="edit_activityForm" #activityForm="ngForm">
          <div class="btn-group btn-groupcustom" role="group">
            <button type="button" class="btn btn-default {{icon.tooltip_name === active_class ? 'active' : ''}}" tooltip="{{icon.tooltip_name}}" placement="bottom"  
            *ngFor="let icon of fa_icon_list"
            (click)="activityM(icon.tooltip_name, icon.fa_fa_icon, icon.uuid)">
             <i class="{{icon.fa_fa_icon}}" aria-hidden="true"></i>
            </button>
            <input type="hidden" name="activity_fa_fa_icon" [ngModel]="activity_fa_fa_icon" 
              formControlName="activity_fa_fa_icon">
            <input type="hidden" name="activity_field_uuid" [ngModel]="activity_field_uuid" 
              formControlName="activity_field_uuid">
          </div>
          <div class="form-group">
            <input type='text' class="form-control" autofocus name="activityTitle" placeholder="{{activity_placeholder_name}}" (keyup)="keyPress_onActivity_inputField($event,activity_placeholder_name)" formControlName="activityTitle">
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label>DATE</label>
              <input size="16" type="date" class="custom-form form-control" 
                name="activity_date" [(ngModel)]="activity_date" formControlName="activity_date" 
                  (change)="change_activity_date($event)">
              <span class="add-on"><i class="icon-remove"></i></span>
              <span class="add-on"><i class="icon-th"></i></span>
            </div>
            <div class="form-group col-md-4">
              <label>Starts at</label>
               <mwl-demo-utils-date-time-picker
              [(ngModel)]="events[0].start"
              formControlName="activity_start_time"
              (ngModelChange)="change_start_time($event)"
              placeholder="Not set">
            </mwl-demo-utils-date-time-picker>
            </div>
            <div class="form-group col-md-4">
              <label>Ends at</label>
               <mwl-demo-utils-date-time-picker
              [(ngModel)]="events[0].end"
              formControlName="activity_end_time"
              (ngModelChange)="change_end_time($event)"
              placeholder="Not set">
            </mwl-demo-utils-date-time-picker>
            </div>
          </div>
          <quill-editor name="activity_editor" [ngModel]="activity_editor" formControlName="activity_editor"></quill-editor>
          <div class="form-group">
            <label>ASSIGNED TO</label>
            <select class="form-control" name="owner_id" [(ngModel)]="owner_id" formControlName="owner_id" (change)="get_owner_name($event)">
              <option *ngFor="let user of user_list_data" [value]="user.email">
                {{ user.email == selected_owner_id ? user.nickname + '(you)' : user.nickname }}
              </option>
            </select>
          </div>
          <div class="form-group place-input ">
            <label>LINKED TO</label>
            <div class="inner-addon right-addon">
              <i class="fa fa-times" aria-hidden="true"></i>
                <input ngui-auto-complete [ngModelOptions]="{standalone: true}"
              [(ngModel)]="selected_deal_data" (focusout)="focusOut_()" (focus)="focusIn_()"
              (valueChanged)="valueChanged_deal_obj($event)"
              [source]="observableSourceDealName.bind(this)" z-index="4" min-chars="1"
              class="form-control contact-person" list-formatter="deal_title" />
              <p class="validation_apply" [hidden]="!validation_field" >Deal name is required</p>
              <span class="foo"><img src="assets/images/icon-input1.png" alt=""></span>
            </div>
          </div>
          <div class="form-group place-input ">
            <div class="inner-addon right-addon">
              <i class="fa fa-times" aria-hidden="true"></i>
              <input type="text" class="form-control" name="person_name" [ngModel]="person_name" 
                formControlName="person_name">
              <span class="foo"><img src="assets/images/icon-user.png" alt=""></span>
            </div>
          </div>
          <div class="form-group place-input">
            <div class="inner-addon right-addon">
              <i class="fa fa-times" aria-hidden="true"></i>
              <input type="text" class="form-control" name="contact_organization_name" 
                [ngModel]="contact_organization_name" formControlName="contact_organization_name">
              <span class="foo"><img src="assets/images/icon-keys.png" alt=""></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </bs-modal-body>
  <bs-modal-footer>
    <span class="dropdown pull-left " *ngIf="!activity_modal_value">
      <button class="btn dropdown-toggle btn-default" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
        <ul class="dropdown-menu  model-arrow ">
          <li><a href="javascript:void(0)">Delete</a></li>
        </ul>
    </span>
    <ul class="list-inline pull-right"> 
      <li>
        <div class="checkbox checkbox-primary">
          <input id="checkbox_4" type="checkbox" [(ngModel)]="activity_status" (change)="markAllDone()" checked>
          <label for="checkbox_4"><span class="signup-condition">Mark All Done</span></label>
        </div>
      </li>
      <li><button class="btn btn-default" (click)="reset_fields(activityForm)">Cancel</button></li>
      <li><button class="btn btn-success" (click)="create_new_activity(activityForm, activity_modal_value)">Save</button></li>
   </ul>
 </bs-modal-footer>
</bs-modal>

<!-- product modal popup -->
<bs-modal #ProductModalPopup [backdrop]="'static'" class="ng-modal participant-modal">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Product</h4>
  </bs-modal-header>
  <bs-modal-body>
    <div class="info" *ngIf="deal">
      <span><img src="assets/images/icon-input1.png"> {{deal.deal_title}}</span>
      <span><img src="assets/images/icon-user.png" class="img-user"> {{ deal.contact_person_uuid.person_name }}</span>
      <span><img src="assets/images/icon-keys.png" class="img-user"> {{ deal.contact_organization_uuid.contact_organization_name }}</span>
    </div><br>
    <div class="form-group">
      <input ngui-auto-complete placeholder="Type a name of the product" 
          (focusout)="focusOut_()" (focus)="focusFunction_person()" [(ngModel)]="selected_product"
          [source]="observableSource_product.bind(this)" value-property-name="uuid" z-index="4" min-chars="1"
          display-property-name="product_name" class="form-control contact-person" [ngModelOptions]="{standalone: true}"
          list-formatter="product_name" (valueChanged)="valueChanged_product($event)" #new_product_name/>
    </div>
    <div class="addProductButtonRow open" style="display: none;">
      <span class="input">
        <button class="btn btn-success btn-xs" (click)="add_as_new_product(new_product_name.value)">
          <span class="primary">Add as new product</span>
        </button>
      </span> New person will be created and added as a participant for this deal.
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>NAME</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <th>DISCOUNT. %</th>
            <th>TOTAL SUM:</th>
            <th><i class="fa fa-cog" aria-hidden="true"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of product_list">
            <td class="checkbox-product">
              <a [routerLink]="['/product/details', product.product_uuid]" target="_blank">{{product.product_name}}</a>
            </td>
            <td><input type="number" class="form-control" min="0" [(ngModel)]="product.price" (focusout)="check_input_value(product)"></td>
            <td><input type="number" class="form-control" min="0" [(ngModel)]="product.qty" (focusout)="check_input_value(product)"></td>
            <td><input type="number" class="form-control" min="0" [(ngModel)]="product.discount" (focusout)="check_input_value(product)"></td>
            <td>{{product.sum | currency:deal.deal_currency:'symbol-narrow' +' '}}</td>
            <td>
              <button class="btn btn-success" (click)="delete_product(product)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>&nbsp;&nbsp;
              <button class="btn btn-success" (click)="update_product_data(product)">update</button>
            </td>
          </tr>
          <tr>
            <td colspan="4" style="text-align: center;">Total quantity: <span class="product-font">{{product_qty}}</span></td>
            <td>Total sum: <span *ngIf="deal" class="product-font">{{deal.deal_value | currency:deal.deal_currency:'symbol-narrow'}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </bs-modal-footer>
</bs-modal>

<!-- edit take note popup -->
<bs-modal #takeNoteModalPopup [backdrop]="'static'" class="ng-modal">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Edit take note</h4>
  </bs-modal-header>
  <bs-modal-body>
    <div class="form-group">
      <input type="text" class="form-control" name="notes" [(ngModel)]="edit_notes">
    </div>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" (click)="takeNoteModalPopup.dismiss()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="update_take_note_data(edit_notes)">Save</button>
  </bs-modal-footer>
</bs-modal>