.icon-btn{ padding: 0px 5px; float: right; }
.th-size{ width: 1px }
.table-responsive { min-height: auto; overflow-x: visible; }
/*--------------------------------------------------------------*/
.loader_img{
 height: 32px;
}
.popover-footer
{
    border-top: solid 1px #999;
    padding: 10px;
    background: rgba(238, 238, 238, 0.48);
}
.form-popover
{
    padding: 13px 15px 14px;
  border-bottom: solid 2px #eee;
    margin: 0px;
    width: 100%;
}

.btn-success {
    color: #fff;
    background-color: #8cc739 !important;
    border-color: #8cc739 !important;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 2px;
}
/*poverlist*/
.popoverlist
{
   padding: 0px;
    list-style-type: none;
}
.body-list
{
  height: 250px;
  overflow:auto;
}

:host /deep/ .popover.left>.arrow {
    top: 12% !important; 
}

:host /deep/ .popover-content {
    padding: 0px;
}
.title-list
{
  background: rgba(153, 153, 153, 0.47);
  padding: 5px 20px;
}
.popoverlist li
{
   padding: 5px 20px;
}

.popoverlist li span
{
  color: #ddd;
}
.popoverlist li:hover
{
  background-color:#8cc739 !important;
}

.custom-dropdown
{
    min-width: 300px !important;
    left: initial!important;
    right: 0px !important;
    cursor: pointer;
    padding-bottom: 5px;
}
.bttn-clss
{
    width: 100%;
}
.user-clss
 {
    background: rgba(153, 153, 153, 0.38);
    padding: 6px 15px;
}
.inner-ul {
    font-size: 15px;
}

li{ list-style-type: none; }

ul {
    padding: 0px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: transparent;
}
.inner-ul li a{
   background: #fff;
    color: #333;
    position: relative;
    display: block;
    padding: 5px 22px;
    text-decoration: none;
}
.inner-ul li a:hover {
   background: #8cc739;
    color: #fff;
    position: relative;
    display: block;
    padding: 5px 22px;
    text-decoration: none;
}
.inner-ul li i {
    margin-right: 15px;
}
.pipe-drop
{
  left: initial;
  right: 0px;
}
.pipe-drop li
{
  font-size: 13px;
}

table
{
  width:100%;
  background: #fff;
}
.leftalign{text-align: center}

@media (min-width: 300px) and (max-width: 768px) 
{
.leftalign
{
  text-align: left !important;
}
.leftbtn
{
  float: left !important;
  margin-top: 10px
}
}
@media (min-width: 300px) and (max-width: 768px)
{
.header-btn
{
    text-align: left !important;
}
}

.wrapp{margin-top: 60px}
@media (min-width: 768px) and (max-width:1169px)
{
.wrapp{
    margin-top: 130px;
}
}
@media (max-width: 520px)
{
.custom-dropdown{ min-width: 240px !important;left: 0 !important;}
}

@media (min-width: 521px) and (max-width: 767px)
{
.btn-list{display: inline-flex;}
}
