<app-header></app-header>
<section class="wrapp">
  <div class="container-fluid">
    <div class="row btn-list"  style="margin-left: 0px;" >
      <div class="col-sm-4">
        <ul class="list-inline">
          <li>
            <button type="button" class="btn btn-success custom-btn" (click)="addOrganization.open()">Add Organization</button>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 text-center header-btn">
        <ul>
          <li *ngIf="loadTable">{{organizataionData[2]['dataCount']}} {{(organizataionData[2]['dataCount']==1) ? 'organizataion' : 'organizataions'}}</li>
        </ul>
      </div>
      <div class="col-sm-4 text-right header-btn">
        <ul class="list-inline">
          <li><img class="loader_img" src="assets/images/Loading_icon.gif" [hidden]="!loader_image"></li>
          <li>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle custom-btn" type="button" 
                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-outdent" aria-hidden="true"></i>&nbsp;<strong>Everyone</strong>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu custom-dropdown menu" aria-labelledby="dropdownMenu1">
                <li>
                  <form class="navbar-form" role="search">
                    <div class="input-group bttn-clss">
                      <input type="text" class="form-control Search"  placeholder="Search">
                    </div>
                  </form>
                </li>
                <li>
                  <div class="user-clss">User</div>
                  <ul class="inner-ul">
                    <li><a href="">Everyone<span class="pull-right icon-check"><i class="fa fa-check" aria-hidden="true"></i></span></a></li>
                    <li>
                      <a href=""><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; User (you)
                      </a>
                    </li>
                     <li>
                       <a href=""> <i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; User2
                       </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="user-clss">Filter</div>
                  <ul class="inner-ul">
                    <li><a href=""><i class="fa fa-lock" aria-hidden="true"></i> All Deleted Deals</a></li>
                    <li><a href=""><i class="fa fa-lock" aria-hidden="true"></i> All lost Deals</a></li>
                    <li><a href=""><i class="fa fa-lock" aria-hidden="true"></i> All Open Deals</a></li>
                    <li><a href=""><i class="fa fa-lock" aria-hidden="true"></i> All Won Deals</a></li>
                    <li><a href=""><i class="fa fa-lock" aria-hidden="true"></i> More Than 3 month Old Deals</a></li>
                    <li><a href=""><i class="fa fa-lock" aria-hidden="true"></i> Rotten Deals</a></li>
                    <li class="divider"></li>
                    <li>
                      <a href=""><i class="fa fa-plus" aria-hidden="true"></i><span style="color:javascript:void(0)337ab7">&nbsp; &nbsp;Add new Filter</span></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle custom-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><strong><i class="fa fa-ellipsis-h" aria-hidden="true"></i></strong>
              </button>
              <ul class="dropdown-menu pipe-drop inner-ul" aria-labelledby="dropdownMenu1">
                <li>Export filter result</li>
                <li>Data import on </li>
                <li>show on</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row" style="margin-left: 0px;">
      <div class="btn-group" *ngIf="loadFilterTable">
        <button type="button" class="btn btn-default" (click)="contact_organization_list('All')">All</button>
        <button type="button" class="btn btn-default" 
        *ngFor="let singleWord of organizationFilter" (click)="contact_organization_list(singleWord)">{{singleWord}}</button>
      </div>
    </div> 
  </div>
  <br>

  <!--Dynamic table-->
  <div class="table-responsive" *ngIf="loadTable">
    <table class="table table-hover table-bordered" width="100%">
      <thead>
        <tr>
          <th class="th-size"><input type="checkbox" value=""></th>
          <th *ngFor="let head of organizataionData[0]['header']" [hidden]="head[1]=='UUID'" >{{ head[1] }}</th>
          <th class="th-size">
            <span [popover]="setting"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></span>
          </th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let deal of organizataionData[1]['data']">
          <td><input type="checkbox" value=""></td>
          <td *ngFor="let dta of deal" [hidden]="dta[0]=='uuid'">{{ dynamic_arr(dta[1]) }}</td>
          <td></td>
        </tr>
      </tbody>

      <popover-content #setting title="Choose colunms" placement="left-top" [closeOnClickOutside]="true">
        <form>
          <div class="form-group form-popover">
            <input type="text" class="form-control" placeholder="search" (input)="filter_fields($event)">
          </div> 
          <div class="body-list">
            <div class="title-list">Visible</div>
            <ul class="popoverlist">
              <div *ngFor="let data of search_data">
                <li *ngIf="data.is_checked">
                  <input type="checkbox" (change)="checkbox(checked, data.uuid)" #checked [checked]="data.is_checked"> {{data.label}}
                  <span class="pull-right"> Org </span>
                </li>
              </div>
            </ul>
            <div class="title-list">NOT VISIBLE</div>
            <ul class="popoverlist">
              <div *ngFor="let data of search_data">
                <li *ngIf="!data.is_checked">
                  <input type="checkbox" #checked [checked]="data.is_checked" (change)="checkbox(checked, data.uuid)"> {{data.label}}
                </li>
              </div>
            </ul>
          </div>
          
          <div class="popover-footer">
            <ul class="list-inline">
              <li><button class="btn btn-default"><i class="fa fa-trash" aria-hidden="true"></i></button></li>
              <li><button class="btn btn-default" (click)="setting.hide()">cancel</button></li>
              <li><button class="btn btn-success" (click)="update_checkbox()" [disabled]="disable_save_btn">save</button></li>
            </ul>
          </div>
        </form>
      </popover-content>
    </table>
  </div>
</section>

<!-- add new pipeline -->
<bs-modal #addOrganization [backdrop]="'static'" class="add-person-popup">
  <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">Add new Organization</h4>
  </bs-modal-header>
  <bs-modal-body>
    <form #addOrganizationForm="ngForm">
      <div class="form-group">
        <label>Name</label>
        <input autofocus type="text" name="contact_organization_name" class="form-control"
              [ngModel]="contact_organization_name">
      </div>

      <div class="form-group">
        <label>Owner</label>
        <select class="form-control" name="owner_id" [ngModel]="owner_id">
          <option *ngFor="let user of user_list_data" [value]="user.email">
            {{ user.email == owner_id ? user.nickname + '(you)' : user.nickname }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>Address</label>
        <ng4geo-autocomplete [userSettings]="userSettings2" 
          (componentCallback)="autoCompleteCallback($event)"></ng4geo-autocomplete>
      </div>

      <div *ngFor="let field of custom_field_list; let i=index">
        <div class="form-group" *ngIf="field.is_type === 'Single option'">
          <!-- single option dropdown -->
          <label>{{field.label}}</label>
          <ng-select
              [items]="field.multiple_value"
              [disabled]="disabled"
              (data)="refreshValue($event)"
              (selected)="selected($event)"
              (removed)="removed($event)"
              (typed)="typed($event)"
              placeholder="No selected"
              ngModel
              name="{{field.field_api_key}}">
          </ng-select>
        </div>

        <!-- text field -->
        <div class="form-group" *ngIf="field.is_type === 'Text'">
          <label>{{field.label}}</label>
          <input type="text" ngModel name="{{field.field_api_key}}" class="form-control">
        </div>

        <div class="form-group" *ngIf="field.is_type == 'Large text'">
          <label>{{field.label}}</label>
          <textarea rows="3" cols="30" ngModel class="form-control"
            name="{{field.field_api_key}}" ></textarea>
        </div>

        <div class="form-group" *ngIf="field.is_type == 'Date'">
          <label>{{field.label}}</label>
          <input type="date" ngModel class="form-control" name="{{field.field_api_key}}">
        </div>

        <div class="form-group" *ngIf="field.is_type == 'Multiple option'">
          <label>{{field.label}}</label>
          <ng-select  [multiple]="true"
                      [items]="field.multiple_value"
                      [disabled]="disabled"
                      placeholder="No selected"
                      ngModel
                      name="{{field.field_api_key}}">
            </ng-select>
        </div>

        <div class="form-group" *ngIf="field.is_type == 'Time'">
          <label>{{field.label}}</label>
          <select class="form-control" ngModel name="{{field.field_api_key}}">
            <option disabled [selected]="true">select</option>
            <option [value]="t" *ngFor="let t of arr_time">{{t}}</option>
          </select>
        </div>

        <div class="form-group" *ngIf="field.is_type == 'Numerical' || field.is_type == 'Phone'">
          <label>{{field.label}}</label>
          <input type="number" ngModel class="form-control" name="{{field.field_api_key}}">
        </div>

        <div class="form-group" *ngIf="field.is_type == 'Date range' ">
          <label>{{field.label}}</label>
          <my-date-range-picker name="{{field.field_api_key}}"
              [options]="myDateRangePickerOptions" ngModel>
          </my-date-range-picker>
        </div>
      </div>
    </form>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-success" (click)="add_organization(addOrganizationForm)">Ok</button>
  </bs-modal-footer>
</bs-modal>