<header id="header" class="header" *ngIf="comp.name == 'WelcomeComponent' " >
  <nav class="navbar-fixed-top">
    <div class="container-fluid">
      <ul class="header__navigation nav navbar-nav">
        <li><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span></li>
        <li> 
          <div class="reactive-logo__image reactive-logo__image--big ">
            <img src="assets/images/Asset-1.png">
          </div>
          <div class="reactive-logo__image reactive-logo__image--small">
            <img src="assets/images/Artboard1.png" alt="">
          </div>
        </li>
      </ul>
      <ul class="header__navigation nav navbar-nav navbar-right">
        <li class="header__navigation__signup _hidden-mobile">
          <a href="" [routerLink]="['/login']">Sign in</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div id="main">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <ul class="side-menu__container">
      <li><a href=""><img src="assets/images/Asset-1.png"></a></li>
      <li><a href="">Features</a></li>
      <li><a href="">Pricing</a></li>
      <li><a href="">Integrations</a></li>
      <li><a href="">Resources</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Support center (EN)</a></li>
      <li><a href="#"><button class="btn-default">Get started free</button></a></li>
      <li class="side-menu__language-picker side_butn">
        <div class="form">
          <div class="form__item">
            <div class="form__field-wrapper form__field-wrapper--align-left form__field-wrapper--select form__field-wrapper--light">
              <span class="plain-select">
                <select class="form__select form__select--language form__select--light ">
                  <option class="form__option" value="en">English (US)</option>
                  <option class="form__option" value="en-gb" selected="selected">English (UK)</option>
                  <option class="form__option" value="et"> Eesti</option>
                  <option class="form__option" value="fr">Français</option>
                  <option class="form__option" value="it">Italiano</option>
                  <option class="form__option" value="de">Deutsch</option>
                  <option class="form__option" value="es">Español</option>
                  <option class="form__option" value="pl">Polski</option>
                  <option class="form__option" value="pt">Português (BR)</option>
                  <option class="form__option" value="ru">Русский</option>
                  <option class="form__option" value="nb">Norsk</option>
                  <option class="form__option" value="nl">Nederlands</option>
                  <option class="form__option" value="fi">Suomi</option>
                  <option class="form__option" value="tr">Türkçe</option>
                  <option class="form__option" value="ko">Korean (한국어)</option>
                </select>
              </span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="block-container block-container--fluid block-container--white-theme">
  <div class="block-container">
    <div class="content-wrapper">
      <div class="content-wrapper__inner _typography text-center">
        <div class="block-container block-container--lg">
          <h1>See the actions that drive deals to close</h1>
          <p>See your Sales monster clearly, take the actions that matter</p>
        </div>
      </div>
      <div class="text-with-image">
        <div class="text-with-image__inner">
          <div class="text-with-image__image-item">
            <img src="assets/images/welcomeback/pipeline-in-action.jpg" class="text-with-image__image">
          </div>
          <div class="text-with-image__text-item">
            <div class="text-with-image__text-item__inner _typography">
              <h2 class="h5"><strong>Is your trial almost over?</strong></h2>
              <p>Enter your credit card details and transition to a paid subscription without hassle.</p>
              <div>
                <a href="" class="btn btn--lg btn--primary" data-track-action="Clicked Go to payment - Hero">
                  Go to payment
                </a>
              </div>
              <small class="text-with-image__cta-subtitle">And see what’s possible with Sales monster</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="generic-hero-block generic-hero-block__layout-vertical">
  <div class="container-fluid">
    <div class="row">
      <div class="generic-hero-block__title-wrapper">
        <h3 class="h2">Need help getting started?</h3>
        <p class="generic-hero-block__subtitle">Discover the ins-and-outs of Sales monster and learn about all the customisation possibilities and how to add additional users. Start importing data and find out which features and integrations you could benefit from.</p>
      </div>
      <div class="generic-hero-block__button-wrapper">
        <a class="generic-hero-block__button btn btn--lg btn--default " target="_blank" data-track-action="Clicked Get support" href="">Get support</a>
      </div>
    </div>
  </div>
</section>

<div class="block-container">
  <section class="pipedrive-app-ad">
    <div class="pipedrive-app-ad__inner">
      <article class="pipedrive-app-ad__article">
        <div class="_typography">
          <h2 class="pipedrive-app-ad__title">Take your salesmonster with you on the go!</h2>
          <img src="assets/images/mobile-app.png" class="pipedrive-app-ad__mobile-image lazy-load">
          <p>
            Did you know that you can track your sales calls with Sales monster  iOS and Android apps? Just open the app, start the call and let Sales monster  do the rest. Download the app and organise your sales on the go, even when you're not connected to the web. It’s all synced when you get back to the office.
          </p>
        </div>
        <div class="mobile-app-buttons">
          <div class="mobile-app-buttons__inner">
            <figure class="mobile-app-buttons__figcaption">
              <figcaption>
                <small class="mobile-app-buttons__rating-text">Top Rated CRM App</small>
                <span class="mobile-app-buttons__rating">4.5 / 5</span>
              </figcaption>
              <img src="assets/images/app-rating.svg" width="113" height="18">
            </figure>
            <ul class="mobile-app-buttons__items">
              <li class="mobile-app-buttons__item">
                <a href="" data-track-action="Clicked iOS App Button" target="_blank" class="btn btn--lg btn--app btn--app--app-store">App Store</a>
              </li>
              <li class="mobile-app-buttons__item">
                <a href="" data-track-action="Clicked Android App Button" target="_blank" class="btn btn--lg btn--app btn--app--google-play">Google Play</a>
              </li>
            </ul>
          </div>
        </div>
      </article>
      <div class="pipedrive-app-ad__figure-wrapper">
        <figure class="pipedrive-app-ad__figure">
          <figcaption class="pipedrive-app-ad__figcaption">
            <small class="pipedrive-app-ad__rating-text">Top Rated CRM App</small>
            <span class="pipedrive-app-ad__rating">4.5 / 5</span>
            <img  class="" src="assets/images/app-rating.svg" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
          </figcaption>
          <div class="pipedrive-app-ad__figure-image-wrap">
            <img class="pipedrive-app-ad__figure-image" src="assets/images/mobile-app.png" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
          </div>
        </figure>
      </div>
    </div>
  </section>
</div>
<div class="block-container con-back">
  <div class="content-wrapper">
    <div class="content-wrapper__inner content-wrapper__inner--thinner-sides">
      <section class="links-block">
        <div class="links-block__item ">
          <a href="" data-track-action="Clicked image - Video tutorials link" target="_blank">
            <div class="links-block__icon" style="background-image: url('assets/images/welcomeback/video-tutorials.svg'); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"></div>
          </a>
          <h4 class="links-block__title">Video tutorials</h4>
          <p class="links-block__text">The quickest way to become a Sales monster  expert is by watching our video tutorials. Watch and learn as our Getting Started video series puts you on the road to Sales monster  expertise.</p>
          <div class="links-block__button-wrapper">
            <a href="" data-track-action="Clicked bottom link - Video tutorials link" target="_blank" class="">
              Watch tutorials
            </a>
          </div>
        </div>
        <div class="links-block__item links-block__item--first-on-mobile">
          <a href="" data-track-action="Clicked image - Sales Pipeline Academy link" target="_blank">
            <div class="links-block__icon"  style="background-image: url('assets/images/welcomeback/sales-pipeline-academy.svg'); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"></div>
          </a>
          <h4 class="links-block__title">Sales Pipeline Academy</h4>
          <p class="links-block__text">Grow your sales in two weeks with the Sales Pipeline Academy email course. Learn how to get more sales with exclusive advice and insights.</p>
          <div class="links-block__button-wrapper">
            <a href="" data-track-action="Clicked bottom link - Sales Pipeline Academy link" target="_blank" class="btn btn--lg btn--default">
              Join today
            </a>
          </div>
        </div>
        <div class="links-block__item ">
          <a href="">
            <div class="links-block__icon"  style="background-image: url('assets/images/welcomeback/blog.svg'); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"></div>
          </a>
          <h4 class="links-block__title">Sales monster Blog</h4>
          <p class="links-block__text">Shortcuts, hacks, workarounds and productivity advice - we've collected them all in one convenient place. Make the most of Sales monster  by learning from the experts.</p>
          <div class="links-block__button-wrapper">
            <a href="">
              Go to blog
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="block-container">
  <section class="integrations ">
    <h2 class="integrations__title h5">Connect Sales monster  to your favourite apps</h2>
    <ul class="integrations__logos">
      <li class="integrations__item integrations__item--google"></li>
      <li class="integrations__item integrations__item--mailchimp"></li>
      <li class="integrations__item integrations__item--zapier"></li>
      <li class="integrations__item integrations__item--yesware"></li>
      <li class="integrations__item integrations__item--pandadoc"></li>
      <li class="integrations__item integrations__item--trello"></li>
    </ul>
    <a href="" data-track-action="Clicked See all integrations" class="integrations__see-all-link">
      See all integrations
    </a>
    <p class="integrations__api-link">
      Want to connect Sales monster  with other software? Solve it with our <a href="" data-track-action="Clicked API link - Integrations">API</a>.
    </p>
  </section>
</div>
<div class="block-container con-back">
  <footer class="footer" style="padding-bottom: 85px; margin-top: 0px;">
    <div class="footer__inner">
      <div class="footer__cols">
        <div class="footer__col">
          <ul class="footer__list">
            <li class="footer__list-item"><strong>Sales monster </strong></li>
            <li class="footer__list-item"><a class="footer__list-link" href="">About</a></li>
            <li class="footer__list-item"><a class="footer__list-link" href="">Pricing</a></li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="" data-context="regular" target="_blank">
                Blog</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <ul class="footer__list">
            <li class="footer__list-item"><strong>Product</strong></li>
            <li class="footer__list-item"><a class="footer__list-link" href="">Features</a></li>
            <li class="footer__list-item"><a class="footer__list-link" href="">Integrations</a></li>
            <li class="footer__list-item"><a class="footer__list-link" href="" target="_blank">Status</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="" data-context="regular" target="_blank">API</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <ul class="footer__list">
            <li class="footer__list-item">
              <strong>Read more</strong>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="">Resources</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="">Get our newsletter</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="">Sales Pipeline Academy</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="">Sales pipeline management</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <ul class="footer__list">
            <li class="footer__list-item">
              <strong>Help</strong>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="" target="_blank">Support center</a>
            </li>
            <li class="footer__list-item">
              <div class="support-indicator">
                <span class="support-indicator__dot support-indicator__dot--open" title="Open"></span>
                <span class="support-indicator__available" style="display: inline;">Available now</span>
                <span class="support-indicator__unavailable">
                  Available 
                  <span class="support-indicator__available-in"></span>
                </span>
              </div>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <ul class="footer__list">
            <li class="footer__list-item">
              <strong>Language</strong>
            </li>
            <li class="footer__list-item">
              <div class="form">
                <div class="form__item">
                  <div class="form__field-wrapper form__field-wrapper--align-left form__field-wrapper--select ">
                    <span class="plain-select">
                      <select class="form__select form__select--language form__select--light-gray" data-type="languagePicker" autocomplete="off" name="language-picker">
                        <option class="form__option" value="en">English (US)</option>
                        <option class="form__option" value="en-gb" selected="selected">English (UK)</option>
                        <option class="form__option" value="et">Eesti</option>
                        <option class="form__option" value="fr">Français</option>
                        <option class="form__option" value="it">Italiano</option>
                        <option class="form__option" value="de">Deutsch</option>
                        <option class="form__option" value="es">Español</option>
                        <option class="form__option" value="pl">Polski</option>
                        <option class="form__option" value="pt">Português (BR)</option>
                        <option class="form__option" value="ru">Русский</option>
                        <option class="form__option" value="nb">Norsk</option>
                        <option class="form__option" value="nl">Nederlands</option>
                        <option class="form__option" value="fi">Suomi</option>
                        <option class="form__option" value="tr">Türkçe</option>
                        <option class="form__option" value="ko">Korean (한국어)</option>
                      </select>
                    </span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__bottom footer__bottom--align-right">
        <div class="social-links social-links--align-right">
          <ul class="social-links__list" itemscope="" itemtype="http://schema.org/Organization">
            <li class="social-links__list-item">
              <a itemprop="sameAs" href="" class="social-links__list-link social-links__list-link--facebook" target="_blank"></a>
            </li>
            <li class="social-links__list-item">
              <a itemprop="sameAs" href="" class="social-links__list-link social-links__list-link--twitter" target="_blank"></a>
            </li>
            <li class="social-links__list-item">
              <a itemprop="sameAs" href="" class="social-links__list-link social-links__list-link--linkedin" target="_blank"></a>
            </li>
            <li class="social-links__list-item">
              <a itemprop="sameAs" href="" class="social-links__list-link social-links__list-link--gplus" target="_blank"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="footer__copyright">©2017 Sales monster </div>
        <ul class="footer__links">
          <li class="footer__link"><a href="/en-gb/terms-of-service" rel="nofollow">Terms of Service</a>
          </li>
          <li class="footer__link"><a href="/en-gb/privacy" rel="nofollow">Privacy Policy</a></li>
          <li class="footer__link"><a href="/en-gb/sitemap">Site map</a></li>
        </ul>
        <div class="footer__bottom-text">Sales monster  is a Web-based Sales CRM.</div>
      </div>
    </div>
  </footer>
</div>