.header {
    background: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.3);
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    box-shadow: 7px 4px 100px;
}
.header nav {
    padding: 10px 11px 1px 3px;
    transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
nav {
    background: #fff !important;
    z-index: 1035 !important;
    height: 90px !important;
}
.header__navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-left: auto;
}
.reactive-logo__image {
    display: block;
}
.header__navigation li img {
    padding: 7px 25px;
    height: 50px;
}
img {
    height: auto;
}
embed, img, object {
    max-width: 100%;
}
.reactive-logo__image--small {
    display: none;
}

.header__navigation li a {
    color: #14538e !important;
    font-weight: 700;
}
.header__navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-left: auto;
}
.header__navigation li {
    line-height: 60px !important;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 12px 12px !important;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 31px !important;
}
.header__navigation>:not(:first-child) {
    margin-left: 12px;
}
li {
    list-style-type: none;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1300;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}
.sidenav .closebtn {
    position: absolute;
    top: 16px;
    /* right: 25px; */
    font-size: 45px;
    margin-left: -45px;
    color: white;
}
.sidenav a {
    padding: 5px 8px 8px 65px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
a {
    color: #fff !important;
    text-decoration: none;
}
.side-menu__container {
    display: inline-block;
    padding: 0px !important;
}
.side-menu__container {
    display: inline-block;
    padding: 113px 52px 27px 96px;
}
.side-menu__container li img {
    width: 88%;
}
.side_butn {
    padding: 8px 8px 8px 65px;
}
.btn.btn--default.btn--alt, .header--alt .btn.btn--alt.btn--primary, .header--alt.header--alt--inverted .btn.btn--default.btn--link, .header--alt.header--alt--inverted .btn.btn--primary {
    color: #fff;
    box-shadow: inset 0 0 0 3px #fff;
}
.btn.btn--default, .header--alt .btn.btn--primary {
    color: #26292c;
    box-shadow: inset 0 0 0 3px #fff !important;
    background: 0 0;
    font-weight: 700;
}
.btn.btn--default, .header--alt .btn.btn--primary {
    color: #26292c;
    box-shadow: inset 0 0 0 3px #26292c;
    background: 0 0;
    font-weight: 700;
}
.btn.btn {
    font-family: MuseoSans,sans-serif;
    display: inline-block;
    padding: 8px 20px;
    background: 0 0;
    text-align: center;
    outline: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    border: 0;
    cursor: pointer;
    margin: 0;
    color: rgba(38,41,44,.6);
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.5em;
}
.side_butn {
    padding: 8px 8px 8px 65px;
}
.side-menu__language-picker {
    margin-top: 50px;
}
.form__item {
    margin-bottom: 16px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 250px;
    -ms-flex: 0 1 250px;
    flex: 0 1 250px;
    position: relative;
    overflow: visible;
    margin-right: 10px;
}
.form__field-wrapper--align-left {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.form__field-wrapper--light {
    color: rgba(255,255,255,.6);
    border-color: rgba(255,255,255,.6);
}

.form__field-wrapper--select {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(38,41,44,.6);
    border-color: #aeb5b7;
}
.form__field-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
   /* -webkit-justify-content: center;*/
    -ms-flex-pack: center;
    /*justify-content: center;*/
}
.plain-select {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 200px;
}
.form__field-wrapper>* {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.plain-select select {
    line-height: normal;
    height: 38px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    width: 200px;
    display: block;
    width: 100%;
    color: #fff;
    padding: 8px 20px 7px 10px;
    margin: 0;
    line-height: normal;
}
.form__select--light {
    color: rgba(255,255,255,.6);
    border-color: rgba(255,255,255,.6);
}
.form__select--language {
    width: auto;
    padding: 0 20px 0 0;
    height: 1.5em;
}
.form__select {
    border: 0;
    border-bottom: 1px solid #aeb5b7;
    background: 0 0;
    padding: 6px 20px 6px 10px;
    margin: 0;
    color: #26292c;
    font-family: MuseoSans,sans-serif;
    outline: 0;
    border-radius: 0;
    min-width: 0;
    width: 100%;
    display: block;
    font-weight: 500;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 0;
    cursor: pointer;
}
.form__option {
    color: #000;
}
.plain-select:after {
    content: "";
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 50%;
    margin-top: -3px;
    height: 0;
    width: 0;
    border-top: 6px solid #777777;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
}
.block-container--white-theme {
    background-color: #fff;
    color: #26292c;
    margin-top: 60px;
}
.block-container {
    font-family: MuseoSans,sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1.5em;
}
.block-container--fluid, .row--fluid {
    max-width: 100%;
}
.block-container, .row {
    width: auto;
    max-width: 1600px;
    min-width: 0;
    margin: 0 auto;
    overflow: visible;
}
.block-container {
    font-family: MuseoSans,sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1.5em;
}
.content-wrapper:after, .content-wrapper:before {
    content: '';
    display: table;
}
.text-center {
    text-align: center;
}
.content-wrapper__inner {
    margin: 100px;
}
.block-container--lg, .row--lg {
    max-width: 1200px;
}
._typography h1:not([class]) {
    font-size: 64px;
    line-height: 1.2em;
}
._typography h1:not([class]), ._typography h2:not([class]), ._typography h3:not([class]), ._typography h4:not([class]), ._typography h5:not([class]), ._typography h6:not([class]) {
    font-weight: 400;
    margin-top: 64px;
    margin-bottom: 32px;
}
.h1, h1 {
    font-size: 64px;
    line-height: 1.2em;
}
.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
    font-weight: 400;
    margin-bottom: 32px;
}
._typography p:not([class]) {
    margin-top: 32px;
    margin-bottom: 32px;
}
.text-with-image {
    overflow: hidden;
}
.text-with-image>* {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.text-with-image__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: right;
}
.text-with-image__image-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 60%;
    -ms-flex: 1 1 60%;
    flex: 1 1 60%;
}
.text-with-image__image {
    display: block;
}
.text-with-image__text-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 40%;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
}
.text-with-image__text-item:after, .text-with-image__text-item:before {
    content: '';
    display: table;
}
.text-with-image__text-item__inner {
    margin: 64px;
}
.h5, h5 {
    font-size: 24px;
    line-height: 1.5em;
}
._typography strong:not([class]) {
    font-weight: 700;
}
.btn.btn--primary {
    color: #fff!important;
    background: #8cc739 !important;
    font-weight: 700;
}
.btn.btn--lg {
    padding: 8px 24px 9px;
    font-size: 22px;
    line-height: 1.5em;
}
.text-with-image__cta-subtitle {
    display: block;
    margin-top: .8em;
}
.small, small {
    font-size: 14px;
    line-height: 1.5em;
    display: inline-block;
}
.content-wrapper:after {
    clear: both;
}
.generic-hero-block {
    background: #f4f5f5;
}
.generic-hero-block__layout-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}
.generic-hero-block {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    padding: 64px;
}
.generic-hero-block__layout-vertical .generic-hero-block__title-wrapper {
    margin: 0 auto;
    max-width: 1100px;
}
.generic-hero-block__title-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.h2, h2 {
    font-size: 48px;
    line-height: 1.2em;
}
.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
    font-weight: 400;
    margin-bottom: 32px;
}
.generic-hero-block__layout-vertical .generic-hero-block__button-wrapper {
    text-align: center;
    padding-left: 0;
}
.generic-hero-block__button-wrapper {
    width: auto;
    text-align: right;
    padding-left: 50px;
}
.generic-hero-block__button-wrapper a
{
	color: black !important;
    border: solid;
    box-shadow: 0px 0px 0px !important;
}
.btn.btn--default, .header--alt .btn.btn--primary {
    color: #26292c;
    box-shadow: inset 0 0 0 3px #fff !important;
    background: 0 0;
    font-weight: 700;
}
.btn.btn--lg {
    padding: 8px 24px 9px;
    font-size: 22px;
    line-height: 1.5em;
}
.btn.btn {
    font-family: MuseoSans,sans-serif;
    display: inline-block;
    padding: 8px 20px;
    background: 0 0;
    text-align: center;
    outline: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    border: 0;
    cursor: pointer;
    margin: 0;
    color: rgba(38,41,44,.6);
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.5em;
}
.pipedrive-app-ad {
    background: #fff;
}
.pipedrive-app-ad:after, .pipedrive-app-ad:before {
    content: '';
    display: table;
}
.pipedrive-app-ad__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
   /* display: flex;*/
    margin: 64px;
}
.pipedrive-app-ad__article {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
}
.pipedrive-app-ad__title {
    margin-top: 0!important;
    margin-right: 10%;
}
.h2, h2 {
    font-size: 48px;
    line-height: 1.2em;
}
.pipedrive-app-ad__mobile-image {
    display: none;
    max-width: 100%;
    width: 300px;
    margin: 40px auto;
}
.mobile-app-buttons__figcaption {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0 10px;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5em;
}

.mobile-app-buttons {
    line-height: 0;
    margin-top: 32px;
    margin-bottom: 32px;
}
.mobile-app-buttons__rating-text {
    display: block;
    color: #888e94;
}
.mobile-app-buttons__rating {
    display: block;
    color: #26292c;
}
.pipedrive-app-ad__mobile-image {
    display: none;
    max-width: 100%;
    width: 300px;
    margin: 40px auto;
}
.mobile-app-buttons__inner {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.mobile-app-buttons__figcaption {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0 10px;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5em;
}
.mobile-app-buttons__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    line-height: 0;
    list-style: none!important;
    margin: 0!important;
}
.mobile-app-buttons__item:not(:last-child) {
    margin-right: 20px;
}
.mobile-app-buttons__items li {
    margin-left: 0!important;
}
.btn.btn--app.btn--lg {
    height: 53px;
    width: 190px;
}
.btn.btn--app--app-store {
    background-image: url(../../assets/images/app-store.png);
    background-size: 90%;
}
.btn.btn--app {
    color: #fff;
    border-radius: 3px;
    text-indent: -1000px;
    overflow: hidden;
    background: center center/80% no-repeat #000;
    width: 150px;
}
.btn.btn--lg {
    padding: 8px 24px 9px;
    font-size: 22px;
    line-height: 1.5em;
}
.btn.btn--app--google-play {
    background-image: url(../../assets/images/google-play.svg);
    background-size: 90%;
}
.pipedrive-app-ad__figure-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
}
.pipedrive-app-ad:after, .pipedrive-app-ad:before {
    content: '';
    display: table;
}
.pipedrive-app-ad {
    background: #fff;
}
.pipedrive-app-ad__figure {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-radius: 3px;
}
.pipedrive-app-ad__figcaption {
    /*background: url(../../assets/images/pipedrive-app-ad/bg-rating-flag.svg) 0 0/100% 100%;*/
    padding: 20px 20px 50px 60px;
    max-width: 240px;
    text-align: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.pipedrive-app-ad__rating-text {
    display: block;
    color: #888e94;
}
.pipedrive-app-ad__rating {
    display: block;
    color: #26292c;
}
.pipedrive-app-ad__figure-image-wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
}
.pipedrive-app-ad__figure-image {
    margin-top: -80px;
}
.pipedrive-app-ad:after {
    clear: both;
}
.con-back {
    background: #14538e;
    color: white;
}
.content-wrapper__inner--thinner-sides {
    margin-left: 32px;
    margin-right: 32px;
}
.content-wrapper__inner {
    margin: 64px;
}
.links-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.links-block__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    border-bottom: 2px solid #fff;
    padding: 64px 32px;
}
.links-block__title {
    margin-top: 1.2em;
}
.links-block__text {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.integrations {
    background: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 64px;
}
.integrations__title {
    margin-bottom: 60px!important;
}
.integrations__logos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: -64px;
}
.integrations li.integrations__item {
    margin: 0 15px 64px;
}
.integrations__item--google {
    background-image: url(../../assets/images/google-apps.png);
}
.integrations__item {
    min-width: 152px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: 0 15px 32px;
}
.integrations__item--mailchimp {
    background-image: url(../../assets/images/mailchimp-logo.png);
}
.integrations__item--zapier {
    background-image: url(../../assets/images/zapier-logo.png);
}
.integrations__item--yesware {
    background-image: url(../../assets/images/yesware_logo.png);
}
.integrations__item--pandadoc {
    background-image: url(../../assets/images/pandadoc-logo.png);
}
.integrations__item--trello {
    background-image: url(../../assets/images/trello-logo-blue.svg);
}
.integrations__see-all-link {
    display: inline-block;
    margin-top: 3em;
}
.integrations__api-link {
    margin-top: 1em;
}
.con-back {
    background: #14538e;
    color: white;
}
.footer {
    overflow: hidden;
}
.footer__inner {
    margin: 32px 64px;
}
.footer__cols {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    /*display: flex;*/
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -72px;
}
.footer__col {
    margin-right: 72px;
    margin-bottom: 32px;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
.footer__list-item {
    margin: 8px 0;
}
.footer__list-item>* {
    white-space: nowrap;
}
.footer__list li a {
    color: #fff !important;
}
.footer__col {
    margin-right: 72px;
    margin-bottom: 32px;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
.footer__col:last-of-type {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
.footer__bottom--align-right {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 32px;
}
.footer__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 1.5em;
}
.social-links--align-right {
    text-align: right;
}
.social-links {
    margin-bottom: 24px;
}
.social-links__list-item:first-child {
    margin-left: 0;
}
.social-links__list-item {
    display: inline-block;
    margin: 0 0 0 32px;
    line-height: 1;
}
.social-links__list-link--facebook {
    width: 10px;
}
.social-links__list-link {
    display: inline-block;
    background-image: url(../../assets/images/icons-social.png);
    background-size: 186px 22px;
    margin: 0;
    line-height: 1;
    height: 22px;
}
.social-links__list-link--twitter {
    width: 24px;
    background-position: -47px 0;
}
.social-links__list-link {
    display: inline-block;
    background-image: url(../../assets/images/icons-social.png);
    background-size: 186px 22px;
    margin: 0;
    line-height: 1;
    height: 22px;
}
.social-links__list-link--linkedin {
    width: 21px;
    background-position: -105px;
}
.social-links__list-link {
    display: inline-block;
    background-image: url(../../assets/images/icons-social.png);
    background-size: 186px 22px;
    margin: 0;
    line-height: 1;
    height: 22px;
}
.footer__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 1.5em;
}
.footer__bottom-text, .footer__copyright {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
.footer__links {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.footer__bottom-text, .footer__copyright {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
.support-indicator {
    color: #888e94;
}
.support-indicator__dot--open {
    background-color: #43c35e;
}
.support-indicator__dot {
    display: inline-block;
    height: 8px;
    width: 8px;
    background-color:#43c35e;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 12px;
}
.support-indicator__available, .support-indicator__unavailable {
    vertical-align: middle;
    display: none;
}
.support-indicator__available, .support-indicator__unavailable {
    vertical-align: middle;
    display: none;
}
.footer__link {
    display: inline-block;
    padding-left: 10px;
    border-left: 1px solid #888e94;
    margin-left: 10px;
}
.footer__links li a {
    color: #fff!important;
}
.links-block__icon {
    height: 145px;
    background: center center/contain no-repeat;
}
header.header-fixed nav {
    padding: 0px;
    background: #fff !important;
    z-index: 1035 !important;
    height: 65px !important;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #8cc739;
}
.btn-default {
    color: #fff;
    background-color: #111111;
    border-color: #fff;
    border: solid 4px;
    padding: 5px 20px;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover 
{
   color: #fff;
    background-color: #111111;
    border-color: #fff;
    border: solid 4px;
    padding: 5px 20px; 
}

@media (min-width: 768px){
    .text-with-image__text-item {
        min-width: 400px;
    }
}

@media (min-width: 768px){
    .generic-hero-block__layout-vertical .generic-hero-block__title-wrapper {
        margin-bottom: .9em;
    }
}

@media (min-width: 768px){
    .generic-hero-block__layout-vertical .generic-hero-block__subtitle {
        margin-bottom: 1.5em;
    }
}

@media (min-width: 992px){
    .mobile-app-buttons__figcaption {
        display: none;
    }
}

@media (min-width: 768px){
    .links-block__item:not(:last-of-type) {
        border-right: 2px solid #fff;
    }
    .links-block__item {
        border-top: 2px solid #fff;
    }
    .links-block__button-wrapper {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

@media (min-width:100px) and (max-width:400px ){
    .header__navigation li img {
        padding: 0px;
        width: 23%;
    }
    .header__navigation>:not(:first-child) {
        margin-left: 0px !important;
    }
}

@media (max-width: 400px){
    .reactive-logo__image--big {
        display: none;
    }

    .reactive-logo__image--small {
        display: block;
    }
}

@media (max-width: 767px){
  .navbar-right{
    float: right;
    margin-top: -70px;
  }
  ._typography h1:not([class]) {
      font-size: 40px;
  }
  .block-container {
      font-size: 16px;
  }
  ._typography p:not([class]) {
      margin-top: 24px;
      margin-bottom: 24px;
  }
  .text-with-image__image-item {
      width: 145%;
      margin-left: -34%;
  }
  .text-with-image__text-item__inner {
      margin: 48px;
  }
  .h5, h5 {
      font-size: 22px;
  }
  .btn.btn--lg {
      font-size: 18px;
      width: 100%;
  }
  .generic-hero-block {
      padding: 48px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
  }
  .h2, h2 {
      font-size: 32px;
  }
  .h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
      margin-bottom: 24px;
  }
  .generic-hero-block__subtitle {
      margin-bottom: 28px;
  }
  .generic-hero-block__button-wrapper {
      padding-left: 0;
      text-align: center;
      width: 100%;
  }
  .btn.btn--default, .header--alt .btn.btn--primary {
      padding: 13px 16px;
  }
  .btn.btn--lg {
      font-size: 18px;
      width: 100%;
  }
  .block-container {
      font-size: 16px;
  }
  .pipedrive-app-ad__inner {
      margin: 48px;
  }
  .pipedrive-app-ad__article {
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  }
  .h2, h2 {
      font-size: 32px;
  }
  .pipedrive-app-ad__mobile-image {
      display: block;
  }
  .mobile-app-buttons {
      margin-top: 24px;
      margin-bottom: 24px;
  }
  .mobile-app-buttons__figcaption {
      font-size: 16px;
  }
  .btn.btn {
      font-size: 16px;
  }
  .content-wrapper__inner--thinner-sides {
      margin-left: 24px;
      margin-right: 24px;
  }
  .links-block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
  }
  .links-block__item {
      padding: 50px 16px 25px;
      -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
  }
  .h4, h4 {
      font-size: 24px;
  }
  .links-block__item--first-on-mobile {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
  }
  .links-block__item {
      padding: 50px 16px 25px;
      -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
  }
  .btn.btn--default, .header--alt .btn.btn--primary {
      padding: 13px 16px;
  }
  .btn.btn--lg {
      font-size: 18px;
      width: 100%;
  }
  .integrations {
      padding: 48px;
  }
  .integrations__title {
      margin: 0 auto;
      margin-bottom: 40px!important;
  }
  .integrations__logos {
      margin-bottom: -48px;
  }
  .integrations li.integrations__item {
      margin-bottom: 48px;
  }
  .integrations__item {
      margin-bottom: 24px;
      min-width: 120px;
  }
  .integrations__item--mailchimp {
      background-image: url(../../assets/images/mobile-mailchimp-logo.png);
  }
  .integrations li.integrations__item {
      margin-bottom: 48px;
  }
  .integrations__item--zapier {
      background-image: url(../../assets/images/mobile-zapier-logo.png);
  }
  .integrations__item--yesware {
      background-image: url(../../assets/images/yesware_logo.png);
  }
  .integrations__item--pandadoc {
      background-image: url(../../assets/images/mobile-pandadoc-logo.png);
  }
  .integrations__item--trello {
      background-image: url(../../assets/images/trello-logo-blue.svg);
  }
  .integrations__api-link, .integrations__see-all-link {
      display: none;
  }
  .integrations__api-link, .integrations__see-all-link {
      display: none;
  }
  .footer__inner {
      margin: 24px 48px;
  }
  .footer__cols {
      margin-right: -54px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
  }
  .footer__col {
      margin-right: 54px;
      margin-bottom: 24px;
  }
  .footer__bottom--align-right {
      margin-top: 24px;
  }
  .social-links--align-right {
      text-align: left;
  }
  .social-links {
      margin-bottom: 18px;
  }
  .social-links__list-link {
      background-image: url(../../assets/images/icons-social.png);
      background-size: 165px 19px;
      height: 19px;
  }
  .social-links__list-link--facebook {
      width: 10px;
  }
  .social-links__list-item {
      margin-left: 18px;
  }
  .social-links__list-link--twitter {
      width: 21px;
      background-position: -42px 0;
  }
  .social-links__list-link {
      background-image: url(../../assets/images/icons-social.png);
      background-size: 165px 19px;
      height: 19px;
  }
  .social-links__list-link--linkedin {
      width: 19px;
      background-position: -93px;
  }
  .social-links__list-link {
      background-image: url(../../assets/images/icons-social.png);
      background-size: 165px 19px;
      height: 19px;
  }
  .text-with-image__inner {
      display: block;
      text-align: center;
  }
  .lazy-load
   {
      opacity: 1;
      min-height: 1px;
  }
}

@media (max-width: 991px){
  .mobile-app-buttons__inner {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
  }
  .mobile-app-buttons__items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
  }
  .mobile-app-buttons__item:not(:last-child) {
      margin: 0 0 10px;
  }
  .pipedrive-app-ad__figure {
      display: none;
  }
  .pipedrive-app-ad__figure-image {
      margin-top: 0;
      min-width: 0;
  }
  .footer__links {
      margin: 12px 0;
  }
  .text-with-image__inner {
      display: block;
      text-align: center;
  }
  .pipedrive-app-ad__article {
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  }
  .pipedrive-app-ad__mobile-image {
      display: block;
  }
  .footer__bottom {
      display: block;
  }
  .footer__link:first-child {
      padding-left: 0;
      border-left: 0;
      margin-left: 0;
  }
  .footer__links {
      margin: 12px 0;
  }
}