.navbar-default {
    background-color: #3d4145 !important;
    border-color: #e7e7e7 !important;
}
.logo-nav {
    display: block;
}
.navbar-brand {
    float: left;
    padding: 10px 3px !important;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.navbar-default .navbar-nav > li > a {
    color: #c2c8cd !important;
    font-size: 14px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 8px 12px !important;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 31px !important;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    /*display: none;*/
    float: left;
    min-width: 100px !important;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.dropdown-menu > li > a {
    display: block;
    padding: 4px 25px !important;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}
.user img {
    height: 34px;
    border-radius: 42px;
    margin-top: 10px;
}
.usertext {
    margin: -20px 40px -18px;
    font-size: 12px;
}
.pad-zero {
    padding: 0px !important;
}
.mobile-logo {
    display: none;
}
.navbar-brand img {
    height: 28px;
    width: 100%;
}
.inner-addon {
    position: relative;
}
.left-addon .icon {
    left: 0px;
    color: black;
    z-index: 1243;
}
.inner-addon .icon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.left-addon input {
    padding-left: 30px;
}
.nav-search {
    width: 20%;
}
.navbar-default .navbar-nav > li > a {
    color: #c2c8cd !important;
    font-size: 14px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #26292c !important;
    color: #fff !important;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #333333 !important;
    background-color: #fff !important;
    height: 50px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
{
    text-decoration: none;
    color: #262626;
    background-color: #8cc739 !important;
}
.Wrapper-header {
    padding: 30px;
}
navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #fff;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.blur-back
{
    opacity: 0.7;
}
.blur-back:focus
{
    opacity: 1;
}
.navbar-right {
    float: right!important;
    margin-right: -30px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #333333 !important;
    background-color: #fff !important;
    height: 50px;
}
.user-name
{
    margin-top: -10px;
}

/*follower css*/
.wrapp{margin-top:50px;background: #f7f7f7;position: fixed;width: 100%;height: 100%;}
.upload-imguser{width:130px;border-radius: 80px;}
.panel-userdetails{border: solid 1px #ccc;border-radius: 7px;padding: 20px;background: #fff;margin-top: 10px;margin-bottom: 10px;}
hr{margin-top: 5px;margin-bottom: 10px;border: 0;border-top: 1px solid #999;}
.user-information h5{font-size: 13px}
.user-information p{font-size: 13px; font-weight: 500}
.btn-success { color: #ffffff;background-color: #8cc739 !important;border-color: #8cc739 !important;}


.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
    background-color: #ddd;
    border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border-color: #ddd;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
.tab-content{padding:8px 30px}
.user-imgicon{width: 45px;border-radius: 26px;float: left;    margin-right: 15px;}
.detial-info{ margin: 0;font-size: 13px;}
.username{color: #337ab7;font-weight: 700;}
.dealname{color: #337ab7}
.divide-line{border-bottom: dotted 1px rgba(0, 0, 0, 0.2); padding-top: 10px;padding-bottom: 12px;}
.follwer-text{font-size: 20px;font-weight: 700;}
.panel-default {border-color: transparent;}
.nav-tabs {border-bottom: 1px solid transparent; }
.panel-default>.panel-heading {color: #333;background-color:transparent; border-color: transparent;}
.panel {margin-bottom: 20px;background-color: transparent;border: 1px solid transparent; border-radius: 4px;-webkit-box-shadow: none;box-shadow: none;}
.content-tab{border: solid 1px rgba(0, 0, 0, 0.26);}
.nav-tabs li a{padding:2px 10px !important;}
.nav-tabs>li>a {margin-right: 0px;border: 1px solid #ccc;border-bottom: none;}
.follow-nav li a{border: none !important; border-radius: 33px; border-bottom-color: #ccc !important;}
.follow-nav li.active a{border: solid 1px #ccc !important;border-radius: 33px;  border-bottom-color: #ccc !important;}
.follow-nav li{ background: rgba(204, 204, 204, 0.34);border-radius: 51px;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd !important;
}
.follow-tabcontaent{padding: 5px 0px;}
a{text-decoration: none}
a:hover{text-decoration: none}
.upload-userimg
{
    border: solid 1px rgba(0, 0, 0, 0.28);
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.overlay-cross{color:  red ;right: 0;opacity: 0;}
.imgoverlay:hover .overlay-cross { opacity: 1;}
.listuser{padding: 0px}
.listuser li{list-style-type: none}
.emailtext{padding-left: 20px;text-transform: capitalize;font-size: 25px;}