<app-header></app-header>
<section class="wrapp">
  <div class="container-fluid">
    <div class="row">
      <h2 class="emailtext">{{follower_name_}}</h2>
      <div class="col-md-3">
        <div class="row panel-userdetails">
          <div class="col-sm-5 text-center">
            <img src="assets/images/blank_profile_male.jpg" class="upload-imguser">
          </div>
          <div class="col-sm-7 user-information">
            <h5>Name</h5>
            <p>{{follower_name_}}</p>
            <hr>
            <h5>Email</h5>
            <p>{{follower_email}}</p>
            <hr>
            <h5>Last log-in</h5>
            <p>2 hours ago</p>
            <hr>
            <p><a href="" [routerLink]="['/dashboard/setting']">Edit profile</a></p>
            <hr>
            <p><a href="" [routerLink]="['/dashboard']">Dashboard</a></p>
          </div>
        </div>
        <div class="row panel-userdetails">
          <div>
            <span class="follwer-text">Followers</span>
            <span class="pull-right"><button type="button" (click)="hide_show_div()" class="btn btn-default btn-xs">Add someone</button></span>
            <div *ngIf="bttn" class="upload-userimg">
              <span>Add follower by name</span>
              <select (change)="selected_follower($event)">
                <option  disabled selected>choose a user</option>
                <option *ngFor="let follows of not_follow"  [value]="follows.email">{{follows.nickname}}</option>
              </select>
            </div>
            <ul *ngFor="let follow of added_data" class="listuser">
              <li class="imgoverlay">
                <img src="assets/images/icon-user.png" alt="">
                <span>{{follow.follower_name}}</span>
                <span class="pull-right cursor overlay-cross" (click)="delete_follower(follow.uuid)"><i class="fa fa-times" aria-hidden="true"></i></span>
              </li>
            </ul>
          </div>
          <button type="button" class="btn btn-sm btn-success">start following</button>
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel with-nav-tabs panel-default">
          <ul id = "myTab" class ="nav nav-tabs">
            <li class = "active">
              <a href ="#update" data-toggle = "tab">Update</a>
            </li>
            <li>
              <a href = "#activity" data-toggle = "tab">Activites</a>
            </li>
            <li>
              <a href = "#following" data-toggle = "tab">Following</a>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content content-tab">
            <div class="tab-pane fade in active" id="update">
              <div class="row divide-line">
                <div class="col-md-10">
                  <span><img src="assets/images/blank_profile_male.jpg" class="user-imgicon"></span>
                  <span>
                    <p class="detial-info"><span class="username"><a href="">shikha</a></span> add new deal <span class="dealname"><a href="">deal name</a></span></p>
                    <div>1 Hour ago - <span><a href="">Like</a></span>- <span><a href="">Reply </a></span> <span> - <a href="">Delete</a></span></div>
                  </span>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/icon-input1.png" class="pull-right">
                </div>
              </div>
              <div class="row divide-line">
                <div class="col-md-10">
                  <span><img src="assets/images/blank_profile_male.jpg" class="user-imgicon"></span>
                  <span>
                    <p class="detial-info"><span class="username"><a href="">shikha</a></span> add new deal <span class="dealname"><a href="">deal name</a></span></p>
                    <div>1 Hour ago - <span><a href="">Like</a></span>- <span><a href="">Reply </a></span> <span> - <a href="">Delete</a></span></div>
                  </span>
                </div>
                <div class="col-md-2"><img src="assets/images/icon-input1.png" class="pull-right"></div>
              </div>
            </div>
            <div class=" tab-pane" id="activity">
              <h3>No activities planned yet.</h3>
            </div>
            <div class="tab-pane" id="following">
              <ul id = "myTab" class ="nav nav-tabs follow-nav">
                <li class = "active">
                  <a href ="#deal" data-toggle = "tab">Deal</a>
                </li>
                <li>
                  <a href = "#people" data-toggle = "tab">people</a>
                </li>
                <li>
                  <a href = "#organization" data-toggle = "tab">Organization</a>
                </li>
                 <li>
                  <a href = "#user" data-toggle = "tab">User</a>
                </li>
              </ul>
              <div class="tab-content follow-tabcontaent">
                <div class="tab-pane fade in active" id="deal">
                  <div>
                    <h5>Shikha is following</h5>
                    <table class="table table-hover" style="width: 100%">
                      <tbody>
                        <tr>
                          <td><img src="assets/images/icon-input1.png"><span><a href="">Deal name</a></span></td>
                          <td><button type="button" class="btn btn-default btn-xs pull-right">Unfollow</button></td>
                        </tr>
                      </tbody>                          
                    </table>
                  </div>
                </div> 
                <div class="tab-pane" id="people">
                  <table class="table table-hover" style="width: 100%">
                    <tbody>
                      <tr>
                        <td><img src="assets/images/icon-input1.png"><span><a href="">Deal name</a></span></td>
                        <td><button type="button" class="btn btn-default btn-xs pull-right">Unfollow</button></td>
                      </tr>
                    </tbody>                          
                  </table>
                </div> 
                <div class="tab-pane" id="organization">
                  <h4>fcscsa is not following any organizations.</h4>
                </div>
                <div class="tab-pane" id="user">
                  <h4>fcscsa is not following any user.</h4>
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

