<app-header></app-header>
<section class="wrapp">
  <div class="container-fluid">
    <div class="row btn-list" style="margin-left: 0px;">
      <div class="col-sm-4">
        <ul class="list-inline">
          <li>
            <button type="button" class="btn btn-success custom-btn" (click)="addProduct.open()">Add product</button>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 header-btn text-center">
        <ul class="list-inline">
          <li> {{productData.length!=0 ? productData.length : ''}} {{ productData.length | i18nPlural: messageMapping }}</li>
        </ul>
      </div>
      <div class="col-sm-4 header-btn text-right">
        <ul class="list-inline">
          <li><img class="loader_img" src="assets/images/Loading_icon.gif" [hidden]="!loader_image"></li>
          <li>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle custom-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-outdent" aria-hidden="true"></i>&nbsp;<strong>Everyone</strong>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu custom-dropdown menu" aria-labelledby="dropdownMenu1">
                <li>
                  <form class="navbar-form" role="search">
                    <div class="input-group bttn-clss">
                      <input type="text" class="form-control Search" placeholder="Search" (input)="filter_fields($event)">
                    </div>
                  </form>
                </li>
                <li>
                  <div class="user-clss">User</div>
                  <ul class="inner-ul" *ngIf="user_list_data">
                    <li><a>Everyone<span class="pull-right icon-check"><i class="fa fa-check" aria-hidden="true"></i></span></a></li>
                    <li *ngFor="let user of user_list_data">
                      <a><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; 
                      	<span>{{user.nickname}}</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul class="inner-ul">
                    <li>
  		                <a><i class="fa fa-plus" aria-hidden="true"></i><span style="color: #337ab7">&nbsp; &nbsp;Add new Filter</span></a>
  		              </li>
  	              </ul>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle custom-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><strong><i class="fa fa-ellipsis-h" aria-hidden="true"></i></strong>
              </button>
              <ul class="dropdown-menu pipe-drop inner-ul" aria-labelledby="dropdownMenu1">
                <li>Export filter result</li>
                <li>Data import on </li>
                <li>show on</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" style="margin-left: 0px;">
      <div class="btn-group">
        <button type="button" class="btn btn-default" (click)="filter_product_list('All')">All</button>
        <button type="button" class="btn btn-default" 
          *ngFor="let word of productFilter" (click)="filter_product_list(word)">{{word}}
        </button>
      </div>
    </div> 
    <br>
    <div class="table-responsive">
      <table class="table table-hover table-bordered" width="100%">
        <thead>
          <tr>
            <th class="th-size"><input type="checkbox" [checked]="check_all" (change)="check_all_prod()"></th>
            <th>Product name</th>
            <th>Product code</th>
            <th>Unit price({{product_currency}})</th>
            <th>Cost per unit</th>
            <th>Direct cost</th>
            <th>Our contact</th>
          </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let product of productData">
            <td><input type="checkbox" [checked]="product.is_checked" (change)="single_selection_checkbox(product, $event)"></td>
            <td>
              <a [routerLink]="['/product/details', product.uuid]" target="_blank">{{product.product_name}}</a>
            </td>
            <td>{{product.product_code}}</td>
            <td>{{product.unit_price}}</td>
            <td>{{product.cost_per_unit}}</td>
            <td>{{product.direct_cost}}</td>
            <td>{{product.user_username}}</td>
          </tr>
        </tbody>
      </table>
    </div> 
</div>
</section>

<!-- add new pipeline -->
<bs-modal #addProduct [backdrop]="'static'" class="add-person-popup">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Add new product</h4>
  </bs-modal-header>
  <bs-modal-body>
    <form [formGroup]="product_form">
      <div class="form-group"  [ngClass]="{'has-error': product_form.controls.product_name.invalid &&
                (product_form.controls.product_name.touched || submit)}">
        <label>Product name</label>
        <input type="text" class="form-control" formControlName="product_name">
        <p style="color: #a94442;" *ngIf="product_form.controls.product_name.invalid && submit">Product name required</p>
      </div>

      <div class="form-group">
        <label>Product code</label>
        <input class="form-control" formControlName="product_code">
      </div>
      <label for="text">Unit Price</label>
      <div class="row row-deal">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" formControlName="unit_price">
        </div>
        <div class="form-group col-md-6 col-xs-12">
          <select class="form-control" formControlName="product_currency" [(ngModel)]="selectedCurrency">
            <option [ngValue]="currency.Code" *ngFor="let currency of allCurrency">
              {{currency.fullname +"( "+currency.Code+" )"}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label>Cost Per Unit</label>
        <input type="text" class="form-control" formControlName="cost_per_unit">
      </div>
      <div class="form-group">
        <label>Direct Cost</label>
        <input type="text" class="form-control" formControlName="direct_cost">
      </div>
      <div>
        <form #userForm="ngForm">
        <div *ngFor="let field of custom_field_list; let i=index">
          <div class="form-group" *ngIf="field.is_type === 'Single option'">
            <!-- single option dropdown -->
            <label>{{field.label}}</label>
            <ng-select
                        [items]="field.multiple_value"
                        [disabled]="disabled"
                        (data)="refreshValue($event)"
                        (selected)="selected($event)"
                        (removed)="removed($event)"
                        (typed)="typed($event)"
                        placeholder="No selected"
                        ngModel
                        name="{{field.field_api_key}}">
            </ng-select>
          </div>

          <!-- text field -->
          <div class="form-group" *ngIf="field.is_type === 'Text'">
            <label>{{field.label}}</label>
            <input type="text" ngModel name="{{field.field_api_key}}" class="form-control">
          </div>

          <!--Date range-->
          <div class="form-group" *ngIf="field.is_type == 'Date range'">
            <label>{{field.label}}</label>
            <my-date-range-picker name="{{field.field_api_key}}"
              [options]="myDateRangePickerOptions" ngModel>
            </my-date-range-picker>
          </div>
                  
          <!--Time fields-->
          <div class="form-group" *ngIf="field.is_type === 'Time'">
            <label>{{field.label}}</label>
            <select class="form-control" ngModel name="{{field.field_api_key}}">
              <option disabled [selected]="true">select</option>
              <option [value]="t" *ngFor="let t of arr_time">{{t}}</option>
            </select>
          </div>
          
          <!--Date fields-->
          <div class="form-group" *ngIf="field.is_type === 'Date'">
            <label>{{field.label}}</label>
            <input type="date" ngModel name="{{field.field_api_key}}" class="form-control">
          </div>
          
          <!-- multiple option dropdown -->
          <div class="form-group" *ngIf="field.is_type === 'Multiple option'">
            <label>{{field.label}}</label>
            <ng-select  [multiple]="true"
                        [items]="field.multiple_value"
                        [disabled]="disabled"
                        (data)="refreshValue_m($event)"
                        (selected)="selected_m($event)"
                        (removed)="removed_m($event)"
                        placeholder="No selected"
                        ngModel
                        name="{{field.field_api_key}}">
            </ng-select>
          </div>
        </div>
      </form>
      </div>

    </form>
  </bs-modal-body>

  <bs-modal-footer>
    <div class="modal-footer foot-model">
      <div class="form-group col-md-6 col-6 col-xs-6">
        <div class="dropup">
          <button class="btn btn-default dropdown-toggle custom-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-th-large icon-th" aria-hidden="true"></i>&nbsp; 
              {{companyUserPermissionName}}
          </button>
          <div class="dropdown-menu dropupmenu" aria-labelledby="dropdownMenuButton">
            <ul class="company">
              <li>
                <a href="javascript:void(0)" (click)="updateCompanyPermission(false)"><span class="imgdrop"><img src="assets/images/visibility-icons-2x.png" alt=""></span><h5><strong>Owner & followers </strong></h5>
                <p class="dropup-p">Only the owner & followers can see and edit the details</p>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" (click)="updateCompanyPermission(true)">
                  <span class="imgdrop"><img src="assets/images/visibility1.png" alt=""></span><h5><strong>Entire company</strong></h5>
                  <p class="dropup-p">All users in the company can see and edit the details</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-success custom-btn" (click)="save_product(userForm);">Save</button>
  </bs-modal-footer>
</bs-modal>
