thead{ background-color: #f3f5f6; }
.footer-span{float: left; text-align: initial;}
.pointer { cursor: pointer !important; }
.fa-icon{ float: right; margin-top: -17px; cursor: pointer;}
/*------------------------------------------*/
.img-user img
{
   height: 34px;
    border-radius: 42px; 
}
.user_button
{
    margin: 6px 25px 0px;
}
.user_button button
{
    margin-right: -5px;
}
.user-permission
{
       padding: 0px 20px;
 
}
.user-permission button
{
    padding: 1px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 25px;
}
hr {
    margin-top: 10px !important;
    margin-bottom: -1px !important;
    border: 0;
    border-top: 1px solid #cccccc !important;
    margin: 20px;
}
.icon-hesding
{
    text-align: center;
    width: 5%;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle !important;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
td span
{
    color: #086bbf;
}
.btn-right
{
    text-align: center;
    margin: 25px 40px;
}

.main-panle
{
    border: solid 1px #ccc;
    padding: 15px;
    margin-top: 3px;
    background: #fff;
}
.default-btn
{
    font-family: inherit !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}
.btn-success {
    color: #ffffff;
    background-color: #8cc739 !important;
    border-color: #8cc739 !important;
}
.btn-default {
    color: #333;
    background-color: #fff;
     border-color: #cccccc !important; 
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: transparent !important;
}
.pipeline-panle {
    border: solid 1px #ccc;
    padding: 15px;
    margin-top: 3px;
    background: #fff;
}
.user_button button {
    margin-right: -5px;
}
.button-pipe button {
    margin-bottom: -2px;
    border-bottom: none;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 6px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

@media (min-width:300px) and (max-width:520)
{
    .btn-right{ text-align: left; margin: 10px 0px;}
}

@media (min-width:200px) and (max-width:768px)
{
.table {
    width: 100% !important;
    max-width: 100%;
    margin-bottom: 20px;
    margin: auto;
}
}
@media (min-width:769px) and (max-width:1024px)
{
.table {
    width: 96% !important;
    max-width: 100%;
    margin-bottom: 20px;
    margin: auto 12px;
}
}

/*tab-panle css*/
/*panel*/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
  background-color: #ddd;
  border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #eee;
  border-color: #ddd;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: transparent;
}
.panel-default {
    border-color: transparent;
}
.nav-tabs {
    border-bottom: 1px solid transparent;
    margin-bottom: -14px;
}
.nav-tabs>li>a {
    margin-right: -1px;
    line-height: 1.42857143;
    border-radius: 4px 4px 0 0;
}
.nav-tabs a:focus {
    outline: transparent;
    outline-offset: -2px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 4px 10px;
}
.nav-tabs>li>a {
    margin-right: -1px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
}
.user-permission .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus
{
    outline: transparent !important;
    outline-offset: -2px;
}

/*popup css*/
.custmoize-cls
{
    margin: 0px;
}
.custmoize-cls .col-sm-3
{
   padding: 15px; 
   
}
.custmoize-cls .col-sm-3:hover
{
    background: rgba(51, 122, 183, 0.13);
    padding: 15px;
}
.list-btn
{
    margin-top: 10px;
}
.tooltip {
   position: relative;
    display: inline-block;   
    opacity: 1 ;
    line-break: auto;
    z-index: inherit !important;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    /* bottom: 125%; */
    left: 50%;
    margin-left: -60px;
    opacity: 1;
    transition: opacity 1s;
}

.tooltip .tooltiptext::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: black;
    left: 10px;
    right:0px;
    top: -12px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.tooltip-bottom {
    top: 130%;
    left: 50%;
    margin-left: -60px;
}
.heading-text
{
    text-align: center;
    font-size: 15px;
    color: #080808;
}
.tooltiptext span
{
    color: #888e94;
}
.modal-footer {
    padding: 15px;
     text-align: left;
    border-top: none;
}
.tooltip img
{

    z-index: 0;
    width: 100%;
    height: 60px;
} 
.modal-header {
    padding: 10px 20px;
    border-bottom: 1px solid #e5e5e5;
    background: rgba(221, 221, 221, 0.44);
}
.modal-body {
    position: relative;
    padding: 5px 15px;
}
.modal-lg {
    width: 600px !important;
    margin: 30px auto;
}
.heading-popup
{
    margin-top: 0px;
}

/**/
.list-popupmodel
{
    list-style-type: none;
    margin-top: 5px;
    padding: 0px;
}
.list-popupmodel li
{
    background: #e0e4e7;
    padding: 5px;
    margin-bottom: 8px;
}
.list-popupmodel i
{
    margin-right: 10px;
}
.highlighted_container {
    display: inline-block;
    background-color: #e1f5e5;
    padding: 3px 10px;
    margin-top: -3px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-right: 10px;
    font-weight: 600;
}
.row-pad
{
    padding: 0px
}
.textareaform
{
    width: 56%;
    margin-right: 10px;
}
.textspan
{
    color: #888e94;
    font-size: 12px;
}
.loader_img
{
    position: absolute;
  left: 250px;
  text-align: center;
  width: 3%;
  top: 6px;
}



@media (min-width: 768px) and (max-width:1169px)
{
.wrapp{
    margin-top: 130px;
}
}



/*user info panel*/
.img-user{width: 25px;border-radius: 50%;margin-right: 8px;}
.user-ingotabel td{font-size: 12px;}
.data-heading {color: #777; text-align: right;}
.user-ingotabel>tbody>tr{border-top: 1px solid #dddddd !important;border-bottom: 1px solid #dddddd !important;border: 1px solid transparent;}
.edit-icon { position: absolute; margin-top: 10px;float: right; right: 25px; opacity: 0;transition: .5s ease;color: #08c;}
.list-edit:hover .edit-icon {
  opacity: 1;
}
.list-edit {
  position: relative;
  width: 50%;
}
.wrapp{margin-top: 60px}
.user-ingotabel {margin-top: 40px;margin-bottom: 20px;}
.follower-panel{border: solid 1px #eee;padding:20px 15px;}
.follow-text{font-size: 24px;float: left;}
.details-follower{display: inline-block;width: 100%}
.text-detail{font-size: 12px;
    color: #777;
    margin-bottom: 8px;}