<app-header></app-header>
<section class="wrapp">
  <div class="container-fluid">
    <h3>{{product_name}}</h3>
    <div class="row">
      <div class="col-md-2 col-xs-12 col-sm-3">
        <!-- import side menu -->
        <div style="display: none;">
          <table class="table table-bordered user-ingotabel">
            <tbody>
              <tr class="list-edit">
                <td class="data-heading">Our Contact</td>
                <td><span class="img-user"><img src="assets/images/blank_profile_male.jpg"></span> <span>Nikii</span></td>
                <i class="fa fa-pencil edit-icon" aria-hidden="true"></i>
              </tr>
              <tr class="list-edit">
                <td class="data-heading"> product Code</td>
                <td>123</td>
                <i class="fa fa-pencil edit-icon" aria-hidden="true"></i>
              </tr>
              <tr class="list-edit">
                <td class="data-heading">Visibel to</td>
                <td>Entire Company</td>
                 <i class="fa fa-pencil edit-icon" aria-hidden="true"></i>
              </tr>
            </tbody>
          </table>
          <div class="follower-panel">
          <div class="details-follower">
            <span class="follow-text">  Followers </span>
            <span class="pull-right">
              <button type="" class="btn-xs btn btn-success custom-btn btn-success">starts following</button>
            </span>
            </div>
            <div class="text-detail">Nobody is following this product.</div>
            <div class="text-detail">You do not follow this product <span><button type="" class="btn-xs btn  custom-btn">starts following</button></span></div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xs-12 col-sm-9">
        <div class="row">
           <img  class="loader_img" src="assets/images/Loading_icon.gif" [hidden]="!loader_image">
          <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
              <ul id = "myTab" class ="nav nav-tabs">
                <li class="active">
                  <a href="#tab1" data-toggle="tab">Price</a>
                </li>
                <li>
                  <a href="#tab2" data-toggle="tab">Deals</a>
                </li>
              </ul>
            </div>

            <div class="tab-content">
              <div class="pipeline-panle tab-pane fade in active" id="tab1">
                 <h2 style="float: left;">Prices this product is available in</h2>
                  <button class="btn-xs btn btn-success custom-btn btn-right" 
                    (click)="PricePopUp.open() && edit_form_value = true">Add a field
                  </button>
                <div class="table-responsive">
                  <table class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>Currency</th>
                        <th>Unit price</th>
                        <th>Cost per unit</th>
                        <th>Direct cost</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let price of product_price_data">
                        <td>{{price.product_currency}}</td>
                        <td>{{price.unit_price}}</td>
                        <td>{{price.cost_per_unit}}</td>
                        <td>{{price.direct_cost}}</td>
                        <td>
                          <a href="javascript:void(0)">
                            <span class="glyphicon glyphicon-pencil" 
                              (click)="edit_form_value = false || edit_product_price(price)">
                            </span>
                            <span class="glyphicon glyphicon-trash" 
                              (click)="delete_product_price(price.uuid)">
                            </span>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="pipeline-panle tab-pane" id="tab2">
                 <div class="table-responsive">
                  <h2>Deals</h2>
                  <table class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Deal value</th>
                        <th>Product value</th>
                        <th>Currency</th>
                        <th>Product count</th>
                        <th>Organization</th>
                        <th>Contact person</th>
                        <th>Expected close date</th>
                        <th>Owner</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let deal_pro of deal_product_response">
                        <td>{{deal_pro.deal_title}}</td>
                        <td>{{deal_pro.deal_value}}</td>
                        <td>{{deal_pro.deal_product_value}}</td>
                        <td>{{deal_pro.deal_currency}}</td>
                        <td>{{deal_pro.product_count}}</td>
                        <td>{{deal_pro.contact_organization_name}}</td>
                        <td>{{deal_pro.person_name}}</td>
                        <td>{{deal_pro.expected_close_date}}</td>
                        <td>{{deal_pro.user_username}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- delete pipeline stages popup -->
<bs-modal #PricePopUp [backdrop]="'static'">
  <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">Add Price</h4>
  </bs-modal-header>
  <bs-modal-body>
    <form #priceForm="ngForm">
      <div class="form-group">
        <label for="text">Unit price</label>
        <input type="number" min="0" name="unit_price" [(ngModel)]="price_data" class="form-control">
      </div>
      <div class="form-group">
        <label for="text">Currency</label>
        <select class="form-control" [(ngModel)]="selectedCurrency" name="product_currency">
          <option [ngValue]="currency.Code" *ngFor="let currency of allCurrency">{{currency.fullname +"( "+currency.Code+" )"}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="text">Cost per unit</label>
        <input type="number" name="cost_per_unit" ngModel min="0" class="form-control">
      </div>
      <div class="form-group">
        <label for="text">Direct cost</label>
        <input type="number" name="direct_cost" ngModel min="0" class="form-control">
      </div>
    </form>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" (click)="PricePopUp.dismiss()">Close</button>
    <button type="button" class="btn btn-default" (click)="save_price(priceForm.value)">
      {{edit_form_value == true ? 'Save' : 'Update'}}
    </button>
  </bs-modal-footer>
</bs-modal>