<!-- Model popup -->
<div class="modal fade custom-model" id="myModal" role="dialog">
  <div class="modal-dialog model-cls">
    <div class="modal-content">
      <div class="modal-header header-model">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Deal</h4>
      </div>
      <div class="modal-body model-overflow">
        <div class="row">
          <div class="col-md-4 form-panel modelbody">
            <form [formGroup]="dealForm">
              <div class="form-group" [ngClass]="{'has-error': dealForm.controls.contact_person_uuid.invalid &&
                (dealForm.controls.contact_person_uuid.touched || submit)}">
                <label>Contact person name</label>
                <div class="inner-addon left-addon">
                  <i class="fa fa-user icon" aria-hidden="true"></i>
                  <input ngui-auto-complete formControlName="contact_person_uuid"
                  [(ngModel)]="selected_contcat_person" (focusout)="focusOut_()" (focus)="focusFunction_person()"
                  [source]="observableSource.bind(this)" value-property-name="uuid" z-index="4" min-chars="1"
                  display-property-name="person_name" class="form-control contact-person"
                  list-formatter="contact_person_and_organization_name" (valueChanged)="valueChanged_contact_person($event)"/>
                </div>
              </div>

              <div class="form-group">
                <label>Organization Name</label>
                <div class="inner-addon left-addon" [ngClass]="{'has-error': dealForm.controls.contact_organization_uuid.invalid && (dealForm.controls.contact_organization_uuid.touched || submit)}">
                  <i class="fa fa-keyboard-o icon" aria-hidden="true" style="z-index: 1;"></i>
                  <input ngui-auto-complete  formControlName="contact_organization_uuid" min-chars="1"
                    (focusout)="focusOut_()" (focus)="focusFunction_org()" [(ngModel)]="selected_contcat_org"
                    [source]="observableSource_org.bind(this)" value-property-name="uuid"
                    display-property-name="contact_organization_name" class="form-control contact-org"
                    list-formatter="contact_organization_name">
                </div>
              </div>

              <div class="form-group" [ngClass]="{'has-error': dealForm.controls.deal_title.invalid&& (dealForm.controls.deal_title.touched || submit)}">
                <label >Deal title</label>
                <input type="text" class="form-control" formControlName="deal_title" 
                [(ngModel)]="selected_deal_title">
                <div class="text-right"><a href="javascript:void(0)" 
                    (click)="empty_product() || attach_product = (attach_product == true) ? false : true"
                    class="collapsesection">
                  {{attach_product ? "Don't add products" :'Attach Product'}}</a>
                </div>
              </div>

              <label for="text">Deal {{attach_product ? 'products' : 'value'}}</label>
              <div class="row row-deal">
                <div class="form-group col-md-4" [ngClass]="{'has-error': dealForm.controls.deal_value.invalid && 
                  (dealForm.controls.deal_value.touched || submit)}">
                  <input type="text" class="form-control" formControlName="deal_value" [readonly]="attach_product">
                </div>
                <div class="form-group col-md-8 col-xs-12 cureency-field" [ngClass]="{'has-error': dealForm.controls.deal_currency.invalid && (dealForm.controls.deal_currency.touched || submit)}">
                  <select class="form-control" formControlName="deal_currency" [(ngModel)]="selectedCurrency">
                    <option [ngValue]="currency.Code" *ngFor="let currency of allCurrency">
                      {{currency.fullname +"( "+currency.Code+" )"}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group" [ngClass]="{'has-error': dealForm.controls.pipeline_uuid.invalid && 
                  (dealForm.controls.pipeline_uuid.touched || submit)}">
                <label>Pipeline</label>
                <select class="form-control" formControlName="pipeline_uuid" (change)="show_pipeline_stage($event.target.value)" [(ngModel)]="uuid_">
                  <!-- <option disabled [selected]="true">select pipeline</option> -->
                  <option [value]="p.uuid" *ngFor="let p of pipeline_list; let i = index;" [attr.data-index]="i" 
                    >
                    {{p.pname}}
                  </option>
                </select>
              </div>

              <!-- <div class="form-group" *ngIf="hide" [ngClass]="{'has-error': dealForm.controls.stage_uuid.invalid && 
                (dealForm.controls.stage_uuid.touched || submit)}">
                <label>Pipeline stage</label>
                <select class="form-control" formControlName="stage_uuid" [(ngModel)]='stages'> 
                  <option [value]="stage.uuid" *ngFor="let stage of pipeline_stage.stages">{{stage.sname}}</option>
                </select>
              </div> -->
                  <!-- <option disabled [selected]="true">select stage</option> -->
              
                <div class="form-group">
                  <label>pipeline stage</label>
                  <!-- <span class="input">
                    <div class="plainStages">
                      <span class="options">
                        <label class="active" data-toggle="tooltip" data-placement="bottom" title="Proposal Made">
                          <input type="radio">
                        </label>
                      </span>
                    </div>
                  </span> -->
                  <div class="pipelineSummary">
                    <div class="pipelineStages won">
                      <ul>
                        <li class="{{stage_index >= i ? 'active' : ''}}" (click)="set_stage_uuid(stage.uuid) || stage_index=i"
                          *ngFor="let stage of pipeline_stage.stages; let i = index;" [attr.data-index]="i">
                          <span data-toggle="tooltip" title="{{stage.sname}}" data-placement="top">{{stage.sname | slice:0:1}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
         
              <div class="form-group" [ngClass]="{'has-error': dealForm.controls.expected_close_date.invalid && (dealForm.controls.expected_close_date.touched || submit)}">
                <label>Expect close date</label>
                <input type='date' class="form-control" formControlName="expected_close_date" [(ngModel)]="close_date">
              </div>

              <form #userForm="ngForm">
                <div *ngFor="let field of custom_field_list; let i=index">
                  <div class="form-group" *ngIf="field.is_type === 'Single option'">
        		        <!-- single option dropdown -->
        		        <label>{{field.label}}</label>
        		        <ng-select 
        		                    [items]="field.multiple_value"
        		                    placeholder="No selected"
                                ngModel
                                name="{{field.field_api_key}}">
        		        </ng-select>
        	        </div>

                  <!--Date range-->
                  <div class="form-group" *ngIf="field.is_type == 'Date range'">
                    <label>{{field.label}}</label>
                    <my-date-range-picker name="{{field.field_api_key}}"
                      [options]="myDateRangePickerOptions" ngModel>
                    </my-date-range-picker>
                  </div>
                  
                  <!--Time fields-->
                  <div class="form-group" *ngIf="field.is_type === 'Time'">
                    <label>{{field.label}}</label>
                    <select class="form-control" ngModel name="{{field.field_api_key}}">
                      <option disabled [selected]="true">select</option>
                      <option [value]="t" *ngFor="let t of arr_time">{{t}}</option>
                    </select>
                  </div>
                 
                  <!--Time range fields 
                    <div class="row" *ngIf="field.type === 'Time range'">
                      <div class="form-group col-md-6">
                        <label>{{field.label}}</label>
                        <select class="form-control" ngModel name="{{field.field_api_key}}">
                          <option disabled [selected]="true">select</option>
                          <option [value]="t" *ngFor="let t of arr_time">{{t}}</option>
                        </select>
                      </div>

                      <div class="form-group col-md-6">
                        <label>{{field.label}}</label>
                        <select class="form-control" ngModel name="{{field.field_api_key}}">
                          <option disabled [selected]="true">select</option>
                          <option [value]="t" *ngFor="let t of arr_time">{{t}}</option>
                        </select>
                      </div>
                    </div>
                  -->
                  
                  <!--Date fields-->
                  <div class="form-group" *ngIf="field.is_type === 'Date'">
                    <label>{{field.label}}</label>
                    <input type="date" ngModel name="{{field.field_api_key}}" class="form-control">
                  </div>

                  <!--Date range fields 
                    <div class="form-group" *ngIf="field.type === 'Date range'">
                      <label>{{field.label}}</label>
                      <input type="date" ngModel name="{{field.field_api_key}}" class="form-control">
                    </div>
                  -->
                  
        	        <!-- text field -->
        	        <div class="form-group" *ngIf="field.is_type === 'Text'">
        	        	<label>{{field.label}}</label>
        	        	<input type="text" ngModel name="{{field.field_api_key}}" class="form-control">
        	        </div>
                  <!-- multiple option dropdown -->
                  <div class="form-group" *ngIf="field.is_type === 'Multiple option'">
                    <label>{{field.label}}</label>
                    <ng-select [multiple]="true"
                                [items]="field.multiple_value"
                                placeholder="No selected"
                                ngModel
                                name="{{field.field_api_key}}">
                    </ng-select>
                   </div>
                </div>
              </form>
            </form>
          </div>
          <!-- prodcut section -->
          <div class="col-md-8 collapse-section modelbody">
            <form>
              <h5>Product</h5>
              <div class="form-group">
                <input ngui-auto-complete placeholder="Type a name of the product" 
                  (focusout)="focusOut_()" (focus)="focusFunction_person()" [(ngModel)]="selected_product"
                  [source]="observableSource_product.bind(this)" value-property-name="uuid" z-index="4" min-chars="1"
                  display-property-name="product_name" class="form-control contact-person" [ngModelOptions]="{standalone: true}"
                  list-formatter="product_name" (valueChanged)="valueChanged_product($event, new_product_name.value)" #new_product_name/>
              </div>
              <div class="form-group" class="addProductButtonRow" style="display: none;">
                <button class="btn btn-success btn-xs" (click)="add_as_new_product(new_product_name.value)">Add as new product</button>
              </div>
            </form>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Qty.</th>
                  <th>Disc. %</th>
                  <th>Sum</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of product_arr; let i = index;">
                  <td><a href="javascript:void(0)">{{product.product_name}}</a></td>
                  <td><input type="number" min="0" class="form-control" [(ngModel)]="product.price" (input)="calculate_product_value(product)"></td>
                  <td><input type="number" min="1" class="form-control" [(ngModel)]="product.qty" (input)="calculate_product_value(product)"></td>
                  <td><input type="number" min="0" class="form-control" [(ngModel)]="product.discount" (input)="calculate_product_value(product)"></td>
                  <td class="sum-title">{{product.sum | currency:selectedCurrency:'symbol-narrow' }}  <i (click)="delete_product(i)" class="fa fa-trash-o" aria-hidden="true"></i></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2"> </td>
                  <td  class="text-right">Total Products: {{total_product_qty}}</td>
                  <td></td>
                  <td>{{total_cost_product | currency:selectedCurrency:'symbol-narrow' }}</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>

      <div class="modal-footer foot-model">
        <div class="form-group col-md-6 col-6 col-xs-6">
          <div class="dropup">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-th-large icon-th" aria-hidden="true"></i>&nbsp; {{companyUserPermissionName}}
            </button>
            <div class="dropdown-menu dropupmenu" aria-labelledby="dropdownMenuButton">
              <ul class="company" >
                <li>
                  <a href="javascript:void(0)" (click)="updateCompanyPermission(false)"><span class="imgdrop"><img src="assets/images/visibility-icons-2x.png" alt=""></span><h5><strong>Owner & followers </strong></h5>
                  <p class="dropup-p">Only the owner & followers can see and edit the details</p>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)" (click)="updateCompanyPermission(true)">
                    <span class="imgdrop"><img src="assets/images/visibility1.png" alt=""></span><h5><strong>Entire company</strong></h5>
                    <p class="dropup-p">All users in the company can see and edit the details</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="form-group col-md-6 col-xs-6">
          <button type="button" class="btn btn-success"
            (click)="create_deal(userForm);">
          Save</button>
        </div>
      </div>
    </div>
  </div>
</div>