/*model-popup*/
a{text-decoration: none;}
.btn-success {
    color: #ffffff;
    background-color: #8cc739 !important;
    border-color: #8cc739 !important;
}
.model-cls {
    width: 360px;
    margin: auto;
    background: #f3f5f6;
    border: 1px solid #c2c8cd;
}
.model-cls.active{width: 1100px;}
.header-model {
    padding: 8px 20px !important;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
    background: #f3f5f6;
}
.inner-addon {
    position: relative;
}
.left-addon .icon {
    left: 0px;
    color: black;
    z-index: 1243;
}
.inner-addon .icon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.plainStages label.active {
    height: 28px;
    cursor: pointer;
    display: table-cell;
    text-align: center;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: #8cc739 !important;
    position: relative;
    width: 55px;
}
.plainStages label {
    height: 28px;
    cursor: pointer;
    display: table-cell;
    text-align: center;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: rgba(204, 204, 204, 0.62);
    position: relative;
    width: 55px;
}
.plainStages input[type="radio"] {
    opacity: 0;
    cursor: pointer;
}
/*.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}*/
.icon-th {
    color: #1476cc;
}
.company li {
    background: transparent;
    padding: 1px 0px 0px;
}
.company li a {
    text-decoration: none;
    color: rgba(85, 85, 85, 0.81) !important;
}
.imgdrop {
    float: left;
    margin: 6px 9px;
}
.imgdrop img {
    width: 15px;
}
/*.dropup-p {
    padding: 0px 40px;
}*/
.bttn-clss {
    width: 100%;
}
.custom-dropdown {
    min-width: 300px !important;
    left: -170px !important;
}
.user-clss {
    background: rgba(153, 153, 153, 0.38);
    padding: 6px 15px;
}
.inner-ul {
    font-size: 15px;
}
.inner-ul li {
    padding: 5px 40px;
}
.inner-ul li a:hover {
    background: #337ab7;
    color: white;
}
.menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: #fff;
    position: absolute;
    top: -7px;
    left: 242px;
}
.inner-ul li:hover {
    background: #337ab7;
    color: white;
}
.plainStages label.active:before {
    width: 20px;
    height: 25px;
    position: absolute;
    right: -11px;
    top: 2px;
    border-top: 6px solid #fff;
    border-right: 6px solid #fff;
    -webkit-transform: scaleX(0.3) rotate(45deg);
    transform: scaleX(0.3) rotate(45deg);
    content: " ";
    background: #8cc739;
    cursor: pointer;
    z-index: 1;
}
.plainStages label:before {
    width: 20px;
    height: 25px;
    position: absolute;
    right: -11px;
    top: 2px;
    border-top: 6px solid #fff;
    border-right: 6px solid #fff;
    -webkit-transform: scaleX(0.3) rotate(45deg);
    transform: scaleX(0.3) rotate(45deg);
    content: " ";
    cursor: pointer;
    z-index: 1;
}
.dropupmenu {
    min-width: 251px !important;
    left: -123px !important;
}
.left-addon input {
    padding-left: 30px;
}
.company li:hover {
    background: rgba(51, 122, 183, 0.91);
    color: #fff !important;
    padding: 1px 0px 0px;
}
ul
{
    padding: 0px;
}
.cureency-field{padding-left: 0px;}
.dropdown-toggle{ float: left; }
.dropupmenu{ min-width: 251px !important; left: 0px !important; }
.collapse-section h5{font-weight: 700}
.model-overflow { height: 515px; overflow : auto;overflow-x: hidden;padding: 0px;background: #eee;}
.modelbody{padding:15px 25px;}
.collapse-section{ background: #eee; display: none; border-left: solid 1px #9e9e9ea3;}
.form-panel{width: 100%}
.form-panel.active{width: 33%}
th{border: none !important}
.collapsesection{font-weight: 700;text-align: right}
.form-panel{background: #fff}
.sum-title {width: 120px;}
.sum-title i{float: right;}
tfoot td{border: transparent !important;}
@media (min-width: 300px) and (max-width: 430px) {
  .butn-left {
      float: left !important;
      margin-top: 5px;
  }
  .model-cls.active{width: 400px;}
}
@media (min-width: 300px) and (max-width: 1000px)
{
    .tab-responsive {
        width: 1000px;
    }
   

}

@media (min-width: 300px) and (max-width: 700px)
{
    .custom-dropdown 
    {
        min-width: 300px !important;
         left: 0px !important;
    }
    .model-cls.active{width:500;}
     .collapse-section{    background: #eee;
    display: none;
    border-left: solid 1px #9e9e9ea3;height: 515px;position:relative;
    left: 0;}
    .form-panel.active {
    width: 100%;
}

}
@media (min-width: 701px) and (max-width: 1000px){
  .collapse-section{ 
    background: #eee;
    display: none;
    border-left: solid 1px #9e9e9ea3;height: 515px;position:relative;
    left: 0;}
    .model-cls.active{width:700px;}
    .form-panel.active {
    width: 100%;
  }
}