.input-radio{visibility: hidden;position: absolute;right: 10px;top:0;}
.bold-font{ font-weight: bold; }
.plan-name{ text-transform: capitalize; }
h3{ text-transform: capitalize; }
.navbar-default {
    background-color: #3d4145 !important;
    border-color: #e7e7e7 !important;
}
.logo-nav {
    display: block;
}
.navbar-brand {
    float: left;
    padding: 10px 3px !important;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.navbar-default .navbar-nav > li > a {
    color: #c2c8cd !important;
    font-size: 14px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 8px 12px !important;
    color: #555;
    font-weight: 500;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 31px !important;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    /*display: none;*/
    float: left;
    min-width: 100px !important;
    padding: 5px 0;
    margin: 15px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.dropdown-menu > li > a {
    display: block;
    padding: 4px 38px !important;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}
.user img {
    height: 34px;
    border-radius: 42px;
    margin-top: 10px;
}
.usertext {
    margin: -20px 40px -18px;
    font-size: 12px;
}
.pad-zero {
    padding: 0px !important;
}
.mobile-logo {
    display: none;
}
.navbar-brand img {
    height: 28px;
    width: 100%;
}
.inner-addon {
    position: relative;
}
.left-addon .icon {
    left: 0px;
    color: black;
    z-index: 1243;
}
.inner-addon .icon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.left-addon input {
    padding-left: 30px;
}
.nav-search {
    width: 20%;
}
.navbar-default .navbar-nav > li > a {
    color: #c2c8cd !important;
    font-size: 14px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #26292c !important;
    color: #fff !important;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #333333 !important;
    background-color: #fff !important;
    height: 50px;
}
.dropdown-menu>li:focus, .dropdown-menu>li:hover
{
    text-decoration: none;
    color: #262626;
    background-color: #8cc739 !important;
}
.Wrapper-header {
   /*  padding: 30px; */
    height: 60px;
}
navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #fff;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.blur-back
{
    opacity: 0.7;
}
.blur-back:focus
{
    opacity: 1;
}
.navbar-right {
    float: right!important;
    margin-right: -30px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #333333 !important;
    background-color: #fff !important;
    height: 50px;
}
.user-name
{
    margin-top: -10px;
}



/*responsive*/
@media (min-width: 300px) and (max-width: 767px)
{
.mobile-logo {
    display: block;
}
.logo-nav {
    display: none;
}
.navbar-brand {
    float: left;
    padding: 10px 15px !important;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.navbar-brand img {
    height: 25px;
    width: auto;
}
.nav-search
 {
    width: 100%;
}
.navbar-right {
    float:left!important;
    margin-right: 0px;
}
}

@media (min-width: 768px) and (max-width: 1200px)
{
/* .Wrapper-header {
    padding: 60px;
} */
}
.section-wrapper 
{
    background: #fff;
}
.wrapp {margin-top: 60px;}
.set-ul {
    margin: 0px  5px 10px;
}
.btn-default {
    color: #333333 !important;
    background-color: #ffffff !important;
    border-color: #cccccc !important;
}
.custom-btn {
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer !important;
    background-image: none !important;
    border: 1px solid #ccc!important;
    white-space: nowrap !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    border-radius: 4px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.btn-success {
    color: #ffffff;
    background-color: #8cc739 !important;
    border-color: #8cc739 !important;
}
.butn-left {
    float: right;
}
.table-view {
    overflow-x: auto;
}
.section-info {
    border-right: solid 2px rgba(0, 0, 0, 0.34);
    min-height: 540px!important;
    height: auto;
    overflow: hidden;
    padding: 0px;
    width: 20%;
    float: left;
  
}
.section-info h4, .section-info2 h4, .section-info3 h4, .section-info4 h4, .section-info5 h4 {
    border-bottom: solid 1px rgba(0, 0, 0, 0.34);
    width: 100%;
    padding: 15px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    
    height: auto;
    background: url(../../assets/images/stage-arrow.png) no-repeat 100% 0,linear-gradient(#fff, #f3f5f6);
    background-size: 25px 100%, 100% 100%;
    background-color: #f3f5f6;
    min-height: 50px;
      margin: 0px;
}
.item-block {
    background: #fff;
    width: 100%;
    height: auto;
    border-bottom: solid 1px rgba(0, 0, 0, 0.34);
}
.item-block img {
    height: 28px;
    border-radius: 47px;
    float: left;
    margin: 5px 12px;
}
.item-block p {
    color: rgba(51, 51, 51, 0.72);
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    display: table-cell;
}
.item-block small {
    color: rgba(51, 51, 51, 0.72);
    margin-left: 15px;
}
.error-block {
    float: right;
}
.error-block i{
    color: #eccb11;
    margin: 20px 10px;
       
}
li
{
    list-style-type: none;
}

ul
{
    padding: 0px;
}
.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-left: 0px;
}
.icon-arrow
{
    float: right;
    background: #f5f5f5;
    padding: 3px 8px;
    margin-top: -10px;
    border: solid 1px #eee
}
.icon-arrow i
{
    font-size: 20px;
}
#showfileld2
{
    display: none;
}
.input-group-addon, .input-group-btn {
    width: 39%;
    white-space: nowrap;
    vertical-align: middle;
}
.paricipant-dialog {
    width: 90%;
    margin: 0px auto;
}



/*responsive*/
@media (min-width: 300px) and (max-width: 430px) 
{
.butn-left {
    float: left !important;
    margin-top: 5px;
}
}
@media (min-width: 300px) and (max-width: 1000px)
{
.tab-responsive {
    width: 1000px;
}
.section-info {
    border-right: solid 2px rgba(0, 0, 0, 0.34);
    min-height: 500px!important;
    height: auto;
    overflow: hidden;
    padding: 0px;
    width: 20%;
    float: left;
}
}
@media (min-width: 300px) and (max-width: 700px)
{
.custom-dropdown 
{
    min-width: 300px !important;
     left: 0px !important;
}
.dropupmenu
 {
    min-width: 251px !important;
    left: 0px !important; 
}
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: transparent;
}
@media (min-width: 767px) and (max-width: 1100px)
{
.navbar-nav span
{
    display: none
}
}
@media (min-width: 1101px) and (max-width: 1200px)
{
.nav > li > a {
    position: relative;
    display: block;
    padding: 8px 5px !important;
}
.navbar-right {
    float: right!important;
    margin-right: -25px;
}
}
@media (min-width: 768px) and (max-width: 869px)
{
    .navbar-right {
    float: right!important;
    margin-top: -50px;
     
}
}
.user-name span
{
    display: inline-block !important;
}
.icon-box 
{
    display: block;
    float: none;
    margin-top: 0;
    position: relative;
    padding: 0;
    text-align: right;
}
.section-header
{
    background: #fff;
    border-bottom: solid 2px #eee;
    padding-bottom: 20px;
}
.section-contant
{
    background: #f3f5f6 ; 
    padding: 20px 0px;
}
.icon-box i
{
    border: solid 2px #ddd;
    padding: 5px;
    border-radius: 5px;
}
.btn-option
{
    margin-top: 10px;
}
.text-label
{
    text-align: right;
    font-size: 14px;
    color: #999;
    font-weight: 500;
}
.overlay {
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    font-size: 15px;
    /* left: 35%;
    top: 37%; */
}
.text-row
{
    margin: 0px;
}
.text-row:hover .overlay {
  opacity: 1;
}
.overlay-btn
{
     position: absolute;
    opacity: 0;
    transition: .5s ease;
    font-size: 15px;
    right: 10px;
    padding: 15px;

}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: transparent; 
    border: 1px solid transparent; 
    border-bottom-color: transparent;
}
.nav-tabs>li>a:hover {
    border-color: transparent;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
.nav-tabs {
    border-bottom: 1px solid transparent;
}


/*Payment css*/
.payment-card{border:solid 1px #9E9E9E;text-align: center;background: #f7f7f7;border-radius: 5px}
.payment-card ul li{ font-size:13px; padding: 8px;}
.paymet-row{margin: 0px;}
.card-box{border: 1px solid #b9babb;display: inline-block;width: 100%;}
.side-box{border: 1px solid #b9babb;position: absolute;top: 0px;padding: 15px 30px;background:#f7f7f7;left: 70px;}
.side-box h4{font-size: 14px;font-weight: 700;}
.side-box .paragraph-text {font-size: 13px;margin-top: 20px;margin-bottom: 30px;}
.pay-icon{margin-top: 20px; margin-bottom: 15px;}
.payment-para {margin-top: 20px; margin-bottom: 20px; font-size: 13px;line-height: 20px;}
.payment-parasec{font-size: 13px;color: #9E9E9E;}
.detial-payment h5{font-size: 14px; line-height: 20px;}
.detial-payment h5 span{color: #2196F3;}
.detial-paymentright h5 {font-weight: 700;margin-top: 15px;text-align: right;}
.detial-paymentright p {font-size: 12px; color: #9E9E9E; text-align: right;}
.detial-payment p {font-size: 12px; color: #9E9E9E;}
.line-box{border-top: dotted #00000038;padding-top: 10px;margin-top: 15px;}
.panelfooter{display: inline-block;width: 100%;margin-bottom: -5px;border: solid 1px #FFC107;background-color: #fffcdc;}
.cardview-section{padding: 40px 70px;}
.card-viewfirst{margin-top: 12px;padding-left: 5px;padding-right: 5px;}
.card-viewthird{margin-top: 12px;padding-left: 5px;padding-right: 5px;}
.card-viewsecond{padding-left: 5px;padding-right: 5px;}
.payment-card p{margin: 0px;font-size: 12px;}
.payment-card p span{color: #2196F3}
.list-bold{font-weight: 800}
.sliver-card {color: #2196F3;margin-top:100px;}

.box-radio { border: solid 1px black; margin: 25px; border-radius: 5px; padding: 15px; }
.box-radio input {float: left;margin-top: 18px;margin-right: 15px;}
.box-radio p{font-size: 17px;margin: 0px;}

.box-radio_bottom { border: solid 1px black; margin: 25px; border-radius: 5px; padding: 15px; }
.box-radio_bottom input {float: left;margin-top: 18px;margin-right: 15px;}
.box-radio_bottom p{font-size: 17px;margin: 0px;}

.gold-card{color: #2196F3; margin-top: 35px;}
.platinum-card{ color: #2196F3; }

.billing-row .box-radio {margin: 10px 0px 20px;}
.billing-row .box-radio_bottom {margin: 10px 0px 20px;}

.order-detialspanel {
    margin: 15px 0px 0px;
    background: #fffcdc;
    border: 1px solid rgba(250, 195, 67, 0.64);
    box-shadow: 0px 1px 2px 0px rgba(38,41,44,0.08);
}

.order-detialspanel h3{font-size: 15px;font-weight: 700;margin-bottom: 0px;}
.order-detialspanel p{font-size: 12px;}
.order-detialspanel h1{text-align: right;font-size: 28px;}
hr { margin-top: 0px; margin-bottom: 10px; border: 0;border-top: dotted #eee;}
.payment-price{font-weight: 700;text-align: right;}
.billing-row label{font-weight: 500;font-size: 13px;}
.billing-row .form-group { margin-bottom: 5px;}
 /*nav tab*/
 .nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); top: 68px;}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.nav-tabs > li {width: 50%;text-align: center; margin-bottom: 20px}
.payment-icon{text-align: center; margin-top: 25px;margin-bottom: 25px;}
.payment-icon img {padding-right: 30px;}
.fill-detial h2{font-size: 18px;text-align: center;font-weight: 700;}
.fill-detial p{text-align: center; font-size: 14px;color: #9E9E9E;}
.fill-detial hr{border: solid 1px #9e9e9e38;}
.btn-sucess{background: #8cc739;
    color: #fff;
    margin-top: 15px;
    font-size: 17px;}
.paragraph-head{font-size: 22px;}
.payment-card.active .plan-switch__banner {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    position: absolute;
    top: 3px;
    right: 10px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    background: #317ae2 url(../../assets/images/check_white.png) no-repeat 0px center;
    background-size: 19px 19px;
}
.payment-card.active .plan-switch__banner:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: -24px;
    border-bottom: 25px solid #317ae2;
    border-left: 25px solid transparent;
}
.payment-card.active .plan-switch__banner:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: -24px;
    border-bottom: 25px solid #317ae2;
    border-right: 25px solid transparent;
}
.payment-card.active{border: solid 2px #317ae2}

.box-radio.active { background:#CFE8F1 ; border:#acd4e2 1px solid;}
.box-radio_bottom.active { background:#CFE8F1 ; border:#acd4e2 1px solid;}

/*input { cursor:pointer; }*/
/*Responsive css*/
@media (min-width: 300px) and (max-width: 767px)
{
.cardview-section { padding: 0px;}
.card-viewfirst {
    margin-top: 12px;
    padding-right: 15px;
    margin-bottom: 10px;
}
.card-viewthird { margin-top: 12px; padding-left: 15px; }
.side-box {left: 0px;margin-top: 20px;}
}

@media (min-width: 768px) and (max-width: 969px)
{
.cardview-section {padding: 40px 15px;}
.side-box{left: 0px;margin-top: 20px;}
}
@media (min-width: 970px) and (max-width: 1169px)
{
.cardview-section {
    padding: 40px 0px;
}
.side-box { left: 30px;}
}


@media (min-width: 768px) and (max-width:1169px)
{
.wrapp{
    margin-top: 130px;
}
}