<app-header></app-header>
<section class="wrapp">
  <div class="container-fluid">
    <div class="row paymet-row">
      <h1>Please provide your billing information</h1>
      <p class="paragraph-head">Your free trial period has ended. We hope you enjoyed using Pipedrive for free. We would now kindly ask you to provide your billing information.</p>
      <div class="card-box">
        <div class="col-sm-12 col-md-12 cardview-section">
          <ng-container *ngFor="let plan of plan_list; let i = index">
            <div class="col-md-4 col-sm-4 card-viewfirst" (click)="setIndex(i, plan)">
              <div class="payment-card" [class.active]="plan.id === plan_id">
                <div class="plan-switch__banner"></div>
                <img src="assets/images/silver.svg">
                <h3>{{plan.name}}</h3>
                <!-- <p>CURRENT PLAN</p>
                <ul>
                  <li>Smart email BCC</li>
                  <li>2GB storage per user</li>
                  <li>Full sales management features</li>
                  <li>Live chat and email support</li>
                  <li>Native integrations, API access</li>
                </ul> -->
                <h2 class="sliver-card">{{ plan.amount / 100 |currency:plan.currency:'symbol-narrow' }}</h2>
                <small>PER SEAT PER MONTH</small>
                <div class="box-radio" [class.active]="selectedIndex === i">
                  <input type="radio" class="input-radio" name="{{plan.name}}" [checked]="selectedIndex === i">
                  <p class="plan-name">Choose {{plan.name}} Plan</p>
                  <small>
                    {{ plan.amount / 100 |currency:plan.currency:'symbol-narrow' }} per seat per month
                  </small>
                </div>
              </div>
            </div>
          </ng-container>
          <!-- <div class="col-md-4 col-sm-4 card-viewsecond">
            <div class="payment-card">
              <img src="assets/images/gold.svg">
              <h3>Gold</h3>
              <p><span>Suggest PLAN</span></p>
              <div class="plan-switch__banner"></div>
              <ul>
                <li class="list-bold">Two-way full email sync</li>
                <li class="list-bold">5GB storage per user</li>
                <li class="list-bold">Email templates</li>
                <li class="list-bold">Product cataloging</li>
                <li>Full sales management features</li>
                <li>Live chat and email support</li>
                <li>Native integrations, API access</li>
              </ul>
              <h2 class="gold-card">$12</h2>
              <small>PER SEAT PER MONTH</small>
              <div class="box-radio">
                <input type="radio" name=""> 
                <p>Choose Gold Plan</p>
                <small>$12 per seat per month</small>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 card-viewthird">
            <div class="payment-card">
              <img src="assets/images/platinum.svg">
              <h3>Platinum</h3>
              <p></p>
               <div class="plan-switch__banner"></div>
              <ul>
                <li class="list-bold">Two-way full email sync</li>
                <li class="list-bold">100GB storage per user</li>
                <li>Email templates</li>
                <li>Product cataloging</li>
                <li>Full sales management features</li>
                <li>Live chat and email support</li>
                <li>Native integrations, API access</li>
                <li  class="list-bold">Revenue forecast report</li>
              </ul>
              <h2 class="platinum-card">$12</h2>
              <small>PER SEAT PER MONTH</small>
              <div class="box-radio">
                <input type="radio" name=""> 
                <p>Choose Gold Plan</p>
                <small>$12 per seat per month</small>
              </div>
            </div>
          </div> -->
          <div class="clearfix"></div>
          <p class="text-center">Our prices exclude VAT, GST, or any other taxes that may be applicable in your region.</p>
          <div class="col-sm-offset-1 col-sm-10 billing-row">
            <section>
              <h4>Choose your billing frequency</h4>
              <div class="col-sm-6">
                <div class="box-radio_bottom">
                  <input type="radio" checked="true"> 
                  <p>Pay monthly</p>
                  <small>
                    {{ selected_plan_amount / 100 | currency:selected_plan_currency:'symbol-narrow' }} per seat per month
                  </small>
                </div>
              </div>
              <div style="visibility: hidden;" class="col-sm-6">
                <div class="box-radio_bottom">
                  <input type="radio"> 
                  <p>Pay annually</p>
                  <small>$12 per seat per month</small>
                </div>
              </div>
            </section>

            <section>
              <h4>Order Details</h4>
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-6 detial-payment">
                      <h5>{{data.seats}} seats <!-- - <span (click)="SeatsPopUp.open()">Add or remove seats</span> --></h5>
                      <p class="plan-name">{{selected_plan_name}} Plan Monthly</p>
                    </div>
                    <div class="col-xs-6 detial-paymentright">
                      <h5>{{data.amount / 100 | currency:selected_plan_currency:'symbol-narrow' }}</h5>
                      <p>every month</p>
                    </div>
                    <div class="col-xs-12">
                      <hr>
                      <div class="col-xs-6">VAT</div>
                      <div class="col-xs-6 payment-price">$0.00</div>
                    </div>
                  </div>
                  <div class="row order-detialspanel">
                    <div class="col-xs-6">
                      <h3>Order Total</h3> 
                      <p class="plan-name">{{selected_plan_name}} Plan for {{data.seats}} seats with monthly payment</p>
                    </div>
                    <div class="col-xs-6">
                      <h1>{{data.amount / 100 | currency:selected_plan_currency:'symbol-narrow' }}</h1>
                  </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <h4>Contact</h4>
              <div class="panel panel-default">
                <div class="panel-body">
                  <form>
                    <div class="form-group">
                      <!-- <div class="row">
                        <div class="col-md-6">
                          <label for="exampleInputEmail1">First Name</label>
                          <input type="text" class="form-control"  placeholder="First Name">
                        </div>
                        <div class="col-md-6">
                          <label for="exampleInputEmail1">Last Name</label>
                          <input type="text" class="form-control" placeholder="Last Name">
                        </div>
                      </div> -->
                    </div>
                    <div class="form-group">
                      <label>Company Name</label>
                      <input type="text" name="company_name" class="form-control" placeholder="Company Name" [(ngModel)]="company_name" readonly>
                    </div>
                    <div class="form-group">
                      <label>Email address</label>
                      <input type="text" name="user_name" class="form-control" placeholder="Email address"
                        [(ngModel)]="user_name" readonly>
                    </div>
                  </form>
                </div>
              </div>
            </section>
            <section>
              <h4>Address</h4>
              <div class="panel panel-default">
                <div class="panel-body">
                  <form>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <label>Address Line 1</label>
                          <input type="text" class="form-control" placeholder="Address Line 1"
                            [(ngModel)]="address.address_line1" name="address_line1">
                        </div>
                        <div class="col-md-6">
                          <label>Address Line 2</label>
                          <input type="text" class="form-control" placeholder="Address Line 2"
                           [(ngModel)]="address.address_line2" name="address_line2">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <label>CITY</label>
                          <input type="text" class="form-control"  placeholder="CITY"
                           [(ngModel)]="address.address_city" name="address_city">
                        </div>
                        <div class="col-md-6">
                          <label>COUNTRY</label>
                          <input type="text" class="form-control"  placeholder="COUNTRY"
                            [(ngModel)]="address.address_country" name="address_country">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <label>STATE/PROVINCE</label>
                          <input type="text" class="form-control"  placeholder="STATE/PROVINCE"
                            [(ngModel)]="address.address_state" name="address_state">
                        </div>
                        <div class="col-md-6">
                          <label>ZIP/POSTAL</label>
                          <input type="text" class="form-control"  placeholder="ZIP/POSTAL"
                            [(ngModel)]="address.address_zip" name="address_zip">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </section>
            <section>
              <h4>Payment</h4>
              <!-- <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><img src="assets/images/icon-cc.svg"></a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><img src="assets/images/icon-paypal.svg"></a></li>
              </ul> -->
              <div class="panel panel-default">
                <div class="panel-heading fill-detial">
                  <h2>Accepted credit cards</h2>
                   <div class="payment-icon"><img src="assets/images/mastercard.svg"><img src="assets/images/visa.svg">
                    </div>
                    <hr>
                  <p>We do not accept POs, checks, or invoices to be paid at a later date. We will email you a receipt each time you are charged.</p>
                  <div *ngIf="err_validation" class="alert alert-danger">
                    <strong>{{stripe_error_msg}}</strong>
                  </div>
                </div>
                <div class="panel-body">
                  <form>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-12">
                          <label>FULL NAME</label>
                          <input type="text" class="form-control"  placeholder="Full name"
                            [(ngModel)]="payment.name" name="name">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <label>CREDITCARD NUMBE</label>
                          <input type="number" class="form-control"  placeholder="CREDITCARD NUMBER"
                            [(ngModel)]="payment.card_number" name="card_number">
                        </div>
                        <div class="col-md-6">
                          <label>CVV</label>
                          <input type="password" class="form-control"  placeholder="CVV"
                            [(ngModel)]="payment.cvv" name="cvv">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <label>CARD EXPIRATION MONTH</label>
                          <input type="number" class="form-control"  placeholder="CARD EXPIRATION MONTH"
                            [(ngModel)]="payment.exp_month" name="exp_month">
                        </div>
                        <div class="col-md-6">
                          <label>CARD EXPIRATION YEAR</label>
                          <input type="number" class="form-control"  placeholder="CARD EXPIRATION YEAR"
                            [(ngModel)]="payment.exp_year" name="exp_year">
                        </div>
                      </div>
                    </div>
                    <button type="button" [disabled]="btn_update_bill" class="btn  btn-block btn-sucess" (click)="save_payment()">
                      Updated Billing Details
                    </button>
                  </form>
                </div>
              </div>
              
            </section>
          </div>
        </div>
        <!-- <div class="col-sm-12 col-md-3">
          <div class="side-box">
            <button type="button" class="btn btn-default">Switch companies</button>
            <h4>This page is secure</h4>
            <p class="paragraph-text">Your connection to the Pipedrive service is always secure as we use the HTTPS protocol and a valid, trusted security certificate. Our subscription billing is handled by a Level 1 PCI compliant payment provider.</p>
            <h4>Ways to pay</h4>
            <div class="pay-icon"><img src="assets/images/mastercard.svg"><img src="assets/images/visa.svg">
            </div>
            <div><img src="assets/images/paypal.svg"></div>
            <p class="payment-para">We accept MasterCard and VISA credit cards and also PayPal as ways to pay.</p>
            <p class="payment-parasec">We do not accept POs, checks, or invoices to be paid at a later date. We will email you a receipt each time you are charged.</p>
            <div class="panel panel-default">
              
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-6 detial-payment">
                    <h5>3 seats - <span>Add or remove seats</span></h5>
                    <p>Silver Plan Monthly</p>
                  </div>
                  <div class="col-xs-6 detial-paymentright">
                    <h5>$36.00</h5>
                    <p>every month</p>
                  </div>
                  <div class="col-xs-12">
                    <hr>
                    <div class="col-xs-6">VAT</div>
                    <div class="col-xs-6 payment-price">$0.00</div>
                  </div>
                </div>
              </div>
              <div class="panel-footer panelfooter">
                <span class="pull-left">Order Total </span>
                <span class="pull-right">$36.00</span>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>

<!-- Add remove seats modal popup -->
<bs-modal #SeatsPopUp [backdrop]="'static'">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Add or remove seats</h4>
  </bs-modal-header>
  <bs-modal-body>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-8">
          <p class="bold-font">Seats</p>
          <button class="btn btn-default" (click)="decrement()">-</button>
          <input class="bold-font" type="number" (input)="onInputChange($event.target.value)" [(ngModel)]="final_data.total_seats">
          <button class="btn btn-default" (click)="increment()">+</button>
        </div>
        <div class="col-sm-4">
          <p class="bold-font">Monthly payment</p>
          <h3 class="bold-font">
            {{total_amt / 100 | currency:selected_plan_currency:'symbol-narrow'}}
          </h3>
          <p>
            {{final_data.total_seats}} seat × {{total_amt / 100 | currency:selected_plan_currency:'symbol-narrow' }}
          </p>
          <p>VAT not included</p>
        </div>
      </div>
    </div>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" (click)="SeatsPopUp.dismiss()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="update_billing()">Update billing</button>
  </bs-modal-footer>
</bs-modal>