<!-- delete popup -->
<bs-modal #parentModal>
  <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">Add a field for deals</h4>
  </bs-modal-header>
  <bs-modal-body>
    <h4>What type of field do you want to add?</h4>
    <div class="row custmoize-cls">
      <div class="col-sm-3 text-center">
        <div class="tooltip" (click)="set_data('Text','text')">
          <a href="javascript:void(0)" data-toggle="collapse"><img src="assets/images/field_img/iconpopup.png"><p class="heading-text">Text</p></a>
          <div class="tooltiptext tooltip-bottom ">Text field is used to store texts up to 255 characters.<br><span class="sidenote">Useful for: Billing Addresses, Comments, Email Addresses</span></div>
        </div>
      </div>

      <!-- <div class="col-sm-3 text-center">
        <div class="tooltip" (click)="set_data('Autocomplete','text')">
          <img src="assets/images/field_img/iconpopup2.png">
          <p class="heading-text">Autocomplete</p>
           <div class="tooltiptext tooltip-bottom ">Text field is used to store texts up to 255 characters and is searchable by all inserted option .<br><span class="sidenote"> useful for: Custom option,Email address</span></div>
        </div>
      </div> -->
      
      <div class="col-sm-3 text-center">
        <div class="tooltip" (click)="set_data('Large text','text')">
          <img src="assets/images/field_img/iconpopup3.png" alt="">
          <p class="heading-text">Large text</p>
           <div class="tooltiptext tooltip-bottom">Large text field are used to store text longer then usual<br><span class="sidenote">Useful for: Comments,Description</span></div>
        </div>
      </div>

      <div class="col-sm-3 text-center">
        <div class="tooltip" (click)="set_data('Numerical','number')">
          <img src="assets/images/field_img/iconpopup4.png" alt="">
          <p  class="heading-text">Numerical</p>
            <div class="tooltiptext tooltip-bottom">Numerical field is used to store data such as amount of commision or other custom numerical data.<br><span class="sidenote">Useful for: commision,priority data</span></div>
        </div>
      </div>

      <!-- <div class="clearfix"></div>
      <div class="col-sm-3 text-center">
        <div class="tooltip" (click)="set_data('Monetary','text')">
          <img src="assets/images/field_img/iconpopup5.png" alt="">
          <p  class="heading-text">Monetary</p>
           <div class="tooltiptext tooltip-bottom">Monetary field is used to store data such as amount of commision<br><span class="sidenote">Useful for: Commision,amount</span></div>
        </div>
      </div> -->

      <div class="col-sm-3 text-center" (click)="text_box()">
        <div class="tooltip" (click)="set_data('Multiple option','multiple_option', true)">
          <img src="assets/images/field_img/iconpopup6.png" alt="">
          <p class="heading-text">Multiple option</p>
          <div class="tooltiptext tooltip-bottom">Multiple option field lets you predefined a list of value to choosen from <br><span class="sidenote">Useful for: industry type, Competitors,regions Addresses</span></div>
        </div>
      </div>

      <div class="col-sm-3 text-center" (click)="text_box()">
        <div class="tooltip" (click)="set_data('Single option','single_option', true)">
          <img src="assets/images/field_img/iconpopup7.png" alt="">
          <p  class="heading-text">Single option</p>
          <div class="tooltiptext tooltip-bottom ">Single option field field lets you predefined a list of value out of which one is selected<br><span class="sidenote">Useful for: lead type, Category,industry</span></div>
        </div>
      </div>

      <!-- <div class="col-sm-3 text-center">
        <div class="tooltip" (click)="set_data('User','single_option', true)">
          <img src="assets/images/field_img/iconpopup8.png" alt="">
          <p  class="heading-text">User</p>
         <div class="tooltiptext tooltip-bottom">user field can contain one user amongest user of your account<br><span class="sidenote">Useful for: Previous deal owner, Tech contacts</span></div>
        </div>
      </div> -->

      <div class="clearfix"></div>
      <!-- <div class="col-sm-3 text-center">
        <div class="tooltip" (click)="set_data('Organization','text')">
          <img src="assets/images/field_img/iconpopup9.png" alt="">
          <p class="heading-text">Organization</p>
           <div class="tooltiptext tooltip-bottom ">organization field contain one organization out of all organization stored on your account<br><span class="sidenote">Useful for: related partied,Partner,Organization</span></div>
        </div>
      </div> -->

      <!-- <div class="col-sm-3 text-center">
        <div class="tooltip" (click)="set_data('Person','text')">
          <img src="assets/images/field_img/iconpopup10.png" alt="">
          <p class="heading-text">Person</p>
          <div class="tooltiptext tooltip-bottom"> Person field contain one organization out of all organization stored on your account<br><span class="sidenote">Useful for: related partied,Tech contacts</span></div>
        </div>
      </div> -->

      <div class="col-sm-3 text-center">
        <div class="tooltip" (click)="set_data('Phone','text')">
          <img src="assets/images/field_img/iconpopup11.png" alt="">
          <p class="heading-text">Phone</p>
          <div class="tooltiptext tooltip-bottom ">A phone number field can contain phone number and skype name with a click-to-call functionality.<br><span class="sidenote">Useful for: skype name,phone number</span></div>
        </div>
      </div>

      <div class="col-sm-3 text-center">
        <div class="tooltip" (click)="set_data('Time','time')">
        <img src="assets/images/field_img/iconpopup12.png" alt="">
        <p class="heading-text">Time</p>
        <div class="tooltiptext tooltip-bottom">Time field is used to store time,picked from handy inline time picker.<br><span class="sidenote">Useful for: deilivery time,lunch time</span></div>
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="col-sm-3 text-center">
        <div class="tooltip" (click)="set_data('Text','text')">
          <img src="assets/images/field_img/iconpopup16.png" alt="">
          <p>Address</p>
          <div class="tooltiptext tooltip-bottom ">Address field is used to store addresses <br><span class="sidenote">Importent address fields can hold all field of address component include-city,address,zip code,country so there is no need to create separate address fields for each address component.</span></div>
        </div>
      </div>
      <!-- 'Time range','time' -->
      <!-- <div class="col-sm-3 text-center">
        <div class="tooltip" (click)="set_data('Text','text')">
          <img src="assets/images/field_img/iconpopup13.png" alt="">
          <p class="heading-text">Time range</p>
           <div class="tooltiptext tooltip-bottom ">time range is used to store time range picked from handy inline time picker<br><span class="sidenote">Useful for: office hours, best time to contact</span></div>
        </div>
      </div> -->

      <div class="col-sm-3 text-center">
        <div class="tooltip" (click)="set_data('Date','date')">
          <img src="assets/images/field_img/iconpopup14.png" alt="">
          <p class="heading-text">Date</p>
          <div class="tooltiptext tooltip-bottom ">date field is used to store date,picked from handy inline time calender<br><span class="sidenote">Useful for:deilevery dates, dead lines</span></div>
        </div>
      </div>

      <div class="col-sm-3 text-center">
        <div class="tooltip" (click)="set_data('Date range','date')">
          <img src="assets/images/field_img/iconpopup15.png" alt="">
          <p class="heading-text">Date range</p>
          <div class="tooltiptext tooltip-bottom ">date range is used to store date range picked from handy inline time calender<br><span class="sidenote">Useful for: Event dates,Completion Estimates</span></div>
        </div>
      </div>

      
    </div>
  </bs-modal-body>
  <bs-modal-footer>
    <span class="footer-span">Please bear in mind that customized fields are shared with all fields throughout your company.</span>
  </bs-modal-footer>
</bs-modal>

<bs-modal [keyboard]="keyboard" [backdrop]="backdrop" (onDismiss)="dismissed()" #childModal>
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Add a field for deals</h4>
  </bs-modal-header>
  <bs-modal-body>
    <div class="alert alert-danger" *ngIf="errorMsg">
      {{error_message_txt}}
    </div>

    <div class="row custmoize-cls">
      <div class="col-md-12">
        <form>
          <div class="form-group row" *ngIf="textarea">
            <label>Possible values</label>
            <span class="pull-right">
              <!--
              <button type="button" class="btn-xs btn-pipe" data-toggle="modal" data-target="#editpipeline">Sort alphabetically</button>
              -->
            </span>
            <div class="form-group row">
              <div class="col-md-offset-3">
                <textarea name="arrayOfLines" [(ngModel)]="arrayOfLines" cols="30" rows="4" class="pull-left form-control textareaform"></textarea>
                <span class="textspan">Enter one per line,for example (about deal type):<br>Consulting <br>Training <br>Speaking
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 text-center">Name of field</label>
            <div class="col-md-6 row-pad">
              <input type="text" class="form-control" name="fieldName" [(ngModel)]="fieldName">
            </div>
          </div>
        </form>
      </div>
    </div>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" (click)="childModal.dismiss()">cancel</button>
    <button type="button" class="btn btn-success" (click)="create_field(fieldName)">save</button>
  </bs-modal-footer>
</bs-modal>

<bs-modal [keyboard]="keyboard" [backdrop]="backdrop" (onDismiss)="dismissed()" #updateModal>
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Add a field for deals</h4>
  </bs-modal-header>
  <bs-modal-body>
    <div class="alert alert-danger" *ngIf="errorMsg">
      {{error_message_txt}}
    </div>
    <div class="row custmoize-cls">
      <div class="col-md-12">
        <form>
          <div class="form-group row" *ngIf="textarea">
            <label>Possible values</label>
            <span class="pull-right">
              <!--
              <button type="button" class="btn-xs btn-pipe" data-toggle="modal" data-target="#editpipeline">Sort alphabetically</button>
              -->
            </span>
                  
            <div class="col-md-offset-3" >
              <ul class="list-popupmodel">
                <li *ngFor="let f of multiple_list_array; let i=index; trackBy:customTrackBy">
                  <span>
                    <inline-editor type="text" [ngModel]="f" (onSave)="saveEditable($event, i)" [name]="f" size="10"></inline-editor>
                    <a (click)="soft_delete_value(i)"><i class="fa fa-trash-o fa-icon" aria-hidden="true"></i></a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group row" *ngIf="textarea">
            <div class="col-md-offset-3">
              <textarea name="arrayOfLines" [(ngModel)]="arrayOfLines" cols="30" rows="4" class="pull-left form-control textareaform"></textarea>
              <span class="textspan">Enter one per line,for example (about deal type):<br>Consulting <br>Training <br>Speaking
              </span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 text-center">Name of field</label>
            <div class="col-md-6 row-pad">
              <input autofocus type="text" class="form-control" name="updateFieldName" [(ngModel)]="updateFieldName">
            </div>
          </div>
        </form>
      </div>
    </div>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" (click)="updateModal.dismiss()">cancel</button>
    <button type="button" class="btn btn-success" (click)="update_field()">save</button>
  </bs-modal-footer>
</bs-modal>

<app-header></app-header>

<section class="wrapp">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-xs-12 col-sm-3">
          <!-- import side menu -->
          <app-side-bar></app-side-bar>
      </div>
      <div class="col-md-10 col-xs-12 col-sm-9">
        <div class="row">
           <img  class="loader_img" src="assets/images/Loading_icon.gif" [hidden]="!loader_image">
          <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
              <ul id = "myTab" class ="nav nav-tabs">
                <li class="active">
                  <a href="#tab1" data-toggle="tab" (click)="get_table_name('deals_fields')" >Deals</a>
                </li>
                <li>
                  <a href="#tab2" data-toggle="tab" (click)="get_table_name('contacts_organizations_fields')">Organizations</a>
                </li>
                <li>
                  <a href="#tab3" data-toggle="tab" (click)="get_table_name('contacts_persons_fields')">People</a>
                </li>
                <li>
                  <a href="#tab4" data-toggle="tab" (click)="get_table_name('products_fields')">Products</a>
                </li>

              </ul>

            </div>

            <div class="tab-content">
              <div class="pipeline-panle tab-pane fade in active" id="tab1">
                 <h2 style="float: left;">Customize Deals fields</h2><button class="btn-xs btn btn-success custom-btn btn-right" (click)="parentModal.open()">Add a field</button>
                <div class="table-responsive">
                 
                  <table class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>Field Name</th>
                        <th>Type</th>
                        <th>Show in Add new Dailog</th>
                        <th>Important</th>
                        <th>Field API Key</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let field of custom_field">
                        <td>
                          <a (click)="field.is_deleted && update_popup(field)" href="javascript:void(0)">{{field.label}}
                          </a>
                        </td>
                        <td>{{field.type}}</td>
                        <td>
                          <a *ngIf="field.is_deleted" (click)="update({'is_show': field.is_show === true ? false : true}, field.uuid)" href="javascript:void(0)">{{ field.is_show ? 'Yes' : 'No'}}</a>
                        </td>
                        <td>
                          <a *ngIf="field.is_deleted" (click)="update({'is_important': field.is_important === true ? false : true}, field.uuid)" href="javascript:void(0)">{{ field.is_important ? 'Yes' : 'No'}}</a>
                        </td>
                        <td>{{field.field_api_key}}
                          <i class="pointer" (click)="delete(field.uuid)" *ngIf="field.is_deleted" class="fa fa-trash-o" aria-hidden="true"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="pipeline-panle tab-pane" id="tab2">

                 <div class="table-responsive">
                  <h2>Customize organization fields</h2><button class="btn-xs btn btn-success custom-btn btn-right" (click)="parentModal.open()">Add a field</button>
                  <table class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>Field Name</th>
                        <th>Type</th>
                        <th>Show in Add new Dailog</th>
                        <th>Important</th>
                        <th>Field API Key</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let field of contacts_organizations_fields">
                        <td>
                          <a (click)="field.is_deleted && update_popup(field)" href="javascript:void(0)">{{field.label}}
                          </a>
                        </td>
                        <td>{{field.type}}</td>
                        <td>
                          <a *ngIf="field.is_deleted" (click)="update({'is_show': field.is_show === true ? false : true}, field.uuid)" href="javascript:void(0)">{{ field.is_show ? 'Yes' : 'No'}}</a>
                        </td>
                        <td>
                          <a *ngIf="field.is_deleted" (click)="update({'is_important': field.is_important === true ? false : true}, field.uuid)" href="javascript:void(0)">{{ field.is_important ? 'Yes' : 'No'}}</a>
                        </td>
                        <td>{{field.field_api_key}}
                          <i class="pointer" (click)="delete(field.uuid)" *ngIf="field.is_deleted" class="fa fa-trash-o" aria-hidden="true"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="pipeline-panle tab-pane" id="tab3">
                <div class="table-responsive">
                  <h2>Customize people fields</h2><button class="btn-xs btn btn-success custom-btn btn-right" (click)="parentModal.open()">Add a field</button>
                  <table class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>Field Name</th>
                        <th>Type</th>
                        <th>Show in Add new Dailog</th>
                        <th>Important</th>
                        <th>Field API Key</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let field of contacts_persons_fields">
                        <td>
                          <a (click)="field.is_deleted && update_popup(field)" href="javascript:void(0)">{{field.label}}
                          </a>
                        </td>
                        <td>{{field.type}}</td>
                        <td>
                          <a *ngIf="field.is_deleted" (click)="update({'is_show': field.is_show === true ? false : true}, field.uuid)" href="javascript:void(0)">{{ field.is_show ? 'Yes' : 'No'}}</a>
                        </td>
                        <td>
                          <a *ngIf="field.is_deleted" (click)="update({'is_important': field.is_important === true ? false : true}, field.uuid)" href="javascript:void(0)">{{ field.is_important ? 'Yes' : 'No'}}</a>
                        </td>
                        <td>{{field.field_api_key}}
                          <i class="pointer" (click)="delete(field.uuid)" *ngIf="field.is_deleted" class="fa fa-trash-o" aria-hidden="true"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </div>
              <div class="pipeline-panle tab-pane" id="tab4">
                 <div class="table-responsive">
                  <h2>Customize product fields</h2><button class="btn-xs btn btn-success custom-btn btn-right" (click)="parentModal.open()">Add a field</button>
                  <table class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>Field Name</th>
                        <th>Type</th>
                        <th>Show in Add new Dailog</th>
                        <th>Important</th>
                        <th>Field API Key</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let field of products_fields">
                        <td>
                          <a (click)="field.is_deleted && update_popup(field)" href="javascript:void(0)">{{field.label}}
                          </a>
                        </td>
                        <td>{{field.type}}</td>
                        <td>
                          <a *ngIf="field.is_deleted" (click)="update({'is_show': field.is_show === true ? false : true}, field.uuid)" href="javascript:void(0)">{{ field.is_show ? 'Yes' : 'No'}}</a>
                        </td>
                        <td>
                          <a *ngIf="field.is_deleted" (click)="update({'is_important': field.is_important === true ? false : true}, field.uuid)" href="javascript:void(0)">{{ field.is_important ? 'Yes' : 'No'}}</a>
                        </td>
                        <td>{{field.field_api_key}}
                          <i class="pointer" (click)="delete(field.uuid)" *ngIf="field.is_deleted" class="fa fa-trash-o" aria-hidden="true"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>