.calendar-picker{ margin: 0px 150px -12px; }
.navbar-default {
    background-color: #3d4145 !important;
    border-color: #e7e7e7 !important;
}
.logo-nav {
    display: block;
}
.navbar-brand {
    float: left;
    padding: 10px 3px !important;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.navbar-default .navbar-nav > li > a {
    color: #c2c8cd !important;
    font-size: 14px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 8px 12px !important;
    color: #555;
    font-weight: 500;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 31px !important;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    /*display: none;*/
    float: left;
    min-width: 100px !important;
    padding: 5px 0;
    margin: 15px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.dropdown-menu > li > a {
    display: block;
    padding: 4px 38px !important;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}
.user img {
    height: 34px;
    border-radius: 42px;
    margin-top: 10px;
}
.usertext {
    margin: -20px 40px -18px;
    font-size: 12px;
}
.pad-zero {
    padding: 0px !important;
}
.mobile-logo {
    display: none;
}
.navbar-brand img {
    height: 28px;
    width: 100%;
}
.inner-addon {
    position: relative;
}
.left-addon .icon {
    left: 0px;
    color: black;
    z-index: 1243;
}
.inner-addon .icon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.left-addon input {
    padding-left: 30px;
}
.nav-search {
    width: 20%;
}
.navbar-default .navbar-nav > li > a {
    color: #c2c8cd !important;
    font-size: 14px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #26292c !important;
    color: #fff !important;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #333333 !important;
    background-color: #fff !important;
    height: 50px;
}
.dropdown-menu>li:focus, .dropdown-menu>li:hover
{
    text-decoration: none;
    color: #262626;
    background-color: #8cc739 !important;
}
.Wrapper-header {
   /*  padding: 30px; */
    height: 60px;
}
navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #fff;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.blur-back
{
    opacity: 0.7;
}
.blur-back:focus
{
    opacity: 1;
}
.navbar-right {
    float: right!important;
    margin-right: -30px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #333333 !important;
    background-color: #fff !important;
    height: 50px;
}
.user-name
{
    margin-top: -10px;
}
.hidecurrency
{
    display: none;
}
.showcurrency
{
    display: block;
}

/*responsive*/
@media (min-width: 300px) and (max-width: 767px)
{
.mobile-logo {
    display: block;
}
.logo-nav {
    display: none;
}
.navbar-brand {
    float: left;
    padding: 10px 15px !important;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.navbar-brand img {
    height: 25px;
    width: auto;
}
.nav-search
 {
    width: 100%;
}
.navbar-right {
    float:left!important;
    margin-right: 0px;
}
}

@media (min-width: 768px) and (max-width: 1200px)
{
/* .Wrapper-header {
    padding: 60px;
} */
}
.section-wrapper 
{
    background: #fff;
}
.wrapp {
    background: #f3f5f6;
    border-bottom: solid 1px rgba(0, 0, 0, 0.27);
}
.set-ul {
    margin: 0px  5px 10px;
}
.btn-default {
    color: #333333 !important;
    background-color: #ffffff !important;
    border-color: #cccccc !important;
}
.custom-btn {
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer !important;
    background-image: none !important;
    border: 1px solid #ccc!important;
    white-space: nowrap !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    border-radius: 4px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.btn-success {
    color: #ffffff;
    background-color: #8cc739 !important;
    border-color: #8cc739 !important;
}
.butn-left {
    float: right;
}
.table-view {
    overflow-x: auto;
}
.section-info {
    border-right: solid 2px rgba(0, 0, 0, 0.34);
    min-height: 540px!important;
    height: auto;
    overflow: hidden;
    padding: 0px;
    width: 20%;
    float: left;
  
}
.section-info h4, .section-info2 h4, .section-info3 h4, .section-info4 h4, .section-info5 h4 {
    border-bottom: solid 1px rgba(0, 0, 0, 0.34);
    width: 100%;
    padding: 15px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    
    height: auto;
    /*background: url(../../../assets/images/stage-arrow.png) no-repeat 100% 0,linear-gradient(#fff, #f3f5f6);*/
    background-size: 25px 100%, 100% 100%;
    background-color: #f3f5f6;
    min-height: 50px;
      margin: 0px;
}
.item-block {
    background: #fff;
    width: 100%;
    height: auto;
    border-bottom: solid 1px rgba(0, 0, 0, 0.34);
}
.item-block img {
    height: 28px;
    border-radius: 47px;
    float: left;
    margin: 5px 12px;
}
.item-block p {
    color: rgba(51, 51, 51, 0.72);
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    display: table-cell;
}
.item-block small {
    color: rgba(51, 51, 51, 0.72);
    margin-left: 15px;
}
.error-block {
    float: right;
}
.error-block i{
    color: #eccb11;
    margin: 20px 10px;
       
}
li
{
    list-style-type: none;
}
.footer-dragble {
    background: #fff;
    /* position: fixed; */
    box-shadow: 4px 1px 15px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.drag-footer li img {
    height: 30px;
}
.drag-footer li {
    width: 25%;
    background: transparent;
    margin: 10px 30px;
    text-align: center;
    padding: 15px;
    border: solid 2px rgba(204, 204, 204, 0.35);
}
.lost-li {
    background: #e84646 !important;
    color: #fff;
    font-size: 20px;
}
.won-li {
    background: #8cc739 !important;
    color: #fff;
    font-size: 20px;
}

.model-cls {
    width: 300px!important;
    margin: auto;
    background: #f3f5f6;
    border: 1px solid #c2c8cd;
}
.header-model {
    padding: 8px 20px !important;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
    background: #f3f5f6;
}
.inner-addon {
    position: relative;
}
.left-addon .icon {
    left: 0px;
    color: black;
    z-index: 1243;
}
.inner-addon .icon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.plainStages label.active {
    height: 28px;
    cursor: pointer;
    display: table-cell;
    text-align: center;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: #8cc739 !important;
    position: relative;
    width: 55px;
}
.plainStages label {
    height: 28px;
    cursor: pointer;
    display: table-cell;
    text-align: center;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: rgba(204, 204, 204, 0.62);
    position: relative;
    width:55px;
}
.plainStages input[type="radio"] {
    opacity: 0;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    background: #f3f5f6;
}
.icon-th {
    color: #1476cc;
}
.company li {
    background: transparent;
    padding: 1px 0px 0px;
}
.company li a {
    text-decoration: none;
    color: rgba(85, 85, 85, 0.81) !important;
}
.imgdrop {
    float: left;
    margin: 6px 9px;
}
.imgdrop img {
    width: 15px;
}
/*.dropup-p {
    padding: 0px 40px;
}*/
.bttn-clss {
    width: 100%;
}
.custom-dropdown
{
    min-width: 300px !important;
    left: initial!important;
    right: 0px !important;
}
.user-clss {
    background: rgba(153, 153, 153, 0.38);
    padding: 6px 15px;
}
.inner-ul {
    font-size: 15px;
}
.inner-ul li {
    padding: 5px 40px;
}
.inner-ul li a:hover {
    background: #337ab7;
    color: white;
}
.menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: #fff;
    position: absolute;
    top: -7px;
    left: 242px;
}
.inner-ul li:hover {
    background: #8cc739 !important;
    color: white;
}
.plainStages label.active:before {
    width: 20px;
    height: 25px;
    position: absolute;
    right: -11px;
    top: 2px;
    border-top: 6px solid #fff;
    border-right: 6px solid #fff;
    -webkit-transform: scaleX(0.3) rotate(45deg);
    transform: scaleX(0.3) rotate(45deg);
    content: " ";
    background: #8cc739;
    cursor: pointer;
    z-index: 1;
}
.plainStages label:before {
    width: 20px;
    height: 25px;
    position: absolute;
    right: -11px;
    top: 2px;
    border-top: 6px solid #fff;
    border-right: 6px solid #fff;
    -webkit-transform: scaleX(0.3) rotate(45deg);
    transform: scaleX(0.3) rotate(45deg);
    content: " ";
    cursor: pointer;
    z-index: 1;
}
.dropupmenu {
    min-width: 251px !important;
    left: -123px !important;
}
.left-addon input {
    padding-left: 30px;
}
.company li:hover {
    background: rgba(51, 122, 183, 0.91);
    color: #fff !important;
    padding: 1px 0px 0px;
}
ul
{
    padding: 0px;
}
.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-left: 0px;
}
.icon-arrow
{
    float: right;
    background: #f5f5f5;
    padding: 3px 8px;
    margin-top: -10px;
    border: solid 1px #eee
}
.icon-arrow i
{
    font-size: 20px;
}
#showfileld2
{
    display: none;
}
.input-group-addon, .input-group-btn {
    width: 39%;
    white-space: nowrap;
    vertical-align: middle;
}
.paricipant-dialog {
    width: 90%;
    margin: 0px auto;
}
.wrapp{margin-top: 60px}


/*responsive*/
@media (min-width: 300px) and (max-width: 430px) 
{
.butn-left {
    float: left !important;
    margin-top: 5px;
}
}
@media (min-width: 300px) and (max-width: 1000px)
{
.tab-responsive {
    width: 1000px;
}
.section-info {
    border-right: solid 2px rgba(0, 0, 0, 0.34);
    min-height: 500px!important;
    height: auto;
    overflow: hidden;
    padding: 0px;
    width: 20%;
    float: left;
}
}
@media (min-width: 300px) and (max-width: 700px)
{
.custom-dropdown 
{
    min-width: 300px !important;
     left: 0px !important;
}
.dropupmenu
 {
    min-width: 251px !important;
    left: 0px !important; 
}

}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: transparent;
}
@media (min-width: 767px) and (max-width: 1100px)
{
.navbar-nav span
{
    display: none
}
}
@media (min-width: 1101px) and (max-width: 1200px)
{
.nav > li > a {
    position: relative;
    display: block;
    padding: 8px 5px !important;
}
.navbar-right {
    float: right!important;
    margin-right: -25px;
}
}
@media (min-width: 768px) and (max-width: 869px)
{
    .navbar-right {
    float: right!important;
    margin-top: -50px;
     
}
}
.static-section
{
    background: #fff;
    border-bottom: solid 2px #eee;
}
.static-section h2
{
    margin:0px;
    padding-left: 30px;
}

.main-staticpanel{ background: #f3f5f6; padding: 25px 12px; overflow: auto; }

.priceofpanel
{
    font-size: 17px;
    font-weight: 700;
}
.deatis-deals
{
        margin-bottom: 7px;
}
.Deal-color
{
    color: #3498db;
    font-size: 17px;
}
.Deal-lostcolor{color:red; font-size: 17px;}
.Deal-woncolor{color: green ; font-size: 17px;}
.dealicon i
{
    color: #62bd0f;
    font-size: 16px;
    margin-left: 10px;
}
.dealicon
{
    color: rgba(51, 51, 51, 0.61);
    font-size: 12px;
}
.progress {
height: 20px;
margin-bottom: 20px;
overflow: hidden;
background-color: #f5f5f5;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.progress {
height: 8px;
background-color: #ebeef1;
background-image: none;
box-shadow: none;
}
.progress-bar-success {
background-color: #0AA699;
background-image: none;
}
.progress-bar-info {
background-color: blue;
background-image: none;
}
.call-details 
{
    padding-bottom: 5px;
}
.call-details i
{
    margin-right: 5px;
}
.detaillisticon i
{
    float: right;
    color: #cbcccd;
}
/* ovelay icon */
.arrow-overlay {
  position: relative;
}
.overlayarrow {

  opacity: 0;
  transition: .5s ease;
    margin-left: 5px;
}
.arrow-overlay:hover .overlayarrow  {
  opacity: 1;
}
.arrow-overlay h4 a:hover
{
 color: #4CAF50;
 text-decoration: none;
}
.arrow-overlay h4 a
{
 color: #333;
}
.pricedetails
{
    margin-bottom: 7px;
}
.call-details a
{
    color: black;
}
.call-details a:hover
{
    color: black;
    opacity: 0.5;
    text-decoration: none;
}
.csd-BlockSeparator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    padding: .5rem 0;
}
.csd-BlockSeparator:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #e5e5e5;
}
.csd-BlockSeparator .csd-BlockSeparator__Content {
    background: #fff;
    padding: 0 .5rem;
    z-index: 1;
}

@media (min-width: 768px) and (max-width:1169px)
{
.wrapp{
    margin-top: 130px;
}
}