<app-header></app-header>
<section class="section-header wrapp">
  <div class="container-fluid main-contaniner">
    <div class="row static-section">
      <ul class="pull-left">
        <li><h2>Dashboard</h2></li>
      </ul>
      <ul class="list-inline pull-right">
        <li>
          <div class="input-group calendar-picker" daterangepicker [options]="{startDate:mainInput.start, endDate:mainInput.end }"
            (selected)="selectedDate($event, mainInput)">
            <span class="form-control uneditable-input"  name="daterange">
              {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}
            </span>
            <span class="input-group-btn">
              <a type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></a>
            </span>
          </div>
        </li>
        <li>
          <select class="form-control" [(ngModel)]="static_data.pipeline_id" (change)="filter_by_pipeline($event.target.value)">
            <option value="all">All Piplines</option>
            <option [value]="pipeline.uuid" *ngFor="let pipeline of pipeline_list_arr">
              {{pipeline.pname}}
            </option>
          </select>
        </li>
        <li>
          <select class="form-control" [(ngModel)]="static_data.user_id" (change)="filter_by_users($event.target.value)">
            <option value="all">Everyone</option>
            <option [value]="user.email" *ngFor="let user of users_list">{{user.nickname}}</option>
          </select>
        </li>
      </ul> 
    </div>

    <div class="row main-staticpanel">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body arrow-overlay" *ngIf="dealData">
            <h4><a href="javascript:void(0)">New Deals <span class="overlayarrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
            </h4>
            <div>
              <span class="Deal-color">{{ dealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}</span>
              <span class="pull-right dealicon">{{ dealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}<i class="fa fa-caret-up" aria-hidden="true"></i></span>
            </div>
            <div>
              <span class="priceofpanel">{{ dealData.statistics_deal_currencyWithTotal.current_currency }} 
              {{ dealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}</span>
              <span class="pull-right dealicon">{{ dealData.statistics_deal_currencyWithTotal.current_currency }} {{ dealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}<i class="fa fa-caret-up" aria-hidden="true"></i>
              </span>
            </div>
            <div class="csd-BlockSeparator" >
              <div class="csd-BlockSeparator__Content">
                <a class="expandButton" href="javascript:void(0)" (click)="toggleCurrencies1(toggleValue1)" 
                draggable="false">{{ closeCurrencies1 }}</a>
              </div>
            </div>
            <div class="pricedetails  {{showcurrencyClass1}}" *ngFor="let currency of dealData.seprate_currency_res">
                <span>{{ currency.currency }} {{ currency.total }}</span>
                <span class="pull-right dealicon">{{ currency.currency }} {{ currency.total | number :'1.2-2' }}<i class="fa fa-caret-up" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body arrow-overlay">
            <h4><a href="javascript:void(0)">Activities Added<span class="overlayarrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
            </h4>
            <div class="call-details ">
              <span><a href="javascript:void(0)"><i class="fa fa-phone" aria-hidden="true"></i>3 call</a></span>
              <span class="pull-right dealicon">55<i class="fa fa-caret-up" aria-hidden="true"></i></span>
            </div>
            <div class="progress">
              <div data-percentage="0%" style="width: 50%;" class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body  arrow-overlay">
            <h4>
              <a href="javascript:void(0)">Activities complete<span class="overlayarrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
            </h4>
            <div class="call-details ">
              <span><a href="javascript:void(0)"><i class="fa fa-phone" aria-hidden="true"></i>2 call</a></span>
              <span class="pull-right dealicon">55<i class="fa fa-caret-up" aria-hidden="true"></i></span>
            </div>
            <div class="progress">
              <div data-percentage="0%" style="width: 50%;" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body arrow-overlay" *ngIf="lostdealData">
            <h4>
              <a href="javascript:void(0)">Lost Deals<span class="overlayarrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
            </h4>
            <div>
              <span class="Deal-color">{{ lostdealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}</span>
              <span class="pull-right dealicon">{{ lostdealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}<i class="fa fa-caret-up" aria-hidden="true"></i></span>
            </div>
            <div>
              <span class="priceofpanel">{{ lostdealData.statistics_deal_currencyWithTotal.current_currency }} 
              {{ lostdealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}</span>
              <span class="pull-right dealicon">{{ lostdealData.statistics_deal_currencyWithTotal.current_currency }} {{ lostdealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}<i class="fa fa-caret-up" aria-hidden="true"></i>
              </span>
            </div>
            <div class="csd-BlockSeparator">
              <div class="csd-BlockSeparator__Content">
                <a class="expandButton" href="javascript:void(0)" (click)="toggleCurrencies2(toggleValue2)"  draggable="false">{{ closeCurrencies2 }}</a>
              </div>
            </div>
            <div class="pricedetails  {{showcurrencyClass2}}" 
              *ngFor="let currency of lostdealData.seprate_currency_res">
                <span>{{ currency.currency }} {{ currency.total | number :'1.2-2' }}</span>
                <span class="pull-right dealicon">{{ currency.currency }} {{ currency.total | number :'1.2-2' }}<i class="fa fa-caret-up" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-body arrow-overlay">
            <h4><a href="javascript:void(0)">Activities complete<span class="overlayarrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
            </h4>
            <div>0</div>
            <hr>
            <div class="deatis-deals">
              <span>0 Link To contact</span>
              <span class="detaillisticon"><i class="fa fa-caret-left" aria-hidden="true"></i></span>
            </div>
            <div class="deatis-deals">
              <span>0 link to deal</span>
              <span class="detaillisticon"><i class="fa fa-caret-left" aria-hidden="true"></i></span> 
            </div>
            <div class="deatis-deals">
              <span>o Linlk to shared</span>
              <span class="detaillisticon"><i class="fa fa-caret-left" aria-hidden="true"></i></span> 
            </div>
          </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body arrow-overlay">
            <h4><a href="javascript:void(0)">Email Recived <span class="overlayarrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
            </h4>
            <div class="priceofpanel">0</div>
            <hr>
            <div class="deatis-deals">
              <span>0 Link To contact</span>
              <span class="detaillisticon"><i class="fa fa-caret-left" aria-hidden="true"></i></span>
            </div>
            <div class="deatis-deals">
              <span>0 link to deal</span>
              <span class="detaillisticon"><i class="fa fa-caret-left" aria-hidden="true"></i></span> 
            </div>
            <div class="deatis-deals">
              <span>o Linlk to shared</span>
              <span class="detaillisticon"><i class="fa fa-caret-left" aria-hidden="true"></i></span> 
            </div>
            </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
                <h4>Most deals started by</h4>
            <div>Not data found</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body arrow-overlay" *ngIf="wondealData">
            <h4><a href="javascript:void(0)">Won Deals <span class="overlayarrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
            </h4>
            <div>
              <span class="Deal-color">{{ wondealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}</span>
              <span class="pull-right dealicon">{{ wondealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}<i class="fa fa-caret-up" aria-hidden="true"></i></span>
            </div>
            <div>
              <span class="priceofpanel">{{ wondealData.statistics_deal_currencyWithTotal.current_currency }} 
              {{ wondealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}</span>
              <span class="pull-right dealicon">{{ wondealData.statistics_deal_currencyWithTotal.current_currency }} {{ wondealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}<i class="fa fa-caret-up" aria-hidden="true"></i>
              </span>
            </div>
             <div class="csd-BlockSeparator" >
              <div class="csd-BlockSeparator__Content">
                <a class="expandButton" href="javascript:void(0)" (click)="toggleCurrencies3(toggleValue3)" 
                draggable="false">{{ closeCurrencies3 }}</a>
              </div>
            </div>
            <div class="pricedetails  {{showcurrencyClass3}}"   *ngFor="let currency of wondealData.seprate_currency_res">
                <span>{{ currency.currency }} {{ currency.total | number :'1.2-2' }}</span>
                <span class="pull-right dealicon">{{ currency.currency }} {{ currency.total | number :'1.2-2'}}<i class="fa fa-caret-up" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
                <h4>Most deals won by</h4>
            <div>Not data found</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>