<section class="section-wrapper">
  <!-- partial add header -->
  <app-header></app-header>
  <section class="wrapp">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 header-btn colum-wrapper">
          <ul class="list-inline set-ul">
            <li><app-tooltip-buttons></app-tooltip-buttons></li>
            <li>
              <button type="button" class="btn btn-success custom-btn" data-toggle="modal" data-target="#myModal">
                Add Deal
              </button>
            </li>
          </ul>
        </div>
        <div class="col-sm-4 header-btn text-center colum-wrapper">
          <ul class="list-inline">
            <li *ngIf="set_currency">{{ (total_currency!==0) ? set_currency+' '+total_currency+' ,':'' }}
              {{ (total_deals!==0 && total_deals===1)? (total_deals+' deal') : ((total_deals>1) ? total_deals+' deals' :'') }}
            </li>
          </ul>
        </div>
        <div class="col-sm-4 text-right header-btn colum-wrapper">
        <ul class="list-inline">
          <li><img class="loader_img" src="assets/images/Loading_icon.gif" [hidden]="!loader_image"></li>
          <li>
            <div class="dropdown">
              <button class="btn btn-default custom-btn" data-toggle="dropdown">
                <i class="fa fa-align-center" aria-hidden="true"></i>&nbsp;<strong>{{pipeline_name}}</strong><span class="caret"></span>
              </button>
              <ul class="dropdown-menu piplinelist">
                <li>
                  <a href="javascript:void(0)" 
                    (click)="get_pipeline_stage(pipeline)" *ngFor="let pipeline of pipeline_list_arr">
                    <span class="{{pipeline.pname===pipeline_name ? 'fa fa-check': 'pipeline_hover'}}">
                      {{pipeline.pname}}
                    </span>
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="javascript:void(0)" [routerLink]="['/setting/pipelines']">
                  <i class="fa fa-cog" aria-hidden="true"></i><span>pipeline setting</span></a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="btn btn-default custom-btn" data-toggle="dropdown">
                <i class="fa fa-outdent"></i>&nbsp;<strong *ngIf="user_name">{{user_name}}</strong>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu custom-dropdown menu">
                <li>
                  <form class="navbar-form">
                    <div class="input-group bttn-clss">
                      <input type="text" class="form-control" autofocus placeholder="Search">
                    </div>
                  </form>
                </li>
                <li>
                  <div class="user-clss">User</div>
                  <ul class="inner-ul" *ngIf="user_list_data">
                    <li (click)="get_stages_data_by_users_filter('all')"><a href="javascript:void(0)">Everyone</a></li>
                    <li *ngFor="let user of user_list_data" (click)="get_stages_data_by_users_filter(user)">
                      <a href="javascript:void(0)">
                      <i class="fa fa-user-circle-o"></i>&nbsp; 
                      <span>{{user.nickname}}</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="user-clss">Filter</div>
                  <ul class="inner-ul inner">
                    <li (click)="filter_deal_data({'fiterTextShow':'All Deleted Deals','dealStatusValue':4})"><a href="javascript:void(0)"><i class="fa fa-lock" aria-hidden="true"></i> All Deleted Deals</a></li>
                    <li (click)="filter_deal_data({'fiterTextShow':'All lost Deals','dealStatusValue':3})"><a href="javascript:void(0)"><i class="fa fa-lock" aria-hidden="true"></i> All lost Deals</a></li>
                    <li (click)="filter_deal_data({'fiterTextShow':'All Open Deals','dealStatusValue':1})"><a href="javascript:void(0)"><i class="fa fa-lock" aria-hidden="true"></i> All Open Deals</a></li>
                    <li (click)="filter_deal_data({'fiterTextShow':'All Won Deals','dealStatusValue':2})"><a href="javascript:void(0)"><i class="fa fa-lock" aria-hidden="true"></i> All Won Deals</a></li>
                    <li (click)="filter_deal_data({'fiterTextShow':'More Than 3 month Old Deals','dealStatusValue':5})"><a href="javascript:void(0)"><i class="fa fa-lock" aria-hidden="true"></i> More Than 3 month Old Deals
                    </a></li>
                    <li (click)="filter_deal_data({'fiterTextShow':'Rotten Deals','dealStatusValue':6})"><a href="javascript:void(0)"><i class="fa fa-lock" aria-hidden="true"></i> Rotten Deals</a></li>
                    <!-- <li class="divider"></li> -->
                    <!-- <li>
                      <a href="javascript:void(0)"><i class="fa fa-plus" aria-hidden="true"></i>
                        <span style="color:337ab7;">&nbsp; &nbsp;Add new Filter</span>
                      </a>
                    </li> -->
                  </ul>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </section>

  <!--
    apikey3: 'deal title'
    apikey2: 'organization name'
    apikey4: 'Deal Value'
    apikey5: 'currency'
  -->

  <popover-content #myPopover placement="bottom" [title]="activity_overdue_title" [animation]="true" 
    [closeOnClickOutside]="true" class="content-popover">
    <!--  <p class="empty">You have no activities scheduled for this deal.</p> -->
    <!-- <div class="loderpopover"><img class="loader_img" src="assets/images/Loading_icon.gif"></div>
    -->
    <div class="scrollbar-popover" *ngIf="activity_data_loading;">
      <ul class="list-deatilpopover">
        <li *ngFor="let data of activities_list[0].activity_overdue_response;  let i = index;" [attr.data-index]="i">
          <div class="row">
            <div class="col-xs-1">
              <span class="icon-call">
                <i class="{{data.activity_fa_fa_icon}}" aria-hidden="true"></i>
              </span>
            </div>
            <div class="col-xs-1">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox{{i}}" type="checkbox"
                (click)="change_activity_status(data.uuid, false, myPopover)">
                <label for="checkbox{{i}}"></label>
              </div>
            </div>
            <div (click)="myPopover.hide() || get_one_activity(data.uuid, data.activity_tooltip_name)">
            <div class="col-xs-8">
              <div class="text-wrpper">{{data.activityTitle}}</div>
              <div>
                <span class="text-date">{{data.day_count}}</span>-
                <span class="detial-username">{{data.owner_name | slice:0:10}}</span>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12" *ngIf="data['activity_editor']">
              <span class="notes">{{replaceLineBreak(data.activity_editor)}}</span>
            </div>
            </div>
          </div>
        </li>
        <li class="Planed-heading" *ngIf="activity_planned_hide_show">
          <span>{{activity_planned_title}}</span>
        </li>
        <li *ngFor="let data of activities_list[1].activity_planned_response;  let i = index;" [attr.data-index]="i">
          <div class="row">
            <div class="col-xs-1">
              <span class="icon-call">
                <i class="{{data.activity_fa_fa_icon}}" aria-hidden="true"></i>
              </span>
            </div>
            <div class="col-xs-1">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox_1{{i}}" type="checkbox" 
                (click)="change_activity_status(data.uuid, false, myPopover)">
                <label for="checkbox_1{{i}}"></label>
              </div>
            </div>
            <div (click)="myPopover.hide() || get_one_activity(data.uuid,data.activity_tooltip_name)">
            <div class="col-xs-8">
              <div class="text-wrpper">{{data.activityTitle}}</div>
              <div>
                <span class="planned-text">{{data.day_count}}</span>-
                <span class="detial-username">{{data.owner_name | slice:0:10}}</span>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12" *ngIf="data['activity_editor']">
              <span class="notes">{{replaceLineBreak(data.activity_editor)}}</span>
            </div> 
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="footer-popover">
      <span class="scheduleContent text-center">
        <a class="schedule" href="javascript:void(0)" (click)="schedule_activity() || myPopover.hide()">
        + Schedule an activity
        </a>
      </span>
    </div>
    
  </popover-content>

  <div class="table-view">
    <div class="container-fluid">
      <div class="row">
        <div class="tab-responsive">
          <div class="section-info" *ngFor="let stage of stages_arr; let indx = index;" [ngStyle]="{width: widthPer}" 
            dnd-droppable (onDropSuccess)="move_drop_data($event, stage.uuid)">
            <h4 (dblclick)="myFunction()" [ngStyle]="{width: widthNew}">
              <span tooltip="{{stage.stage}}" >{{stage.stage}}</span>
              <p *ngIf="set_currency" class="stage-paregraph">{{ (stage.stage_currency_total!==0) ? (set_currency + " " +stage.stage_currency_total):""}} {{ (stage.stage_deal_count!==0 && stage.stage_deal_count===1)? stage.stage_deal_count+' deal': ((stage.stage_deal_count>1) ? stage.stage_deal_count+' deals' :'') }}</p>
            </h4>
            <ul>
              <li *ngFor="let deal of stage.data" dnd-draggable [dragData]="deal" (drag)="drag_footer(deal)"
                on-mouseleave='mouse_leave_hide_footer()' (onDragSuccess)="hideFooter()">
                <div class="row {{deal.rotting_response.state ? 'item-blocklost' : 'item-block' }}">
                  <div class="col-xs-9 stage-details" (click)="send_to_deal(deal.uuid,stage)">
                    <span><img src="assets/images/blank_profile_male.jpg"></span>
                    <p>{{deal.deal_title}}</p>
                    <div>
                      <small>{{deal.deal_value | currency:deal.deal_currency:'symbol-narrow' }}
                      </small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{deal.contact_organization_uuid}}
                    </div>
                  </div>
                  <span class="col-xs-3 error-block"
                    (click)="get_activities_list(deal.uuid, myPopover, deal, stage, indx)" [popover]="myPopover">
                    <i class="{{deal.activity_response.icon}} arrow-icon" [ngStyle]="{'color': deal.activity_response.color}" aria-hidden="true"></i>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer-dragble" *ngIf="isActive">
  <ul class="list-inline drag-footer text-center">
    <li dnd-droppable (drop)="drop_deleted_deal('delete')">
      <span><img src="assets/images/pipeline-trash.png"></span>
    </li>
    <li class="lost-li" (drop)="drop_deleted_deal('lost')" dnd-droppable>
      <span>Lost</span>
    </li>
    <li class="won-li" (drop)="drop_deleted_deal('won')" dnd-droppable>
      <span>Won</span>
    </li>
  </ul>
</footer>

<!-- add deals model popup -->
<app-add-deals #add_deal_form_obj [pipeline]='input_pipeline_obj' (dashboard)="countChange_dashboard($event)"></app-add-deals>

<!-- add/edit new activity -->
<app-modal-popup #my_modal_popup [deal_uuid_modal]="deal_uuid_" [deal_object_modal]="deal_object" (sendActivityEvent)="showEvents()"></app-modal-popup>

<!-- lost reason popup -->
<bs-modal #lost_reason_modal [backdrop]="'static'" class="ng-modal">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Mark as lost</h4>
  </bs-modal-header>
  <bs-modal-body>
    <form #lostDeal="ngForm">
      <div class="form-group" *ngIf="reason_select_option; else elseBlock">
        <label>Lost reason</label>
        <select class="form-control" (change)="reason_on_change($event)">
          <option disabled [selected]="true">Select a reason</option>
          <option *ngFor="let reasons of lost_reason_listing" [ngValue]="reasons.uuid">{{reasons.lost_reason}}</option>
          <option>Other...</option>
        </select>
        <input type="hidden" [ngModel]="lost_reason" name="lost_reason">
      </div>
      
      <ng-template #elseBlock>
         <label>{{other_reason_text}} Lost reason</label>
         <input type="text" ngModel name="lost_reason" class="form-control">
      </ng-template>
      
      <div class="form-group" *ngIf="other_reason_visibility_textbox">
        <label >{{other_reason_text}} Lost reason</label>
        <input type="text" ngModel name="lost_reason_other" class="form-control">
      </div>
       
      <div class="form-group">
        <label>Comments (optional)</label>
        <textarea class="form-control" ngModel name="lost_reason_comment" rows="3"></textarea>
      </div>
    </form>
    <p>Manage lost reasons on <a href="javascript:void(0)">Company settings</a></p>
  </bs-modal-body>

  <bs-modal-footer>
    <button type="button" class="btn btn-danger" (click)="lost_deal(lostDeal)">Mark As lost</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </bs-modal-footer>
</bs-modal>
<!-- end lost reason popup -->