.pipeline_hover{ margin-left: 16px; }
/*popover css*/
.btn-sm{  padding: 2px 6px; }
.empty{ font-size: 12px; }
/*popover css end*/
.loader_img{
 height: 32px;
}
.section-wrapper {
    background: #f3f5f6 !important;
}
.wrapp {
    background: #f3f5f6;
    border-bottom: solid 1px rgba(0, 0, 0, 0.27);
    margin-top: 50px;
    padding-top: 10px;
}
.set-ul {
    margin: 0px  5px 10px;
}
.btn-default {
    color: #333333 !important;
    background-color: #ffffff !important;
    border-color: #cccccc !important;
}
.custom-btn {
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer !important;
    background-image: none !important;
    border: 1px solid #ccc!important;
    white-space: nowrap !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    border-radius: 4px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.btn-success {
    color: #ffffff;
    background-color: #8cc739 !important;
    border-color: #8cc739 !important;
}
.butn-left {
    float: right;
}
.table-view {
    overflow-x: auto;
    height: calc(100vh - 105px);
    overflow: auto;
}
.section-info {
    border-right: solid 1px rgba(0, 0, 0, 0.17);
    min-height: calc(100vh - 105px)!important;
    height: auto;
    overflow: hidden;
    padding: 0px;
    /*width: 20%;*/
    float: left;
    background-color: #fff;
  
}
.tab-responsive{
    width: 100%;
}
.section-info h4, .section-info2 h4, .section-info3 h4, .section-info4 h4, .section-info5 h4 {
    border-bottom: solid 1px rgba(0, 0, 0, 0.34);
  width: 100%;
  padding: 10px 15px;
  color: black;
  font-size: 15px;
  font-weight: 600;
  height: 60px;
    background: url(../../assets/images/stage-arrow.png) no-repeat 100% 0,linear-gradient(#fff, #f3f5f6);
    background-size: 25px 100%, 100% 100%;
  background-color: #f3f5f6;
  min-height: 50px;
  margin: 0px;
  line-height: 20px;
   position: fixed;
    width: 19.6%;
    height: 60px;
    z-index: 1;
    top:105px;
}
.section-info ul {margin-top: 60px}
.item-block {
    background: #fff;
    width: 100%;
    height: auto;
    border-bottom: solid 1px rgba(0, 0, 0, 0.16);
    margin: 0px;
}
.item-block img {
    height: 28px;
    border-radius: 47px;
    float: left;
    margin: 5px 12px;
}
.item-block p {
    color: rgba(51, 51, 51, 0.72);
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    display: table-cell;
}
.item-block small {
    color: rgba(51, 51, 51, 0.72);
    margin-left: 15px;
}

.error-block { top: 23px; }

li
{
	list-style-type: none;
}
.footer-dragble {
    background: #fff;
    /* position: fixed; */
    box-shadow: 4px 1px 15px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.drag-footer li img {
    height: 30px;
}
.drag-footer li {
    width: 25%;
    background: transparent;
    margin: 10px 30px;
    text-align: center;
    padding: 15px;
    border: solid 2px rgba(204, 204, 204, 0.35);
}
.lost-li {
    background: #e84646 !important;
    color: #fff;
    font-size: 20px;
}
.won-li {
    background: #43c35e !important;
    color: #fff;
    font-size: 20px;
}

.model-cls {
    width: 300px!important;
    margin: auto;
    background: #f3f5f6;
    border: 1px solid #c2c8cd;
}
.header-model {
    padding: 8px 20px !important;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
    background: #f3f5f6;
}
.inner-addon {
    position: relative;
}
.left-addon .icon {
    left: 0px;
    color: black;
    z-index: 1243;
}
.inner-addon .icon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.plainStages label.active {
    height: 28px;
    cursor: pointer;
    display: table-cell;
    text-align: center;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: #8cc739 !important;
    position: relative;
    width: 55px;
}
.plainStages label {
    height: 28px;
    cursor: pointer;
    display: table-cell;
    text-align: center;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: rgba(204, 204, 204, 0.62);
    position: relative;
    width: 55px;
}
.plainStages input[type="radio"] {
    opacity: 0;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.icon-th {
    color: #1476cc;
}
.company li {
    background: transparent;
    padding: 1px 0px 0px;
}
.company li a {
    text-decoration: none;
    color: rgba(85, 85, 85, 0.81) !important;
}
.imgdrop {
    float: left;
    margin: 6px 9px;
}
.imgdrop img {
    width: 15px;
}

.bttn-clss {
    width: 100%;
}
.custom-dropdown
{
    min-width: 300px !important;
    left: initial!important;
    right: 0px !important;
    cursor: pointer;
    padding-bottom: 5px;
}
.user-clss {
    background: rgba(153, 153, 153, 0.38);
    padding: 6px 15px;
}
.inner-ul {
    font-size: 15px;
}
.menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: #fff;
    position: absolute;
    top: -7px;
    left: 242px;
}
.inner-ul li a{
   background: #fff;
    color: #333;
    position: relative;
    display: block;
    padding: 5px 22px;
    text-decoration: none;
}
.inner-ul li a:hover {
   background: #8cc739;
    color: #fff;
    position: relative;
    display: block;
    padding: 5px 22px;
    text-decoration: none;
}
.plainStages label.active:before {
    width: 20px;
    height: 25px;
    position: absolute;
    right: -11px;
    top: 2px;
    border-top: 6px solid #fff;
    border-right: 6px solid #fff;
    -webkit-transform: scaleX(0.3) rotate(45deg);
    transform: scaleX(0.3) rotate(45deg);
    content: " ";
    background: #8cc739;
    cursor: pointer;
    z-index: 1;
}
.plainStages label:before {
    width: 20px;
    height: 25px;
    position: absolute;
    right: -11px;
    top: 2px;
    border-top: 6px solid #fff;
    border-right: 6px solid #fff;
    -webkit-transform: scaleX(0.3) rotate(45deg);
    transform: scaleX(0.3) rotate(45deg);
    content: " ";
    cursor: pointer;
    z-index: 1;
}
.dropupmenu {
    min-width: 251px !important;
    left: -123px !important;
}
.left-addon input {
    padding-left: 30px;
}
.company li:hover {
    background: rgba(51, 122, 183, 0.91);
    color: #fff !important;
    padding: 1px 0px 0px;
}
ul
{
	padding: 0px;
}
.piplinelist li a:hover {
    background: #8cc739 !important;
    color: white !important;
    position: relative;
    display: block;
    width: 100%;
}
.piplinelist li a {
    display: block;
    padding: 5px 19px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin-bottom: 5px;
}
/*responsive*/
@media (min-width: 300px) and (max-width: 430px) 
{
.butn-left {
    float: left !important;
    margin-top: 5px;
}
}
@media (min-width: 300px) and (max-width: 1000px)
{
.tab-responsive {
    width: 1000px;
}
.section-info {
    border-right: solid 2px rgba(0, 0, 0, 0.34);
    min-height: calc(100vh - 170px)!important;
    height: auto;
    overflow: hidden;
    padding: 0px;
    width: 20%;
    float: left;
}
}
@media (min-width: 300px) and (max-width: 700px)
{
.custom-dropdown 
{
    min-width: 260px !important;
     left: initial !important;
}
.dropupmenu
 {
    min-width: 251px !important;
    left: 0px !important; 
}
}
@media (min-width: 300px) and (max-width: 768px)
{
.header-btn
{
    text-align: left !important;
}
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: transparent;
}
.dropdown-menu>li>a>i
{
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}
.stage-paregraph
{
    font-size: 12px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.7);
}

/*popover css*/
.icon-call i
{
    font-size: 22px;
    color: rgba(51, 51, 51, 0.74);
}

.header-popover
{
border-bottom: solid 1px black;
    background: #f3f5f6;
}
.header-popover h3
{
font-size: 16px;
    color: rgba(51, 51, 51, 0.73)
}
.list-deatilpopover li
{
    border-bottom: solid 1px rgba(0, 0, 0, 0.21);
}
.list-deatilpopover .row {padding: 10px;}
.list-deatilpopover li:last-child
{
    border-bottom: none;
}
.list-deatilpopover li:hover
{
    background: #8cc739;
    color: #fff;
    cursor: pointer !important;
}
.list-deatilpopover li :hover .text-date{color: #fff}
.list-deatilpopover li .text-date
{
    color: red;
    font-size: 13px;
    margin-right: 5px;
}
.list-deatilpopover li :hover .planned-text{color: #fff}
.list-deatilpopover li .planned-text{     
    color: #8cc739;
    font-size: 13px;
    margin-right: 5px; 
}
.footer-popover
{
    text-align: center;
    padding-bottom: 10px;
    border-top: solid 1px rgba(0, 0, 0, 0.27);
    padding-top: 10px;
}
.detial-username
{
    font-size: 13px;
    margin-left: 5px;
}
.text-wrpper
{
 word-wrap: break-word;
}
.text-pading
{
    padding: 0px;
}
.textarea-back
{
    background: #ffd;
}
.scrollbar-popover
{
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
}
.arrow-icon
{
    color: red;
background-color: transparent;
  padding: 7px;
  border-radius: 39px;
}
.arrow-icon:hover
{
    
background-color: rgba(202, 202, 207, 0.47);
  padding: 7px;
  border-radius: 39px;
}
.stage-details
{
 padding: 0px;
}
.loderpopover{ margin: 15% auto; text-align: center; }
.dnd-drag-over{ background: #ddd; }
.notes{
    display: block;
    max-height: 50px;
    padding: 6px 8px;
    font-size: 12px;
    line-height: 17px;
    color: #3d4145;
    background-color: #ffd;
    border: 1px solid rgba(0,0,0,0.16);
    overflow-y: auto;
    border-radius: 4px;
}
.stage-details:focus{ outline:0; }
.Planed-heading
{
    background: #f3f5f6;
    border-bottom: solid 1px rgba(0, 0, 0, 0.25) !important;
    font-size: 12px;
    color: rgba(51, 51, 51, 0.68) !important; 
    padding: 10px;
}
.Planed-heading:hover
{
    background: #f3f5f6 !important;
    border-bottom: solid 1px rgba(0, 0, 0, 0.25) !important;
    font-size: 12px;
    color: rgba(51, 51, 51, 0.68) !important;
    padding: 10px;
}

/*Checkbox css*/
.checkbox {
  padding-left: 20px; 
  margin:0px;
}
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px; 
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out; 
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555; 
}
.checkbox input[type="checkbox"] {
    opacity: 0;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -2px; 
}
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c"; 
}
.checkbox input[type="checkbox"]:disabled + label { opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed; 
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%; 
}
.checkbox.checkbox-inline { margin-top: 0; }
.checkbox-info input[type="checkbox"]:checked + label:hover 
{
    border-color: #8cc739;
}
.checkbox-info input[type="checkbox"]:checked + label::before 
{
    background-color: #8cc739;
    border-color: #f3f5f6;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #f3f5f6;
}
/* checkbox end css*/

/*modal css*/
.Date-section
{
  border-right: solid 1px #ddd;
  height: 500px;
}
/*.show-call
{
  border-bottom: solid 2px #ddd;
  margin-right: -15px;
}*/
.show-call li
{
    background: #8cc739;
    color: #fff;
    padding: 5px 15px;
    margin: 15px;
    border-radius: 5px;
}
.agendaGrid {
    /*height: 400px;*/
    overflow: auto;
    margin-right: -15px;
}

.btn-groupcustom
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-tab {
    border-top: solid 1px #ddd;
    padding: 0px 20px;
    background: #fcf8e3;
    height: 55px;
}
.title-dealuser
{
    padding: 0px;
}
.title-dealuser a
{
    font-size: 25px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
}
.text-price
{
    font-size: 25px;
    font-weight: 700;
    vertical-align: middle;
}
.customedropdown-menu > li{
    display: block;
    padding: 4px 10px !important;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}
.customedropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: #fff;
    position: absolute;
    top: -7px;
    left: 10px;
}
.fill-field
{
    background: rgba(204, 204, 204, 0.27);
    margin: 0px;
    padding: 10px 30px;  
}
.lost-dialog
{
    width: 350px;
    margin: 30px auto;
}

.foo
{
    position: absolute;
    top: 5px;
    left: 5px;
}
.place-input .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.right-addon .fa {
    right: 0px;
}
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.show-date {
  /*border-bottom: solid 2px #ddd;*/
  padding: 15px;
  /*margin-right: -15px;*/
}
.scroll-ondetailform{ height: 500px; overflow: auto; }
/* end modal css*/
.inner-ul li i{
    margin-right: 15px;
}
.drag-footer .dnd-drag-enter{
  box-shadow: 0px 0px 12px #333;
  border-radius: 4px;
}

.drag-footer .dnd-drag-over{
  box-shadow: 0px 0px 12px #333;
  border-radius: 4px;
}

.won-li .dnd-drag-over:hover{
   box-shadow: 0px 0px 9px #fff !important;
   border-radius: 4px;
}
.item-blocklost{
    background: #d93636;
    width: 100%;
    height: auto;
    border-bottom: solid 1px rgba(0, 0, 0, 0.16);
    margin: 0px;
    color: #fff;
}
.item-blocklost p{
    color: #fff;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    display: table-cell;
}
.item-blocklost small {
    color: #fff;
    margin-left: 15px;
}
.item-blocklost .arrow-icon {
    color: #f3f5f6;
    background-color: transparent;
    padding: 7px;
    border-radius: 39px;
}
.item-blocklost img{
    height: 28px;
    border-radius: 47px;
    float: left;
    margin: 5px 12px;
}
/*Nav-bar css*/

@media (min-width: 520px) and (max-width: 768px)
{
    .colum-wrapper
    {
        width: 33%;
        float: left;
    }
}
@media (max-width: 1024px)
{
.wrapp{
    margin-top: 50px;
    padding-top: 10px;
}
}
@media (min-width: 768px) and (max-width:1169px)
{
.section-wrapper {
    background: #f3f5f6 !important;
   padding-top: 65px !important;
}
}

@media (min-width: 300px) and (max-width:520px)
{
.section-info h4, .section-info2 h4, .section-info3 h4, .section-info4 h4, .section-info5 h4 
{
    top: 180px !important;
    width: 198px  !important;
}
.table-view{
    overflow-x: auto;
    height: calc(100vh - 210px);
    overflow: auto;
}
}
@media (min-width: 521px) and (max-width:768px)
{
.section-info h4, .section-info2 h4, .section-info3 h4, .section-info4 h4, .section-info5 h4 
{
    top: 140px !important;
    width: 198px  !important;
}
.table-view{
    overflow-x: auto;
    height: calc(100vh - 170px);
    overflow: auto;
}
}
@media (min-width: 769px) and (max-width:868px)
{
.section-info h4, .section-info2 h4, .section-info3 h4, .section-info4 h4, .section-info5 h4 
{
    top: 205px !important;
    width: 198px  !important;
}
.table-view {
    overflow-x: auto;
    height: calc(100vh - 170) !important;
    overflow: auto;
}
}
@media (min-width: 869px) and (max-width:1024px)
{
.section-info h4, .section-info2 h4, .section-info3 h4, .section-info4 h4, .section-info5 h4 
{
    top: 171px !important;
    width: 198px !important;
}
.table-view{
    overflow-x: auto;
    height: calc(100vh - 170px);
    overflow: auto;
}
}
@media (min-width: 1025px) and (max-width:1169px)
{
.section-info h4, .section-info2 h4, .section-info3 h4, .section-info4 h4, .section-info5 h4 
{
    top: 171px !important;
    width: 19.6% !important;
}
.table-view{
    overflow-x: auto;
    height: calc(100vh - 170px);
    overflow: auto;
}
}
