/* You can add global styles to this file, and also import other style files */
a{text-decoration: none !important;}
.tooltip{ font-size: 15px !important; }
.label-component{ font-weight: bold; }

@media (min-width: 992px){
  .participant-modal .modal-lg {
      width: 1200px;
  }
}
.modal-header{ padding: 10px; border-bottom: 1px solid #e5e5e5; background-color: #f3f5f6;}
.ng-modal .modal-content{margin: -30px auto;}
.add-person-popup .modal-content{width: 360px; margin : -30px auto ;}
.add-person-popup .modal-body{ position: relative; padding: 15px; height: 400px;
  overflow: auto;
}
typeahead-container ul.dropdown-menu { overflow-x: overlay; }
/* ck editor css start */
#cke_1_contents{ height: 113px; }
.ql-link{ visibility: hidden; }
.ql-video{ visibility: hidden; }
.ql-image{ visibility: hidden; }
/*deal detail page css*/
    /* popover css*/
    .popover-class_1 .popover.bottom>.arrow{ margin-left: -100px; }
    .popover-class_1 .popover.bottom { margin-left: 80px; max-width: 345px; }
    .popover-class .popover.bottom>.arrow{ margin-left: -147px; }
    .popover-class .popover.bottom { margin-left: 134px; max-width: 345px; }
    /*popover css end*/
/*end*/

/* ck editor css end */
/*------------------- dashboard css -----------------------------------*/
.content-popover .popover-content{ padding: 0px; }
.arrow-icon:hover{ background-color: rgba(202, 202, 207, 0.47); border-radius: 39px; }
popover-content.content-popover div.popover.bottom.in{ width: 100%; max-width: 340px; }

.model-width .modal-body{ padding: 0px 15px 0px 0px !important ; }
.model-width .modal-footer{ padding: 15px; text-align: right; border-top: 1px solid #e5e5e5; }
.model-width .modal-dialog{margin-bottom: 0px !important}
.btn-outline-secondary{ border: 1px solid rgba(0, 0, 0, 0.25) }
/*------------------------------------------------------*/

.ngui-auto-complete{
    cursor: pointer;
}

.m-pointer{ cursor: pointer; }

.ui-select-match .btn {
    text-align: left !important;
    overflow: hidden !important;
    line-height: 22px;
}

/* green stages css start */
.pipelineSummary .pipelineStages {
    position: relative;
    display: table;
    height:10px;
    overflow: visible;
    background-color:#fff;
}
.pipelineSummary .pipelineStages ul {
  width: 100%;
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
  height: 20px;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.pipelineSummary .pipelineStages ul li .stageContent { position: relative; }
.pipelineSummary .pipelineStages ul li .stageContent .stagename {
  font-size: 12px; display: inline-block; position: relative; left: 4px;
}
.pipelineSummary .pipelineStages ul li:first-child .stageContent .stageArrow { display: none; }
.pipelineSummary .pipelineStages ul li .stageContent .stageArrow {
  width: 6px;
  height: 30px;
  position: absolute;
  top: -6px;
  left: 0px;
  overflow: hidden;
}
.pipelineSummary .pipelineStages ul li:first-child {
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pipelineSummary .pipelineStages ul li {
    position: relative;
    background: #999;
    display: table-cell;
    text-align: left;
    line-height: 1.3em;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pipelineSummary .pipelineStages.open ul li.active, .pipelineSummary .pipelineStages.won ul li.active { background: #2cbf55; }
.pipelineSummary .pipelineStages ul li:first-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.pipelineStages li:before {
  width: 20px;
  height: 20px;
  position: absolute;
  right: -10px;
  top: 0px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  -webkit-transform: scaleX(0.3) rotate(45deg);
  transform: scaleX(0.3) rotate(45deg);
  content: " ";
  /* background: #8cc739; */
  cursor: pointer;
  z-index: 1;
}
.pipelineStages li.active:before{ background: #2cbf55; }
/* green stages css end */