<section class="section-wrapper">
  <app-header [company]="company_name"></app-header>
    
  <section class="section-header">
    <div class="container-fluid main-contaniner">
      <div class="row">
        <div class="col-sm-4 col-xs-12 title-dealuser">
          <a data-placement="bottom" data-toggle="popover" data-title="Login" 
            data-container="body" type="button" data-html="true" href="#" id="login">Deal Title</a>
          <div id="popover-content" class="hide">
            <form>
              <div class="form-group">
                <label>Rename this deal:</label>
                <input type="" name="" class="form-control">    
              </div>
            </form>
            <div class="footer-deal">
              <button type="" class="btn btn-default">cancel</button>
              <button type="" class="btn btn-success">Save</button>
            </div>
          </div>
        </div>  
        <div class="col-sm-8 col-xs-12">
          <ul class="list-inline pull-right">
            <li>
              <a href="#">
                <span class="user-menu">
                  <img src="assets/images/blank_profile_male.jpg" alt="">
                  <span>Shikha<p class="text-owner">Owner</p></span>
                </span>
              </a>
              <span class="icon-arrow popover-markup"><a href="#" class="trigger" 
                data-placement="bottom"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <div class="content hide">
                  <form>
                    <div class="form-group">
                      <label>Pipeline</label>
                      <select class="form-control" id="exampleSelect1">
                        <option>Pipline</option>
                        <option>pipeline 2</option>
                      </select>    
                    </div>
                    <div class="footer-deal">
                      <button type="" class="btn btn-default">cancel</button>
                      <button type="" class="btn btn-success">Save</button>
                    </div>
                  </form> 
                </div>
              </span>
            </li>
            <li><button type="button" class="btn btn-success custom-btn" data-toggle="modal" data-target="#myModal">Won</button>
            </li>
            <li><button type="button" class="btn btn-danger custom-btn" data-toggle="modal" data-target="#lostModal">Lost</button>
            </li>
            <li class="dropdown">
              <button class="btn btn-default dropdown-toggle custom-btn" type="button" 
                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <img src="assets/images/visibility1.png" alt=""><span class="caret"></span>
              </button>
              <div class="dropdown-menu dropupmenu" aria-labelledby="dropdownMenuButton">
                <ul class="company">
                  <li>
                    <a href="#"><span class="imgdrop"><img src="assets/images/visibility-icons-2x.png" alt=""></span><h5><strong>Owner & followers </strong></h5>
                    <p class="dropup-p">Only the owner & followers can see and edit the details</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="imgdrop"><img src="assets/images/visibility1.png" alt=""></span><h5><strong>Entire company</strong></h5>
                      <p class="dropup-p">All users in the company can see and edit the details</p>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <button type="button" class="btn custom-btn"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
              </a>
              <ul class="dropdown-menu th-dropdown">
                <li>Duplicate</li>
                <li>Merge</li>
                <li>Delete</li>
                <li>Export as XLS</li>
              </ul>
            </li>   
          </ul>
        </div>
      </div>
    </div>
  </section>
    
  <section class="section-contant">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading panel-headingcustom">
              <h4 class="pull-left">Details</h4>
              <div class="icon-box">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <i class="fa fa-chevron-up" aria-hidden="true"></i>
                <span class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu customedropdown-menu" 
                    aria-labelledby="dropdownMenu1">
                    <li>Custom field</li>
                  </ul>
                </span>
              </div>
            </div>
            <div class="panel-body panel-bodycustom">
              <form>
                <div class="form-group">
                  <div class="row text-row">
                    <label class="col-xs-4 text-label">User</label>
                    <div class="col-xs-8" style="display: none" id="hidden">    
                      <input type="text"  class="form-control">   
                      <div class="btn-option">
                        <button type="" class="btn btn-success">Save</button>
                        <button type="" class="btn btn-default">cancel</button>
                      </div>
                    </div>
                    <span class="overlay" id="item5">
                      <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Add value</a>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row text-row">
                    <label class="col-xs-4 text-label">User</label>
                    <div class="col-xs-8" style="display: none">    
                      <input type="text"  class="form-control">   
                      <div class="btn-option">
                        <button type="" class="btn btn-success">Save</button>
                        <button type="" class="btn btn-default">cancel</button>
                      </div>
                    </div>
                    <span class="overlay">
                      <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Add value</a>
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row text-row">
                    <label class="col-xs-4 text-label">User</label>
                    <div class="col-xs-8" style="display: none">    
                      <input type="text"  class="form-control">   
                      <div class="btn-option">
                        <button type="" class="btn btn-success">Save</button>
                        <button type="" class="btn btn-default">cancel</button>
                      </div>
                    </div>
                    <span class="overlay">
                      <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Add value</a>
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row text-row">
                    <label class="col-xs-4 text-label">cdsdsUser</label>
                    <div class="col-xs-8" style="display: none">    
                      <input type="text"  class="form-control">   
                      <div class="btn-option">
                        <button type="" class="btn btn-success">Save</button>
                        <button type="" class="btn btn-default">cancel</button>
                      </div>
                    </div>
                    <span class="overlay">
                    <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Add value</a>
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row text-row">
                    <label class="col-xs-4 text-label">fefUser</label>
                    <div class="col-xs-4" style="display: none">    
                      <input type="text"  class="form-control">   
                      <div class="btn-option">
                        <button type="" class="btn btn-success">Save</button>
                        <button type="" class="btn btn-default">cancel</button>
                      </div>
                    </div>
                    <span class="overlay">
                      <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Add value</a>
                    </span>
                  </div>
                </div>
                  
                <div class="form-group">
                  <div class="row text-row">
                    <label class="col-xs-4 text-label">csdUser</label>
                    <div class="col-xs-4" style="display: none">    
                      <input type="text"  class="form-control">   
                      <div class="btn-option">
                        <button type="" class="btn btn-success">Save</button>
                        <button type="" class="btn btn-default">cancel</button>
                      </div>
                    </div>
                    <span class="overlay">
                      <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Add value</a>
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row text-row">
                    <label class="col-xs-4 text-label">vfvcdfUser</label>
                    <div class="col-xs-8" style="display: none">    
                      <input type="text"  class="form-control">   
                      <div class="btn-option">
                          <button type="" class="btn btn-success">Save</button>
                          <button type="" class="btn btn-default">cancel</button>
                      </div>
                    </div>
                    <span class="overlay">
                      <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Add value</a>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading panel-headingcustom ">
                  <h4 class="pull-left">ORGANZATION</h4>
                  <div class="icon-box">
                      <i class="fa fa-pencil" aria-hidden="true" id="preview"></i>
                      <i class="fa fa-cog" aria-hidden="true"></i>
                  </div>
              </div>
              <div class="panel-body panel-bodycustom">
                  <div id="fieldadd">
                      <div class="row panel-org">
                          <div class="col-xs-4 text-right"><img src="assets/images/icon-org.png" alt=""></div>
                          <div class="col-xs-8 text-org"><a href="#">Organization Name</a></div> 
                      </div>
                      <div class="row text-row">
                          <label class="col-xs-4 text-label">Address</label>
                          <div class="col-xs-8" style="display: none">    
                              <input type="text"  class="form-control">   
                              <div class="btn-option">
                                  <button type="" class="btn btn-success">Save</button>
                                  <button type="" class="btn btn-default">cancel</button>
                              </div>
                          </div>
                          <span class="overlay">
                              <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Add value</a>
                          </span>
                      </div>
                  </div>
                  <div class="fill-field" id="showfileld">
                      <form >
                          <div class="form-group row">
                              <label class="col-xs-4 text-label">Name</label>
                              <div class="col-xs-8">  
                                  <input type="text"  class="form-control">   
                            </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-xs-4 text-label">Address</label>
                              <div class="col-xs-8">  
                              <input type="text"  class="form-control">   
                            </div>
                          </div>
                          <div class="row">
                              <span class="pull-right">
                              <button type="" class="btn btn-success">Save</button>
                              <button type="" class="btn btn-default">cancel</button>
                          </span>
                      </div>
                      </form>
                  </div>
            </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading panel-headingcustom ">
                  <h4 class="pull-left">Person</h4>
                  <div class="icon-box">
                      <i class="fa fa-pencil" aria-hidden="true" id="preview2"></i>
                      <a href=""><i class="fa fa-cog" aria-hidden="true"></i></a>
                  </div>
              </div>
              <div class="panel-body panel-bodycustom">
                  <div id="fieldadd2">
                      <div class="row panel-contact">
                          <div class="col-xs-4 text-right"><img src="assets/images/icon-paneluser.png" alt=""></div>
                          <div class="col-xs-8 text-org"><a href="#">person name</a></div>
                          <span class="overlay-btn">
                              <a href="#"><button type="" class="btn btn-default btn-xs">View All</button></a>
                          </span>
                      </div>
                      <div class="row text-row">
                          <label class="col-xs-4 text-label">phone</label>
                          <div class="col-xs-8" style="display: none">    
                              <input type="text"  class="form-control">   
                              <div class="btn-option">
                                  <button type="" class="btn btn-success">Save</button>
                                  <button type="" class="btn btn-default">cancel</button>
                              </div>
                          </div>
                          <span class="overlay">
                              <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Add value</a>
                          </span>
                      </div>
                      <div class="row text-row">
                          <label class="col-xs-4 text-label">Email</label>
                          <div class="col-xs-8" style="display: none">    
                              <input type="text"  class="form-control">   
                              <div class="btn-option">
                                  <button type="" class="btn btn-success">Save</button>
                                  <button type="" class="btn btn-default">cancel</button>
                              </div>
                          </div>
                          <span class="overlay">
                              <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Add value</a>
                          </span>
                      </div>
                  </div>
                  <div class="fill-field" id="showfileld2">
                      <form>
                          <div class="form-group row">
                              <label class="col-xs-4 text-label">Name</label>
                              <div class="col-xs-8">  
                                  <input type="text"  class="form-control">
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-xs-4 text-label">Phone</label>
                              <div class="col-xs-8">  
                                  <div class="input-group">
                                      <input type="email" class="form-control" aria-label="...">
                                      <div class="input-group-btn">
                                          <select class="form-control">
                                              <option>Work</option>
                                              <option>Home</option>
                                              <option>Mobile</option>
                                              <option>Other</option>
                                          </select>
                                      </div><!-- /btn-group -->
                                  </div><!-- /input-group --> 
                                  <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> add one more </a>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-xs-4 text-label">Email</label>
                              <div class="col-xs-8">  
                                  <div class="input-group">
                                      <input type="email" class="form-control" aria-label="...">
                                      <div class="input-group-btn">
                                          <select class="form-control">
                                              <option>Work</option>
                                              <option>Home</option>
                                              <option>Mobile</option>
                                              <option>Other</option>
                                          </select>
                                      </div><!-- /btn-group -->
                                  </div><!-- /input-group --> 
                                  <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> add one more </a>
                              </div>
                          </div>
                          <div class="row">
                              <span class="pull-right">
                              <button type="" class="btn btn-default">cancel</button>
                              <button type="" class="btn btn-success">Save all</button>
                              
                          </span>
                      </div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading custom-heading">
                  <h4 class="pull-left">PARTICIPANT (1)</h4>
                  <div class="icon-box">
                      <a href="#"  data-toggle="modal" data-target="#participantmodel"><i class="fa fa-plus" aria-hidden="true"></i></a>
                  </div>
              </div>
              <div class="panel-body panel-bodycustom">
                  <div class="person-panel">
                      <img src="assets/images/icon-user.png" alt="">
                      <a href="#">Contact person name </a>

                      <div><button type="button" class="btn btn-default btn-xs">View All</button></div>   
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading custom-heading">
                  <h4>Overview</h4>
              </div>
              <div class="panel-body panel-bodycustom">
                  <div class="panel-overview">
                      <div class="row personinfo-text">
                          <span class="pull-left">Deal age</span>
                          <span class="pull-right">3 days</span>
                      </div>
                      <div class="row personinfo-text">
                          <span class="pull-left">Inactive (days)</span>
                          <span class="pull-right">3 </span>
                      </div>
                      <div class="row personinfo-text">
                          <span class="pull-left">Created</span>
                          <span class="pull-right">June 24, 2017</span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading custom-heading">
                  <h4 class="pull-left">FOLLOWERS</h4>
                  <div class="icon-box">
                      <a href="#" data-toggle="modal" data-target="#follwersmodel"><i class="fa fa-plus" aria-hidden="true"></i></a>
                  </div>
              </div>
              <div class="panel-body panel-bodycustom">
                  <div class="person-panel">
                      <img src="assets/images/icon-user.png" alt="">
                      <a href="#">Avinash Jain </a>
                      <div>
                          <button type="" class="btn btn-default btn-xs">View All</button>
                          <button type="" class="btn btn-default btn-xs">Stop following</button>
                      </div>  
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading custom-heading">
                  <h4>EMAIL BCC</h4>
              </div>
              <div class="panel-body panel-bodycustom">
                  <div class="person-panel">
                      <form>
                          <div class="form-group">
                              <label>Deal specific address 
                                  <span class="pull-right"><a href="#" data-toggle="tooltip" title="When you BCC outgoing emails or forward emails to a deal-specific address, they will be linked to the corresponding deal, person and organization."><i class="fa fa-question-circle" aria-hidden="true"></i></a></span>
                              </label>
                              <input type="text" name="" value="" class="form-control" placeholder="aplitinfo@pipedrivemail.com">
                          </div>
                          <div class="form-group">
                              <label>Universal address
                                  <span class="pull-right"><a href="#" data-toggle="tooltip" title="When you BCC outgoing emails or forward emails to a deal-specific address, they will be linked to the corresponding deal, person and organization."><i class="fa fa-question-circle" aria-hidden="true"></i></a></span>
                              </label>
                              <input type="text" name="" value="" class="form-control" placeholder="aplitinfo@pipedrivemail.com">
                          </div>
                      </form>
                  </div>
              </div>
          </div>
        </div>  
        <div class="col-md-8">
          <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
              <div class="row">
                <ul class=" nav nav-tabs pull-left">
                  <li><a href="#tab1default" data-toggle="tab"><i class="fa fa-file" aria-hidden="true"></i> Take notes </a></li>
                  <li><a href="#tab2default" data-toggle="tab"><i class="fa fa-calendar-o" aria-hidden="true"></i> Add activity </a></li>
                  <li><a href="#tab3default" data-toggle="tab"><i class="fa fa-envelope" aria-hidden="true"></i> Send mail </a></li>
                  <li><a href="#tab4default" data-toggle="tab"><i class="fa fa-paperclip" aria-hidden="true"></i> Upload files </a></li>
                </ul>
                <span class="pull-right cross-icon"><i class="fa fa-times" aria-hidden="true"></i></span>  
              </div>
            </div>

            <div class="panel-body panel-bodycustom">
              <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1default">
                  <div class="bodyEditor defaultText" data-default="Notes" name="note" contenteditable="true"></div>
                  <div class="footer-icon">
                    <ul class="list-inline pull-left">
                      <li><a href="#"><i class="fa fa-bold" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-italic" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-underline" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-list" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-list" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-list" aria-hidden="true"></i></a></li>
                    </ul>
                    <ul class="list-inline pull-right">
                      <li><button type="" class="btn btn-default">cancel</button></li>
                      <li><button type="" class="btn btn-success">Save</button></li>
                    </ul>
                  </div>
                </div>
                <div class="tab-pane" id="tab2default">
                  <div class="row">
                    <div class="col-md-4 Date-section">
                      <div class="show-date">
                        <span>Firday , June 30</span>
                        <span class="pull-right">
                          <div class="btn-group" role="group" >
                             <button type="button" class="btn btn-default"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                             <button type="button" class="btn btn-default"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                          </div>
                        </span>
                      </div>
                      <ul class="show-call">
                          <li>Call</li>
                      </ul>   
                        <div class="agendaGrid">
                            <div class="agendaGrid__hours">
                                <div class="gridHour gridHour--current" style="top:653.6px;">
                                    <div class="gridHour__label gridHour__label--current gridHour__label--12HourFormat">
                                        <span class="gridHour__text--current">1:37 PM</span>
                                    </div>
                                    <div class="gridHour__line gridHour__line--current"></div>
                                </div>
                                <div class="gridHour">
                                    <div class="gridHour__label">12 AM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                <div class="gridHour">
                                    <div class="gridHour__label">1 AM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                <div class="gridHour">
                                    <div class="gridHour__label">2 AM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                <div class="gridHour">
                                    <div class="gridHour__label">3 AM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                <div class="gridHour">
                                    <div class="gridHour__label">4 AM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                <div class="gridHour">
                                    <div class="gridHour__label">5 AM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                <div class="gridHour">
                                    <div class="gridHour__label">6 AM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                <div class="gridHour">
                                    <div class="gridHour__label">7 AM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                <div class="gridHour">
                                    <div class="gridHour__label">8 AM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                <div class="gridHour">
                                    <div class="gridHour__label">9 AM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                
                                <div class="gridHour">
                                    <div class="gridHour__label">10 AM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                
                                <div class="gridHour">
                                    <div class="gridHour__label">11 AM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                
                                <div class="gridHour">
                                    <div class="gridHour__label">12 PM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                
                                <div class="gridHour">
                                    <div class="gridHour__label">1 PM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                
                                <div class="gridHour">
                                    <div class="gridHour__label">2 PM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                
                                <div class="gridHour">
                                    <div class="gridHour__label">3 PM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                
                                <div class="gridHour">
                                    <div class="gridHour__label">4 PM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                
                                <div class="gridHour">
                                    <div class="gridHour__label">5 PM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                
                                <div class="gridHour">
                                    <div class="gridHour__label">6 PM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                
                                <div class="gridHour">
                                    <div class="gridHour__label">7 PM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                
                                <div class="gridHour">
                                    <div class="gridHour__label">8 PM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                
                                <div class="gridHour">
                                    <div class="gridHour__label">9 PM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                
                                <div class="gridHour">
                                    <div class="gridHour__label">10 PM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                
                                <div class="gridHour">
                                    <div class="gridHour__label">11 PM</div>
                                    <div class="gridHour__line"></div>
                                    <div class="gridHour__line gridHour__line--half"></div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <form>
                            <div class="btn-group btn-groupcustom" role="group">
                                <button type="button" class="btn btn-default custom-btn"><i class="fa fa-phone" aria-hidden="true"></i> call</button>
                                <button type="button" class="btn btn-default custom-btn"><i class="fa fa-users" aria-hidden="true"></i> Metting</button>
                                <button type="button" class="btn btn-default custom-btn"><i class="fa fa-clock-o" aria-hidden="true"></i> Task</button>
                                <button type="button" class="btn btn-default custom-btn"><i class="fa fa-flag" aria-hidden="true"></i> Deadline</button>
                                <button type="button" class="btn btn-default custom-btn"><i class="fa fa-paper-plane" aria-hidden="true"></i> Email</button>
                                <button type="button" class="btn btn-default custom-btn" data-toggle="tooltip" data-placement="bottom" title="Lunch"><i class="fa fa-coffee" aria-hidden="true"></i> Lunch</button>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="call">
                             </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>DATE</label>
                                    <div class="controls input-append date form_datetime " data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                                    <input size="16" type="text" value="" readonly class="custom-form form-control">
                                    <span class="add-on"><i class="icon-remove"></i></span>
                                    <span class="add-on"><i class="icon-th"></i></span>
                                 </div>
         
                                </div>
                                <div class="form-group col-md-4">
                                    <label>TIME</label>
                                    <select class="form-control" id="exampleSelect1">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>DURATION</label>
                                    <div class="inner-addon right-addon">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                    <select class="form-control" id="exampleSelect1">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="richTextArea">
                                <div class="bodyEditor defaultText" data-default="Notes" name="note" contenteditable="true">Notes</div>
                                <div class="editorToolbar">
                                    <div class="buttons">
                                        <a href="" class="toolbar_bold editor-tooltip" data-editor-tooltip="Ctrl B">
                                            <i class="fa fa-bold" aria-hidden="true"></i>
                                        </a>
                                        <a href="" class="toolbar_italic editor-tooltip" data-editor-tooltip="Ctrl I">
                                            <i class="fa fa-italic" aria-hidden="true"></i>
                                        </a>
                                        <a href="" class="toolbar_underline editor-tooltip" data-editor-tooltip="Ctrl U">
                                            <i class="fa fa-underline" aria-hidden="true"></i>  
                                        </a>
                                        <a href="" class="toolbar_link editor-tooltip" data-editor-tooltip="Ctrl K">
                                            <i class="fa fa-at" aria-hidden="true"></i>
                                        </a>
                                        <a href="" class="toolbar_ul editor-tooltip" data-editor-tooltip="Ctrl⇧8">
                                            <span></span>
                                        </a>
                                        <a href="" class="toolbar_ol editor-tooltip" data-editor-tooltip="Ctrl⇧7">
                                            <span></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>DATE</label>
                                <select class="form-control">
                                  <option>Shikha (you)</option>
                                </select>
                            </div>
                            <div class="form-group place-input ">
                                <label>LINKED TO</label>
                                <div class="inner-addon right-addon">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    <input type="text" class="form-control" value="Deal">
                                    <span class="foo"><img src="assets/images/icon-input1.png" alt=""></span>
                                </div>
                            </div>
                            <div class="form-group place-input ">
                                <div class="inner-addon right-addon">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    <input type="text" class="form-control" value="Deal">
                                    <span class="foo"><img src="assets/images/icon-user.png" alt=""></span>

                                </div>
                            </div>
                            <div class="form-group place-input ">
                                <div class="inner-addon right-addon">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    <input type="text" class="form-control" value="Deal">
                                    <span class="foo"><img src="assets/images/icon-keys.png" alt=""></span>
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>
                  <div class="footer-tab">
                    <div class="pull-right">
                      <div class="checkbox checkbox-primary">
                        <input id="checkbox2" type="checkbox" checked="">
                        <label for="checkbox2">
                            <span class="signup-condition">Mark All Done</span>
                        </label>
                        <span><button type="" class="btn btn-default">cancel</button></span>
                        <span><button type="" class="btn btn-success">Save</button></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab3default">
                  <div class="mail-tab">
                    <h3>Upgrade and start using Full Email Sync</h3>
                    <p>Send emails to your contacts directly from Pipedrive by connecting your work email. This feature is part of our Gold and Platinum plans, and it supports email providers such as Gmail, Microsoft Exchange, and others.</p>
                    <button type="" class="btn btn-success">Upgrade to gold plan</button>
                  </div>
                </div>
                <div class="tab-pane" id="tab4default">
                  <div class="mail-tab">
                    <input type="file" name="">
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>  
    </div>
  </section>
</section>