<h4>Change password</h4>
<hr>
<p>Please note that when changing your password, we ask you to set yourself a secure password that contains both uppercase and lowercase letters as well as numbers. This is for your own safety.</p>
<hr>
<form [formGroup]="myform">
  <div class="row">
    <div class="form-group" [ngClass]="{
      'has-error': !myform.controls.oldPassword.valid,
      'has-success': myform.controls.oldPassword.valid && (myform.controls.oldPassword.dirty || myform.controls.oldPassword.touched)
      }">
        <label class="col-md-4">Current Password</label>
        <div class="col-md-4">
            <input autofocus="true" type="password" class="form-control" [(ngModel)]="oldPassword" formControlName="oldPassword">
       </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="form-group" [ngClass]="{
      'has-error': myform.controls.newPassword.invalid && (myform.controls.newPassword.dirty || myform.controls.newPassword.touched),
      'has-success': myform.controls.newPassword.valid && (myform.controls.newPassword.dirty || myform.controls.newPassword.touched)
      }">
        <label class="col-md-4">New Password</label>
        <div class="col-md-4">
            <input type="password" class="form-control" [(ngModel)]="newPassword" formControlName="newPassword">
       </div>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="form-group" [ngClass]="{
      'has-error': myform.controls.confirm_password.invalid && (myform.controls.confirm_password.dirty || myform.controls.confirm_password.touched),
      'has-success': myform.controls.confirm_password.valid && (myform.controls.confirm_password.dirty || myform.controls.confirm_password.touched)
      }">
        <label class="col-md-4">Confirm Password</label>
        <div class="col-md-4">
            <input type="password" class="form-control" [(ngModel)]="confirm_password" formControlName="confirm_password">
            <span *ngIf="!myform.controls.confirm_password.valid && (myform.controls.confirm_password.dirty)">Passwords do not match!</span>
       </div>
    </div>
  </div>
  <hr>

  <div class="col-md-offset-4 col-md-4">
      <button type="submit" (click)="change_password()" class="btn btn-success custom-btn">change Password</button>
  </div>
</form>