<div class="btn-group" role="group">
  <button type="button" [routerLink]="['/dashboard']" [routerLinkActiveOptions]="{exact: true}" 	
  	routerLinkActive="active" class="btn btn-default custom-btn" data-toggle="tooltip" data-placement="bottom" title="Pipeline">
  	<i class="fa fa-outdent" aria-hidden="true"></i>
 	</button>
  <button type="button" [routerLink]="['/dashboard/deals']" routerLinkActive="active" 
  	class="btn btn-default custom-btn" data-toggle="tooltip" data-placement="bottom" title="List">
  	<i class="fa fa-list-ul" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-default custom-btn" data-toggle="tooltip" data-placement="bottom" 
  	title="Forecast">
  	<i class="fa fa-repeat" aria-hidden="true"></i>
  </button>
</div>